<h4>Hi <%= @user.username %>,</h4>

<p>Over the last few weeks Andrew has been going super nerd on crunching data and brewing a handcrafted
  algorithm all in a hearty effort to match you with products on Assembly that have stuff we think you would
  enjoy doing.</p>

<h4>Here is what we found for you.</h4>

<ul>
  <br>
  <% @bounties.each do |bounty| %>
  <li>
    <h4>
      <a href= "<%= product_url(bounty.product)%>">
        <%= "#{bounty.product.name}" %>
      </a>
    </h4>
    <h4><a href="<%= product_wip_url(bounty.product, bounty) %>">
      <%= "#{bounty.title}" %>
    </a></h4>
    <h5>
    <% bounty.marks.pluck(:name).each do |m| %>
      <%= "##{m}" %>
    <% end %>
  </h5>
  </li>
  <% if bounty.description %>
    <%= bounty.description[0, 150]%>
    <% if bounty.description.length > 150 %>
      <%= "..." %>
    <% end %>
  <% end %>
  <br><br>
  <% end %>

</ul>
<p>
  <h4>Don't see what you're looking for?
    <br>
    <a href="mailto:notifications@assembly.com">Let us know.</a>
  </h4>
</p>
