<h2>Hi <%= "#{@username}" %> </h2>


<p>We've got a lot going on at Assembly these days.  We've noticed that you haven't been
 awarded a bounty in a while.  If you are looking to contribute and earn ownership of products,
 jump into a bounty!
 </p>

<p>Here are some bounties we thought might interest you based on your past choices.</p>

<h4>Bounty Suggestions</h4>

<ul>
  <% @bounties.each do |bounty| %>
  <li>
    <a href = <%= "https://assembly.com/#{bounty.product.slug}/#{bounty.number}" %> >
      <%= "#{bounty.title}  --  #{bounty.product.name}"  %>
    </a>
  </li>
  <% end %>
</ul>
<p>These are just a few of the many open Bounties available.  </p>

<h4>Products we think you might like</h4>
<ul>
  <% @products.each do |product| %>
  <li>
    <a href= <%= "https://assembly.com/#{product.slug}" %> >
      <%= product.name %>
    </a>
  </li>
  <% end %>
</ul>

<% if @tags %>
  <h4>Tags we think you like</h4>
  <ul>
  <% @tags.each do |tag| %>
    <li>
      <%= tag[0].name %>
    </li>
  <% end %>
  </ul>
<% end %>



We're trying to get to know you!  If you think we're way off, <a href = "barisser@assembly.com">let us know</a>!
