<% title @faq_group.name, 'FAQ' %>
<% provide(:description, "Frequently asked questions about #{@faq_group.name.downcase} on Assembly.") %>

<!-- TODO Deprecate. Pages now use gray bg. (chrislloyd) -->
<style>body { background-color: white !important; }</style>

<% activate_nav! :platform_faq %>
<%= render 'shared/navbar' %>

<% cache FaqGroup.cache_key(@faq_group) do %>
  <div class="page page-flat">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">

          <div class="page-header">
            <ol class="breadcrumb omega">
              <li class="active">FAQ</li>
              <li></li>
            </ol>
            <h1 class="alpha"><%= @faq_group.name %></h1>
          </div>

          <div class="row">

            <div class="col-md-4 col-md-push-8">
              <div class="panel panel-default">
                <!-- <div class="panel-heading">
                  <h6 class="panel-title">Areas</h6>
                </div> -->
                <ul class="nav nav-pills nav-stacked">
                  <% @faq_groups.each do |faq_group| %>
                    <li class="<%= ('active' if @faq_group.slug == faq_group.slug) %>">
                      <%= link_to faq_group.name, help_path(faq_group) %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>

            <div class="col-md-8 col-md-pull-4">
              <ul class="list-unstyled">
                <% @faq_group.questions.each do |question| %>
                  <li class="question">
                    <%= link_to question[:name], anchor: question[:anchor] %>
                  </li>
                <% end %>
              </ul>

              <hr style="margin-bottom: 48px">

              <%= @faq_group.body.html_safe %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'shared/footer' %>
