<div class="chip">
  <div class="chip-icon">
    <%= app_icon(product, size: 48) %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h4 class="mt0 mb0"><%= product.name %></h4>
      <p class="mb0"><%= product.pitch %></p>
    </div>
    <div class="col-sm-6 right-align">
      <ul class="list-inline mb0">
        <% product.followers.limit(6).each do |user| %>
          <li>
            <%= avatar_tag(user, 18) %>
          </li>
        <% end %>
        <li>
          <span class="badge">+ <%= product.followers.count %></span>
        </li>
      </ul>
      <p class="gray-2 small mb0">
        Started <%= product.created_at.strftime("%B %d, %Y") %>
      </p>
    </div>
  </div>
</div>
