<div class="chip">
  <div class="chip-icon">
    <%= app_icon(product, size: 48*2) %>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <h4 class="alpha omega"><%= product.name %></h4>
      <p class="omega"><%= product.pitch %></p>
    </div>
    <div class="col-sm-6 text-right">
      <ul class="list-inline omega">
        <% product.followers.limit(6).each do |user| %>
          <li>
            <a href="<%= user_path(user) %>">
              <%= avatar_tag(user, 18) %>
            </a>
          </li>
        <% end %>
        <li>
          <span class="badge">+ <%= product.followers.count %></span>
        </li>
      </ul>
      <p class="text-muted small omega">
        Started <%= product.created_at.strftime("%B %d, %Y") %>
      </p>
    </div>
  </div>
</div>
