<div class="chip chip-sm">
  <div class="chip-icon">
    <%= image_tag(product.user.avatar.url, class: 'avatar', width: '100%', alt: product.name) %>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <h4 class="mt0 mb0">
        <%= product.name %>
        <small>by <%= product.user.username %></small>
      </h4>
      <p class="mb0"><%= product.pitch %></p>
    </div>
    <div class="col-sm-4">

      <div class="progress progress-sm" style="width:100%;margin-top:9px;margin-bottom:9px">
        <div class="progress-bar progress-bar-success" style="width:<%= product.team_building_percentage %>%"></div>
      </div>

      <div class="gray-2">
        <div class="pull-right">
          <strong><%= product.team_building_days_left %> days</strong>
          left
        </div>
        <%= product.bio_memberships_count %> out of 10 team members
      </div>
    </div>
  </div>
</div>
