<% title @user.name %>
<%= render 'shared/deprecated_navbar' %>
<div class="page page-padded">
  <div class="container">
    <div class="page-content">
      <%= ajax_form_for @user do |f| %>
        <div class="error-wrap">
          <%= f.label :name %>
          <%= f.text_field :name, placeholder: 'Full Name', autocomplete: 'off' %>
        </div>
        <div class="error-wrap">
          <%= f.label :username %>
          <%= f.text_field :username, placeholder: 'Username', autocomplete: 'off' %>
        </div>
        <div class="error-wrap">
          <%= f.label :location %>
          <%= f.text_field :location, placeholder: 'location: eg. San Francisco, CA', autocomplete: 'off' %>
        </div>
        <div class="error-wrap">
          <%= f.label :bio %>
          <%= f.text_area :bio, placeholder: 'Short bio', autocomplete: 'off', rows: 2 %>
        </div>
        <div class="error-wrap">
          <%= f.label :email %>
          <%= f.text_area :email, placeholder: 'Email', autocomplete: 'off', rows: 1 %>
        </div>
        <button class="btn btn-primary" data-disable-with="Saving..."> Save</button>
      <% end %>
    </div>
    <div class="page-sidebar">
      <%= render partial: 'card', locals: { card: @user } %>
    </div>
  </div>
</div>
<%= render 'shared/deprecated_footer' %>
