<style>
  h2, h3, h4, h5 {
    font-size:18px;
  }
</style>
<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default">
                <div>
                  <a href="<%= user_url(@post.author) %>">
                    <img class="img-circle" src="<%= @post.author.avatar.url(48) %>" width="24" height="24" alt="@<%= @post.author.username %>" style="margin-right:5px;">
                    <%= @post.author.username %>
                  </a>
                  wrote a new post for
                  <a href="<%= product_url(@product) %>"><%= @post.product.name %></a>:
                </div>
                <br />
                <blockquote>
                  <h1 class="mt0" style="margin-top:0"><%= @post.title %></h1>
                  <hr />
                  <%= product_markdown(@post.product, @post.body) %>
                </blockquote>
                <table class="button success radius" style="margin-bottom:35px;">
                  <tr>
                    <td>
                      <a href="<%= product_post_url(@post.product, @post) %>">Join the conversation</a>
                    </td>
                  </tr>
                </table>
                <% if @recent.present? %>
                  <h4 style="font-size:18px;color:#8b909a;font-weight:normal;">Previous Posts</h4>
                  <% @recent.each do |r| %>
                    <a href="<%= product_post_url(@post.product, r) %>" style="font-size:18px;"><strong><%= r.title %></strong></a>
                    <br />
                    <p style="color:#999;margin-top:-5px;">Posted by <%= r.author.username %> on <%= r.created_at.strftime("%b %e") %></p>
                    <hr />
                  <% end %>
                  <% if @product.posts.count > 4 %>
                    <a href="<%= product_posts_url(@product) %>" style="color:#8b909a !important;">View all <%= @product.posts.count %> posts</a>
                  <% end %>
                <% end %>
              </td>
              <td class="expander"></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
