<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <% if @mentions.any? %>
          <table class="twelve columns">
            <tbody>
              <tr>
                <td class="panel panel-default panel-success">
                  <% @mentions.each do |comment, mentions| %>
                    <p style="">
                      from @<%= comment.user.username %><br/>
                      <a href="<%= url_for(comment.url_params) %>">
                        <%= t "models.comment.description.owner", title: comment.news_feed_item.target.try(:title) %>
                      </a>
                      <br/>
                      <% mentions.each do |mention| %>
                        <% text = excerpt Search::Sanitizer.new.sanitize(comment.body), mention %>
                        <%== text %>
                      <% end %>
                    </p>
                  <% end %>
                <td>
              </tr>
            </tbody>
          </table>
        <% end %>

        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default">
                <p style="clear:both;">
                  <h1>Here’s what you may have missed on Assembly</h1>
                </p>

                <% @watchers.each do |watcher| %>
                  <div style="float:left;">
                    <img src="<%= watcher.avatar.url(40) %>" height="20" width="20" style="max-width: 20px; border-radius:50%" alt="" />
                  </div>
                <% end %>

                <div style="padding-top:20px;clear:both;">
                  <% @products.each do |product, nfis| %>
                    <p style="margin-top:30px">
                      <h4><%= product.name %></h4>
                    </p>
                    <% nfis.each do |nfi, new_comments| %>
                      <% link_entity = new_comments.any? ? new_comments.first : nfi %>
                      <p style="font-size:14px;line-height:18px;color:#2B2F3E;">
                        <a href="<%= url_for(link_entity.url_params) %>">
                          <%= t "stories.subjects.long.#{nfi.target.class.model_name.singular}.other", nfi.target.attributes.symbolize_keys %>
                        </a>
                        <% if new_comments.size > 0 %>
                          <br/><%= pluralize(nfi.comments.size, 'comment') %> – <%= new_comments.size %> new
                        <% else %>
                          <br/>by <%= nfi.source.username %>
                        <% end %>
                      </p>
                    <% end %>
                  <% end %>
                </div>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
