<% title @chat_room.name %>
<%= track_engaged 'chat' %>
<% activate_nav! :community if params[:id] == 'general' %>

<%= render 'shared/navbar', bounties_link: true, fluid: true %>

<div class="modal fade"
     id="create-task"
     tabindex="-1"
     role="dialog"
     aria-labelledby="createTask"
     aria-hidden="true">
</div>

<style>
.chat-wrapper {
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
</style>

<style>

  .channel-list-active,
  .channel-list-active:hover {
    background-color: rgba(0, 0, 0, .2);

    padding: 0 24px;
    margin-left: -24px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .inactive,
  .inactive:hover {
    color: rgba(255, 255, 255, .8) !important;
  }

  .nc {
    background: white;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    bottom: 0;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    justify-content: center;
  }

  .nc-channels {
    background-color: #353941;
    color: rgba(255, 255, 255, .6);

    min-width: 220px;
    max-width: 220px;

    overflow-x: hidden;
    overflow-y: auto;
  }

  /*.nc-channels a {
    color: rgba(255, 255, 255, .6);
  }*/

  .nc-messages {
    width: 100%;

    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: stretch;
    align-items: stretch;

    flex-grow: 1;
    -webkit-flex-grow: 1;
  }

  .nc-messages-content {
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }

  .nc-messages-footer {
    min-height: 80px;
  }

</style>

<% if @debug %>
  <div style="position: absolute; top: 48px; bottom: 0px; width: 100%; overflow:hidden">
    <iframe width="100%" height="100%"
      src="<%= ENV['LANDLINE_HOST'] %>/chat?team=assembly&room=<%= @chat_room.product.try(:slug) || 'general' %>&uid=<%= current_user.authentication_token %>"
      style="border: none;">
    </iframe>
  </div>
<% else %>
  <div class="chat-wrapper">

    <div class="nc">

      <div class="nc-channels hidden-xs visible-sm-block visible-md-block visible-lg-block">

        <% if @chat_room.product %>
          <a class="block px3 mt2 mb1" href="<%= product_path(@chat_room.product) %>" target="_blank">
            <h4 class="mt0 mb0" style="color:rgba(255,255,255,.6)">
              <span class="icon icon-chevron-left icon-left mxn1"></span>
              <%= @chat_room.product.name %>
            </h4>
          </a>

          <a class="block px3 mb2" href="<%= product_wips_path(@chat_room.product) %>" target="_blank">
            <h5 class="mt0 mb0" style="color:rgba(255,255,255,.6)">
              <%= @chat_room.product.name %> Bounties
            </h5>
          </a>

          <hr class="mt0 mb0" style="border-color:rgba(0,0,0,0.1)">
        <% end %>

        <div class="p3">
          <h5 class="mt0 mb2" style="color:rgba(255,255,255,.6)">Channels</h5>
          <%= react_component 'ChannelsList', currentRoom: @chat_room.key %>
        </div>

        <hr class="mt0 mb0" style="border-color:rgba(0,0,0,0.1)">

        <div class="p3">
          <h5 class="mt0 mb2" style="color:rgba(255,255,255,.6)">People</h5>
          <%= react_component 'MembersView', url:  api_chat_room_users_path(@chat_room) %>
        </div>
      </div>

      <div class="nc-messages">
        <div class="nc-messages-content">

          <div class="chat js-chat">
            <div class="py2 px3">
              <div class="center mb2">
                <a class="btn btn-default btn-block btn-sm js-chat-load-more" href="<%= api_chat_room_comments_path(@chat_room, format: 'json') %>" style="margin-top: 36px;">Load more</a>
              </div>

              <div class="js-activity-stream"></div>
            </div>
          </div>

        </div>

        <div class="nc-messages-footer px3 py2">

          <div class="js-chat-actions">
            <%= render 'discussions/chat_box' %>
           </div>

        </div>

      </div>
    </div>

  </div>

  <% content_for :javascript do %>
    <script>
      <% if @chat_room.product %>
        // FIXME: It seems weird to set a product directly on app; there's a method
        // that we've been using for that: window.app.setCurrentAnalyticsProduct()
        app.product = new Product(<%= json @chat_room.product, scope: current_user %>);
      <% elsif @product %>
        app.product = new Product(<%= json @product, scope: current_user %>);
      <% end %>
      app.chatRoom = <%== ChatRoomSerializer.new(@chat_room).to_json %>;

      <% if signed_in? %>
        app.chatRoom.readRaptorChatPath = '<%== ReadraptorTracker.new(@chat_room.key, current_user.id).url %>';
      <% end %>

      $(document).ready(function() {
        var dataTag = document.getElementById('ChatMessageStore')
        var activityStream = new ActivityStream(JSON.parse(dataTag.innerHTML));
        window.Landline = new LandlineMigration(
          "<%= ENV['LANDLINE_URL'] %>",
          "<%= ENV['LANDLINE_TEAM'] %>",
          "<%= current_user.authentication_token %>"
        );
        activityStream.url = '<%= api_chat_room_comments_path(@chat_room) %>';
        activityStream.id = '<%= @chat_room.id %>'
        activityStream.product = app.product

        ChatActionCreators.connectToChat(activityStream)

        var chatView = new ChatView({
          el: $('.js-chat'),
          collection: activityStream,
          scrollContainer: $('.nc-messages-content'),
          scrollPadding: 168
        });

        window.activityStream = activityStream;
        window.chatView = chatView;

        chatView.render();
        chatView.scrollToLatestActivity();
        $(window).load(function() {
          delay(1, chatView.scrollToLatestActivity);
        });
      });
    </script>
  <% end %>
<% end %>
