<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default">

                <table>
                  <tr>
                    <td class="center">
                      <center>
                        <%= image_tag('null-states/profile@2x.png', width: 154, height: 38, class: %w(center)) %>
                      </center>
                    </td>
                  </tr>
                </table>

                <h1 class="center">
                  Nice work! You own
                  <br><%= number_with_delimiter @contribution.coins.round %> <%= @product.name %> coins as of today.
                </h1>
                <p class="center">
                  They represent your <%= number_to_percentage(@contribution.stake * 100, precision: 2) %> stake in <%= @product.name %>'s future profits. You earn <%= @product.name %> coins every time the Core Team awards you the bounty for your work well done. You'll earn more app coins the earlier you contribute in a product's life.
                  <a href="https://cove.assembly.com/help/general#general-2">Learn more about app coins</a> on our FAQ.
                 </p>
                <br>

                <table class="button success radius">
                  <tr>
                    <td>
                      <a href="<%= product_wips_url(@product) %>">Earn some more coins</a>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
