<p>Hi <%= @user.short_name %>,</p>

<p>
  <% if @last_month_points > 0 %>
    More great news. Your contributions like <%= @won_wips.collect{|wip| link_to(wip.number, product_wip_url(wip.product, wip))}.join(" and ").html_safe %> to helpful last month have earned 
    <strong><%= pluralize(@last_month_points, 'point') %></strong>.
    You now have <strong><%= @stake %>% stake</strong> in all of Helpful's future proceeds.
  <% else %>
    Well it's been another month and Helpful is doing well! Even though you weren't able to help
    out on Helpful this month, previous contributions like <%= @won_wips.collect{|wip| link_to(wip.number, product_wip_url(wip.product, wip))}.join(" and ").html_safe %> have really helped the community. Others have
    jumped in to carry the torch, adding new features and making improvements. You still have
    <strong><%= @stake %>% stake</strong> in all of Helpful's future proceeds. If you find a 
    few free minutes you should drop in and <%= link_to 'see the latest stuff being discussed', product_wips_url(@product, auth_token: @user.authentication_token) %>.
  <% end %>
</p>

<p>
  Every month is a new opportunity to increase the stake you have in a product. Points earned are calculated at the end of the month and convert into stake, slowly diluting previous stake holders that are no longer contributing to a product. We've built this with the intent to reward <i>everyone</i> that helped out early on in a product. You can learn more about this process on <a href='https://assemblymade.com/help/profits#profits-2'>our FAQ</a>.
  <% if @current_month_points > 0 %>
    So far for <%= @current_month_name %> you've earned 
    <strong><%= pluralize(@current_month_points, 'point') %></strong>. 
    These new points will not be reflected in your total stake until the end of this month.
  <% else %>
    So far for <%= @current_month_name %> you haven't earned any points but its still early in
    the month but there is plenty of time to jump in and help everyone get <%= link_to 'Helpful', product_wips_url(@product, auth_token: @user.authentication_token) %>
    ready for its launch.
  <% end %>
</p>

<p>
  Email me personally if you have any questions.
</p>


</p>
  Happy Building!<br/>
  Matt
</p>

<p>
  <% if @user.missing_payment_information? %>
    <strong>
    P.S. Helpful will have proceeds shortly and we can't pay you until you
    <%= link_to('add your bank information', user_payment_url(auth_token: @user.authentication_token)) %>.
    </strong>
  <% end %>
</p>
