<% cache [@milestone, @milestone.wip, @milestone.product] do %>
  <div class="page-header">

    <h2 class="page-header-title">
      <%= @milestone.wip.title %>
    </h2>

    <div class="page-header-meta">
      <ul class="list-piped pull-right">
        <li class="list-item">
          <a class="link-hover-warning" data-toggle="tooltip" data-placement="top" title="Edit Project" href="<%= edit_product_milestone_path(@milestone.product, @milestone) %>">
            <i class="icon-pencil" style="margin-right: 2px;"></i>
            Edit</a>
        </li>
      </ul>

      <ul class="list-piped">
        <li>
          Started by
          <a href="<%= user_path(@milestone.user) %>">
            @<%= @milestone.user.username %>
          </a>
        </li>
        <li>
          <%= pluralize @milestone.tasks.open.count, 'task' %> remaining
        </li>
        <li>
          <%= pluralize @milestone.wip.contributors.count, 'contributor' %>
        </li>
      </ul>
    </div>

  </div>
<% end %>
