<div class="page-heading">

  <ol class="breadcrumb">
    <li><a href="<%= product_milestones_path(@product) %>">Project</a></li>
  </ol>

  <div class="page-heading-title">
    <%= @wip.title %>
  </div>

  <div class="page-heading-meta">
    <ul class="list list-meta pull-right">
      <li class="list-item">
        <a class="text-yellow" href="<%= edit_product_milestone_path(@product, @milestone) %>">Edit Project</a>
      </li>
    </ul>

    <ul class="list list-meta">
      <li class="list-item">
        <strong><%= pluralize @milestone.tasks.open.count, 'task' %> remaining</strong>
      </li>
      <li class="list-item">
        <strong><%= pluralize @wip.contributors.count, 'contributor' %></strong>
      </li>
    </ul>
  </div>

</div>
