<% title 'New Project', @product.name %>

<%= render partial: 'shared/deprecated_navbar' %>
<%= render partial: 'products/deprecated_navbar' %>

<div class="page page-padded page-ruled">
  <div class="container">
    <div class="page-heading">
      <div class="page-heading-title">Create a new Project</div>
    </div>

    <div class="page-content page-ruled">
      <%= form_for @wip, url: product_milestones_path(@product) do |f| %>

        <div class="form-group">
          <%= f.label :title, 'Project Name', class: 'form-label' %>
          <%= f.text_field :title, autofocus: '', data: { 'validate-length' => 2 } %>
        </div>

        <div class="form-group">
          <%= f.fields_for :milestone, Milestone.new do |f| %>
            <%= f.label :description, class: 'form-label' %>
            <%= f.text_area :description, rows: 10, data: { autosize: '' }  %>
          <% end %>
        </div>

        <div class="page-content-group">
          <div class="page-content-group-heading">Task list</div>

          <%= render partial: 'task_list', object: @wip.milestone %>
        </div>


        <div class="form-actions">
          <button class="btn btn-primary" data-disable-with="Saving...">
            Create Project
          </button>
        </div>
      <% end %>
    </div>
    <div class="page-sidebar">
      <%= render 'help_module' %>
    </div>
  </div>
</div>

<%= render partial: 'shared/deprecated_footer' %>
