<% title "##{@wip.number}", @wip.title, @product.name %>

<%= render 'shared/navbar' %>
<%= render 'products/navbar' %>

<div class="page">
  <div class="container">
    <%= render 'header' %>

    <div class="row">
      <div class="col-md-8 col-xs-8">

        <% if @milestone.feature_image.present? %>
          <img class="img-thumbnail" src="<%= firesize_url %>/630x300/frame_0/<%= URI.escape @milestone.feature_image.attachment.url %>">

          <!-- <div id="feature-image" class="lightbox fade"  tabindex="-1" role="dialog" aria-hidden="true">
            <div class='lightbox-dialog'>
              <div class='lightbox-content'>
                <img src="<%= firesize_url %>/frame_0/<%= @milestone.feature_image.attachment.url %>">
              </div>
            </div>
          </div> -->
        <% end %>

        <%== product_markdown(@milestone.product, @milestone.description) %>

        <h6>Task list</h6>
        <%= render partial: 'task_list', object: @milestone %>

        <h6>Discussion</h6>
        <div id="discussion-view-el">
          <%= render 'wips/discussion', events: @events %>
          <%= render 'discussions/new_event_form' %>
        </div>
      </div>


      <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">

        <div class="panel panel-default">
          <div class="panel-body">

            <div class="progress progress-small omega" style="margin-bottom: 10px;">
              <div class="progress-bar progress-bar-success" style="width:<%= number_to_percentage @milestone.progress * 100, precision: 0 %>;">

              </div>
            </div>

            <h6 class="text-muted omega">
              <span class="pull-right"><%= number_to_percentage @milestone.progress * 100, precision: 0 %></span>
              Progress
            </h6>
          </div>

          <ul class="list-group list-group-breakout small omega">
            <li class="list-group-item">
              <span class="badge"><%= @milestone.tasks.open.count %></span>
              Tasks remaining
            </li>
            <li class="list-group-item">
              <span class="badge"><%= @milestone.tasks.closed.count %></span>
              Completed
            </li>
          </ul>

        </div><!-- .panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">Contributors</h6>
          </div>
          <div class="panel-body">
            <ul class="list-grid omega">
              <% @milestone.wip.contributors.each do |contributor| %>
                <li>
                  <%= avatar_tag(contributor, 24) %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">Cover Image</h6>
          </div>
          <%= render 'feature_image' %>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">Assets</h6>
          </div>
          <div class="panel-body">
            <ul class="list-grid">
              <% @assets.each do |asset| %>
                <li>
                  <a href="<%= product_wip_path(asset.wip.product, asset.wip) %>">
                    <img src="<%= File.join(firesize_url, "48x48", "g_center", "frame_0", URI.encode(asset.attachment.url)) %>">
                  </a>
                </li>
              <% end %>
            </ul>

            <p class="small text-muted omega">Designs added to tasks in this project will be displayed here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  app.wip = new Wip(<%== WipSerializer.new(@wip).to_json %>);
  app.wipEvents = new WipEvents(<%== @wip.events.map {|e| EventSerializer.for(e, current_user)}.to_json %>, {
    url: '<%= product_wip_comments_path(@wip.product, @wip) %>'
  });

  $(document).ready(function() {
    new DiscussionView({
      el: $('#discussion-view-el'),
      model: app.wip
    });
  })

  window.pusher = new Pusher($('meta[name=pusher-key]').attr('content'));
  analytics.track('product.wip.viewed', <%== WipAnalyticsSerializer.new(@wip, scope: current_user).to_json %>)
</script>
<%= render 'shared/footer' %>
