<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>User</th>
      <th>Payment Option</th>
      <th>Total Requested</th>
      <th>Withholding</th>
      <th>Amount Payable</th>
      <th>Payment sent</th>
      <th></th>
    </tr>
  </thead>

  <% @withdrawals.each do |withdrawal| %>
    <tr>
      <td><%= withdrawal.created_at %></td>
      <td>
        <a href="<%= user_path(withdrawal.user) %>">@<%= withdrawal.user.username %></a>
        <a href="<%= users_tax_info_url(auth_token: withdrawal.user.authentication_token, form_type: withdrawal.user.tax_info.slug) %>">(<%= withdrawal.user.tax_info.slug %>)</a>
      </td>
      <td>
        <%= render withdrawal.user.payment_option if withdrawal.user.payment_option %>
      </td>
      <td><%= currency withdrawal.total_amount %></td>
      <td><%= currency withdrawal.amount_withheld %></td>
      <td><%= currency withdrawal.payable_amount %></td>
      <td><%= withdrawal.payment_sent_at %></td>
      <td>
        <% if withdrawal.payment_sent_at.nil? %>
          <%= react_component 'AdminWithholding', withdrawal.attributes %>
          <%= link_to admin_withdrawal_payment_sent_path(withdrawal), method: :patch, class: 'btn btn-success' do %>
            <span class="glyphicon glyphicon-share-alt"></span>
            Mark as sent
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
