<% title 'Repositories', @product.name %>
<% activate_nav! :repositories %>

<% if flash[:notice] %>
  <div class="alert alert-warning" style="z-index: 1000; position: absolute; top: 0px; width: 87%">
    <%= flash[:notice] %>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
<% end %>

<div class="page-header sheet-header">
  <h2 class="page-header-title">Repositories</h2>
</div>

<% has_repos = @product.repos.any? %>

<div class="sheet-body">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <p class="gray-2 alpha" style="margin-bottom: 20px;">
        <%= @product.name %> uses GitHub repositories to manage the product's development
        process. Repos give a clear history of every change to the codebase
        &mdash; even changes to PNGs! Not sure what a repo is? Not to worry
        &mdash; you can take a crash course
        <a href="http://git-scm.com/book/en/Getting-Started-Git-Basics">here</a>.
      </p>
      <% if signed_in? && !current_user.has_github_account? %>
        <a class="btn btn-default" href="<%= user_omniauth_authorize_path(:github) %>" style="margin-bottom:40px">
          Connect your GitHub account
        </a>
      <% end %>

      <% if has_repos %>
        <h6>Current Repositories</h6>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <% @product.repos.each do |repo| %>
                <tr>
                  <td><%= render 'shared/repo', repo: repo %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="well well-lg">
          There don't seem to be any repos for this product yet.
        </div>
      <% end %>

      <% if @product.slug && can?(:update, @product) %>
        <h6>Create a new repository</h6>

        <div data-react-class="NewRepositoryPreview"
            data-react-props="<%= {
              addonText: 'github.com/' + ENV["GITHUB_PRODUCTS_ORG"] + '/' + @product.slug,
              placeholder: 'Repository suffix (optional)',
              path: product_repos_path(@product),
              existingRepos: (has_repos ? @product.repos.map(&:name) : [])
            }.to_json %>">
        </div>
      <% end %>
    </div>
  </div>
</div>
