<% title 'Repositories', @product.name %>
<% activate_nav! :repositories %>

<% if flash[:notice] %>
  <div class="alert alert-warning" style="z-index: 1000; position: absolute; top: 0px; width: 87%">
    <%= flash[:notice] %>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
<% end %>

<div class="page-header">
  <h2 class="page-header-title">Repositories</h2>
</div>

<% has_repos = @product.for_profit? && @product.repos.any? %>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <% if has_repos %>
      <h6>Current Repositories</h6>
      <div class="table-responsive">
        <table class="table">
          <tbody>
            <% @product.repos.each do |repo| %>
              <tr>
                <td>
                  <i class="icon icon-github dropdown-glyph"></i>
                  <a href="<%= repo.url %>" data-track="product.repo.clicked">
                    <%= repo.name %>
                  </a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <div class="well well-lg">
        There don't seem to be any repos for this product yet.
      </div>
    <% end %>

    <% if can?(:update, @product) %>
      <h6>Add a new repository</h6>

      <form role="form" class="form" method='post' action="<%= product_repos_path(@product) %>">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div data-react-class="InputPreview"
            data-react-props="<%= {
              addonText: 'github.com/' + ENV["GITHUB_PRODUCTS_ORG"] + '/' + @product.slug,
              buttonText: 'Create',
              placeholder: 'Repository suffix',
              inputName: 'repository[name]'
            }.to_json %>">
        </div>
      </form>
      <br>
    <% end %>
  </div>
</div>
