<% activate_nav! :ideas %>
    <%= form_for idea do |f| %>
      <%= form_group idea, :name do %>
        <div class="row">
          <div class="col-md-8">
            <%= f.label :name, 'Five word pitch', class: 'control-label' %>
            <%= f.text_field :name, class: 'form-control', autofocus: true %>
          </div>
          <div class="col-md-4">
            <p class="help-block mt2">
              If you had 30 seconds to describe your product to a friend, what would you say? Use simple, direct words.
            </p>
          </div>
        </div>
      <% end %>

      <%= form_group idea, :body do %>
        <%= f.label :body, 'Extended description', class: 'control-label' %>
        <div class="row">
          <div class="col-md-8">
            <% if @idea.try(:body).blank? %>
              <%= react_component "MarkdownEditor", name: "idea[body]", required: "false" %>
            <% else %>
              <%= f.text_area :body, class: 'form-control', autofocus: true, rows: 5 %>
            <% end %>
          </div>
          <div class="col-md-4">
            <p class="help-block alpha">
              Ideas that are well-described and concise have the best chance of being understood and gaining constructive feedback. Don't be afraid to pursue big ideas or seemingly <%= link_to 'small ones', 'http://cdixon.org/2010/01/03/the-next-big-thing-will-start-out-looking-like-a-toy/' %>.
            </p>
          </div>
        </div>
      <% end %>

      <%= render 'shared/error_messages', target: idea %>

      <div class="row">
        <div class="col-md-8">
          <h6 style="margin-bottom: 0;">Tags</h6>
          <div style="display:none;">
            <select type="hidden" id="tag-list-hack" name="idea[tag_list][]" multiple="true"></select>
          </div>
          <div style="margin-bottom: 10px"
               data-react-class="TagList"
               data-react-props="<%= {
                  tags: (@idea.id.present? ? @idea.marks.map(&:name) : []).as_json,
                  destination: true,
                  newBounty: !@idea.id.present?,
                  allowRemoval: true,
                  url: (@idea.id.present? ? idea_mark_path(@idea) : 'null')
                }.to_json %>">
          </div>

          <div data-react-class="<%= @idea.id.present? ? 'TypeAhead' : 'TextInput' %>"
               data-react-props="<%= {
                 width: "125px",
                 size: "small",
                 label: "Add tag",
                 prepend: "#",
                 prompt: "Add"
               }.to_json %>">
          </div>

          <% if @idea.id.blank? %>
            <h6 style="margin-bottom: 0; margin-top: 20px;">Suggested tags</h6>
            <div data-react-class="TagList"
                  data-react-props="<%= {
                    tags: %(social mobile game marketplace SaaS iOS android utility messaging).split.as_json,
                    destination: false,
                    url: (@idea.id.present? ? idea_mark_path(@idea) : 'null')
                  }.to_json %>">
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <p class="help-block mt3">
            Add some tags that characterize your idea.
          </p>
        </div>
      </div>

      <div class="form-actions">
        <div class="pull-left">
          <%= link_to "Cancel", :back, class: "btn btn-default" %>
        </div>
        <%= f.submit 'Save', class: %w(btn btn-primary) %>
      </div>
    <% end %>
