<div class="page-header">
  <div class="pull-right">
    <% if can?(:update, @wip) && @wip.open? %>
      <a class="btn btn-default btn-sm" href="<%= close_product_discussion_path(@wip.product, @wip) %>" data-method="patch" data-confirm="Are you sure you want to close this discussion?">Close</a>
    <% end %>
  </div>

  <ol class="breadcrumb omega">
    <li><a href="<%= product_discussions_path(@wip.product) %>">Discussions</a></li>
    <li>
      <a href="<%= product_discussion_path(@wip.product, @wip) %>">
        #<%= @wip.number %>
      </a>
    </li>
  </ol>

  <h2 class="page-header-title"><%= @wip.title %></h2>
</div>
