<div class="container">
  <div class="page-header omega">

    <!-- <div class="pull-right">
      <a class="btn btn-default" href="<%= new_product_discussion_path(@wip.product) %>">
        Start a discussion
      </a>
    </div> -->

    <!-- <ol class="breadcrumb omega">
      <li><a href="<%= product_discussions_path(@wip.product) %>">Discussions</a></li>
      <li></li>
    </ol> -->

    <h2 class="page-header-title">
      <%= @wip.title %>
      <!-- <small>#<%= @wip.number %></small> -->
    </h2>

    <p>
      This is our virtual "garage" where we get to know each other and discuss anything else related to creating <%= @product.name %>
    </p>

  </div>
</div>
