<div class="media new-event js-new-event">

  <div class="pull-left">
    <% if signed_in? %>
      <%= avatar_tag(current_user, 30) %>
    <% else %>
      <img class="avatar"  src="<%= image_path('avatars/default.png') %>" width="30" height="30">
    <% end %>
  </div>

    <!-- Comments -->

  <div class="media-body" id="comment">
    <% if can?(:create, Event::Comment) %>
      <%= form_tag product_wip_comments_path(@wip.product, @wip), method: :post, class: 'form' do %>

        <!-- dropzone, autosize, validation -->

        <div class="markdown-editor-control js-markdown-editor js-dropzone">
          <%= text_area_tag 'event_comment[body]', nil, class: 'form-control', placeholder: 'Say something awesome!', rows: 3 %>

          <div class="dropzone-inner">
            To attach files drag &amp; drop here or <a href="#">select files from your computer</a>...
          </div>
        </div>

        <div class="form-actions">
          <div class="btn-group disabled">
            <%= button_tag 'Comment', name: 'event_comment[type]', value: 'Event::Comment', type: 'submit', class: %w(btn btn-primary) %>
            <% if @wip.closeable? && can?(:close, @wip) %>
              <% if @wip.resolved? %>
                <%= button_tag 'Comment & Reopen', name: 'event_comment[type]', value: 'Event::Reopen', type: 'submit', class: %w(btn btn-primary) %>
              <% else %>
                <%= button_tag 'Comment & Close', name: 'event_comment[type]', value: 'Event::Close', type: 'submit', class: %w(btn btn-primary) %>
              <% end %>
            </div>
          <% end %>

        </div>
      <% end %>
    <% else %>
      <div class="well">
        <strong><a href="<%= new_user_registration_path %>">Sign up</a> to join the discussion.</strong>
        <br>
        <small class="text-muted">
          Already have an account? <a href="<%= new_user_session_path %>">Log in</a>
        </small>
      </div>
    <% end %>
  </div>

</div>
