<div class="item discussion <%= 'unread' if signed_in? && discussion.updates.for(current_user).unread? %>" data-number="<%= discussion.number %>">

  <div class="summary">
    <a class="summary-target" href="<%= product_discussion_path(discussion.product, discussion) %>">
      <%= discussion.title %>
    </a>

    <ul class="list-inline list-inline-piped omega">
      <li>
        <a href="<%= user_path(discussion.user) %>">
          @<%= discussion.user.username %>
        </a>
      </li>
      <li>
        <%= pluralize(discussion.comments.count, 'comment') %>
      </li>
      <li>
        #<%= discussion.number %>
      </li>
    </ul>
  </div>
</div>
