<% title "Editing Discussion ##{@wip.number}", @wip.product.name %>
<%= render 'shared/navbar' %>
<%= render 'products/navbar' %>

<div class="page">
  <div class="container">
    <div class="page-header">
      <h2 class="page-header-title">Editing Discussion #<%= @wip.number %></h2>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <%= form_for [@wip.product, @wip], method: :patch do |f| %>
          <div class="form-group">
            <%= f.label :title, class: 'control-label' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>

          <div class="form-actions">
            <button class="btn btn-primary" type="submit">Update task</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
