<% title 'Discussions', @product.name %>

<%= render 'shared/navbar' %>
<%= render 'products/navbar' %>

<div class="page">
  <div class="container">
    <%= render 'products/status_message' %>

    <div class="page-header">
      <a class="btn btn-success pull-right" href="<%= new_product_discussion_path(@product) %>">
        Start a new discussion
      </a>
      <h2 class="page-header-title">Discussions</h2>
    </div>

    <% if @wips.empty? %>
      <div class="row">
        <div class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3">
          <div class="well well-lg omega">
            <h3 class="alpha"><strong>Start the first discussion</strong></h3>
            <p class="text-muted omega">
              Speak your mind and start a conversation with the team. Discussions
              are a great place to ask questions and give feedback.
            </p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="row">

        <div class="col-md-8 col-xs-8">
          <ol class="list-group list-group-breakout" id="wips-view-el">
            <% @wips.each do |discussion| %>
              <li class="list-group-item">
                <%= render 'discussions/summary', discussion: discussion %>
              </li>
            <% end %>
          </ol>
        </div>

        <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
          <div class="panel panel-default">
            <ul class="nav nav-pills nav-stacked">
              <li class="<%= 'active' if params[:state] == 'open' || params[:state].empty? %>">
                <a href="<%= product_discussions_path(@product, state: 'open') %>">
                  <span class="badge pull-right">
                    <%= @product.discussions.where(state: 'open').count %>
                  </span>
                  Open
                </a>
              </li>

              <li class="<%= 'active' if params[:state] == 'resolved' %>">
                <a href="<%= product_discussions_path(@product, state: 'resolved') %>">
                  <span class="badge pull-right">
                    <%= @product.discussions.where(state: 'resolved').count %>
                  </span>
                  Closed
                </a>
              </li>

            </ul>
          </div>
        </div><!-- .col-md-3 -->

      </div>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>

<script>
  analytics.track('product.wips.viewed', <%== ProductAnalyticsSerializer.new(@product).to_json %>)
</script>
