<% title 'New Discussion', @wip.product.name %>
<%= render 'shared/deprecated_navbar' %>
<%= render 'products/deprecated_navbar' %>

<div class="page page-padded">
  <div class="container">
    <div class="page-heading">
      <div class="page-heading-title">Start a new discussion</div>
    </div>

    <div class="page-content">
      <%= form_for [@wip.product, @wip], method: :post, class: 'form' do |f| %>

        <div class="form-group">
          <%= f.label :title, class: 'form-title' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group" id="description-el">
          <%= f.label :description, class: 'form-title' do %>
            Details
            <span class="help-block">(optional)</span>
          <% end %>

          <div class="form-control textdrop-control">
            <%= text_area :discussion, :description, name: 'description', rows: 4, class: 'form-control', data: {autosize: ''} %>

            <div class="dropzone js-dropzone">
              <div class="dropzone-content">
                To attach file drag &amp; drop here or <a href="#">select it from your computer</a>...
              </div>
            </div>
          </div>

        <script type="text/javascript">
          new CommentView({
            attachmentUploadUrl: $('meta[name=attachment-upload-url]').attr('content'),
            el: $('#description-el')
          });
        </script>

      </div>

      <div class="form-actions">
        <%= f.submit 'Start Discussion', class: %w(btn btn-primary) %>
      </div>

      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/deprecated_footer' %>
