<% title 'New Discussion', @wip.product.name %>

<div class="page-header">
  <h2 class="page-header-title">Start a new discussion</h2>
</div>

<div class="row">
  <div class="col-xs-8">
    <%= form_for [@wip.product, @wip], method: :post, class: 'form' do |f| %>

      <div class="form-group">
        <%= f.label :title, class: 'form-title' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <span class="help-block pull-right">(optional)</span>

        <%= f.label :description, 'Details', class: 'form-title' %>

        <div class="markdown-editor-control js-markdown-editor dropzone js-dropzone">
          <%= text_area :discussion, :description, name: 'description', rows: 4, class: 'form-control', data: {autosize: ''} %>

          <div class="dropzone-inner js-dropzone-select">
            To attach file drag &amp; drop here or <a href="#">select it from your computer</a>...
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Start Discussion', class: %w(btn btn-primary) %>
      </div>
    <% end %>
  </div>
</div>
