<% title @wip.title, "##{@wip.number}", @wip.product.name %>
<% activate_nav! :discussions %>
<% breadcrumb product_discussions_path(@wip.product), 'Discussions' %>

<%= render 'header' %>

<div class="sheet-body">
  <div class="row">

    <div class="col-md-9">
      <div id="discussion-view-el">
        <%= render 'wips/discussion', events: @events %>
        <%= render 'new_event_form' %>
      </div>
    </div>


    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-body"
            data-react-class="ToggleButton"
            data-react-props="<%= {
              bool: watching?(@wip),
              text: { true: 'Mute', false: 'Watch' },
              classes: { true: 'btn-sm btn-block btn-default', false: 'btn-sm btn-block btn-primary' },
              href: {
                true: product_wip_mute_path(@wip.product, @wip.number),
                false: product_wip_watch_path(@wip.product, @wip.number)
              }
            }.to_json %>">
        </div>
      </div><!-- .panel -->
    </div>
  </div>

  <% if signed_in? %>
    <img class="hidden" src="<%= ReadraptorTracker.new(ReadRaptorSerializer.serialize_entities(@wip).first, current_user.id).url %>">
  <% end %>

  <script>
    app.product = new Product(<%= json @product, scope: current_user %>);
    app.wip = new Wip(<%== WipSerializer.new(@wip).to_json %>);
    app.wipEvents = new WipEvents(<%== @wip.events.map {|e| EventSerializer.for(e, current_user)}.to_json %>, {
      url: '<%= product_wip_comments_path(@wip.product, @wip) %>'
    });

    $(document).ready(function() {
      <%= render 'wips/add_tips_to_wip_events' %>

      new DiscussionView({
        el: $('#discussion-view-el'),
        model: app.wip
      });
    })

    analytics.track('product.wip.viewed', <%== WipAnalyticsSerializer.new(@wip, scope: current_user).to_json %>)
  </script>
</div>
