<% if @wip.number.zero? %>
  <% title 'Discuss', @wip.product.name %>
<% else %>
  <% title @wip.title, "##{@wip.number}", @wip.product.name %>
<% end %>

<% content_for :body_class, "chat" %>

<div class="chat-top">
  <%= render 'shared/navbar' %>
  <%= render 'products/navbar' %>
</div>

<div class="page chat-column">
  <div class="container">
    <div class="row">

      <div class="col-md-8 col-xs-8">
        <div id="discussion-view-el">
          <%= render 'wips/discussion', events: @events %>
          <div class="chat-bottom">
            <%= render 'chat_box' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chat-side">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">Watchers</h6>
    </div>
    <div class="panel-body">
      <ul class="list-grid omega">
        <% @wip.watchers.each do |user| %>
          <li>
            <a href="<%= user_path(user) %>" title="@<%= user.username %>">
              <%= avatar_tag(user, 24) %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">Threads</h6>
    </div>
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">
        <% @threads.each do |wip| %>
          <li>
            <a href="<%= product_discussion_path(@product, wip) %>">
              <%= wip.title %>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% if signed_in? %>
  <img class="hidden" src="<%= ReadraptorTracker.new(@wip, current_user.id).url %>">
<% end %>

<script>
  app.wip = new Wip(<%== WipSerializer.new(@wip).to_json %>);
  app.wipEvents = new WipEvents(<%== @wip.events.map {|e| EventSerializer.for(e, current_user)}.to_json %>, {
    url: '<%= product_wip_comments_path(@wip.product, @wip) %>'
  });

  $(document).ready(function() {
    new DiscussionView({
      el: $('#discussion-view-el'),
      model: app.wip
    });
  })

  window.pusher = new Pusher($('meta[name=pusher-key]').attr('content'));
  analytics.track('product.wip.viewed', <%== WipAnalyticsSerializer.new(@wip, scope: current_user).to_json %>)
</script>
