<% if @wip.main_thread? %>
  <% title 'Discuss', @wip.product.name %>
<% else %>
  <% title @wip.title, "##{@wip.number}", @wip.product.name %>
<% end %>

<% content_for :body_class, "chat" %>

<div class="chat">
  <div class="chat-top">
    <%= render 'shared/navbar' %>
    <%= render 'products/navbar' %>
  </div>

  <div class="chat-column">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-xs-8">
          <div id="discussion-view-el">
            <%= render 'wips/discussion', events: @events %>
            <div class="chat-bottom">
              <%= render 'chat_box' %>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">
          <div class="chat-side">
            <% unless @wip.main_thread? %>
              <h6><%= @wip.title %></h6>
            <% end %>
            <%= render 'intro_panel' %>
            <%= render 'side' %>
            <a class="btn btn-default btn-block" href="<%= product_discussions_path(@product) %>">All Discussions</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if signed_in? %>
  <img class="hidden" src="<%= ReadraptorTracker.new(@wip, current_user.id).url %>">
<% end %>

<script>
  app.wip = new Wip(<%== WipSerializer.new(@wip, scope: current_user).to_json %>);
  app.wipEvents = new WipEvents(<%== @events.map {|e, _| EventSerializer.for(e, current_user)}.to_json %>, {
    url: '<%= product_wip_comments_path(@wip.product, @wip) %>'
  });

  $(document).ready(function() {
    new DiscussionView({
      el: $('#discussion-view-el'),
      model: app.wip
    });
  })

  window.pusher = new Pusher($('meta[name=pusher-key]').attr('content'));
  analytics.track('product.wip.viewed', <%== WipAnalyticsSerializer.new(@wip, scope: current_user).to_json %>)
</script>
