<table class="row">
  <tr>
    <td class="wrapper">
      <table class="twelve columns">
        <tr>
          <td class="panel wrapper">
            <table>
              <tr>
                <td>
                  <h1>
                    Hey <%= @user.username %>,
                  </h1>
                </td>
              </tr>
            </table>
            <table>
              <tr>
                <td>
                  <h5>
                    <% pletcher = User.find_by(username: 'pletcher') %>
                    TL;DR: I know you just heard from us. I (<a href="<%= user_url(pletcher) %>">@pletcher</a>) goofed and linked all of your bounties to the first product that we have you listed as working on &mdash; not much of a todo list, I'm afraid. Below is an updated list with the correct links.
                  </h5>
                </td>
              </tr>
              <tr>
                <td>
                  <p>
                    You've claimed:
                      <ul>
                        <% @wips.each do |wip| %>
                          <li>
                            <a href="<%= product_url(wip.product) %>"><%= wip.product.name %></a> #<%= wip.number %>: <a href="<%= product_wip_url(wip.product, wip) %>"><%= wip.title %></a>.
                          </li>
                        <% end %>
                      </ul>
                  </p>

                  <p>
                    Just as a reminder, to roll out this new change, we need to set expiration for all bounties that are currently claimed and open. So, you'll have this weekend to work on this bounty and then it will expire Monday morning.
                  </p>
                </td>

              </tr>
            </table>


            <table class="button success radius">
              <tr>
                <td>
                  <a href="<%= product_wip_url(@wips.first.product, @wips.first) %>">Finish your bounties!</a>
                </td>
              </tr>
            </table>

          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



