<% title 'People', @product.name %>
<% activate_nav! :people %>

<% if flash[:joined] %>
  <div class="alert alert-success page-alert">
    Welcome to the <%= @product.name %> team! <a href="<%= product_chat_path(@product) %>">Jump into chat and say Hi</a>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
<% end %>

<div class="js-people"></div>

<script>
$(document).ready(function() {

  $('.js-people').each(function(){
    React.renderComponent(People({
      interestFilters: <%== product_membership_interests(@product, false).to_json %>,
      memberships: <%== ActiveModel::ArraySerializer.new(@memberships).to_json %>,
      selected: "<%= @selected_filter %>",
      currentUser: <%== current_user.to_json %>,
      updatePath: "<%= product_person_path(@product, current_user) if current_user %>"
    }), this)
  })
});
</script>
