<% title 'People', @product.name %>
<% activate_nav! :subnav_people %>

<% if flash[:joined] %>
  <div class="alert alert-success page-alert">
    Welcome to the <%= @product.name %> team! <a href="<%= product_chat_path(@product) %>">Jump into chat and say Hi</a>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
<% else %>
  <%= render 'products/alert' %>
<% end %>


<div class="row">

  <div class="col-xs-8">
    <div class="js-people"></div>
  </div>


  <div class="col-xs-3 col-xs-offset-1">
    <%= render 'products/sidebar' %>
  </div><!-- .col-3 -->

</div><!-- .row -->

<div class="modal fade" id="edit-membership-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <form role="form" method="post" action="<%= product_person_path(@product, current_user) %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <input name="_method" value="patch" type="hidden">
        <div class="modal-header">
          <button type="button" class="close btn btn-sm" data-dismiss="modal">&times;</button>
          <div class="form-group" style="margin-bottom: 15px">
            <label class="control-label" for="join-bio-editor">
              Introduce yourself, earn some <%= @product.name %> coins
            </label>
            <small class="help-block" style="margin-top: 0px">
              What skills can you contribute, how much time do you have and what are you looking to get out of the experience?
            </small>
            <textarea name="membership[bio]" id="bio-editor" class="form-control bio-editor" style="min-height: 86px;" placeholder="Hi! My name is Maeby. I do all of my design in Dreamweaver, and I've never stopped loving .NET."></textarea>
          </div>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="join-interests">What are you interested in?</label>
            <% interest_filters = product_membership_interests(@product, true) %>
            <%= select_tag 'membership[interests][]',
              options_for_select(interest_filters.map { |interest| ['@' + interest, interest]}),
              'data-placeholder' => ' ',
              :class => 'form-control chosen-select',
              :id => 'join-interests',
              :multiple => true %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary btn-block" id="join-intro-button">Introduce yourself</button>
        </div>

      </div>
    </div>
  </form>
</div>

<%= render 'shared/footer' %>

<script>
$(document).ready(function() {

  $('.js-people').each(function(){
    React.renderComponent(People({
      interestFilters: <%== product_membership_interests(@product, false).to_json %>,
      memberships: <%== ActiveModel::ArraySerializer.new(@memberships).to_json %>,
      selected: "<%= @selected_filter %>",
      currentUser: <%== current_user.to_json %>,
      updatePath: "<%= product_person_path(@product, current_user) if current_user %>"
    }), this)
  })
});
</script>
