<% title 'People', @product.name %>
<% activate_nav! :people %>

<% if flash[:joined] %>
  <div class="alert alert-success page-alert">
    Welcome to the <%= @product.name %> team! <a href="<%= product_chat_path(@product) %>">Jump into chat and say Hi</a>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
<% end %>

<div class="page-header sheet-header">
  <h2 class="page-header-title">
    <i class="icon-users text-muted" style="margin-right: 4px;"></i>
    Teams
  </h2>
</div>

<% if signed_in? %>
  <% product_membership = current_user.team_memberships.find_by(product: @product) %>

  <% if product_membership.nil? || product_membership.bio.nil? %>
    <div class="sheet-body">
      <h2 style="font-weight: 300;">Before you start, why not introduce yourself?</h2>
      <div class="row">
        <div class="col-md-9">
          <form role="form" method="post" action="<%= product_person_path(@product, current_user) %>">

            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input name="_method" value="patch" type="hidden">

            <div class="form-group">
              <textarea name="membership[bio]" id="bio-editor" class="form-control bio-editor" rows="4" id="self-introduction" placeholder="Hi everyone, I'm Maeby! I love coding in VB6 across the stack. I also ping-pong a lot between concept and design. Hoping to get involved with UX, to help kickstart ideas, and to provide tangible feedback. I'm here partly because I think the app idea is great, but also because I think your team is outstanding and well-rounded – so I'm excited to learn alongside you. I'd like to free up to 8-16 hours a week (mostly evenings – I'm on CST here in Madison) to help ship this product. Great to see so many people working on this!"></textarea>
            </div>

          </form>
        </div>
        <div class="col-md-3">
          <small class="help-block" style="margin-top: 0px;">
            What skills can you contribute, how much time do you have, and what are you looking to get out of the experience?
          </small>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
<% end %>

<div class="sheet-body">
  <div class="row">
    <div class="js-people col-md-9"></div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="panel-title">Core Team</h6>
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            <% @product.core_team.each do |user| %>
              <li>
                <a href="<%= user_path(user) %>">
                  <img class="img-circle" style="margin-right:.5em" src="<%= user.avatar.url(32) %>" width="16" height="16" alt="@<%= user.username %>"><%= user.username %>
                </a>
              </li>
            <% end %>
          </ul>
          <hr>

          <%= form_tag product_core_team_members_path(@product), class: 'form' do %>
            <% if current_user && @product.core_team?(current_user) %>
              <fieldset>
            <% else %>
              <fieldset disabled>
            <% end %>

            <div class="input-group input-group-sm" style="margin-bottom: 10px;">
              <%= label_tag :core_team_member_username, '@', class: 'input-group-addon input-group-addon-sm' %>
              <%= text_field_tag 'core_team_member[username]', nil, class: 'form-control input-sm', placeholder: 'username' %>
            </div>
            <%= submit_tag 'Add to Core Team', class: 'btn btn-default btn-block btn-sm' %>
          <% end %>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function() {

  $('.js-people').each(function(){
    React.renderComponent(People({
      interestFilters: <%== product_membership_interests(@product, false).to_json %>,
      memberships: <%== ActiveModel::ArraySerializer.new(@memberships).to_json %>,
      selected: "<%= @selected_filter %>",
      currentUser: <%== current_user.to_json %>,
      updatePath: "<%= product_person_path(@product, current_user) if current_user %>"
    }), this)
  });
});
</script>
