<% title 'People', @product.name %>
<% activate_nav! :people %>

<% if flash[:joined] %>
  <div class="alert alert-success page-alert">
    Welcome to the <%= @product.name %> team! <a href="<%= product_chat_path(@product) %>">Jump into chat and say Hi</a>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  </div>
<% end %>

<div class="page-header">
  <h2 class="page-header-title">
    <i class="icon-users text-muted" style="margin-right: 4px;"></i>
    Teams
  </h2>
</div>
<% if current_user %>
  <% product_membership = current_user.team_memberships.find_by(product: @product) %>

  <% if product_membership.nil? || product_membership.bio.nil? %>
    <h2 style="font-weight: 300;">Before you start, why not introduce yourself?</h2>
    <div class="row">
      <div class="col-xs-9 col-md-9">
        <form role="form" method="post" action="<%= product_person_path(@product, current_user) %>">

          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="_method" value="patch" type="hidden">

          <div class="form-group">
            <textarea name="membership[bio]" id="bio-editor" class="form-control bio-editor" rows="4" id="self-introduction" placeholder="Hi everyone, I'm Maeby! I love coding in VB6 across the stack. I also ping-pong a lot between concept and design. Hoping to get involved with UX, to help kickstart ideas, and to provide tangible feedback. I'm here partly because I think the app idea is great, but also because I think your team is outstanding and well-rounded – so I'm excited to learn alongside you. I'd like to free up to 8-16 hours a week (mostly evenings – I'm on CST here in Madison) to help ship this product. Great to see so many people working on this!"></textarea>
          </div>

          <div class="form-group">
            <label for="join-interests">What are you interested in?</label>
            <% interest_filters = product_membership_interests(@product, true) %>
            <%= select_tag 'membership[interests][]',
              options_for_select(interest_filters.map { |interest| ['@' + interest, interest]}),
              'data-placeholder' => ' ',
              :class => 'form-control chosen-select',
              :id => 'join-interests',
              :multiple => true %>
          </div>

          <button type="submit" id="join-intro-button" class="btn btn-success btn-block">Introduce yourself</button>

        </form>
      </div>
      <div class="col-xs-3 col-md-3">
        <small class="help-block" style="margin-top: 0px;">
          What skills can you contribute, how much time do you have, and what are you looking to get out of the experience?
        </small>
      </div>
    </div>

    <hr>
  <% end %>
<% end %>

<div class="row">
  <div class="js-people col-xs-9 col-md-9"></div>
  <div class="col-xs-3 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title">Core Team</h6>
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          <% @product.core_team.each do |user| %>
            <li>
              <a href="<%= user_path(user) %>">
                <img class="img-circle" style="margin-right:.5em" src="<%= user.avatar.url(32) %>" width="16" height="16" alt="@<%= user.username %>"><%= user.username %>
              </a>
            </li>
          <% end %>
        </ul>
        <hr>

        <%= form_tag product_core_team_members_path(@product), class: 'form' do %>
          <% if current_user && @product.core_team?(current_user) %>
            <fieldset>
          <% else %>
            <fieldset disabled>
          <% end %>

          <div class="input-group input-group-sm" style="margin-bottom: 10px;">
            <%= label_tag :core_team_member_username, '@', class: 'input-group-addon input-group-addon-sm' %>
            <%= text_field_tag 'core_team_member[username]', nil, class: 'form-control input-sm', placeholder: 'username' %>
          </div>
          <%= submit_tag 'Add to Core Team', class: 'btn btn-default btn-block btn-sm' %>
        <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<% unless current_user.nil? %>
  <div class="modal fade" id="edit-membership-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form role="form" method="post" action="<%= product_person_path(@product, current_user) %>">
      <div class="modal-dialog">
        <div class="modal-content">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="_method" value="patch" type="hidden">
          <div class="modal-header">
            <button type="button" class="close btn btn-sm" data-dismiss="modal">&times;</button>
            <div class="form-group" style="margin-bottom: 15px">
              <label class="control-label" for="modal-bio-editor">
                Introduce yourself, earn some <%= @product.name %> coins
              </label>
              <small class="help-block" style="margin-top: 0px">
                What skills can you contribute, how much time do you have and what are you looking to get out of the experience?
              </small>
              <textarea name="membership[bio]" id="modal-bio-editor" class="form-control bio-editor" style="min-height: 130px;"></textarea>
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="modal-join-interests">What are you interested in?</label>
              <% interest_filters = product_membership_interests(@product, true) %>
              <%= select_tag 'membership[interests][]',
                options_for_select(interest_filters.map { |interest| ['@' + interest, interest]}),
                'data-placeholder' => ' ',
                :class => 'form-control chosen-select',
                :id => 'modal-join-interests',
                :multiple => true,
                :style => 'width: 300px;' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-block" id="join-intro-button">Introduce yourself</button>
          </div>

        </div>
      </div>
    </form>
  </div>
<% end %>

<script>
$(document).ready(function() {

  $('.js-people').each(function(){
    React.renderComponent(People({
      interestFilters: <%== product_membership_interests(@product, false).to_json %>,
      memberships: <%== ActiveModel::ArraySerializer.new(@memberships).to_json %>,
      selected: "<%= @selected_filter %>",
      currentUser: <%== current_user.to_json %>,
      updatePath: "<%= product_person_path(@product, current_user) if current_user %>"
    }), this)
  });

  $('#edit-membership-modal').on('shown.bs.modal', function() {
    $('#modal-bio-editor').attr('placeholder', app.defaultBio());
    // Hack.
    // TODO: Replace chosen with a custom React component -- the PersonPicker is probably more than halfway there.
    $('#modal_join_interests_chosen').css({ width: '300px' }); 
  });

  var chosenSelect = $('.chosen-select');

  chosenSelect.chosen({
    create_option: function(term) {
      var chosen = this

      term = term.replace(/[^\w-]+/g, '').toLowerCase()

      if (term === 'core') {
        return;
      }

      chosen.append_option({
        value: term,
        text: '@' + term
      })
    },

    persistent_create_option: true,
    skip_no_results: true,
    search_contains: true,
    create_option_text: 'Add interest'
  });

  chosenSelect.val(['code', 'design']);
  chosenSelect.trigger('chosen:updated');
});
</script>
