<div class="row search-result">

  <div class="col-sm-2 col-xs-2">
    <h6 class="alpha omega" style="margin-top: 5px; color: #d9d9d9;"><%= result.product.slug %></h6>
  </div>

  <div class="col-sm-10 col-xs-10">
    <strong>
      <a href="<%= product_wip_path(result.product.slug, result.number) %>">
        <%= (result.try(:highlight).try(:title) ? result.highlight.title.join.html_safe : result.title) %>
      </a>
    </strong>
    <span class="pull-right small text-muted">#<%= result.number %></span>

    <% if fragments = result.try(:highlight) && result.try(:highlight)['comments.sanitized_body'] %>
      <% fragments.each do |match| %>
        <div class="small neuter-paragraphs" style="margin-top: 5px;">
          <p>
            <%== match %>
          </p>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
