<div class="row search-result">

  <div class="col-sm-2 col-xs-2">
    <% if result.slug %>
      <a href="<%= product_path(result.slug) %>">
        <img class="img-rounded" src="<%= image_path(result.poster.blank? ? PosterImage::DEFAULT_PATH : result.poster) %>" width="100%" >
      </a>
    <% end %>
  </div>

  <div class="col-sm-10 col-xs-10">
    <strong>
      <% if result.slug %>
        <a href="<%= product_path(result.slug) %>">
        <%= sanitize (result.try(:highlight).try(:name) ? result.highlight.name.join.html_safe : result.name), tags: %w(mark) %>
        </a>
      <% end %>
    </strong>

    <h4 class="text-serif text-weight-normal" style="margin-top: 5px;">
      <%= sanitize (result.try(:highlight).try(:pitch) ? result.highlight.pitch.join.html_safe : result.pitch), tags: %w(mark) %>
    </h4>
    <% if fragments = result.try(:highlight).try(:sanitized_description) %>
      <% fragments.take(2).each do |match| %>
        <div class="small neuter-paragraphs">
          <p>
            <%= sanitize ellipses_for_highlight(match, result.sanitized_description).html_safe, tags: %w(mark) %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
