<div class="row search-result">

  <div class="col-sm-2 col-xs-2">
    <a href="<%= product_path(result.slug) %>">
      <img class="img-rounded" src="<%= image_path(result.poster.blank? ? PosterImage::DEFAULT_PATH : result.poster) %>" width="100%" >
    </a>
  </div>

  <div class="col-sm-10 col-xs-10">
    <strong><a href="<%= product_path(result.slug) %>">
      <%= first_result result, :name %>
    </a></strong>

    <h4 class="text-serif text-weight-normal" style="margin-top: 5px;">
      <%= first_result result, :pitch %>
    </h4>
    <% (result.try(:highlight).try(:description) || []).take(2).each do |match| %>
    <p>
      <%= ellipses_for_highlight(match, result.description).html_safe %>
    </p>
    <% end %>
  </div>
</div>
