<div class="row search-result">

  <div class="col-sm-2 col-xs-2">
    <a href="<%= product_path(result.slug) %>">
      <img class="img-rounded" src="<%= image_path(result.poster.blank? ? PosterImage::DEFAULT_PATH : result.poster) %>" width="100%" >
    </a>
  </div>

  <div class="col-sm-10 col-xs-10">
    <strong><a href="<%= product_path(result.slug) %>">
      <%= (result.try(:highlight).try(:name) ? result.highlight.name.join.html_safe : result.name) %>
    </a></strong>

    <h4 class="text-serif text-weight-normal" style="margin-top: 5px;">
      <%= (result.try(:highlight).try(:pitch) ? result.highlight.pitch.join.html_safe : result.pitch) %>
    </h4>
    <% if fragments = result.try(:highlight).try(:sanitized_description) %>
      <% fragments.take(2).each do |match| %>
        <div class="small neuter-paragraphs">
          <p>
            <%= ellipses_for_highlight(match, result.sanitized_description).html_safe %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
