<div class="panel panel-default">

    <% if @product %>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="<%= polymorphic_path([:search], @filters.merge(type: 'discussion', state: '')) %>">
          <span class="badge pull-right"><%= @totals.all_discussions %></span>
          All Products
        </a>
      </li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= 'active' if params[:type] == 'discussion' %>">
        <a href="<%= polymorphic_path([@product, :search], @filters.merge(type: 'discussion', state: '')) %>">
          <span class="badge pull-right"><%= @totals.discussions %></span>
          <%= @product.name %>
        </a>
      </li>
    </ul>
  <% else %>
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= 'active' if params[:type].blank? || params[:type] == 'product' %>">
        <a href="<%= polymorphic_path([@product, :search], @filters.merge(type: 'product', tech: '')) %>">
          <span class="badge pull-right"><%= @totals.products %></span>
          Products
        </a>
      </li>
      <li class="<%= 'active' if params[:type] == 'discussion' %>">
        <a href="<%= polymorphic_path([@product, :search], @filters.merge(type: 'discussion', state: '')) %>">
          <span class="badge pull-right"><%= @totals.discussions %></span>
          Discussions
        </a>
      </li>
    </ul>
  <% end %>
</div>
