<div class="panel panel-default">

    <% if @product %>
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="<%= search_path(@filters.merge(type: 'discussion').except(:state, :product_id)) %>">
          <span class="badge badge-subtle pull-right"><%= @totals.all_discussions %></span>
          All Products
        </a>
      </li>
    </ul>
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= 'active' if params[:type] == 'discussion' %>">
        <a href="<%= polymorphic_path([@product, :search], @filters.merge(type: 'discussion').except(:state)) %>">
          <span class="badge badge-subtle pull-right"><%= @totals.discussions %></span>
          <%= @product.name %>
        </a>
      </li>
    </ul>
  <% else %>
    <ul class="nav nav-pills nav-stacked">
      <li class="<%= 'active' if params[:type].blank? || params[:type] == 'product' %>">
        <a href="<%= polymorphic_path([@product, :search], @filters.merge(type: 'product').except(:tech)) %>">
          <span class="badge badge-subtle pull-right"><%= @totals.products %></span>
          Products
        </a>
      </li>
      <li class="<%= 'active' if params[:type] == 'discussion' %>">
        <a href="<%= polymorphic_path([@product, :search], @filters.merge(type: 'discussion').except(:state)) %>">
          <span class="badge badge-subtle pull-right"><%= @totals.discussions %></span>
          Bounties
        </a>
      </li>
    </ul>
  <% end %>
</div>
