<div class="panel panel-default">
  <% case @wip.state %>
  <% when 'open' %>
    <div class="panel-heading" style="background-color: #fff;">
      <div class="progress progress-small omega">
        <!-- <div class="progress-bar" style="width: 0%;"></div> -->
      </div>
      <h6 class="text-muted omega">
        Ready for work
      </h6>
    </div>
    <div class="panel-body text-small">
      <%= button_to 'Work on this bounty', product_wip_start_work_path(@wip.product, @wip), method: :patch, disable_with: 'Starting work…', class: %w(btn btn-default btn-sm btn-block) %>

      <% if signed_in? && @wip.product.core_team?(current_user) %>
        <%= render 'tasks/assign_form' %>
      <% end %>

  <% when 'allocated' %>
    <div class="panel-heading" style="background-color: #fff;">
      <div class="progress progress-small omega">
        <div class="progress-bar progress-bar-success" style="width: 33%;"></div>
      </div>
      <h6 class="text-muted omega">
        In Progress
      </h6>
    </div>

    <div class="panel-body text-small">
      <table class="table table-condensed" style="margin-bottom: 5px;">
        <tbody>
          <% @wip.wip_workers.each do |worker| %>
            <tr>
              <td class="omega" style="border: 0px; border-top: none;">
              <% if signed_in? && worker.user == current_user %>
                  <a href="<%= user_path(worker.user) %>">You</a>
              <% else %>
                <a href="<%= user_path(worker.user) %>">
                  <%= avatar_tag(worker.user, 21) %>
                  <strong><%= worker.user.username %></strong>
                </a>
              <% end %>
              started this

              <strong>
                <time class="timestamp" datetime="<%= worker.created_at.iso8601 %>"></time>
              </strong>

              </td>
              <% if signed_in? && @wip.product.core_team?(current_user) %>
                <td style="border: 0px; border-top: none;">
                  <% unless worker.user == current_user %>
                    <a title="remove" href="<%= product_wip_stop_work_path(@wip.product, @wip, user: worker.user.username) %>" data-method="patch" class="text-danger">
                      <span class="glyphicon glyphicon-remove"></span>
                    </a>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        </tbody>
      </table>

      <% if signed_in? && @wip.workers.include?(current_user) %>
        <%= button_to 'Stop work', product_wip_stop_work_path(@wip.product, @wip), method: :patch, disable_with: 'Cancelling…', class: %w(btn btn-default btn-sm btn-block inactive) %>
      <% else %>
        <%= button_to 'Start work', product_wip_start_work_path(@wip.product, @wip), method: :patch, disable_with: 'Starting work…', class: %w(btn btn-default btn-sm btn-block) %>
      <% end %>

  <% when 'reviewing' %>
    <div class="panel-heading" style="background-color: #fff;">
      <div class="progress progress-small omega">
        <div class="progress-bar progress-bar-success" style="width: 66%;"></div>
      </div>
      <h6 class="text-muted omega">
        Reviewing
        <% if signed_in? && @wip.product.core_team?(current_user) %>
          <a href="<%= product_wip_reject_path(@wip.product, @wip) %>" data-method="patch" class="text-danger" title="Re-open this Bounty" data-toggle="tooltip" data-confirm="This will remove workers and re-open Bounty">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        <% end %>
      </h6>
    </div>

    <div class="panel-body text-small">
      <!--
        This isn't perfect, there's no concept of the work that's up for
        review.
      -->
      <p class="omega">A submission is currently being reviewed by the Core Team.</p>
  <% when 'resolved' %>
    <div class="panel-heading" style="background-color: #fff;">
      <div class="progress progress-small omega">
        <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
      </div>
      <h6 class="text-muted omega">
        Complete
      </h6>
    </div>

    <div class="panel-body text-small">
      <% if @wip.winner %>
        <% if signed_in? && @wip.winner == current_user %>
          <p>
            You were awarded
            <%= format_coins(@wip.product, @wip.contracts.earnable_cents) %>
            for completing this bounty.
          </p>
          <p class="omega"><strong>Keep up the great work!</strong></p>
        <% else %>
          <p class="omega">
            <strong><%= @wip.winner.username %></strong>
            was awarded
            <%= format_coins(@wip.product, @wip.contracts.earnable_cents) %>
            for completing this bounty.
          </p>
        <% end %>
      <% end %>
  <% end %>

    <% if signed_in? && !@wip.awarded? %>
      <hr style="margin-bottom: 5px; margin-top: 15px;">

      <div style="margin-top:15px" data-react-class="InviteFriendBounty" data-react-props="<%= {
          url: invites_path,
          invites: (@invites ? serialize_hash(@invites) : []),
        }.merge(TypeId.as_json(:via, @wip)).to_json %>">
      </div>
    <% end %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title">
      <span class="pull-right"><%= @wip.watchers.count %></span>
      Watchers
    </h6>
  </div>
  <div class="panel-body">
    <ul class="list-grid omega">
      <% @wip.watchers.each do |user| %>
        <li>
          <a href="<%= user_path(user) %>">
            <%= avatar_tag(user, 21) %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div><!-- .panel -->

<div class="panel panel-default">
  <div class="panel-heading">
    <h6 class="panel-title">
      Tags
    </h6>
  </div>
  <div class="panel-body">
    <% wip_tags = @wip.tags.map { |tag| tag.name }.as_json %>
    <div style="margin-bottom: 10px"
         data-react-class="TagList"
         data-react-props="<%= {
            tags: (wip_tags || []),
            url: product_wip_tag_path(@wip.product, @wip.number),
            filterUrl: product_wips_path(@wip.product),
            destination: true
          }.to_json %>">
    </div>
    <% unless current_user.nil? %>
      <% if wip_tags.empty? || wip_tags.slice(1).nil? %>
        <h6 style="margin-bottom: 0; margin-top: 20px;">Suggested tags</h6>
        <div data-react-class="TagList"
              data-react-props="<%= {
                tags: Wip::Tag.suggested_tags.as_json,
                url: product_wip_tag_path(@wip.product, @wip.number),
                destination: false
              }.to_json %>">
        </div>
      <% end %>
      <div data-react-class="TextComplete"
           data-react-props="<%= {
             width: "125px",
             size: "small",
             label: "Add tag",
             prepend: "#",
             prompt: "Add",
             filterUrl: product_wips_path(@wip.product),
             url: product_wip_tag_path(@wip.product, @wip.number)
           }.to_json %>">
      </div>
    <% end %>

  </div>
</div>

<div class="panel panel-default">
  <% contracts = @wip.contracts %>
  <div class="panel-heading">
    <a href="<%= product_contracts_path(@wip.product) %>" class="text-muted">
      <i class="icon-question pull-right" data-placement="top" data-toggle="tooltip" title="View&nbsp;all&nbsp;Tip&nbsp;Contracts"></i>
      </a>
    <h6 class="panel-title">
      Bounty Breakdown
    </h6>
  </div>
  <table class="table table-condensed small">
    <% if c = contracts.author_contract %>
      <tr>
        <td class="text-muted" style="padding-left:15px">
          <span data-toggle="tooltip" title="<%= I18n.t 'tooltips.bounty.author', author: @wip.user.username %>" data-placement="left">Bounty Author</span>
        </td>
        <td class="text-right" style="padding-right:15px">
          <%= format_coins @wip.product, c.percentage * contracts.total_cents, :tiny, round: true %>
        </td>
      </tr>
    <% end %>
    <% if contracts.core_team_contracts.any? %>
      <tr>
        <td class="text-muted" style="padding-left:15px">
          <span data-toggle="tooltip" title="<%= I18n.t 'tooltips.bounty.core_team', product: @product.name %>" data-placement="left">Core Team tip</span>
        </td>
        <td class="text-right" style="padding-right:15px">
          <%= format_coins @wip.product, contracts.core_team_contracts.map(&:amount).sum * contracts.total_cents, :tiny, round: true %>
        </td>
      </tr>
    <% end %>
    <% contracts.product_contracts.select{|c| c.percentage * contracts.total_cents >= 100 }.each do |c| %>
      <tr>
        <td class="text-muted" style="padding-left:15px">
          @<%= c.user.username %> tip
        </td>
        <td class="text-right" style="padding-right:15px">
          <%= format_coins @wip.product, c.percentage * contracts.total_cents, :tiny, round: true %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td class="text-muted" style="padding-left:15px">
        <% if @wip.awarded? %>
          <%= user_link_username(@wip.winner, class: 'text-muted') %> earned
        <% else %>
          You would earn
        <% end %>
      </td>
      <td class="text-right" style="padding-right:15px">
        <%= format_coins @wip.product, contracts.earnable_cents, :tiny, round: true %>
      </td>
    </tr>
  </table>
</div>
