<% title @product.stakeholders, @product.name %>
<% track_engaged 'partners' %>

<% activate_nav! :people %>
<% activate_nav! :people_ownership %>

<% cache [@product] do %>

  <% if !@product.for_profit? %>
    <%= render 'products/non_profit' %>
  <% end %>

  <% if @user_cents.any? %>

    <% if url = OpenAssets::Cryptodata.new.color_url(@product) %>
      <a href="<%= url %>">
        <button type="button" class="btn btn-default">Check it out on the Blockchain</button>
      </a>
    <% end %>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
          var data = google.visualization.arrayToDataTable(
          <%= @karma_total_history.to_json.html_safe %>
          );

        var showEvery = parseInt(data.getNumberOfRows() / 4);
        var options = {
          title: 'Karma History',
          isStacked: true,
          hAxis: {title: 'Time',  titleTextStyle: {color: '#333'}, showTextEvery: showEvery,  textPosition: 'none'},
          vAxis: {title: 'Karma', minValue: 0}
        };
        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

    </script>


    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="left-align">Partner</th>
            <th class="right-align">
              <% if @product.for_profit? %>
                Coins
              <% else %>
                Karma
              <% end %>
            </th>

            <th class="right-align">
              <% if @product.for_profit? %>
                Ownership
              <% else %>
                Percentage
              <% end %>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- TODO: Include escrow accounts (styled differently) -->
          <% @user_cents.each do |user, cents| %>
            <tr>
              <td>
                <a class="block" href="<%= user_path(user) %>">
                  <div class="left mr2">
                    <%= avatar_tag(user) %>
                  </div>
                  <%= user.username %>
                </a>
              </td>
              <td class="right-align">
                <span class="icon icon-app-coin yellow"></span>
                <%= number_with_delimiter(cents) %>
              </td>
              <td class="right-align">
                <% if cents / @total_cents.to_d < 0.0001 %>
                  &lt; 0.01%
                <% else %>
                  <%= number_to_percentage(cents / @total_cents.to_d * 100, precision: 2) %>
                <% end %>
              </td>
            </tr>
          <% end %>

          <!-- <tr class="active gray-2">
            <td>Unvested</td>
            <td class="right-align">
              <span class="icon icon-app-coin yellow"></span>
              9,800,390
            </td>
            <td class="right-align">-</td>
          </tr> -->

        </tbody>
      </table>
    </div>
  <% else %>

    <div class="well well-lg omega">
      <h3 class="alpha">
        <strong>Become a <%= @product.name %> partner</strong>
      </h3>
      <p class="gray-2">
        Partners have stake in a product's monthly revenue. Become a partner by earning app coins when you complete tasks with bounties or receive tips from the community for being an inspirational community member. <a href="/help/profits#profits-2">Learn more in the FAQ</a>.
      </p>

      <a class="btn btn-success" href="<%= new_product_wip_path(@product) %>">
        Create a Task
      </a>
    </div>
  <% end %>
<% end %>
