<% title "Partners", @product.name %>

<%= render 'shared/navbar' %>
<%= render 'products/navbar' %>

<% cache [@product] do %>
  <div class="page">
    <div class="container">
      <%= render 'products/status_message' %>

      <div class="page-header">
        <h2 class="page-header-title">Teams &amp; <%= @product.stakeholders %></h2>
      </div>

      <div class="row">

        <div class="col-md-8">
          <% if !@product.for_profit? %>
            <%= render 'products/non_profit' %>
          <% end %>

          <% if @user_cents.any? %>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="text-left">Partner</th>
                    <th class="text-right">
                      <% if @product.for_profit? %>
                        Coins Earned
                      <% else %>
                        Karma
                      <% end %>
                    </th>
                    <% if @product.for_profit? %>
                      <th class="text-right">
                        Percentage
                      </th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @user_cents.each do |user, cents| %>
                    <tr>
                      <td>
                        <a href="<%= user_path(user) %>">@<%= user.username %></a>
                      </td>
                      <td class="text-right">
                        <%= number_to_currency cents / 100.to_d, precision: 2, unit: "" %>
                      </td>
                      <% if @product.for_profit? %>
                        <td class="text-right">
                          <%= number_to_percentage(cents / @total_cents.to_d * 100, precision: 2) %>
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% else %>

            <div class="well text-center large omega">
              <h3 class="alpha">
                <strong>Become a <%= @product.name %> partner</strong>
              </h3>
              <p class="text-muted">
                Partners have stake in a product's monthly revenue. Become a partner by earning app coins when you complete tasks with bounties or receive tips from the community for being an inspirational community member. <a href="/help/profits#profits-2">Learn more in the FAQ</a>.
              </p>

              <a class="btn btn-success" href="<%= new_product_wip_path(@product) %>">
                Create a Task
              </a>
            </div>
          <% end %>
        </div><!-- .col-md-8 -->

        <div class="col-md-3 col-md-offset-1">
          <%= render 'products/subnav' %>
        </div>
      </div><!-- .row -->

    </div><!-- .container -->

  </div><!-- .page -->
<% end %>

<%= render 'shared/footer' %>
