<div id="sign-up" class="<%= "modal" unless signin_page? or signup_page? %> sign-up">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1>Create an account</h1>
        It takes less than a minute
      </div>

      <div class="modal-body body">
        <!--
        <div class="section">
          <ul class="segmented-list">

            <li class="segmented-list-item">
              <div class="segmented-list-label">
                Products
              </div>
              1,000,000
            </li>

            <li class="segmented-list-item">
              <div class="segmented-list-label">
                Contributors
              </div>
              1,000,000
            </li>

            <li class="segmented-list-item">
              <div class="segmented-list-label">
                Points Awarded
              </div>
              1,000,000
            </li>

          </ul>
        </div>
        -->

        <div class="section facebook">
          <div class="facebook-signin-form">

            <a class="btn btn-large btn-default btn-block btn-facebook facebook-signin">
              <span>
                Sign up with Facebook
              </span>
            </a>

            <a class="btn btn-large btn-default btn-block btn-facebook facebook-busy" style="display: none">
              <span>
                Connecting...
              </span>
            </a>

          </div>

        </div>

        <div class="signin-or">
          <span>OR</span>
        </div>

        <div class="new-user">
          <div class="email-signup">
            <%= ajax_form_for(:user, url: new_user_registration_path, redirect: after_sign_up_path_for_user, html: { class: 'form-horizontal' }) do |f| %>
              <%= hidden_field_tag 'user[follow_product]' %>

              <div class="form-group input-group-control">
                <input type="text" class="form-control" name="user[username]" autocomplete="off" autofocus="true" placeholder="Choose a username">
                <input type="email" class="form-control" name="user[email]" autocomplete="off" placeholder="Your email">
                <input type="password" class="form-control" name="user[password]" placeholder="Create a password">
              </div>

              Choose something easy to remember and hard to guess. 8 characters min.

              <div class="sign-up-submit">
                <button class="btn btn-large btn-default btn-block" data-disable-with="Signing up...">
                  Sign up
                </button>

                <%= render 'users/sessions/disclaimer' %>
              </div>
            <% end %>
          </div>

          <div class="facebook-signup-form" style="display: none">
            <div class="user medium">
              <div class="avatar">
                <img src="//www.gravatar.com/avatar/default?s=40">
              </div>
              <div class="name"></div>
              <div class="location"></div>
            </div>

            <%= ajax_form_for(:user, url: new_user_registration_path, redirect: after_sign_up_path_for_user) do |f| %>
              <%= f.hidden_field :facebook_uid %>
              <%= f.hidden_field :extra_data %>
              <%= f.hidden_field :location %>
              <%= f.hidden_field :name %>
              <%= hidden_field_tag 'user[follow_product]' %>

              <div class="form-group input-group-control">
                <input type="text" class="form-control" id="user_username" name="user[username]" autocomplete="off" autofocus="true" placeholder="Choose a username">
                <input type="email" class="form-control" id="user_email" name="user[email]" autocomplete="off" placeholder="Your email">
              </div>

              <div class="clearfix">
                <button class="btn btn-large btn-default btn-block">
                  Sign up
                </button>

                <p class="text-legal">
                  By signing up, you agree to Assembly's <a href="<%= tos_path %>">Terms of Service</a>.
                </p>

              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-footnote">
    <!--
    <div class="pull-right">
      <a href="#faq">What is Assembly?</a>
    </div>
    -->

    Already an Assembly member?
    <a class="js-sign-in" href="<%= login_path %>">Log in</a>
  </div>
</div>
