<div id="sign-in" class="<%= "modal" unless signin_page? or signup_page? %> sign-in">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h1>Welcome back!</h1>
        You're almost there.
      </div>

      <div class="modal-body body">
        <div class="new-session">

          <div class="section facebook">
            <div class="new-facebook-session">
              <%= ajax_form_for(:user, url: user_omniauth_callback_path(:facebook), redirect: 'override') do |f| %>

                <%= f.hidden_field :id %>

                <input name="signed_request" type="hidden">

                <button class="btn btn-large btn-primary btn-block btn-facebook btn-sign-in" data-disable-with="Signing in...">
                  <span>
                    Sign in with Facebook
                  </span>
                </button>

              <% end %>
            </div>
          </div>

          <div class="signin-or">
            <span>OR</span>
          </div>

          <div class="new-assembly-session">
            <%= ajax_form_for(:user, url: new_user_session_path, redirect: 'override') do |f| %>

              <div class="form-group input-group-control">
                <input type="text" class="form-control" name="user[login]" autocomplete="off" autofocus="true" placeholder="Email">
                <input type="password" class="form-control" name="user[password]" placeholder="Password">
              </div>

              <div class="sign-in-submit">
                <button class="btn btn-large btn-default btn-block" data-disable-with="Signing in...">
                  Sign in
                </button>
              </div>

            <% end %>
          </div>

          <% if Rails.env.development? %>
            <div class="impersonate-session" style="display: none">
              <a href="#" class="impersonate">
                Impersonate
              </a>
            </div>
          <% end %>

        </div>

        <div class="password-reset" style="display: none">
          <%= ajax_form_for(:user, url: user_password_path, redirect: 'override') do |f| %>

            <%= f.text_field :email, placeholder: 'Email' %>

            <div class="sign-in-submit">
              <button class="btn btn-large btn-default btn-block" data-disable-with="Sending...">
                Send password reset
              </button>
            </div>

          <% end %>
        </div>

        <div class="password-reset-sent" style="display: none">
          <button class="btn btn-default btn-block disabled">
            Password reset sent
          </button>
        </div>

      </div>
    </div>
  </div>

  <div class="modal-footnote">
    <div class="pull-right">
      <a class="forgot-password" href="#forgot-password">
        Forgot your password?
      </a>
    </div>

    Don't have an account?
    <a class="js-sign-up" href="<%= user_registration_path %>">Sign up</a>
  </div>
</div>
