<% title 'Balance' %>
<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <%= render 'users/card', user: @user %>
      </div>

      <div class="col-md-9 col-xs-9">
        <div class="page-header">
          <span class="pull-right text-small"><%= Time.now.strftime("%B %Y")%></span>
          <h2 class="page-header-title">TPS Report</h2>
        </div>

        <%= render 'shared/flash' %>

        <%= button_to 'Withdraw funds', withdraw_users_balance_path, class: 'pull-right btn btn-default' %>
        <h3>Your balance: <%= number_to_currency @total_balance / 100.0, precision: 2 %></h3>

        <table class="table">
          <tr>
            <th></th>
            <th>Your Coins</th>
            <th>Your Earnings</th>
            <th>Product Income</th>
          </tr>

          <% (@balances + @withdrawals).sort_by{|e| -e.created_at.to_i }.each do |entry| %>
            <%= render entry %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>