<% title 'Balance' %>
<%= render 'shared/navbar' %>

<div class="py3 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <%= render 'users/card', user: @user %>
      </div>

      <div class="col-md-9 col-xs-9">
        <div class="mt0 mb4 border-bottom">
          <span class="pull-right text-small"><%= Time.now.strftime("%B %Y")%></span>
          <h2 class="mt0 mb4 border-bottom-title">Total Earnings: <%= currency @balance.final_earnings %></h2>
        </div>

        <%= render 'shared/flash' %>

        <% if @balance.available_to_payout > 0 %>
          <div class="pull-right">
            <%= button_to "Withdraw #{currency @balance.available_to_payout}", withdraw_users_balance_path, class: 'btn btn-default' %>
            <% if @balance.available_to_withhold > 0 %>
              <small class="gray-2"><%= currency @balance.available_to_withhold %> will be withheld for US taxes</small>
            <% end %>
          </div>
        <% end %>

        <% if @balance.balances.any? %>
          <h4>
            Available Earnings: <%= currency @balance.available_earnings %>
            <% if @balance.available_to_withhold > 0 %>
              <small class="gray-2"><%= currency @balance.available_to_withhold %> will be withheld for US taxes</small>
            <% end %>
          </h4>
          <h4>Total Withdrawn: <%= currency @balance.previously_paidout %></h4>

          <% if @balance.previously_withheld > 0 %>
            <h4>Total Withheld: <%= currency @balance.previously_withheld %></h4>
          <% end %>

          <table class="table">
            <tr>
              <th></th>
              <th>Your Coins</th>
              <th>Your Earnings</th>
              <th>Product Income</th>
              <th></th>
            </tr>

            <% (@balance.balances + @balance.withdrawals).sort_by{|e| -(e.try(:end_at) || e.created_at).to_time.to_i }.each do |entry| %>
              <%= render entry %>
            <% end %>
          </table>
        <% else %>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">
              <div class="well well-lg mb0">
                <p class="gray-2 mb0">
                  You will earn a balance once you've worked on a profitable product
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
