<% title 'Balance' %>
<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <%= render 'users/card', user: @user %>
      </div>

      <div class="col-md-9 col-xs-9">
        <div class="page-header">
          <span class="pull-right text-small"><%= Time.now.strftime("%B %Y")%></span>
          <h2 class="page-header-title">TPS Report</h2>
        </div>

        <%= render 'shared/flash' %>

        <% if @payable_earnings > 0 %>
          <div class="pull-right">
            <%= button_to "Withdraw #{currency @payable_earnings}", withdraw_users_balance_path, class: 'btn btn-default' %>
            <% if @payable_withholding > 0 %>
              <small class="text-muted"><%= currency @payable_withholding %> will be withheld for US taxes</small>
            <% end %>
          </div>
        <% end %>

        <h3>Total Earnings: <%= currency @earnings %></h3>
        <% if @paid_withholding > 0 %>
          <h4>Total Withheld: <%= currency @paid_withholding %></h4>
        <% end %>

        <table class="table">
          <tr>
            <th></th>
            <th>Your Coins</th>
            <th>Your Earnings</th>
            <th>Product Income</th>
            <th></th>
          </tr>

          <% (@balances + @withdrawals).sort_by{|e| -(e.try(:end_at) || e.created_at).to_time.to_i }.each do |entry| %>
            <%= render entry %>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>