<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="<%= "active" if controller_active?(:profit_reports) %>">
        <%= link_to 'Profit Reports', admin_profit_reports_path %>
      </li>
      <li class="<%= "active" if controller_active?(:withdrawals) %>">
        <%= link_to 'Withdrawals', admin_withdrawals_path %>
      </li>
      <li class="<%= "active" if controller_active?(:apps) %>">
        <%= link_to 'Apps', admin_apps_path %>
      </li>
      <li class="<%= "active" if product_rankings_controller? %>">
        <%= link_to 'Products', admin_product_rankings_path %>
      </li>
      <li class="<%= "active" if controller_active?(:bounties) %>">
        <%= link_to 'Bounties', admin_bounties_path %>
      </li>
      <li class="<%= "active" if controller_active?(:pitch_week_applications) %>">
        <%= link_to 'Pitch Week', admin_pitch_week_applications_path %>
      </li>
      <li class="<%= "active" if controller_active?(:newsletters) %>">
        <%= link_to 'Newsletters', admin_newsletters_path %>
      </li>
      <li class="<%= "active" if controller_active?(:users) %>">
        <%= link_to 'Users', admin_users_path %>
      </li>
      <li class="<%= "active" if controller_active?(:leaderboard) %>">
        <%= link_to 'Leaderboard', admin_leaderboard_index_path %>
      </li>
      <li class="<%= "active" if controller_active?(:bitcoin) %>">
        <%= link_to 'Bitcoin', '/admin/bitcoin' %>
      </li>
      <li class="<%= "active" if controller_active?(:karma) %>">
        <%= link_to 'Karma', '/admin/karma' %>
      </li>
      <li class="<%= "active" if controller_active?(:karmahistory) %>">
        <%= link_to 'Karma History', '/admin/karmahistory' %>
      </li>
      <li class="<%= "active" if controller_active?(:user_books) %>">
        <%= link_to 'User Books', '/admin/user_books' %>
      </li>
      <li class="<%= "active" if controller_active?(:ownership) %>">
        <%= link_to 'Ownership', '/admin/ownership' %>
      </li>
      <li class="<%= "active" if controller_active?(:asset_history) %>">
        <%= link_to 'Asset History', '/admin/asset_history' %>
      </li>
      <li class="<%= "active" if controller_active?(:tags) %>">
        <%= link_to 'Tags', '/admin/tags' %>
      </li>
      <li>
        <%= link_to 'Sidekiq', '/admin/sidekiq' %>
      </li>
      <li>
        <%= link_to 'Split', '/admin/split' %>
      </li>
    </ul>
  </div>
</div>
