<% title 'Assembly is a community of crowd-made startups' %>

<%= render 'shared/navbar' %>

<div class="page page-with-header page-home">

  <div class="block block-inverted block-image-bg">
    <div class="container">
      <h1>Assembly is a global community of <em class="inline-serif">crowd-made</em> startups.</h1>

      <div class="row" style="padding: 24px 0">
        <div class="col-xs-12">
          <div class="section" style="margin-bottom: 36px;">
            <div class="row">
              <div class="col-xs-3">
                <a href="<%= product_path('helpful') %>" class="card card-sm card-colored card-p\roduct product-helpful">
                  <div class="card-hero" style="background-image: url('http://cl.ly/image/173v2r04391P/Screen%20Shot%202014-05-10%20at%209.47.51%20AM.png');"></div>
                  <div class="card-body">
                    <div class="summary">
                      <div class="summary-target">
                        Support comes from people, not software
                      </div>
                      <p class="summary-name omega">
                        Helpful
                      </p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xs-3">
                <a href="<%= product_path('helpful') %>" class="card card-sm card-colored card-p\roduct product-family-table">
                  <div class="card-hero" style="background-image: url('http://f.cl.ly/items/3c3E0P371c2f3D1z3z3n/familytable.jpg');"></div>
                  <div class="card-body">
                    <div class="summary">
                      <div class="summary-target">
                        One place to organize the whole family
                      </div>
                      <p class="summary-name omega">
                        Family Table
                      </p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xs-3">
                <a href="<%= product_path('helpful') %>" class="card card-sm card-colored card-p\roduct product-buckets">
                  <div class="card-hero" style="background-image: url('http://f.cl.ly/items/3f402s282b3N201g3p3H/Logo.png');"></div>
                  <div class="card-body">
                    <div class="summary">
                      <div class="summary-target">
                        Manage content better
                      </div>
                      <p class="summary-name omega">
                        Buckets
                      </p>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-xs-3">
                <a href="<%= product_path('helpful') %>" class="card card-sm card-colored card-p\roduct product-really-good-emails">
                  <div class="card-hero" style="background-image: url('http://cl.ly/image/1Z1a1N450G43/Screen%20Shot%202014-05-09%20at%201.02.18%20PM.png');"></div>
                  <div class="card-body">
                    <div class="summary">
                      <div class="summary-target">
                        The best Showcase of Product Emails
                      </div>
                      <p class="summary-name omega">
                        Really Good Emails
                      </p>
                    </div>
                  </div>
                </a>
              </div>

            </div><!-- .row -->

            <figure class="figure-inverted" style="margin-top: 30px;">Four of many products currently being built collaboratively on Assembly. <a href="<%= discover_path %>">Explore more products &rarr;</a></figure>

          </div><!-- .section -->

        </div><!-- .col-* -->
      </div><!-- .row -->

      <p class="lead">A <em class="inline-serif">crowd-made</em> startup is a software product built and owned by its makers, together. Everyone can make an impact, and success is shared equitably. Without the limitations of geography, time, and logistics, a crowd-made startup connects talented minds to build great products.</p>
    </div><!-- .container -->
  </div><!-- .block -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="section section-r\uled" style="margin-bottom: 64px;">
          <h2 class="text-center">Build differently</h2>

          <div class="row">
            <div class="col-xs-4 text-right" style="margin-top: 20px;">
              <h6>Traditional companies</h6>
              <ul class="list-unstyled list-ruled text-sans">
                <li>Owned by investors and founders</li>
                <li>Complex organizational structure</li>
                <li>Most work happens in the office,<br>during the day</li>
                <li>Employment contracts</li>
              </ul>
            </div>

            <div class="col-xs-4">
              <div class="card card-lg text-center">
                <div class="card-body">
                  <h6 class="text-serif">Assembly startups</h6>
                  <ul class="list-unstyled list-ruled text-success omega">
                    <li>Owned by everyone</li>
                    <li>Everyone does the work they do best</li>
                    <li>Products are built around-the-clock by distributed teams</li>
                    <li>Revenue is split equitable between contributors</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-xs-4 text-cente\r" style="margin-top: 20px;">
              <h6>Side projects</h6>
              <ul class="list-unstyled list-ruled text-sans">
                <li>Owned by their maker</li>
                <li>One-person team</li>
                <li>Work happens at home, on nights<br>and weekends</li>
                <li>Revenue is rare</li>
              </ul>
            </div>
          </div>

          <!-- <hr style="margin: 36px 0;">
          <p class="lead text-center omega">The internet has broken barriers and leveled the playing field across industries. Assembly aims to accelerate that shift and connect talented people around the world to make an impact together. Since we see this as a better way to build a company, we’re also building Assembly openly and transparently on Assembly. <a href="#">Check out the project &rarr;</a></p> -->
        </div>

      </div><!-- .col-* -->
    </div><!-- .row -->

  </div><!-- .container -->

  <div class="block block-colored block-bordered" style="margin-bottom: 48px;">
    <div class="container">
      <div class="row">
        <h3 class="col-xs-8 alpha omega text-muted" style="margin-top: 4px;"><strong>Join Assembly.</strong> It takes less than a minute.</h3>
        <div class="col-xs-4">
          <a class="btn btn-success btn-block" href="<%= new_user_registration_path %>">Join our community of makers</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="section">
      <h2 class="text-center">Build transparently</h2>

      <div class="row" style="margin-bottom: 64px;">
        <div class="col-xs-5 col-xs-offset-1">
          <p class="omega">The internet has broken barriers and leveled the playing field across industries. Assembly aims to accelerate that shift and connect talented people around the world to make an impact together.</p>
        </div>
        <div class="col-xs-5">
          <p class="omega">Since we see this as a better way to build a company, we’re also building Assembly openly and transparently on Assembly. <a href="<%= product_path('meta') %>">Check out the Assembly Meta project &rarr;</a></p>
        </div>
      </div>

      <div class="row seven-cols text-center list-team" style="margin-bottom: 16px">
        <div class="col-xs-1 team-person">
          <%= image_tag("/assets/team/matt.png", :class => "img-responsive img-circle") %>
          <h6>Matt Deiters<br><span>Founder &amp; CEO</span></h6>
        </div>

        <div class="col-xs-1 team-person">
          <%= image_tag("/assets/team/dave.png", :class => "img-responsive img-circle") %>
          <h6>Dave Newman<br><span>Founder &amp; CTO</span></h6>
        </div>

        <div class="col-xs-1 team-person">
          <%= image_tag("/assets/team/chris.png", :class => "img-responsive img-circle") %>
          <h6>Chris Lloyd<br><span>Founder</span></h6>
        </div>

        <div class="col-xs-1 team-person">
          <%= image_tag("/assets/team/jesse.png", :class => "img-responsive img-circle") %>
          <h6>Jesse Dodds<br><span>Founding Designer</span></h6>
        </div>

        <div class="col-xs-1 team-person">
          <%= image_tag("/assets/team/patrick.png", :class => "img-responsive img-circle") %>
          <h6>Patrick Van Stee<br><span>Engineer</span></h6>
        </div>

        <div class="col-xs-1 team-person">
          <%= image_tag("/assets/team/austin.png", :class => "img-responsive img-circle") %>
          <h6>Austin Smith<br><span>Marketing Lead</span></h6>
        </div>

        <div class="col-xs-1 team-person">
          <%= image_tag("/assets/team/pletcher.png", :class => "img-responsive img-circle") %>
          <h6>Charles Pletcher<br><span>Engineer</span></h6>
        </div>

      </div>

      <figure style="margin-bottom: 36px;">The team building Assembly.</figure>

    </div>
  </div>

  <!-- <div class="block block-bordered" style="margin-bottom: 36px;">
    <div class="container">
      <div class="row">
        <div class="col-xs-8">

        </div>

        <div class="col-xs-4">

        </div>
    </div>
  </div> -->

</div><!-- .page -->

<%= render 'shared/footer' %>
