<% title 'Welcome to Assembly' %>

<%= render 'shared/navbar' %>

<div class="page page-home">
  <div class="header header-inverted text-serif">
    <div class="container">
      <div class="row">
        <center class="col-xs-10 col-xs-push-1">
          <h1 class="alpha"><strong>Assembly is a worldwide community of crowd-made products and their makers.</strong></h1>
          <div class="row">
            <p class="col-xs-10 col-xs-push-1 text-large omega">A crowd-made product is built and owned by it's makers, together. Everyone can make an impact, and both success and profit are shared equitably. A crowd-made product brings talented minds together to solve tough problems – but frees makers from the normal limitations of geography, a full-time commitment, and and business logistics.</p>
          </div>
        </center>
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .header -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section">
          <h4>Assembly is different</h4>
          <div class="row">
            <div class="col-xs-5">
              <h6>Traditional companies</h6>
              <ul class="list-none">
                <li>Top-down control and ownership</li>
                <li>Rigid organizational structure</li>
                <li>Work typically happens 9&ndash;5, in the office</li>
                <li>Employees earn salary and bonuses</li>
              </ul>
            </div>
            <div class="col-xs-7">
              <h6>Assembly Startups</h6>
              <ul class="list-none">
                <li>Community control and ownership</li>
                <li>Everyone has a say</li>
                <li>Teams are globally distributed and work when they choose</li>
                <li>Contributors earn ownership that translates to a percentage of all future revenue including acquisitions</li>
              </ul>
            </div>
          </div><!-- .row -->
          <p class="lead text-sans">Together, we can work harder and build better software. As we learn together and challenge one another, we’re also maximizing serendipitous interactions between talented people. It’s a new way of looking at entrepreneurship.</p>
        </div><!-- .section -->

        <div class="section">
          <h4>Assembly startups being build</h4>
          <div class="row">
            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-colored product-helpful">
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      Support comes from people, not software
                    </div>
                    <p class="summary-name omega">
                      Helpful
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-colored product-helpful">
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      Support comes from people, not software
                    </div>
                    <p class="summary-name omega">
                      Helpful
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-colored product-helpful">
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      Support comes from people, not software
                    </div>
                    <p class="summary-name omega">
                      Helpful
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-colored product-helpful">
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      Support comes from people, not software
                    </div>
                    <p class="summary-name omega">
                      Helpful
                    </p>
                  </div>
                </div>
              </a>
            </div>

          </div><!-- .row -->
        </div><!-- .section -->

        <div class="section">
          <h4>Work with amazing people</h4>

        </div><!-- .section -->

      </div><!-- .col-* -->
    </div><!-- .row -->
  </div><!-- .container -->


</div><!-- .page -->

<%= render 'shared/footer' %>
