<% title 'Welcome to Assembly' %>

<%= render 'shared/navbar' %>

<div class="page page-with-header page-home">

  <div class="block block-inverted block-image-bg">
    <div class="container">
      <div class="row">
        <h1 class="col-xs-12">Assembly is a global community of <em class="inline-serif">crowd-made</em> startups.</h1>
      </div><!-- .row -->
      <p class="lead">A <em class="inline-serif">crowd-made</em> startup is a software product built and owned by its makers, together. Everyone can make an impact, and success is shared equitably. Without the limitations of geography, time, and logistics, a crowd-made startup connects talented minds to build great products.</p>
    </div><!-- .container -->
  </div><!-- .block -->

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="section section-rule\d" style="margin-top: 3\6px;">
          <h3 class="Text-cente">What's brewing</h3>
          <div class="row">
            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-product product-helpful">
                <div class="card-hero" style="background-image: url('http://cl.ly/image/173v2r04391P/Screen%20Shot%202014-05-10%20at%209.47.51%20AM.png');"></div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      Support comes from people, not software
                    </div>
                    <p class="summary-name omega">
                      Helpful
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-product product-family-table">
                <div class="card-hero" style="background-image: url('http://f.cl.ly/items/3c3E0P371c2f3D1z3z3n/familytable.jpg');"></div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      One place to organize the whole family
                    </div>
                    <p class="summary-name omega">
                      Family Table
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-product product-buckets">
                <div class="card-hero" style="background-image: url('http://f.cl.ly/items/3f402s282b3N201g3p3H/Logo.png');"></div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      Manage content better
                    </div>
                    <p class="summary-name omega">
                      Buckets
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-product product-really-good-emails">
                <div class="card-hero" style="background-image: url('http://cl.ly/image/1Z1a1N450G43/Screen%20Shot%202014-05-09%20at%201.02.18%20PM.png');"></div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      The best Showcase of Product Emails
                    </div>
                    <p class="summary-name omega">
                      Really Good Emails
                    </p>
                  </div>
                </div>
              </a>
            </div>

          </div><!-- .row -->
        </div><!-- .section -->

      </div><!-- .col-* -->
    </div><!-- .row -->
  </div><!-- .container -->

  <div class="block block-colored block-bordered" style="margin-bottom: 36px;">
    <div class="container">
      <p class="lead omega">Together, we can work harder and build better software. As we learn together and challenge one another, we’re also maximizing serendipitous interactions between talented people. It’s a new way of looking at entrepreneurship.</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="section">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="text-center">Work differently</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 text-right" style="margin-top: 20px;">
              <h6 class="text-sans text-mute\d">Traditional companies</h6>
              <ul class="list-unstyled list-ruled text-sans">
                <li>Owned by investors and founders</li>
                <li>Complex organizational structure</li>
                <li>Most work happens in the office, during the day</li>
                <li>Employment contracts</li>
              </ul>
            </div>
            <div class="col-xs-4">
              <div class="card card-color\ed card-lg text-center">
                <div class="card-body">
                  <h6 class="text-sans text-mute\d">Assembly startups</h6>
                  <ul class="list-unstyled list-ruled t\ext-serif omega">
                    <li>Owned by everyone</li>
                    <li>Everyone does the work they do best</li>
                    <li>Products are built around-the-clock by distributed teams, on their own schedules</li>
                    <li>Revenue is split equitable between contributors</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-4 text-cen\ter" style="margin-top: 20px;">
              <h6 class="text-sans text-mute\d">Side projects</h6>
              <ul class="list-unstyled list-ruled text-sans">
                <li>Owned by their maker</li>
                <li>One-person team</li>
                <li>Work happens at home, on nights and weekends</li>
                <li>Revenue is rare</li>
              </ul>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <h5 class="text-center text-large">Magic happens when we work together. We’re smarter and more driven. We move faster, think bigger, and go further.</h5>
            </div>
          </div>
        </div>

      </div><!-- .col-* -->
    </div><!-- .row -->
  </div><!-- .container -->


</div><!-- .page -->

<%= render 'shared/footer' %>
