<% title 'Welcome to Assembly' %>

<%= render 'shared/navbar' %>

<div class="page page-with-header page-home">
  <div class="container cue-container fixed-bottom" style="z-index: 1;">
    <center class="cue">
      Scroll down
      <i class="icon icon-arrow-down"></i>
      to see more
    </center>
  </div>

  <div class="block block-inverted block-image-bg">
    <div class="container">
      <div class="row">
        <h1 class="col-xs-9">Assembly is a global community of <em class="text-serif">crowd-made</em> startups.</h1>
      </div><!-- .row -->
      <p class="lead">A <strong>crowd-made</strong> startup is a software product built and owned by its makers, together. Everyone can make an impact, and success is shared equitably. Without the limitations of geography, time, and logistics, a crowd-made startup connects talented minds to build great products.</p>
    </div><!-- .container -->
  </div><!-- .block -->



  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <!-- <div class="section">
          <h4>Assembly is different</h4>
          <div class="row">
            <div class="col-xs-5">
              <h6>Traditional companies</h6>
              <ul class="list-none">
                <li>Top-down control and ownership</li>
                <li>Rigid organizational structure</li>
                <li>Work typically happens 9&ndash;5, in the office</li>
                <li>Employees earn salary and bonuses</li>
              </ul>
            </div>
            <div class="col-xs-7">
              <h6>Assembly Startups</h6>
              <ul class="list-none">
                <li>Community control and ownership</li>
                <li>Everyone has a say</li>
                <li>Teams are globally distributed and work when they choose</li>
                <li>Contributors earn ownership that translates to a percentage of all future revenue including acquisitions</li>
              </ul>
            </div>
          </div>
          <p class="lead text-sans">Together, we can work harder and build better software. As we learn together and challenge one another, we’re also maximizing serendipitous interactions between talented people. It’s a new way of looking at entrepreneurship.</p>
        </div> -->

        <div class="section">
          <h3>Startups <span>currently being built</span></h3>
          <div class="row">
            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-col\ored product-helpful">
                <div class="card-hero" style="background-image: url('http://cl.ly/image/173v2r04391P/Screen%20Shot%202014-05-10%20at%209.47.51%20AM.png');"></div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      Support comes from people, not software
                    </div>
                    <p class="summary-name omega">
                      Helpful
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-col\ored product-family-table">
                <div class="card-hero" style="background-image: url('http://f.cl.ly/items/3c3E0P371c2f3D1z3z3n/familytable.jpg');"></div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      One place to organize the whole family
                    </div>
                    <p class="summary-name omega">
                      Family Table
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-co\lored product-buckets">
                <div class="card-hero" style="background-image: url('http://f.cl.ly/items/3f402s282b3N201g3p3H/Logo.png');"></div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target" style="min-height: 48px;">
                      Manage content better
                    </div>
                    <p class="summary-name omega">
                      Buckets
                    </p>
                  </div>
                </div>
              </a>
            </div>

            <div class="col-xs-3">
              <a href="<%= product_path('helpful') %>" class="card card-sm card-col\ored product-really-good-emails">
                <div class="card-hero" style="background-image: url('http://cl.ly/image/1Z1a1N450G43/Screen%20Shot%202014-05-09%20at%201.02.18%20PM.png');"></div>
                <div class="card-body">
                  <div class="summary">
                    <div class="summary-target">
                      The best Showcase of Product Emails
                    </div>
                    <p class="summary-name omega">
                      Really Good Emails
                    </p>
                  </div>
                </div>
              </a>
            </div>

          </div><!-- .row -->
        </div><!-- .section -->

        <!-- <div class="section">
          <h4>Work with amazing people</h4>

        </div><!-- .section -->

      </div><!-- .col-* -->
    </div><!-- .row -->
  </div><!-- .container -->


</div><!-- .page -->

<%= render 'shared/footer' %>
