<% title 'Teams', @product.name %>
<% activate_nav! :subnav_teams %>

<%= render 'shared/navbar' %>
<%= render 'products/navbar' %>

<div class="page">
  <div class="container">
    <%= render 'products/status_message' %>

    <div class="row">

      <div class="col-md-7 col-xs-7">
        <div class="page-header">
          <h2 class="page-header-title">Teams</h2>
        </div>

        <!-- Core Team -->
        <h3><strong>Core Team</strong></h3>
        <p style="margin-bottom: 24px">Core Team members are stewards for the product, and set the direction and culture. They award and promote tasks, and push accepted work to code repositories.</p>

        <ul class="list-inline">
          <% @core_team.each do |user|%>
            <li style="margin-bottom: 13px;">
              <%=link_to user_path(user) do %>
                <img class="img-circle" src="<%= user.avatar.url(60) %>" width="30" height="30" alt="<%= user.username %>" />
              <% end %>
            </li>
          <% end %>
        </ul>

        <hr style='margin-bottom: 38px;'>


        <!-- Other Teams -->
        <% @product_jobs.each do |job| %>

          <h3>
            <span class="pull-right">
              <% if job.has_role?(@current_user)%>
                <%= link_to "Leave Team", product_job_part_path(@product.slug, job.slug), class: %w(btn btn-default btn-sm), :action => "post" %>
              <% else %>
                <%= link_to "Join Team", product_job_join_path(@product.slug, job.slug), class: %w(btn btn-primary btn-sm), :action => "post" %>
              <% end %>
            </span>

            <strong><%=job.category %></strong>
          </h3>
          <p style="margin-bottom: 24px"><%=job.description%></p>

          <ul class="list-inline">
            <% job.product_roles.each do |roles|%>
            <%user = roles.user%>
              <li style="margin-bottom: 13px;">
                <%=link_to user_path(user) do %>
                  <img class="img-circle" src="<%= user.avatar.url(60) %>" width="30" height="30" alt="<%= user.username %>" />
                <% end %>
              </li>
            <% end %>
          </ul>

          <hr style='margin-bottom: 38px;'>

        <% end %>


        <!-- Watchers -->
        <h3><strong>Watchers</strong></h3>

        <ul class="list-inline">
          <% @watchers[0...33].each do |user|%>
            <li style="margin-bottom: 13px;">
              <%= link_to user_path(user) do %>
                <img class="avatar" src="<%= user.avatar.url(60) %>" width="30" height="30" alt="<%= user.username %>" />
              <% end %>
            </li>
          <% end %>
          <% if @watchers.count > 33 %>
            <li>
              and <%= @watchers.count - 33 %> more
            </li>
          <% end %>
        </ul>

      </div><!-- .col-md-7 -->

      <div class="col-md-3 col-xs-3 col-md-offset-2 col-xs-offset-2">
        <%= render 'products/sidebar' %>


        <% if @product.core_team?(current_user) %>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h6 class="panel-title">
                Create a New Team
              </h6>
            </div>
            <div class="panel-body">
              <%= form_for @product_job, class: 'form' do |f| %>
                <div class="form-group">
                  <%= f.label :category, class: 'form-label' %>
                  <%=f.text_field :category, class: 'form-control', placeholder: "Engineer, Design, Marketing, Sales, Etc" %>
                </div><!-- form-group -->

                <div class="form-group">
                  <%=f.label :description, :class => ["form-label"] %>
                  <%=f.text_area :description, placeholder: "Fill in a description of the job", class: 'form-control' %>
                </div><!-- form-group -->

                <%= f.submit "Create team", class: %w(btn btn-primary btn-sm) %>
              <% end %>
            </div><!-- .panel-body -->
          </div><!-- .panel -->
        <% end %>

      </div><!-- .col-3 -->

    </div><!-- .row -->

  </div><!-- .container -->
</div><!-- .page -->


<%= render 'shared/footer' %>
