<style>
  img { width: 50% }
</style>

<div class="row">
  <div class="col-md-1">
    Product
  </div>
  <div class="col-md-3">
    Task or Discussion
  </div>
  <div class="col-md-8">
    Comment Thread
  </div>
</div>

<% @comment_groups.each do |wip, comment_group| %>
  <hr>

  <div class="row">
    <div class="col-md-1">
      <strong><%=link_to wip.product.name, wip.product %></strong>
    </div>
    <div class="col-md-3">
      <strong><%=link_to wip.title, [wip.product, wip] %></strong>
      <br>
      (<%= pluralize(comment_group.size, 'comment', 'comments') %>)
    </div>
    <div class="col-md-8">
      <% comment_group.each do |comment| %>
        <strong>@<%= comment.user.username %></strong>
        <%= time_ago_in_words(comment.created_at) %> ago

        <%= markdown(comment.body) %>

        <% unless comment_group.last == comment %>
          <hr>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
