<div>
  <a href="<%= product_wip_path(bounty.product, bounty) %>">
    <strong><%= bounty.title %></strong>
  </a>
  <% if description = bounty.sanitized_description %>
    <p class="text-muted text-small omega"><%= description.truncate(220) %></p>
  <% end %>
</div>


<div class="clearfix small text-muted" style="margin-bottom: 15px">
  <div>
    <span class="text-warning">
      <span class="icon icon-app-coin"></span>
      <span class="js-coins"><%= number_with_delimiter(WipContracts.new(bounty, @auto_tip_contracts).earnable_cents.floor) %></span>
    </span>

    <% bounty.tags.map do |tag| %>
      &nbsp;
      <a class="small text-info" href="<%= product_wips_path(bounty.product, tag: tag.name) %>">
        #<%= tag.name.downcase %>
      </a>
    <% end %>

  </div>
</div>