<div class="mt0 mb4 border-bottom sheet-header">
  <% if @user %>
    <%= render 'users/overview' %>
  <% end %>
</div>

<div class="sheet-body">
  <% if @assets.any? %>
    <table class="table table-hover table-responsive">
      <thead>
        <th>Product</th>
        <th>Amount</th>
      </thead>
      <tbody>
        <% @assets.each do |product, assets| %>
          <tr>
            <td>
              <a href="<%= product_path(product) %>">
                <img src="<%= firesize(product.poster_image.url, '30x30', 'g_center') %>" width="auto" class="app-icon" style="display: inline; margin-right: 5px;">
                <span class="hidden-xs"><%= product.name %></span>
              </a>
            </td>
            <td>
              <%= assets.map(&:amount).reduce(:+) %> <span class="icon icon-app-coin yellow"></span>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% if @user.wallet_public_address %>
      <div class="container">
        <a href="<%= @user.public_address_url %>">View raw Coins allocation data</a>
      </div>
    <% end %>
  <% else %>
    <div class="well well-lg dotted">
      <p class="centered">
        <% if current_user && @user == current_user %>
          It looks like you haven't earned any Assembly Coins yet. Check out the <a href="<%= product_path(Product.find_by_slug('assemblycoins')) %>">Assets project</a> to earn your first coins.
        <% else %>
          It looks like <%= @user.short_name %> hasn't earned any Assembly Coins yet.
        <% end %>
      </p>
    </div>
  <% end %>
</div>
