<div class="bg-white border rounded mb2">
  <div class="center p3">

    <div class="mx-auto mb2" style="width:120px">
      <%= avatar_tag(user, 120) %>
    </div>

    <h3 class="black mt0 mb0"><strong><%= user.username %></strong></h3>

    <% if user.location? %>
      <div class="h6 gray-2 mt0 mb0"><%= user.location %></div>
    <% end %>
  </div>

  <% if user.bio? %>
    <div class="p3 center gray-1 border-top">
      <%= react_component 'Markdown', content: markdown(user.bio), normalized: true %>
    </div>
  <% end %>

  <div class="h6 mt0 mb0 center">

    <!-- Staff -->
    <% if user.staff? %>
      <span class="block px3 py2 border-top gray-2" title="Assembly Staff">
        <%= inline_react_component 'Icon', icon: 'coffee' %>
        Assembly Staff
      </span>
    <% end %>

    <!-- Twitter -->
    <% if user.twitter_connected? %>
      <a class="block px3 py2 border-top gray-2" href="<%= user.twitter_url %>" target="_blank" title="@<%= @user.twitter_nickname %>">
        <%= inline_react_component 'Icon', icon: 'twitter' %>
        <%= user.twitter_nickname %>
      </a>
    <% elsif signed_in? && @user == current_user %>
      <a class="block px3 py2 border-top gray-2" href="<%= user_omniauth_authorize_path(:twitter) %>">
        <%= inline_react_component 'Icon', icon: 'twitter' %>
        Connect Twitter account
      </a>
    <% end %>

    <!-- GitBub -->
    <% if user.github_connected? %>
      <a class="block px3 py2 border-top gray-2" href="<%= user.github_url %>" title="<%= @user.github_login %>" target="_blank">
        <%= inline_react_component 'Icon', icon: 'github' %>
        <%= @user.github_login %>
      </a>
    <% elsif signed_in? && @user == current_user %>
      <a class="block px3 py2 border-top gray-2" href="<%= user_omniauth_authorize_path(:github) %>">
        <%= inline_react_component 'Icon', icon: 'github' %>
        Connect GitHub account
      </a>
    <% end %>

    <% if current_user %>
      <% if current_user.is_staff? %>
        <div class="block border-top gray-2 py2">
          <span class="block">Bitcoin Assets Address:</span>
          <%= link_to user.wallet_public_address, user.coinprism_url %>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

<%= link_to "Edit profile", edit_user_path, class: "btn btn-default btn-block mb2" if can?(:update, @user) %>

<%= react_component 'ProfileProductBadges' %>

<% if @user.products.any? %>
  <h6 class="mt4">Products started</h6>
  <div class="clearfix">
    <% @user.products.visible_to(current_user).each do |product| %>
      <div class="left mr1 mt1" data-toggle="tooltip" title="<%= product.name %>">
        <a href="<%= product_path(product) %>">
          <div class="vignette vignette--rounded vignette--dark" style="max-width:35px;max-height:35px;">
            <%= firesize_img product.logo_url, 70, 70, 'g_center' %>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<% end %>

<% if @user.ideas.any? %>
  <h6 class="mt4">Ideas proposed</h6>
  <div class="clearfix">
    <% @user.ideas.where(flagged_at: nil).order(created_at: :desc).each do |idea| %>
      <div class="py1">
        <a href="<%= idea_path(idea) %>" class="gray-2">
          <%= idea.title %>
        </a>
      </div>
    <% end %>
  </div>
<% end %>
