<div class="panel panel-default">
  <div class="panel-body">

    <center>
      <br>
      <%= avatar_tag(user, 120) %>

      <h3 class="text-success"><strong><%= user.username %></strong></h3>

      <% if user.name? %>
        <h6 class="text-muted alpha"><%= user.location %></h6>
      <% end %>
    </center>
  </div>
  <hr class="alpha omega">
  <div class="panel-body">
    <% if user.bio? %>
      <center class="markdown-normalized text-small">
        <%= markdown(user.bio) %>
      </center>
    <% end %>
  </div>
  <div class="list-group small">

    <% if user.twitter_connected? %>
      <a class="list-group-item" href="<%= user.twitter_url %>" title="@<%= @user.twitter_nickname %>">
        <span class="icon icon-twitter"></span>
        <strong><%= user.twitter_nickname %></strong>
      </a>
    <% elsif signed_in? && @user == current_user %>
      <a class="list-group-item" href="<%= user_omniauth_authorize_path(:twitter) %>">
        <span class="icon icon-twitter"></span>
        <strong>Connect Twitter account</strong>
      </a>
    <% end %>

    <% if user.github_connected? %>
      <a class="list-group-item" href="<%= user.github_url %>" title="<%= @user.github_login %>">
        <span class="icon icon-github"></span>
        <strong><%= @user.github_login %></strong>
      </a>
    <% elsif signed_in? && @user == current_user %>
      <a class="list-group-item" href="<%= user_omniauth_authorize_path(:github) %>">
        <span class="icon icon-github"></span>
        <strong>Connect GitHub account</strong>
      </a>
    <% end %>
  </div><!-- .list-group -->
</div>
