<div class="full-width mb2 center flex flex-around">
  <div class="inline-block">
    <div class="h2 bold">
      <% if @show_karma %>
      <%= "<a href=".html_safe %>
      "<%= user_karma_path(@user)%>"
      <%= ">".html_safe %>
      <%= number_with_delimiter(@user.karma_total) %>
      <%= "</a>".html_safe %>
      <% else %>
      <%= number_with_delimiter(@user.count_contributions) %>
      <% end %>
    </div>
    <span class="gray-2 block">
      <% if @show_karma %>
      <%= "Karma" %>
      <% else %>
      <%= "Contributions" %>
      <% end %>
    </span>
  </div>

  <div class="inline-block">
    <div class="h2 bold">
      <%= number_with_delimiter @user.sum_app_cents %>
    </div>
    <span class="gray-2 block">
      App Coins
    </span>
  </div>

</div>
