<div class="stat-group" style="margin-bottom: 36px;">
  <div class="stat">
    <div class="stat-value">
      <% if @show_karma %>
      <%= number_with_delimiter(@user.karma_total) %>
      <% else %>
      <%= number_with_delimiter(@user.count_contributions) %>
      <% end %>
    </div>
    <div class="stat-title">
      <% if @show_karma %>
      <%= "Karma" %>
      <% else %>
      <%= "Contributions" %>
      <% end %>
    </div>
  </div>

  <div class="stat">
    <div class="stat-value">
      <%= number_with_delimiter @user.sum_app_cents %>
    </div>
    <div class="stat-title">
      App Coins
    </div>
  </div>


  <div class="stat">
    <a href="<%= user_assets_path(@user)%>">
      <div class="stat-value">
        <%= number_with_delimiter @user.sum_assembly_assets %>
      </div>
      <div class="stat-title">
        Assembly Coins
      </div>
    </a>
  </div>

</div>
