<% title @user.username %>
<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 hidden-xs">

        <%= render 'users/card', user: @user %>

        <% if Rails.env.development? || (signed_in? && current_user.staff?) %>
          <dl class="well well-sm small hidden-xs">
            <dt>auth token</dt>
            <dd><%= @user.authentication_token %> - <%=link_to('impersonate', "/discover?auth_token=#{@user.authentication_token}")%></dd>
            <dt>email</dt>
            <%= @user.email %>
          </dl>
        <% end %>

      </div>

      <div class="col-sm-9 col-xs-12">
        <%= render 'users/assets' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
