<% title 'Settings' %>
<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-3">
        <%= render 'users/card', user: @user %>
      </div>

      <div class="col-md-9 col-xs-9">
        <div class="page-header">
          <h2 class="page-header-title">Profile Settings</h2>
        </div>

        <%= form_for @user, html: {class: 'form form-horizontal'} do |f| %>
          <div class="form-group">
            <%= f.label :username, class: 'control-label col-xs-2' %>
            <div class="col-xs-8">
              <%= f.text_field :username, autocomplete: 'off', class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :location, class: 'control-label col-xs-2' %>
            <div class="col-xs-8">
              <%= f.text_field :location, autocomplete: 'off', class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :email, class: 'control-label col-xs-2' %>
            <div class="col-xs-8">
              <%= f.text_area :email, placeholder: 'Email', autocomplete: 'off', rows: 1, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :bio, class: 'control-label col-xs-2' %>
            <div class="col-xs-8">
              <%= f.text_area :bio, placeholder: 'Short bio', autocomplete: 'off', rows: 4, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2">
              Digests
            </label>

            <div class="col-xs-10">
              <div class="radio">
                <%= f.label :mail_preference_immediate do %>
                  <%= f.radio_button :mail_preference, :immediate %>
                  Immediately when things happen
                <% end %>
              </div>

              <div class="radio">
                <%= f.label :mail_preference_daily do %>
                  <%= f.radio_button :mail_preference, :daily %>
                  As a daily digest
                <% end %>
              </div>

              <div class="radio">
                <%= f.label :mail_preference_never do %>
                  <%= f.radio_button :mail_preference, :never %>
                  Never
                <% end %>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2">Payment</label>
            <div class="col-xs-10">
              <a class="btn btn-default" href="<%= users_payment_option_path %>">
                Update bank details
              </a>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-xs-2">Tax Info</label>
            <div class="col-xs-10">
              <a class="btn btn-default" href="/settings/tax_info">
                Update Tax Info
              </a>
            </div>
          </div>


          <div class="form-group">
            <%= f.label :password, 'Password', class: 'control-label col-xs-2' %>
            <div class="col-xs-8">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, 'Confirm', class: 'control-label col-xs-2' %>
            <div class="col-xs-8">
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
          </div>

          <div class="form-actions">
            <%= f.submit 'Update profile', class: %w(btn btn-primary) %>
          </div>

        <% end %>



      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
