<% title @user.username %>
<%= track_engaged 'user' %>
<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">

    <div class="row">
      <div class="col-sm-3 col-xs-12">

        <%= render 'users/card', user: @user %>

        <% if can?(:update, @user) %>
          <a class="btn btn-default btn-block" href="<%= edit_user_path %>">
            Edit Profile
          </a>
          <br>
        <% end %>

        <% if Rails.env.development? || staff? %>
          <div class="well well-sm small">
            <div><%= @user.email %></div>
            <div>last request
              <%= time_ago_in_words(@user.last_request_at) %> ago</div>
            <div><%=link_to('Impersonate user', "/discover?auth_token=#{@user.authentication_token}")%></div>
            <div>
              <% if @user.flagged_at %>
                <a href="<%= unflag_user_path(@user) %>" data-method="patch">Unflag</a>
              <% else %>
                <a href="<%= flag_user_path(@user) %>" data-method="patch">Flag</a>
              <% end %>
            </div>
            <div>
              <% if @user.deleted_at %>
                Account removed <%= time_ago_in_words(@user.deleted_at) %> ago
              <% else %>
                <%= react_component 'ConfirmActionButton',
                              requireText: @user.username,
                              buttonLabel: 'Delete user account',
                              promptText: "This will delete everything! Type the user's username to confirm",
                              action: delete_account_user_path(@user) %>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>

      <div class="col-sm-9 col-xs-12">
        <div class="page-header sheet-header">
          <%= render 'users/overview' %>
        </div>

        <% if @products.present? %>
          <h2>Core team member of these products</h2>
          <div class="list-group list-group-breakout">
            <% @products.each do |product| %>
              <a class="list-group-item" href="<%= product_path(product) %>">
                <%= render 'products/chips/greenlit', product: product %>
              </a>
            <% end %>
          </div>
        <% end %>

        <h2>Bounties</h2>
        <%= render 'bounties/filtered' %>

        <% if staff? %>
        <h2>Analytics</h2>
        <div class="row">
          <div class="col-md-12">
            <h3>Radar graph</h3>
            <div id="radar-graph">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <table>
              <thead>
                <tr>
                  <th>Tag</th>
                  <th>%</th>
                </tr>
              </thead>
              <tbody>
            <% @clusters.each do |name, score| %>
              <tr>
                <td><%= name %></td>
                <td><%= ((score.nan? ? 0 : score) * 100).round(0) %></td>
              </tr>
            <% end %>
            </tbody>
            </table>
          </div>
        </div>

        <% content_for :javascript do %>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" type="text/javascript"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.js" type="text/javascript"></script>

          <script>
            $(document).ready(function() {
              var colorscale = d3.scale.category10();

              //Legend titles
              var LegendOptions = ['Smartphone','Tablet'];

              //Data
              var data = <%= @radar_data.to_json.html_safe %>

              //Options for the Radar chart, other than default
              var mycfg = {
                w: 500,
                h: 500,
                maxValue: 0.6,
                levels: 6,
                ExtraWidthX: 300
              }

              //Call function to draw the Radar chart
              //Will expect that data is in %'s
              UserRadar.draw("#radar-graph", data, mycfg);
            })
          </script>
        <% end %>

        <% end %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
