<% title @user.username %>
<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">

    <div class="col-md-3 col-xs-3">
      <%= render 'users/card', user: @user %>
      <% if can?(:update, @user) %>
        <!-- FIXME: This URL is a hack -->
        <a class="btn btn-default btn-block" href="<%= edit_user_path %>">
          Edit Profile
        </a>
        <br>
      <% end %>

      <% if Rails.env.development? || (signed_in? && current_user.staff?) %>
        <dl class="well well-sm small">
          <dt>auth token</dt>
          <dd><%= @user.authentication_token %> - <%=link_to('impersonate', "/discover?auth_token=#{@user.authentication_token}")%></dd>
          <dt>email</dt>
          <%= @user.email %>
        </dl>
      <% end %>
    </div>

    <div class="col-md-9 col-xs-9">

      <div class="stat-group" style="margin-bottom: 36px;">
        <div class="stat">
          <div class="stat-value">
            <%= number_with_delimiter(@user.count_contributions) %>
          </div>
          <div class="stat-title">
            Contributions
          </div>
        </div>

        <div class="stat">
          <div class="stat-value">
            <%= cents_to_coins(@user.sum_app_cents) %>
          </div>
          <div class="stat-title">
            App Coins
          </div>
        </div>

        <!-- <div class="stat">
          <div class="stat-value">
            <%= number_to_currency(0) %>
          </div>
          <div class="stat-title">
            Earned
          </div>
        </div> -->

      </div>

      <% if @contributions.any? %>

        <h6>Contributions</h6>

        <div class="list-group">
          <% @contributions.each do |contribution| %>
            <% product = contribution.product %>
            <a class="list-group-item" href="<%= product_path(product) %>">
              <div class="row">
                <div class="col-xs-2">
                  <%= image_tag(product.poster_image.url, class: 'img-rounded', width: '100%') %>
                </div>
                <div class="col-xs-10">
                  <div class="clearfix">
                    <p class="alpha omega text-primary pull-left" style="margin-bottom: 6px;">
                      <strong><%= product.name %></strong>
                    </p>

                    <ul class="list-piped omega small text-muted pull-right">
                      <% if product.for_profit? %>
                        <li>
                            <%= number_to_percentage(contribution.stake * 100, precision: 2, strip_insignificant_zeros: true) %> stake
                        </li>
                      <% end %>
                      <li>
                        <%= format_coins(product, contribution.cents, :tiny) %>
                      </li>
                    <ul>
                  </div>
                  <p class="text-serif alpha omega"><%= product.pitch %></p>
                </div>
              </div>
            </a>
          <% end %>
        </div><!-- .list-group -->
      <% end %>

      <% if @user.count_contributions == 0 &&  signed_in? && current_user == @user %>
        <hr>

        <div class="well">
          <%= image_tag 'null-states/profile@2x.png', width: 154, height: 38 %>
          <h3>Earn yourself some App Coins!</h3>
          <p>Find a product to help out and earn your first app coins. Permission isn’t required to contribute—jump in and help out in any way possible. At the end of every month the product's revenue is split with everyone that owns its coins.</p>

          <hr>

          <div class="row">
            <div class="col-xs-4">
              <a class="btn btn-primary btn-block" href="<%= discover_path %>">Discover Products</a>
            </div>
            <div class="col-xs-8 text-left small">
              Start earning coins by helping an existing app. Earn the most coins when you jump in early &amp; steer its direction.
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-xs-4">
              <a class="btn btn-default btn-block" href="<%= new_product_path %>">Start a Product</a>
            </div>
            <div class="col-xs-8 text-left small">
              Kickstart your own idea, have the community rally around it, and keep at least 5% of its earnings.
            </div>
          </div>

        </div>
      <% end %>

      <% if @stream_events.any? %>
        <h6>Activity</h6>
        <div class="timeline">
          <%= render @stream_events %>
          <% unless @stream_events.last_page? %>
            <%= render partial: 'more_button' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
