<% title @user.username %>
<%= track_engaged 'user' %>
<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">

    <div class="row">
      <div class="col-sm-3 col-xs-12">

        <%= render 'users/card', user: @user %>

        <% if Rails.env.development? || staff? %>
          <div class="well well-sm small mt4">
            <div><%= @user.email %></div>
            <div>last request
              <%= @user.last_request_at && time_ago_in_words(@user.last_request_at) %> ago</div>
            <div><%=link_to('Impersonate user', "/discover?auth_token=#{@user.authentication_token}")%></div>
            <div>
              <% if @user.flagged_at %>
                <a href="<%= unflag_user_path(@user) %>" data-method="patch">Unflag</a>
              <% else %>
                <a href="<%= flag_user_path(@user) %>" data-method="patch">Flag</a>
              <% end %>
            </div>
            <div>
              <% if @user.deleted_at %>
                Account removed <%= time_ago_in_words(@user.deleted_at) %> ago
              <% else %>
                <%= react_component 'ConfirmActionButton',
                              requireText: @user.username,
                              buttonLabel: 'Delete user account',
                              promptText: "This will delete everything! Type the user's username to confirm",
                              action: delete_account_user_path(@user) %>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>

      <div class="col-sm-9 col-xs-12">
        <%= react_component 'UserProfile', username: @user.username %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
