<% title @user.username %>
<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">

    <div class="row">
      <div class="col-sm-3 col-xs-12">

        <%= render 'users/card', user: @user %>

        <% if can?(:update, @user) %>
          <a class="btn btn-default btn-block" href="<%= edit_user_path %>">
            Edit Profile
          </a>
          <br>
        <% end %>

        <% if Rails.env.development? || (signed_in? && current_user.staff?) %>
          <dl class="well well-sm small">
            <dt>auth token</dt>
            <dd><%= @user.authentication_token %> - <%=link_to('impersonate', "/discover?auth_token=#{@user.authentication_token}")%></dd>
            <dt>email</dt>
            <%= @user.email %>
            <dt>last request</dt>
            <%= time_ago_in_words(@user.last_request_at) %> ago

          </dl>
        <% end %>

      </div>

      <div class="col-sm-9 col-xs-12">
        <div class="page-header sheet-header">
          <%= render 'users/overview' %>
        </div>

        <% if @products.present? %>
          <h2>Core team member of these products</h2>
          <div class="list-group list-group-breakout">
            <% @products.each do |product| %>
              <a class="list-group-item" href="<%= product_path(product) %>">
                <%= render 'products/chips/greenlit', product: product %>
              </a>
            <% end %>
          </div>
        <% end %>

        <h2>Bounties</h2>
        <%= render 'bounties/filtered' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
