<%= render 'shared/deprecated_navbar' %>

<div class="page">
  <br/>
  <br/>
  <div class="container">
    <% @products.each do |product, wips| %>
      <p style="margin-bottom:15px; clear:both">
        <strong><%= product.name %></strong>
      </p>
      <% wips.each do |wip, new_comments| %>
        <div style="font-size:13px;line-height:18px;color:#2B2F3E;">
          <p>
            <a href="<%= product_wip_url(product, wip) %>" style="font-weight:bold;color:#3B7FCC;text-decoration:underline;" ><%= wip.title %></a>
            <% if new_comments.size > 0 %>
              <br/><%= pluralize(wip.comments.size, 'comment') %> – <%= new_comments.size %> new
            <% else %>
              <br/>by <%= wip.user.username %>
            <% end %>
          </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
  <br/>
  <br/>

<%= render 'shared/deprecated_footer' %>
