<!-- <p class="text-center text-muted lead">
  <% if bounty.current_posting %>
    This is a publicly featured bounty
  <% else %>
    This bounty is only visible to <%= @product.name %> partners
  <% end %>
</p> -->

<div class="card">
  <div class="card-heading">
    <ul class="list-inline omega">
      <li>
        <div class="text-large alpha"
             data-react-class="BountyValuation"
             data-react-props="<%= {
               offersPath: api_product_bounty_offers_path(@product, bounty),
               product: { name: @product.name },
               contracts: bounty.contracts.as_json,
               offers: ActiveModel::ArraySerializer.new(bounty.active_offers).as_json,
               maxOffer: (6 * @product.average_bounty).round(-4),
               averageBounty: @product.average_bounty,
               value: bounty.value,
               open: bounty.open?
             }.to_json %>"
        ></div>
      </li>
      <li>
        <% if bounty.state == 'resolved' %>
          <span class="label label-info">DONE</span>
        <% elsif bounty.state == 'closed' %>
          <span class="label label-default">CLOSED</span>
        <% else %>
          <%= render partial: 'bounties/urgency', locals: { task: bounty } %>
        <% end %>
      </li>
      <li data-react-class="TagList"
          data-react-props="<%= {
            filterUrl: product_wips_path(@product),
            destination: true,
            tags: bounty.tags.map(&:name),
            url: product_wip_tag_path(@product, bounty)
          }.to_json %>">
      </li>
      <li class="text-muted">
        Created by
        <a class="text-stealth-link" href="<%= user_path(bounty.user) %>">@<%= bounty.user.username %></a>
        <%= time_ago_in_words(bounty.created_at) %> ago
      </li>
    </ul>

    <h1 class="alpha omega">
      <%= bounty.title %>
      <small style="font-size: 30px; color: #b4b4b4">
        #<%= @bounty.number %>
      </small>
    </h1>
  </div>

  <div class="card-body">
    <% if bounty.description.present? %>
      <div class="markdown markdown-content text-large">
        <%= product_markdown(bounty.product, bounty.description) %>
      </div>
    <% else %>
      <p class="large text-muted">(No description)</p>
    <% end %>
  </div>

  <div class="card-footer clearfix">
    <ul class="list-inline omega pull-left" style="padding-top: 4px">
      <% if current_user && current_user.staff? %>
        <li>
          <div data-react-class="ToggleButton"
               data-react-props="<%= {
                 bool: bounty.flagged?,
                 text: { true: 'Flagged', false: 'Unflagged' },
                 classes: { true: 'btn btn-sm btn-label', false: 'btn btn-sm btn-label' },
                 icon: 'flag',
                 href: { true: product_wip_unflag_path(bounty.product, bounty), false: product_wip_flag_path(bounty.product, bounty) }
              }.to_json %>">
          </div>
        </li>
      <% end %>
      <% if can?(:update, bounty) %>
        <li>
          <a href="<%= edit_product_wip_path(bounty.product, bounty) %>" class="btn btn-sm btn-label">
            <span class="icon icon-pencil icon-left"></span>
            Edit
          </a>
        </li>
      <% end %>
      <% if can?(:update, bounty) %>
        <li>
          <%= form_tag product_wip_comments_path(bounty.product, bounty), method: :post, class: %w(form new_event_comment) do %>
            <% if bounty.resolved? || bounty.closed? %>
              <%= button_tag name: 'event_comment[type]', value: 'Event::Reopen', type: 'submit', class: %w(btn btn-sm btn-label) do %>
                <span class="icon icon-check"></span>
                Reopen
              <% end %>
            <% else %>
              <%= button_tag name: 'event_comment[type]', value: 'Event::Close', type: 'submit', class: %w(btn btn-sm btn-label) do %>
                <span class="icon icon-close icon-left"></span>
                Close
              <% end %>
            <% end %>
          <% end %>
        </li>
      <% end %>
      <li>
        <div data-react-class="ToggleButton"
             data-react-props="<%= {
               bool: watching?(bounty),
               text: { true: 'Mute', false: 'Follow' },
               icon: 'volume-off',
               classes: { true: 'btn btn-label btn-sm', false: 'btn btn-label btn-sm' },
               href: { true: product_wip_mute_path(bounty.product, bounty.number), false: product_wip_watch_path(bounty.product, bounty.number) }
            }.to_json %>">
        </div>
      </li>
    </ul>

    <ul class="list-inline omega pull-right">
      <li>
        <div data-react-class="InviteFriendBounty" data-react-props="<%= {
            url: invites_path,
            invites: (@invites ? serialize_hash(@invites) : []),
          }.merge(TypeId.as_json(:via, bounty)).to_json %>">
        </div>
      </li>
      <li>
        <% if !bounty.assigned_to?(current_user) %>
          <a href="<%= product_wip_start_work_path(bounty.product, bounty, user: current_user) %>" data-method="patch" class="btn btn-success">
            Work on this bounty
          </a>
        <% else %>
          <a href="<%= product_wip_stop_work_path(bounty.product, bounty, user: current_user) %>" data-method="patch" class="btn btn-sm btn-danger">
            Abandon bounty
          </a>
        <% end %>
      </li>
    </ul>

  </div>
</div>
