<div class="page-header sheet-header">

  <!-- <div class="pull-right">
    <a class="btn btn-default btn-sm" href="<%= new_product_wip_path(bounty.product) %>">
      Create a bounty
    </a>
  </div> -->

  <h2 class="page-header-title">
    <%= bounty.title %>
    <small>#<%= bounty.number %></small>
  </h2>

  <div class="page-header-meta">

    <% if can?(:update, bounty) %>
      <div class="pull-right dropdown">
        <a href="#" id="bounty-other-actions-dropdown" data-toggle="dropdown">
          <span class="glyphicon glyphicon-cog"></span>
          <div class="sr-only">Other actions</div>
        </a>

        <ul class="dropdown-menu" role="menu" aria-labelledby="bounty-other-actions-dropdown">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="<%= edit_product_wip_path(bounty.product, bounty) %>">
              <span class="icon icon-pencil icon-left"></span>
              Edit Bounty
            </a>
          </li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" href="<%= product_task_to_discussion_path(bounty.product, bounty) %>" data-method="patch" data-confirm="Are you sure?">
              <span class="icon icon-arrow-right-circled icon-left"></span>
              Make discussion
            </a>
          </li>
        </ul>
      </div>
    <% end %>

    <ul class="list-inline omega">

      <li>
        <% case %>
        <% when bounty.state == 'open' || (bounty.state == 'reviewing' && bounty.workers.empty?) %>
          <span class="label label-success">OPEN</span>
        <% when bounty.workers.any? && (bounty.state != 'resolved') %>
          <span class="label label-default">IN PROGRESS</span>
        <% when bounty.state == 'resolved' %>
          <span class="label label-default">CLOSED</span>
        <% end %>
      </li>

      <li id="js-bounty-valuation">
        <script>
          React.renderComponent(BountyValuation(<%== {
            offersPath: api_product_bounty_offers_path(@product, bounty),
            product: { name: @product.name },
            contracts: bounty.contracts.as_json,
            offers: ActiveModel::ArraySerializer.new(@offers).as_json,
            maxOffer: (6 * @product.average_bounty).round(-4),
            averageBounty: @product.average_bounty,
            value: bounty.value,
            open: bounty.open?
          }.to_json %>), document.getElementById('js-bounty-valuation'));
        </script>
      </li>
      <li>
        Created
        <%= time_ago_in_words(bounty.created_at) %> ago by
        <a href="<%= user_path(bounty.user) %>">@<%= bounty.user.username %></a>
      </li>
      <li>
        <%= pluralize(bounty.comments.count, 'comment') %>
      </li>
    </ul>

  </div>
</div>
