<!-- <p class="text-center text-muted lead">
  <% if bounty.current_posting %>
    This is a publicly featured bounty
  <% else %>
    This bounty is only visible to <%= @product.name %> partners
  <% end %>
</p> -->

<div class="card">
  <div class="card-heading">
    <h3 class="alpha omega">
      <%= bounty.title %>
    </h3>

    <ul class="list-inline omega">
      <li>
        <div class="text-large alpha"
             data-react-class="BountyValuation"
             data-react-props="<%= {
               offersPath: api_product_bounty_offers_path(@product, bounty),
               product: { name: @product.name },
               contracts: bounty.contracts.as_json,
               offers: ActiveModel::ArraySerializer.new(bounty.active_offers).as_json,
               maxOffer: (6 * @product.average_bounty).round(-4),
               averageBounty: @product.average_bounty,
               value: bounty.value,
               open: bounty.open?
             }.to_json %>"
        ></div>
      </li>
      <li>
        <% if bounty.state == 'resolved' %>
          <span class="label label-info">DONE</span>
        <% elsif bounty.state == 'closed' %>
          <span class="label label-default">CLOSED</span>
        <% else %>
          <%= render partial: 'bounties/urgency', locals: { task: bounty } %>
        <% end %>
      </li>
      <li class="text-muted text-small">
        Created
        <%= time_ago_in_words(bounty.created_at) %> ago by
        <a class="text-stealth-link" href="<%= user_path(bounty.user) %>">@<%= bounty.user.username %></a>
      </li>
      <li data-react-class="TagList"
          data-react-props="<%= {
            filterUrl: product_wips_path(@product),
            destination: true,
            tags: bounty.tags.map(&:name),
            url: product_wip_tag_path(@product, @wip)
          }.to_json %>">
      </li>
    </ul>
  </div>

  <div class="card-body">
    <% if bounty.description.present? %>
      <div class="markdown markdown-content text-large">
        <%= product_markdown(bounty.product, bounty.description) %>
      </div>
    <% else %>
      <p class="large text-muted">(No description)</p>
    <% end %>


    <% if @product.core_team?(current_user) %>
      <br>
      <% workers = bounty.wip_workers %>
      <% if workers.any? %>
        <p class="text-muted">
          <%= workers.map(&:user).map {|user| user_link_username(user) }.to_sentence.html_safe %>
          started working on this bounty
          <time class="timestamp" dateTime="<%= workers.map(&:created_at).max.iso8601 %>"></time>.
        </p>
      <% else %>
        <p class="text-muted omega small">This bounty doesn't have anybody working on it. Jump in!</p>
      <% end %>
    <% end %>
  </div>

  <div class="card-footer">
    <ul class="list-inline omega pull-right">
      <% if can?(:update, bounty) %>
        <li class="dropdown">
          <button type="button" class="btn btn-link btn-sm" id="bounty-other-actions-dropdown" data-toggle="dropdown">
            <span class="glyphicon glyphicon-cog"></span>
            <div class="sr-only">Other actions</div>
          </button>

          <ul class="dropdown-menu" role="menu" aria-labelledby="bounty-other-actions-dropdown">
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="<%= edit_product_wip_path(bounty.product, bounty) %>">
                <span class="icon icon-pencil icon-left"></span>
                Edit Bounty
              </a>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>

    <ul class="list-inline omega">
      <li>
        <% if !bounty.assigned_to?(current_user) %>
          <a href="<%= product_wip_start_work_path(bounty.product, bounty, user: current_user) %>" data-method="patch" class="btn btn-sm btn-primary">
            Start bounty
          </a>
        <% else %>
          <a href="<%= product_wip_stop_work_path(bounty.product, bounty, user: current_user) %>" data-method="patch" class="btn btn-sm btn-danger">
            Abandon bounty
          </a>
        <% end %>
      </li>
      <li>
        <a href="#new-comment">Comment</a>
      </li>
      <li>
        <div data-react-class="InviteFriendBounty" data-react-props="<%= {
            url: invites_path,
            invites: (@invites ? serialize_hash(@invites) : []),
          }.merge(TypeId.as_json(:via, bounty)).to_json %>">
        </div>
      </li>
      <li>
        <div data-react-class="ToggleButton"
             data-react-props="<%= {
               bool: watching?(@wip),
               text: { true: 'Mute', false: 'Follow' },
               classes: { true: 'btn btn-link btn-sm', false: 'btn btn-link btn-sm' },
               href: { true: product_wip_mute_path(@wip.product, @wip.number), false: product_wip_watch_path(@wip.product, @wip.number) }
            }.to_json %>">
        </div>
      </li>
      <% if current_user && current_user.staff? %>
        <li>
          <div data-react-class="ToggleButton"
               data-react-props="<%= {
                 bool: bounty.flagged?,
                 text: { true: 'Flagged', false: 'Unflagged' },
                 classes: { true: 'btn btn-xs btn-danger', false: 'btn btn-xs btn-success' },
                 href: { true: product_wip_unflag_path(bounty.product, bounty), false: product_wip_flag_path(bounty.product, bounty) }
              }.to_json %>">
          </div>
        </li>
      <% end %>
    </ul>

  </div>
</div>
