<div class="bg-white rounded shadow mb2">
  <div class="p3">
    <div class="mb1 h4 mt0">
      <a href="<%= product_wip_path(bounty.product, bounty) %>">
        <%= bounty.title %>
        <span class="gray-2 ml1">#<%= bounty.number %></span>
      </a>
    </div>

    <div>
      <span class="mr2">
        <%= inline_react_component 'BountyValuation', {
          product: { name: bounty.product.name },
          url: product_wips_path(bounty.product),
          maxOffer: (6 * bounty.product.average_bounty).round(-4),
          averageBounty: bounty.product.average_bounty,
          coinsMinted: bounty.product.coins_minted,
          profitLastMonth: bounty.product.profit_last_month,
          steps: BountyGuidance::Valuations.suggestions(bounty.product)
        }.merge(BountySerializer.new(bounty, scope: current_user).as_json) %>
      </span>

      <span class="gray-2 mr2">
        <span class="sr-only">comments</span>
        <span class="fa fa-comment"></span>
        <%= bounty.news_feed_item.comments_count %>
      </span>

      <span class="h6">
        <% bounty.tags.each do |tag| %>
          <a class="caps gray-2 mr1" href="<%= product_wips_path(bounty.product, tag: tag.name) %>">
            #<%= tag.name.downcase %>
          </a>
        <% end %>
      </span>
    </div>
  </div>

  <% locker = User.find_by(id: bounty.locked_by) %>

  <% if locker %>
    <div class="px3 py2 border-top h6 mb0 mt0 clearfix">
      <div class="left mr1">
        <%= avatar_tag(locker, 18) %>
      </div>

      <a href="<%= user_path(locker) %>" class="bold black">
        <%= locker.username %>
      </a>

      <span class="gray-2">
        has <%= time_ago_in_words(bounty.locked_at + 60.hours) %> to work on this
      </span>
    </div>
  <% end %>
</div>
