<div class="page-header sheet-header">

  <ul class="nav nav-pills">
    <li class="<%= 'active' if params[:user].blank? %>">
      <a href="<%= url_for(params.except(:user, only_path: true)) %>">
        Started
      </a>
    </li>

    <li class="<%= 'active' if current_page?(url_for(params.merge(user: 'started', only_path: true))) %>">
      <a href="<%= url_for(params.merge(user: 'started', only_path: true)) %>">
        Created
      </a>
    </li>

    <li class="<%= 'active' if current_page?(url_for(params.merge(user: 'commented', only_path: true))) %>">
      <a href="<%= url_for(params.merge(user: 'commented', only_path: true)) %>">
        Commented
      </a>
    </li>

    <li class="<%= 'active' if current_page?(url_for(params.merge(user: 'awarded', only_path: true))) %>">
      <a href="<%= url_for(params.merge(user: 'awarded', only_path: true)) %>">
        Awarded
      </a>
    </li>
  </ul>

</div>

<div class="sheet-body">
  <ul class="list-group list-group-breakout list-group-padded">

    <% @wips.each do |wip| %>
      <li class="list-group-item">
        <%= render 'bounties/chip', bounty: wip %>
      </li>
    <% end %>

    <% if @wips.empty? %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-1">
            <div class="text-center">
              <p class="text-muted text-large">
                <%= @empty_state_text %>
              </p>

              <% if @empty_state_link_location && @empty_state_link_text %>
                <a class="btn btn-primary text-center" href="<%= @empty_state_link_location %>" style={{ 'margin-top': 12 }}>
                  <%= @empty_state_link_text %>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </li>
    <% end %>

  </ul>

  <%= paginate @wips, theme: 'twitter-bootstrap-3' %>
</div>
