<div class="sub-thingy clearfix">
  <ul class="nav nav-pills pull-left">
    <li class="<%= 'active' if params[:state].blank? || params[:state] == 'open' %>">
      <a href="<%= scoped_product_bounties_path(@product, state: 'open') %>">
        Todo

        <span class="badge badge-subtle hidden-xs">
          <%= @product.tasks.open.count %>
        </span>
      </a>
    </li>

    <li class="<%= 'active' if params[:state] == 'progress' %>">
      <a href="<%= scoped_product_bounties_path(@product, state: 'progress') %>">
        Doing

        <span class="badge badge-subtle hidden-xs">
          <%= @product.tasks.allocated.count %>
        </span>
      </a>
    </li>

    <li class="<%= 'active' if params[:state] == 'reviewing' %>">
      <a href="<%= scoped_product_bounties_path(@product, state: 'reviewing') %>">
        Reviewing

        <span class="badge badge-subtle hidden-xs">
          <%= @product.tasks.reviewing.count %>
        </span>
      </a>
    </li>

    <li class="<%= 'active' if params[:state] == 'closed' %>">
      <a href="<%= scoped_product_bounties_path(@product, state: 'closed') %>">
        Resolved

        <span class="badge badge-subtle hidden-xs">
          <%= @product.tasks.closed.count %>
        </span>
      </a>
    </li>
  </ul>

  <div class="pull-right" data-react-class="BountyFilters" data-react-props="<%= {
    tags: Wip::Tag.suggested_tags,
    selected_state: params[:state],
    selected_tag: params[:tag],
    selected_sort: params[:sort],
    selected_user_id: @selected_user && @selected_user.id,
    current_user: UserSerializer.new(current_user),
    core_team: ActiveModel::ArraySerializer.new(@core_team),
    url: product_tasks_path(@product)
  }.to_json %>"></div>
</div>
