<% title @bounty.title, "##{@bounty.number}", @bounty.product.name %>
<% activate_nav! :bounties %>
<%= track 'product.wip.viewed', WipAnalyticsSerializer.new(@wip, scope: current_user) %>

<%= render 'bounties/bounty', bounty: @bounty %>

<div class="discussion" id="discussion-view-el">
  <% if true # current_user && @bounty.workers.size > 1 && @bounty.workers.include?(current_user) %>
    <div class="alert alert-success">
      <a href="#" class="btn btn-default pull-right">
        <span class="icon icon-comment"></span>
        Discuss the work
      </a>

      <p>
        <strong>Right on!</strong>
        One other person said they were working on this bounty 4 days ago.
      </p>
    </div>
  <% end %>

  <%= render 'wips/discussion', events: @events %>
  <%= render 'new_event_form' %>
</div>


<% if signed_in? %>
  <img class="hidden" data-src="<%= ReadraptorTracker.new(ReadRaptorSerializer.serialize_entities(@bounty).first, current_user.id).url %>" />
<% end %>

<% content_for :javascript do %>
  <script>
    app.product = new Product(<%= json @bounty.product, scope: current_user %>);
    app.wip = new Wip(<%== WipSerializer.new(@bounty, scope: current_user).to_json %>);
    app.wipEvents = new WipEvents(<%== @bounty.events.map {|e| EventSerializer.for(e, current_user)}.to_json %>, {
      url: '<%= product_wip_comments_path(@bounty.product, @bounty) %>'
    });

    <% if signed_in? %>
      <% story = Story.associated_with(@bounty).first.try(:id) %>
      app.wip.readRaptorUrl = '<%== ReadraptorTracker.new(story, current_user.id).url if story %>';
    <% end %>

    $(document).ready(function() {
      <%= render 'wips/add_tips_to_wip_events' %>

      app.discussionView = new DiscussionView({
        el: $('#discussion-view-el'),
        tipsPath: '<%= product_tips_path(@bounty.product) %>',
        model: app.wip
      });
    })
  </script>
<% end %>
