<%= styleguide_example 'Affix' do %>
  No example.
<% end %>

<%= styleguide_example 'Autocomplete' do -%>

<div class="autocomplete">
  <div class="autocomplete-suggestion autocomplete-selected">
    <div class="avatar">
      <img src="https://gravatar.com/avatar/08f077ea061585744ee080824f5a8e65?s=120" />
    </div>
    <div class="name">Chris Lloyd</div>
  </div>

  <div class="autocomplete-suggestion">
    <div class="avatar">
      <img src="https://gravatar.com/avatar/094e5cf16c5281ce8bd89952fcf9627c?s=120" />
    </div>
    <div class="name">Dave Newman</div>
  </div>

  <div class="autocomplete-suggestion">
    <div class="avatar">
      <img src="https://gravatar.com/avatar/aacb7c97f7452b3ff11f67151469e3b0?s=120" />
    </div>
    <div class="name">Matt Deiters</div>
  </div>
</div>
<% end -%>

<%= styleguide_example 'Avatars' do -%>
<div class="avatar avatar-default">
  <img src="https://gravatar.com/avatar/08f077ea061585744ee080824f5a8e65?s=220" />
</div>
<% end -%>

<%= styleguide_example 'Avatar Grids' do -%>
  <div class="avatar-grid">
    <div class="avatar avatar-default">
      <img src="https://gravatar.com/avatar/08f077ea061585744ee080824f5a8e65?s=220" />
    </div>

    <div class="avatar avatar-default">
      <img src="https://gravatar.com/avatar/08f077ea061585744ee080824f5a8e65?s=220" />
    </div>
  </div>
<% end -%>

<%= styleguide_example 'Badges' do %>
  Text content <span class="badge">Badge</span> more text content.
<% end %>

<%= styleguide_example 'Banners' do %>
  <div class="banner">
    <div class="banner-heading">
      Banner heading
    </div>
    <div class="banner-content">
      Banner content
    </div>
  </div>
<% end %>

<%= styleguide_example 'Breadcrumbs' do %>
  <ol class="breadcrumb">
    <li><a href="#">Breadcrumb Item 1</a></li>
    <li><a href="#">Breadcrumb Item 2</a></li>
  </ol>
<% end %>

<%= styleguide_example 'Buttons - Primary' do -%>
  <button class="btn btn-primary">Button (button)</button>
  <div class="btn btn-primary">Button (div)</div>
  <a href="#" class="btn btn-primary">Button (a)</a>
<% end -%>

<%= styleguide_example 'Buttons - Default' do -%>
  <button class="btn btn-default">Button (button)</button>
  <div class="btn btn-default">Button (div)</div>
  <a href="#" class="btn btn-default">Button (a)</a>
<% end -%>

<%= styleguide_example 'Buttons - Disabled' do -%>
  <button class="btn btn-default btn-disabled">Button (button)</button>
  <div class="btn btn-default btn-disabled">Button (div)</div>
  <a href="#" class="btn btn-default btn-disabled">Button (a)</a>
<% end -%>

<%= styleguide_example 'Button Groups' do %>
  <div class="btn-group">
    <div class="btn btn-primary">Button 1</div>
    <div class="btn btn-primary">Button 2</div>
    <div class="btn btn-primary">Button 3</div>
  </div>

  <div class="btn-group">
    <div class="btn btn-default">Button 1</div>
    <div class="btn btn-default">Button 2</div>
    <div class="btn btn-default">Button 3</div>
  </div>
<% end %>

<%= styleguide_example 'Callouts' do %>
  <div class="callout">
    <div class="callout-content">
      Callout content
    </div>
    <div class="callout-action">
      Callout action
    </div>
  </div>
<% end %>

<%= styleguide_example 'Discussions' do %>
  No example.
<% end %>

<%= styleguide_example 'Dividers' do %>
  <div class="divider-dotted"></div>
<% end %>

<%= styleguide_example 'Financials' do %>
  No example.
<% end %>

<%= styleguide_example 'Flyouts' do %>
  <div class="flyout">
    <div class="flyout-heading">
      Flyout heading
    </div>
    <div class="flyout-content">
      Flyout content
    </div>
    <div class="flyout-footer">
      Flyout footer
    </div>
  </div>
<% end %>

<%= styleguide_example 'Footers' do %>
  <div class="footer footer-about">
    <div class="pull-left">
      Footer - About
    </div>
    <div class="pull-right">
      <ul class="nav nav-horizontal footer-nav">
        <li class="nav-item"><a href="#">Nav Item 1</a></li>
        <li class="nav-item"><a href="#">Nav Item 2</a></li>
      </ul>
    </div>
  </div>
  <div class="footer footer-smallprint">
    Footer - Smallprint
  </div>
<% end %>

<%= styleguide_example 'Forms' do %>
  No example.
<% end %>

<%= styleguide_example 'Graphs' do %>
  No example.
<% end %>

<%= styleguide_example 'Grids' do %>
  No example.
<% end %>

<%= styleguide_example 'Input Groups' do %>
<div class="form">
  <div class="input-group">
    <input type="text" class="form-control">
    <div class="input-group-btn">
      <a class="btn btn-default">Refresh</a>
    </div>
  </div>
  <div class="input-group">
    <input type="text" class="form-control">
    <div class="input-group-btn">
      <a class="btn btn-primary">Refresh</a>
    </div>
  </div>
</div>
<% end %>

<%= styleguide_example 'Input Groups - Small' do %>
<div class="form">
  <div class="input-group input-group-sm">
    <input type="text" class="form-control">
    <div class="input-group-btn">
      <a class="btn btn-default">Refresh</a>
    </div>
  </div>
</div>
<% end %>

<%= styleguide_example 'Jumbotrons' do %>
  <div class="jumbotron">
    <h1>Jumbotron</h1>
    <p>Para-tron</p>
  </div>

  <div class="jumbotron jumbotron-inverse">
    <h1>Jumbotron - Dark</h1>
    <p>Para-tron</p>
  </div>
<% end %>

<%= styleguide_example 'Navs' do -%>
  <ul class="nav">
    <li class="nav-item"><a href="#">Nav Item 1</a></li>
    <li class="nav-item nav-item-active"><a href="#">Nav Item 2</a></li>
    <li class="nav-item"><a href="#">Nav Item 3</a></li>
  </ul>

  <ul class="nav nav-horizontal">
    <li class="nav-item"><a href="#">Nav Item 1</a></li>
    <li class="nav-item nav-item-active"><a href="#">Nav Item 2</a></li>
    <li class="nav-item"><a href="#">Nav Item 4</a></li>
  </ul>

  <ul class="nav nav-tabs">
    <li class="nav-item"><a href="#">Nav Item 1</a></li>
    <li class="nav-item nav-item-active"><a href="#">Nav Item 2</a></li>
    <li class="nav-item"><a href="#">Nav Item 4</a></li>
  </ul>
<% end -%>

<%= styleguide_example 'Page Headings' do %>
  <div class="page-heading">
    <div class="page-heading-title">
      Page heading title
      <small>Small content</small>
    </div>
    <div class="page-heading-actions">
      <a class="btn btn-primary" href="#">Action Buttons</a>
    </div>
    <div class="page-heading-meta">
      Page heading meta
    </div>
  </div>
<% end -%>

<%= styleguide_example 'Progress' do %>
  <div class="progress">
    <div class="progress-bar" style="width:60%"></div>
  </div>
<% end %>

<%= styleguide_example 'Step bars' do %>
  <div class="stepbar">
    <div class="stepbar-step"></div>
    <div class="stepbar-step"></div>
    <div class="stepbar-step"></div>
  </div>

  <div class="stepbar">
    <div class="stepbar-step stepbar-step-done"></div>
    <div class="stepbar-step"></div>
    <div class="stepbar-step"></div>
  </div>

  <div class="stepbar">
    <div class="stepbar-step stepbar-step-done"></div>
    <div class="stepbar-step stepbar-step-done"></div>
    <div class="stepbar-step"></div>
  </div>

  <div class="stepbar">
    <div class="stepbar-step stepbar-step-done"></div>
    <div class="stepbar-step stepbar-step-done"></div>
    <div class="stepbar-step stepbar-step-done"></div>
  </div>
<% end %>

<%= styleguide_example 'Task list' do %>
  <ol class="task-list">
    <li class="task-list-item task-list-item-incomplete">
      <div class="pull-right">
        <ul class="list list-meta">
          <li class="list-item">
            <a href="#">#667</a>
          </li>
        </ul>
      </div>
      <strong>Design finalized Photoshop comps</strong>
    </li>
    <li class="task-list-item task-list-item-incomplete">
      <div class="pull-right">
        <ul class="list list-meta">
          <li class="list-item">
            <a href="#">#662</a>
          </li>
        </ul>
      </div>
      <strong>Wire up analytics</strong>
    </li>

    <li class="task-list-item task-list-item-incomplete">
      <input class="task-list-entry" type="text" placeholder="Enter a task number, or a title for a new task...">
    </li>
  </ol>

  <ol class="task-list">
    <li class="task-list-item task-list-item-complete">
      <div class="pull-right">
        <ul class="list list-meta">
          <li class="list-item">
            <a href="#">#667</a>
          </li>
        </ul>
      </div>
      Create feature outline
    </li>
    <li class="task-list-item task-list-item-complete">
      <div class="pull-right">
        <ul class="list list-meta">
          <li class="list-item">
            <a href="#">#662</a>
          </li>
        </ul>
      </div>
      Do wireframes
    </li>
  </ol>
<% end %>

<%= styleguide_example 'Vote Boxes' do %>
  <div class="vote-box">123</div>
  <div class="vote-box vote-box-voted">123</div>
  <div class="vote-box vote-box-promoted">123</div>
  <div class="vote-box vote-box-promoted vote-box-voted">123</div>
<% end %>

<%= styleguide_example 'Wells' do %>
  <div class="well">
    Empty example
  </div>
<% end %>


