<div class="navbar navbar-default">
  <div class="pull-left">

    <ul class="nav nav-horizontal navbar-nav">

      <li class="nav-item">
        <a class="navbar-logo" href="<%= root_path %>">
          <div class="logo-wordmark logo-wordmark-default">
            Assembly
          </div>
        </a>
      </li>

      <li class="nav-item">
        <a href="<%= discover_path %>">Discover</a>
      </li>

      <li class="nav-item">
        <a href="<%= new_product_path %>">Start</a>
      </li>

    </ul>
  </div>

  <div class="pull-right">
    <ul class="nav nav-horizontal navbar-nav">

      <li class="nav-item">
        <a href="<%= faq_path %>">FAQ</a>
      </li>

      <% unless signup_page? or signin_page? %>

        <% if user_signed_in? %>

          <li class="nav-item">
            <a href="<%= user_path(current_user) %>">
              <%= current_user.username %>
            </a>
          </li>

          <li class="nav-item">
            <a href="<%= destroy_user_session_path %>" data-method="delete">
              Logout
            </a>
          </li>

        <% else %>

          <li class="nav-item">
            <a class="btn btn-default" href="<%= new_user_session_path %>" data-authenticate="signin">
              Log in
            </a>
          </li>

          <li class="nav-item">
            <a class="btn btn-accent" href="<%= new_user_registration_path %>" data-authenticate="signup">
              Sign up
            </a>
          </li>

        <% end %>

      <% end %>

    </ul>
  </div>
</div>
