<div class="footer footer-about">
  <div class="container">
    <div class="pull-left">
      <a href="<%= root_path %>">
        <div class="logo-wordmark logo-wordmark-muted">Assembly</div>
      </a>
    </div>
    <div class="pull-right">
      <ul class="nav nav-horizontal footer-nav">
        <li class="nav-item">
          <a href="<%= discover_path %>">Discover</a>
        </li>
        <li class="nav-item">
          <a href="<%= faq_path %>">FAQ</a>
        </li>
        <li class="nav-item">
          <a href="<%= blog_path %>">Blog</a>
        </li>
        <li class="nav-item">
          <a href="mailto:assembly@helpful.io">Contact</a>
        </li>
        <li class="nav-item">
          <a href="<%= tos_path %>">Terms</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="footer footer-smallprint">
  <div class="container">
    <div class="pull-left">
      <ul class="nav nav-horizontal footer-nav">
        <li class="nav-item">
          <a class="fb-like" data-action="like" data-colorscheme="light" data-layout="button_count" href="https://www.facebook.com/assemblymade">
            Facebook
          </a>
        </li>
        <li class="nav-item">
          <a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/asm">
            Twitter
          </a>
        </li>
      </ul>
    </div>
    <div class="pull-right">
      &copy; 2013&ndash;2014 Assembly Made, Inc.
    </div>
  </div>
</div>
