<div class="row">
  <div class="col-md-2">
    <%= image_tag 'asm-logo-flag-2x.png', width: 44, height: 27, class: 'logo' %>
    <span class="sr-only">Assembly</span>
  </div>

  <div class="col-md-2">
    <h5 class="alpha">Assembly</h5>
    <ul class="list-reset">
      <li><a href="<%= about_path %>">About</a></li>
      <li><a href="<%= product_wips_path('meta') %>">Meta</a></li>
      <li><a href="<%= blog_path %>">Blog</a></li>
      <li><a href="https://jobs.lever.co/assembly">We're hiring!</a></li>
    </ul>
  </div>

  <div class="col-md-2">
    <h5 class="alpha">Help</h5>
    <ul class="list-reset">
      <li><a href="<%= getting_started_path %>">Getting Started</a></li>
      <li><a href="<%= faq_path %>">FAQs</a></li>
      <li><a href="<%= tos_path %>">Terms</a></li>
    </ul>
  </div>

  <div class="col-md-2">
    <h5 class="alpha">Discover</h5>
    <ul class="list-reset">
      <li><a href="<%= discover_path %>">Products</a></li>
      <% if feature?(:discover_bounties) %>
        <li><a href="<%= discover_path(:bounties) %>">Bounties</a></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-2">
    <h5 class="alpha">Start</h5>
    <ul class="list-reset">
      <li><a href="<%= start_idea_path %>">Create a New Product</a></li>
    </ul>
  </div>

  <div class="col-md-2">
    <h5 class="alpha">Say hello!</h5>
    <ul class="list-reset">
      <li><a href="https://twitter.com/asm">Twitter</a></li>
      <li><a href="https://facebook.com/assemblymade">Facebook</a></li>
      <li>
        <a href="mailto:assembly@helpful.io" data-helpful="assembly">Support</a>
        <script defer src="https://assets.helpful.io/assets/widget.js"></script>
      </li>
    </ul>
  </div>
</div><!-- .row -->
