<div class="footer">
  <div class="container">
    <div class="pull-left">
      <a class="brand footer-brand" href="<%= root_path %>">
        <i class="icon icon-logo-filled" style="font-size: 20px; position: relative; top: -2px"></i>
        Assembly
      </a>
    </div>
    <div class="pull-right">
      <ul class="list-inline footer-nav">
        <li>
          <a href="<%= discover_path %>">Discover</a>
        </li>
        <li>
          <a href="<%= getting_started_path %>">Getting Started</a>
        </li>
        <li>
          <a href="<%= chat_path %>" class="text-success">Community</a>
        </li>
        <li>
          <a href="<%= faq_path %>">FAQ</a>
        </li>
        <li>
          <a href="<%= blog_path %>">Blog</a>
        </li>
        <li>
          <a href="#" data-helpful="assembly">Contact</a>
          <script src="//assets.helpful.io/assets/widget.js"></script>
        </li>
        <li>
          <a href="<%= tos_path %>">Terms</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="pull-left">
      <ul class="list-inline">
        <li>
          <a class="fb-like" data-action="like" data-colorscheme="light" data-layout="button_count" href="https://www.facebook.com/assemblymade" style="display:block" vertical-align="top">
            Facebook
          </a>
        </li>
        <li style="height:20px" vertical-align="top">
          <a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/asm" style="display:block" vertical-align="top">
            @asm
          </a>
        </li>
      </ul>
    </div>

    <div class="pull-right">
      <p>
        &copy; 2013&ndash;2014 Assembly Made, Inc.
      </p>
    </div>
  </div>
</div>
