<% fluid ||= false %>
<div class="navbar navbar-default navbar-static-top mb0">
  <div class="<%= fluid ? 'container-fluid' : 'container' %>">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#platform-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a data-label="brand" class="inline-block ml2 py2 r768_ml0 transx_all" href="<%= root_path %>">
        <%= image_tag 'flag.svg', width: 27, height: 17, class: 'logo', style: 'vertical-align: -3px' %>
        <span class="sr-only">Assembly</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="platform-navbar-collapse">

      <ul class="nav navbar-nav">

        <li class="<%= nav_active_class(:discover) %>">
          <a href="<%= discover_path %>">Products</a>
        </li>

        <li class="<%= nav_active_class(:ideas) %>">
          <a href="<%= ideas_path %>">Ideas</a>
        </li>

        <% if user_signed_in? %>

          <hr class="py0 m0 xs-show sm-hide md-hide lg-hide" />

          <li class="xs-show sm-hide md-hide lg-hide">
            <a href="<%= dashboard_path %>">
              Dashboard
            </a>
          </li>

          <li class="xs-show sm-hide md-hide lg-hide">
            <a href="<%= user_path(current_user) %>">
              Profile
            </a>
          </li>

          <li class="xs-show sm-hide md-hide lg-hide">
            <a href="<%= edit_user_path %>">
              Settings
            </a>
          </li>

          <hr class="py0 m0 xs-show sm-hide md-hide lg-hide" />

          <li class="xs-show sm-hide md-hide lg-hide">
            <a href="<%= destroy_user_session_path %>" data-method='delete'>
              Log out
            </a>
          </li>
        <% end %>

      </ul>

      <% if user_signed_in? %>
        <div
            class="navbar-right relative"
            data-react-class="Navbar"
            data-react-props="<%= {
              notificationsPath: notifications_path(format: :json),
              userPath: user_path(current_user),
              editUserPath: edit_user_path,
              dashboardPath: dashboard_path,
              balancePath: users_balance_path,
              destroyUserSessionPath: destroy_user_session_path
            }.to_json %>"></div>
      <% else %>

        <div class="navbar-right">
          <a id="signup-button" class="button button--primary px2 mt1" href="<%= new_user_registration_path %>">
            Sign up
          </a>
        </div>

        <div class="navbar-right">
          <ul class="nav nav-tabs navbar-nav">
            <li>
              <a href="<%= new_user_session_path %>">
                Log in
              </a>
            </li>
          </ul>
        </div>

        <script>
          var signupElement = document.getElementById('signup-button');
          signupElement.addEventListener('click', function(e) {
            e.preventDefault();
            e.stopPropagation();

            SignupActions.showModal();
          });
        </script>
      <% end %>

    </div>
  </div>
</div>
