<div class="navbar navbar-default navbar-static-top omega">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#platform-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <span class="icon icon-logo-filled"></span>
        <span class="sr-only">Assembly</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="platform-navbar-collapse">

      <% if user_signed_in? %>
        <%= render 'shared/search' %>
      <% end %>

      <ul class="nav nav-tabs navbar-nav">

        <li class="<%= nav_active_class(:discover) %>">
          <a href="<%= discover_path %>">Discover</a>
        </li>

        <li class="<%= nav_active_class(:community) %>">
          <a href="<%= discover_path(:updates) %>">What’s Happening</a>
        </li>

      </ul>

        <% if user_signed_in? %>
          <div
              class="navbar-right"
              data-react-class="Navbar"
              data-react-props="<%= {
                notificationsPath: notifications_path(format: :json),
                chatPath: chat_rooms_path,
                userPath: user_path(current_user),
                editUserPath: edit_user_path,
                balancePath: users_balance_path,
                destroyUserSessionPath: destroy_user_session_path
              }.to_json %>">
        <% else %>
          <div class="navbar-right">
            <a class="btn btn-success navbar-btn" href="<%= new_user_registration_path %>">
              Sign up
            </a>
          </div>

          <div class="navbar-right">
            <ul class="nav nav-tabs navbar-nav">
              <li>
                <a href="<%= new_user_session_path %>">
                  Log in
                </a>
              </li>
            </ul>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/welcome' %>
