<div class="navbar <% if Rails.env.development? %>devbar<% end %> navbar-inverse navbar-static-top" data-headroom data-tolerance="5" data-offset="205" data-classes="{"initial":"animated","pinned":"slideDown","unpinned":"slideUp","top":"headroom--top","notTop":"headroom--not-top"}">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#platform-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="text-brand navbar-brand" href="<%= root_path %>">
        <span class="brand">
          <span class="icon icon-logo-filled"></span>
          <% if !user_signed_in? %>
            Assembly
          <% end %>
        </span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="platform-navbar-collapse">

      <% if user_signed_in? %>
        <form action="<%= scoped_search_path %>" class="navbar-form navbar-left" style="<% if user_signed_in? %>padding-left: 4px;<% end %>">
          <div class="form-group">
            <input type="text" name="q" value="<%= params[:q] %>" class="form-control" autocomplete="off"
              placeholder="<%= @product ? "Search #{@product.name}…" : "Search…" %>"  />
            <input type="hidden" name="type" value="<%= @type %>">
          </div>
          <!-- <button type="submit" class="btn btn-default">Search</button> -->
        </form>
      <% end %>

      <ul class="nav navbar-nav">

        <li class="<%= 'active' if nav_active?(:platform_discover) %>">
          <a href="<%= discover_path %>">Discover</a>
        </li>

        <li class="<%= 'active' if nav_active?(:platform_start) %>">
          <a href="<%= new_product_path %>">Start</a>
        </li>

        <li class="<%= 'active' if nav_active?(:platform_faq) %>">
          <a href="<%= faq_path %>">FAQ</a>
        </li>
      </ul>

      <div class="navbar-right">
        <% if user_signed_in? %>

          <ul class="nav navbar-nav navbar-notifications" id="js-notifications"></ul>

          <ul class="nav navbar-nav">

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= avatar_tag(current_user, 22) %>
                <span style="margin-left: 5px;"><%= current_user.username %></span>
                <b class="caret"></b>
              </a>

              <ul class="dropdown-menu">
                <li>
                  <a href="<%= user_path(current_user) %>">
                    View Profile
                  </a>
                </li>
                <li>
                  <a href="<%= edit_user_path(current_user) %>">
                    Settings
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="<%= destroy_user_session_path %>" data-method="delete">
                    Log out
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav navbar-nav">
            <li>
              <a href="<%= new_user_session_path %>">
                Log in
              </a>
            </li>

            <li>
              <a href="<%= new_user_registration_path %>">
                Sign up
              </a>
            </li>
          </ul>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>
