<tr>
  <td class="content-box first">

    <table cellspacing="0" cellpadding="0" align="center" id="first-part">
      <tr>
        <td>
          <h2 class="small-heading">PRODUCT OF THE WEEK</h2>
        </td>
      </tr>
      <tr>
        <td class="title-article">
          <%= product.name %>
        </td>
      </tr>
      <tr>
        <td class="subtitle"><%= product.pitch %></td>
      </tr>
      <tr>
        <td class="paragraph"><%= product.lead %></td>
      </tr>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" align="center" id="button-wrapper">
            <tr>
              <td class="first-td">
                <a href="<%= product_url(product) %>" target="_blank" class="button">
                  Check it out
                </a>
              </td>
              <td>
                <a href="<%= discover_url %>" target="_blank" class="button other">
                  Discover other products
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" align="center">
            <tr>
              <td class="line">
                <img src="<%= image_url('emails/line.png') %>" alt="line" width="481" height="1">
              </td>
            </tr>
          </table>
          <table cellspacing="0" cellpadding="0" align="center" class="wide">
            <tr>
              <td>
                <table cellspacing="0" cellpadding="0" >
                  <tr>
                    <td>
                      <table cellspacing="0" cellpadding="0">
                        <tr>
                          <td>
                            <img src="<%= product.user.avatar.url(60) %>" alt="<%= product.user.username %>" width="60" height="60" class="avatar" />
                          </td>
                          <td class="new-style">
                            <table cellspacing="0" cellpadding="0">
                              <tr>
                                <td class="short-text">A product by</td>
                              </tr>
                              <tr>
                                <td>
                                  <span class="strong">
                                    <%= product.user.username %>
                                  </span>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td></td>
                  </tr>
                </table>
              </td>

              <% if product.combined_watchers_and_voters.any? %>
                <td class="offset">
                  <table cellspacing="0" cellpadding="0" id="icon-table">
                    <tr>
                      <td class="short-text">
                        Currently being built by
                        <span class="strong"><%= pluralize(product.combined_watchers_and_voters.count, 'person') %></span>:
                      </td>
                    </tr>
                    <tr>
                      <td class="all-icon">
                        <table cellspacing="0" cellpadding="0">
                          <tr>
                            <% if product.combined_watchers_and_voters.count > 6 %>
                              <% product.combined_watchers_and_voters.first(5).each do |watcher| %>
                                <td>
                                  <img src="<%= watcher.avatar.url(30) %>" alt="<%= watcher.username %>" width="30" height="30" class="avatar" />
                                </td>
                              <% end %>
                              <td>
                                <img src="<%= image_url('emails/more.png') %>" alt="more" width="30" height="30" class="avatar" />

                              </td>
                            <% else %>

                              <% product.combined_watchers_and_voters.first(6).each do |user| %>
                                <td>
                                  <img src="<%= user.avatar.url(30) %>" alt="<%= user.username %>" width="30" height="30" class="avatar" />
                                </td>
                              <% end %>

                            <% end %>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              <% end %>

            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
