<tr>
  <td class="content-box second">
    <table cellspacing="0" cellpadding="0" align="center" id="second-part">
      <tr>
        <td><h2 class="small-heading">THIS WEEK'S TRENDING IDEAS</h2></td>
      </tr>

      <% @products.each do |product| %>
        <tr>
          <td class="border <%= 'first' if @products.first == product %> <%= 'last' if @products.last == product %>">
            <table cellspacing="0" cellpadding="0">
              <tr>
                <td class="width">
                  <table cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="title">
                        <a href="<%= product_url(product) %>" target="_blank">
                          <%= product.name %>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td class="caption"><%= product.pitch %></td>
                    </tr>
                  </table>
                </td>
                <td class="holder-info">
                  <table cellspacing="0" cellpadding="0">
                    <tr>
                      <td class="number">
                        <%= pluralize(product.combined_watchers_and_voters.count, 'person') %>
                      </td>
                    </tr>
                    <tr>
                      <td class="other-text">
                        involved
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      <% end %>

      <tr>
        <td>
          <table cellspacing="0" cellpadding="0" width="482">
            <tr>
              <td width="482" align="center">
                <a href="<%= discover_url %>" target="_blank" class="button other">
                  Explore the product showcase
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
