<% content_for :header do %>
  <strong>
    <a href="<%= discover_url %>" style="color:#3B7FCC;text-decoration:none;">
      <%="#{Time.now.strftime("%A, %B")} #{Time.now.day.ordinalize}"%>
      <br/>
      Assembly Recap
    </a>
  </strong>
<% end %>

<% content_for :content do %>
                  <tr id="simple-content-row" style="border-collapse:collapse;" ><td class="w640" width="640" bgcolor="#ffffff" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" >
      <table class="w640" width="640" cellpadding="0" cellspacing="0" border="0">
          <tbody>
            <tr style="border-collapse:collapse;" >
              <td class="w30" width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" ></td>
              <td class="w580" width="580" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" >

                <table class="w580" width="580" cellpadding="0" cellspacing="0" border="0">
                              <tbody><tr style="border-collapse:collapse;" >
                                  <td class="w580" width="580" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" >
                                      <p align="left" class="article-title" style="font-size:24px;line-height:24px;color:#959BAE;font-weight:bold;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue, sans-serif;" >New activity on <%= pluralize(@products.size, 'product') %>
                                      </p>
                                      <div align="left" class="article-content" style="font-size:13px;line-height:18px;color:#2B2F3E;margin-top:0px;margin-bottom:18px;font-family:HelveticaNeue, sans-serif;" >

<!-- watchers -->
<div style="clear:both;">
  <% @watchers.each do |watcher| %>
    <div style="float:left">
      <img src="<%= watcher.avatar.url(40) %>" style="width:20px;height:20px;border-radius:50%" />
    </div>
  <% end %>
</div>

<p>&nbsp;</p>

<!-- product changes -->
<div style="clear:both;">
<% @products.each do |product, wips| %>
  <p style="margin-bottom:-10px; margin-top: 30px; clear:both">
    <strong><%= product.name %></strong>
  </p>
  <% wips.each do |wip, new_comments| %>
    <div style="font-size:13px;line-height:18px;color:#2B2F3E;">
      <p>
        <a href="<%= product_wip_url(product, wip) %>" style="font-weight:bold;color:#3B7FCC;text-decoration:underline;" ><%= wip.title %></a>
        <% if new_comments.size > 0 %>
          <br/><%= pluralize(wip.comments.size, 'comment') %> – <%= new_comments.size %> new
        <% else %>
          <br/>by <%= wip.user.username %>
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
</div>

                                      </div>
                                  </td>
                              </tr>
                              <tr style="border-collapse:collapse;" ><td class="w580" width="580" height="10" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" ></td></tr>
                          </tbody></table>


              </td>
              <td class="w30" width="30" style="font-family:HelveticaNeue, sans-serif;border-collapse:collapse;" ></td>
          </tr>
      </tbody>
    </table>
  </td></tr>

<% end %>
