<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <%= stylesheet_link_tag 'email' %>
</head>
<body>
<div id="page">

  <table align="center" id="main-table" cellspacing="0" cellpadding="0">

    <tr>
      <td>
        <%= render 'header' %>
      </td>
    </tr>

    <tr>
      <td>
        <table class="container" cellspacing="0" cellpadding="0" align="center">
          <tr>
            <td class="wrapper">
              <table cellspacing="0" cellpadding="0">
                <tr>
                  <td class="title-box">ASSEMBLY NEWS</td>
                </tr>
                <tr>
                  <td class="paragraph">
                    <%= markdown(@newsletter.body) %>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr>
      <td>
        <table class="container" cellspacing="0" cellpadding="0" align="center">

          <%= render 'product_of_the_week', product: @featured_product %>

          <%= render 'trending_ideas' %>

          <tr>
            <td>
              <table class="container" cellspacing="0" cellpadding="0" align="center" id="footer">
                <tr>
                  <td class="box">
                    <p>You're receiving these updates because you signed up for Assembly.</p>
                    <p><a href="%unsubscribe_url%" target="_blank">Unsubscribe</a></p>
                  </td>
                  <td class="right-part">
                    <p class="strong">Assembly Made, Inc.</p>
                    <p>3030A 16th Street,<br />San Francisco, 94103<br />California, USA</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

</div>
</body>
</html>
