<% title 'Startup Weekend on Assembly' %>

<%= render 'shared/navbar' %>

<div class="bg-white">
  <div class="container mb3">
    <div class="clearfix mxn2 py3">
      <div class="sm-col sm-col-12 p2">
        <h1 class="mt0 mb0">
          <span>Startup Weekend on Assembly.</span>
          <small>We love you Atlanta.</small>
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="clearfix mxn2">
    <div class="px2 mb2">
      <h4 class="gray-darker">What's Happening at Startup Weekend</h4>
    </div>
    <div class="sm-col sm-col-8 px2">
      <%= react_component 'NewsFeedList', items: @news_feed_items.as_json %>

      <% if @news_feed_items.empty? %>
        <div class="p3 bg-white rounded shadow">
          <p class="h4 mt0 mb0 gray-dark">
            The Startup Weekend feed isn't open yet. Come back tonight at 10pm,
            once all the teams are up and running.  In the meantime,
            jump in the <a href="<%= chat_room_path('startup-weekend') %>">Startup Weekend chatroom</a>.
          </p>
        </div>
      <% end %>
    </div>

    <div class="sm-col sm-col-4 px2">

      <div class="bg-gray-5 p3 rounded mb2">
        Hello Startup Weekend. We want to help you ship as much as possible
        this weekend. Here's where you can keep tabs on all progress from other
        teams and chat with everyone participating in the event.

        <a href="<%= new_product_path(sw: true) %>" class="btn btn-primary btn-block mt2">
          Start your product
        </a>
      </div>

      <div class="py3 ml2 mr2" style="border-bottom: 1px solid #ddd">
        <a href="<%= chat_room_path('startup-weekend') %>" class="bold">
          <span class="icon icon-bubble mr1"></span>
          Startup Weekend Chat
        </a>
      </div>

      <% if Product.startup_weekend.count >= 5 %>
        <div class="py3 ml2 mr2" style="border-bottom: 1px solid #ddd">
          <a href="<%= discover_path(sort: 'startup-weekend') %>" class="bold">
            <span class="icon icon-list mr1"></span>
            Startup Weekend Products
          </a>
        </div>
      <% end %>

      <div class="py3 ml2 mr2" style="border-bottom: 1px solid #ddd">
        <h4 class="mt0">Why build on Assembly?</h4>
        <p>
          <span class="bold">Community.</span>
          Assembly is a great place to coordinate your team, see what else is happening over the weekend. Tools like real-time chat, GitHub integration, and task management will make things seamless, so you can focus on building.
        </p>
        <p>
          <span class="bold">Transparent ownership.</span>
          Did you know that some apps built at Startup Weekend have sold for millions of dollars? Assembly will help you distribute ownership fairly throughout the weekend and going forward.
        </p>
        <p>
          <span class="bold">The future.</span>
          If half your team wants to keep working after the weekend and half don't – Assembly is a great way to reward everyone for their work so far and to connect you with great people to take this from a weekend hack to a high-growth business.
        </p>
      </div>

      <div class="py3 ml2 mr2">
        <img class="avatar ml2 right" src="<%= Avatar.url_from_email(User.find_by(username: 'vanstee').email.downcase, 66) %>">
        Want to chat about Assembly in person?<br>
        <span class="bold">Find Patrick at the event.</span>
      </div>

    </div>

  </div>
</div>
