<h3><%= @name %> is ready for something more.</h3>
<p>The other day, <%= @name %> was just an idea of yours.  Now 20 people have jumped
  on board to build it with you.</p>

<p>Let's keep this momentum up and turn <%= @name %> into a product.</p>

<h4>As the creator of this idea, it is up to <b>you</b> to take the fateful, last step.</h4>
<p>Check out <a href="<%= idea_url(@idea) %>"><%= @idea.name %></a> and click <b>Build a Product</b>.
