<% title "About" %>
<% provide(:description, "Assembly is for those who build products. We connect you with others who share interests and complement your skills. Unlike traditional companies with shareholders and employees, everything on Assembly is created, operated, and owned by a global community of makers, together.") %>

<%= render 'shared/navbar' %>

<main role="main">

  <section class="_hero hero-about-top"> <!-- .hero namespace is being used by legacy code. refactor -->
    <div class="main">
      <div class="container">
        <h1>
          Together, we can think bigger, go further.
        </h1>
        <a href="http://vimeo.com/102253176" class="svg-play-button popup-video">
          <svg class="svg-icon svg-icon-play-btn" viewBox="0 0 32 32">
              <circle opacity="0.4" cx="16" cy="16" r="16"/>
              <path class="path1" d="M20.9,18c-2.6,1.2-3.5,1.6-5.8,2.6c-2.1,1.2-3.1,1.1-3.1-0.9c0-2.3,0-5.1,0-7.4c0-1.7,0.6-2,2.6-0.9c2.2,1.1,4,2,6.2,3.1C23.3,15.6,23.3,16.7,20.9,18z"/>
          </svg>
        </a>
      </div>
    </div>
    <div class="dark-gradient"></div>
  </section>

  <section class="bg-gray-6 py4">
    <div class="container">
      <div class="clearfix center">
        <div class="col col-4">
          <h2 class="mt0 green"><%= Product.active_product_count %></h2>
          <h4>Products</h4>
          <p>Being built by the community</p>
        </div>
        <div class="col col-4">
          <h2 class="mt0 green"><%= Task.open.count %></h2>
          <h4>Bounties</h4>
          <p>Ready for your help</p>
        </div>
        <div class="col col-4">
          <h2 class="mt0 green">4.5M</h2>
          <h4>Customers</h4>
          <p>Using Assembly products</p>
        </div>
      </div>
    </div>
  </section>

  <section class="flip-grid-unit flip-grid-unit-about">
    <div class="container">
      <div class="header">
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/c42357e4-fc7a-42f6-9414-fec079076fa3/logo.png">
            </a>
          <li>
            <a href="#">
              <img src="<%= asset_path('focus-home/community/line.jpeg') %>" alt="Line">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/9bbfc2ba-7d6a-4be6-9251-5e2685e3e61d/meowboard.png">
            </a>
          <li>
            <a href="#">
              <img src="<%= asset_path('focus-home/community/line.jpeg') %>" alt="Line">
            </a>
          <li>
            <a href="#">
              <img src="/assets/about/grid-logo.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/b84524b344a13ff9ddd30ba96b70ad5b?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/de9141ba-aef7-413f-a513-b96e345ccf7e/zenforms_assembly_avatar.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/e693eaa8252344248493b4a541ddce35?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/bc67326b-2958-48de-9b20-e45da949f6cf/flashdash.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/08f077ea061585744ee080824f5a8e65?size=144px">
            </a>
        </ul>
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/322269aa-a12b-47e4-b68d-229ad014b496/calmail.jpg">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/5e4575fdaacc879dc2199490417d170a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/546a1faa-0fc0-493d-b0d3-b29e319a9e47/logo.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/d6fb638cd5649ea6473a15ee48602aef?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/a1af9019-332d-4f60-883c-c05734429833/logo-bg.png">
            </a>
          <li>
            <a href="#">

              <img src="https://gravatar.com/avatar/0f43618f25d8806e99569fd56d513f0a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/c0c26468-7de3-414a-b7b9-62f1a5b9b3fa/Gamamia_Logo_Square.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/bf8500ae75e57ebe06ef79dcc0bc5cf2?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/1e4aebe6-4771-45da-8805-693787bfe644/coderwall.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/1b1cd93a-f169-452e-a8b3-0c7da2b980b2/Gomad-iOS-icon-1024x1024.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/e5d853ca2e434885a8c36c05bfb0a983?size=144px">
            </a>
        </ul>
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/04751465-19df-466c-b258-7491e27f5fe7/firesize.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/9a69cfaaf977fa8b6a5486ecaaae7c5c?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/fccfd613-2acf-42bf-9142-cec07adba647/watchin.jpg">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/aca8aad5245e144c9222102decb1776e?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/58adc82f-b909-4d89-8fd0-276501c315a8/totroops_logo_dark.png">
            </a>
          <li>
            <a href="#">
              <img src="<%= asset_path('focus-home/community/aaronrelph.png') %>" alt="Line">

            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/bcc65bca-5531-4914-8c03-08c47e2fd601/boxysquare.png">
            </a>
          <li>
            <a href="#">

              <img src="https://gravatar.com/avatar/da9af1e89b5589cc2569c3b8ed1df59a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/24f8d182-2441-4d5f-b8fa-ab2303d098d1/helpful.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/9a69cfaaf977fa8b6a5486ecaaae7c5c?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/a8316019-f181-4cb0-94ef-2ec404f00648/logo_square.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/aca8aad5245e144c9222102decb1776e?size=144px">
            </a>
        </ul>
      </div>
      <div class="main">
        <h2>
			Where we band together to build
			products people love.
        </h2>
        <p>
			We are developers, designers, writers, creatives, or marketers by trade. But we are makers at heart.

			<!-- Assembly is where we band together to build.		 -->

        </p>
        <a href="<%= discover_path %>" class="_button pill-button pill-button-medium pill-button-theme-green pill-button-shadow pill-button-text-shadow pill-button-border">  <!-- namespace, same as above -->
          <span class="title">Get Started</span>
        </a>
      </div>
      <div class="footer">
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/c42357e4-fc7a-42f6-9414-fec079076fa3/logo.png">
            </a>
          <li>
            <a href="#">
              <img src="<%= asset_path('focus-home/community/line.jpeg') %>" alt="Line">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/9bbfc2ba-7d6a-4be6-9251-5e2685e3e61d/meowboard.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/2da61c5c94aefc6a20742e97d1abe6d4?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="/assets/about/grid-logo.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/9990431d03db3672803cf4bd8f639e0d?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/de9141ba-aef7-413f-a513-b96e345ccf7e/zenforms_assembly_avatar.png">
            </a>
          <li>
            <a href="#">
              <img src="<%= asset_path('focus-home/community/iwasrobbed.jpeg') %>" alt="Line">

            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/bc67326b-2958-48de-9b20-e45da949f6cf/flashdash.png">
            </a>
          <li>
            <a href="#">


              <img src="https://gravatar.com/avatar/08f077ea061585744ee080824f5a8e65?size=144px">
            </a>
        </ul>
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/322269aa-a12b-47e4-b68d-229ad014b496/calmail.jpg">
            </a>
          <li>
            <a href="#">

              <img src="https://gravatar.com/avatar/5e4575fdaacc879dc2199490417d170a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/546a1faa-0fc0-493d-b0d3-b29e319a9e47/logo.png">
            </a>
          <li>
            <a href="#">

              <img src="https://gravatar.com/avatar/d6fb638cd5649ea6473a15ee48602aef?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/a1af9019-332d-4f60-883c-c05734429833/logo-bg.png">
            </a>
          <li>
            <a href="#">

              <img src="https://gravatar.com/avatar/0f43618f25d8806e99569fd56d513f0a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/c0c26468-7de3-414a-b7b9-62f1a5b9b3fa/Gamamia_Logo_Square.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/e693eaa8252344248493b4a541ddce35?size=144px">

            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/1e4aebe6-4771-45da-8805-693787bfe644/coderwall.png">
            </a>
          <li>
            <a href="#">

              <img src="https://gravatar.com/avatar/ce343ede8b5f01dd9d8882d57868f37a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/1b1cd93a-f169-452e-a8b3-0c7da2b980b2/Gomad-iOS-icon-1024x1024.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/e5d853ca2e434885a8c36c05bfb0a983?size=144px">
            </a>
        </ul>
        <ul class="flip-grid">
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/04751465-19df-466c-b258-7491e27f5fe7/firesize.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/9a69cfaaf977fa8b6a5486ecaaae7c5c?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/fccfd613-2acf-42bf-9142-cec07adba647/watchin.jpg">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/aca8aad5245e144c9222102decb1776e?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/58adc82f-b909-4d89-8fd0-276501c315a8/totroops_logo_dark.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/81eb1f5770feac1f14dbb09ff3e788ff?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/bcc65bca-5531-4914-8c03-08c47e2fd601/boxysquare.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/da9af1e89b5589cc2569c3b8ed1df59a?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/24f8d182-2441-4d5f-b8fa-ab2303d098d1/helpful.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/9a69cfaaf977fa8b6a5486ecaaae7c5c?size=144px">
            </a>
          <li>
            <a href="#">
              <img src="https://d8izdk6bl4gbi.cloudfront.net/340x340/g_center/https://d1015h9unskp4y.cloudfront.net/attachments/a8316019-f181-4cb0-94ef-2ec404f00648/logo_square.png">
            </a>
          <li>
            <a href="#">
              <img src="https://gravatar.com/avatar/aca8aad5245e144c9222102decb1776e?size=144px">
            </a>
        </ul>
      </div>
    </div>
  </section>

  <div class="bg-gray-6 py2 sm-py4">
    <div class="clearfix">
      <article class="sm-col-6 mx-auto px3">
        <h2>Our Story</h2>
        <div class="">
          <p>
            The Internet has brought humanity together to create things we couldn't have created alone. We can see this everywhere, from Wikipedia to Open Source software.
          </p>
          <p>
    Assembly is a platform that enables anyone, anywhere to openly collaborate and build real businesses together. This is how we create software the Internet age. We're excited about what can be achieved as a connected community of millions of talented driven people are innovating on products freely.
          </p>

          <blockquote class="mt3 mb3 mxn4 py3 px4 white bg-cover bg-center" style="background-image:url(/assets/about/excerpt-header1.jpg);padding-top:12rem">
            <p class="h3">
              &ldquo;Unlike traditional companies with shareholders and employees, everything on Assembly is created, operated, and owned by a global community of makers, together.&rdquo;
            </p>
          </blockquote>
          <p>
            Assembly was built and launched in late 2013. In the short period Assembly has been running, we've already seen tens of thousands of strangers come together to build and launch products, middle schoolers coding next to seasoned designers, paid out thousands of dollars out to contributors on some of the early successful products, and seen millions of people use the products created by the community.
          </p>

          <div class="clear"></div>

          <h3>Our Values</h3>

          <div class="clearfix mb3 mxn2">

          	<div class="sm-col sm-col-6 px2">
          		<h4>Global Diversity</h4>
          		Everyone is invited to make an impact, have influence, and be able to share their best work. Ideas, vision and execution are be driven by the community.
          	</div>

          	<div class="sm-col sm-col-6 px2">
          		<h4>Explicitness</h4>
          		Leadership and vision are modeled after open source's notion of a merit-based Core Team that is part of the community.
          	</div>

            <div class="clearfix"></div>

          	<div class="sm-col sm-col-6 px2">
          		<h4>Liberty</h4>
            	Instead of employment contracts, people should be able to work when they want, how they want, and where they want.
            </div>

          	<div class="sm-col sm-col-6 px2">
          		<h4>Shared ownership</h4>
            	Success is shared equitably. Each contribution should be rewarded with a fair amount of ownership stake as determined by the community.
            </div>
          </div>

          <div class="clearfix mxn4 mb3">
            <div class="col col-8 bg-cover" style="background-image:url(<%= image_path('about/copy-img2.jpg') %>);height:20rem"></div>

            <div class="col col-4 bg-cover" style="background-image:url(<%= image_path('about/copy-img3.jpg') %>);height:20rem"></div>
          </div>
        </div>
      </article>
    </div>
  </div>

  <section class="bg-white py4 quote-slider quote-slider-about">
    <div class="carousel">

      <div class="item mx-auto">
        <blockquote class="twitter-tweet" data-align="center" data-width="480" lang="en"><p>Dear Assembly (<a href="https://twitter.com/asm">@asm</a>). Thank you for building the internet&#39;s best learning &amp; social platform. You increased my side-project excitement 156%.</p>&mdash; Maggie Appleton (@Mappletons) <a href="https://twitter.com/Mappletons/status/552806637418082305">January 7, 2015</a></blockquote>
      </div>

      <div class="item mx-auto">
        <blockquote class="twitter-tweet" data-align="center" data-width="480" lang="en"><p>Last night I dove into <a href="http://t.co/T5aLzesWO4">http://t.co/T5aLzesWO4</a> and contributed work on <a href="https://twitter.com/helpful">@helpful</a>. Feeling really motivated to make stuff now. Thanks <a href="https://twitter.com/asm">@asm</a>.</p>&mdash; Ken Seals (@kenseals) <a href="https://twitter.com/kenseals/status/554652184957435904">January 12, 2015</a></blockquote>
      </div>

      <div class="item mx-auto">
        <blockquote class="twitter-tweet" data-align="center" data-width="480" lang="en"><p>Just discovered <a href="http://t.co/NxjBAjq03r">http://t.co/NxjBAjq03r</a>. I feel like I&#39;ve been sucked into a vortex of mad scientists who only build awesome stuff. <a href="https://twitter.com/asm">@asm</a></p>&mdash; Mike Nelson (@mevlow) <a href="https://twitter.com/mevlow/status/563735831509098498">February 6, 2015</a></blockquote>
      </div>

      <div class="item mx-auto">
        <blockquote class="twitter-tweet" data-align="center" data-width="480" lang="en"><p>It&#39;s amazing how fast you learn a new programming language/platform when you&#39;re working on a real project <a href="https://twitter.com/hashtag/saveyoursideproject?src=hash">#saveyoursideproject</a> <a href="https://twitter.com/asm">@asm</a></p>&mdash; Nícolas Iensen (@nicolasiensen) <a href="https://twitter.com/nicolasiensen/status/559125237628174336">January 24, 2015</a></blockquote>
      </div>

    </div>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </section>


  <!-- The Team -->

  <div class="bg-gray-6 py4">
    <div class="container">
      <h2 class="center">The Team</h2>
      <div class="sm-col-8 mx-auto">
        <div class="clearfix mxn3">
          <% AssemblyTeam.all.shuffle.each do |user| %>
            <div class="col col-6 sm-col-3 center p3">
              <a href="<%= user_url(user) %>">
                <div class="mx-auto mb2" style="width:96px">
                  <%= react_component 'Avatar', user: AvatarSerializer.new(user), size: 96 %>
                </div>
                <span class="black bold"><%= user.username %></span>
              </a>

              <a href="https://twitter.com/<%= user.twitter_nickname %>">
                <%= react_component 'Icon', icon: 'twitter' %>
              </a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <section class="_hero hero-about-bottom"> <!-- .hero namespace is being used by legacy code. refactor -->
    <div class="main">
      <div class="container">
        <h1>
          Let's Get to Know Each&nbsp;Other
        </h1>
        <p>
          You seem like a super cool person. Don't be shy, give us a follow and we'll be friends in no&nbsp;time!
        </p>
      </div>
    </div>
    <div class="footer">
      <div class="container">
        <div class="social-row">
          <ul>
            <li>
              <a href="https://twitter.com/asm">
                <img src="/assets/about/social-icon-twitter.png">
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/assemblymade">
                <img src="/assets/about/social-icon-facebook.png">
              </a>
            </li>
          </ul>
          <div class="pill-bg"></div>
        </div>
      </div>
    </div>
  </section>

</main>

<%= render 'shared/footer' %>


<% content_for :javascript do %>
<script>
    // -- video modal
    (function($) {

      $('.popup-video').magnificPopup({
          disableOn:700,
          type:'iframe',
          mainClass:'mfp-fade',
          removalDelay:160,
          preloader:!1,
          fixedContentPos:!1
      });

    })(jQuery);

  // -- dashboard
  (function($) {
    var $chart = $('.circle-stats .chart');
    //
    $chart.easyPieChart({
      size: '90',
      lineWidth: '10',
      trackColor: '#e5e7ea',
      barColor: '#33d6a6',
      easing: 'easeOutBounce',
      scaleColor: false,
      scaleLength: false,
      onStep: function(from, to, percent) {
        $(this.el).find('.percent').text(Math.round(percent));
      }
    });
  })(jQuery);

  // -- full slider
  (function($) {
    var $fullSlider = $('.full-slider-about'),
        $fullSliderCarousel = $fullSlider.find('.carousel');
    //
    $fullSliderCarousel.owlCarousel({
      singleItem: true,
      slideSpeed: 300,
      paginationSpeed: 400,
      navigation: false,
      afterInit: afterOWLinit,
      afterUpdate: afterOWLinit
    });
    function afterOWLinit() {
      $('.owl-controls .owl-page span').append('<a class="item-link" href="#"/>');
      var pafinatorsLink = $('.owl-controls .item-link');
      //
      $.each(this.owl.userItems, function (i) {
        $(pafinatorsLink[i])
          .css({
            'background': 'url(' + $(this).find('img').attr('src') + ') center center no-repeat',
            '-webkit-background-size': 'cover',
            '-moz-background-size': 'cover',
            '-o-background-size': 'cover',
            'background-size': 'cover'
          })
          .on('click', function(e) {
            e.preventDefault();
          });
      });
    }
  })(jQuery);

  // -- quote slider
  (function($) {
    var $quoteSlider = $('.quote-slider-about'),
        $quoteSliderCarousel = $quoteSlider.find('.carousel');
    //
    $quoteSliderCarousel.owlCarousel({
      singleItem: true,
      autoPlay: 10000,
      slideSpeed: 300,
      paginationSpeed: 400,
      navigation: false
    });
  })(jQuery);

</script>
<% end %>
