<% title 'Assembly is a new way for people around the world to collectively build, launch, and grow startups.' %>
<%= track 'home.viewed' %>

<div class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#platform-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="text-brand navbar-brand" href="<%= root_path %>">
        <span class="brand">
          <span class="icon icon-logo-filled"></span>
            Assembly
        </span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="platform-navbar-collapse">
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a href="<%= new_user_session_path %>">
              Log in
            </a>
          </li>

          <li>
            <div class="navbar-form">
              <a class="btn btn-success" href="<%= new_user_registration_path %>">Sign up</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div><!-- .navbar -->

<div class="page page-flat">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">


        <div class="sheet-">
          <h1 class="text-center">
            Build, launch, and grow a startup with talented people around the world
          </h1>

          <br>
          <br>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">

              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//player.vimeo.com/video/102253176" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>

              <br>
              <br>

            </div>
          </div>


          <div class="row">

            <div class="col-md-10 col-md-offset-1">
              <p class="lead" style="margin-bottom: 36px;text-align:left;">
                Startups on Assembly are unlike traditional companies. They don't have investors, shareholders, or even employees. Instead, a global community creates and owns them, together.
              </p>

              <p>
                Anyone can jump in and help out a startup on Assembly. The entire process is a collaborative effort including its vision, development, design, and marketing.
              </p>

              <p>
                Everyone shares in the success of the startups they help create. Those involved earn App Coins from others in the community for their work. At the end of each month Assembly pays the bills and splits the proceeds amongst everyone with App Coins.
              </p>
            </div>

          </div>

          <br>


          <div class="text-center">
            <a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>">
              Join an Assembly
            </a>
          </div>

          <br>
          <br>

        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
