<% title 'Assembly is a community of crowd-made startups' %>

<%= render 'shared/navbar' %>

<div class="page page-with-header page-home">

  <div class="block block-inverted block-image-bg">
    <div class="container">
      <h1 class="text-center text-serif">Build companies better, together.</h1>

      <p class="text-center lead">Without limitations of geography, time, and logistics, Assembly connects talented minds to build great software products. Everyone can make an impact, and success is shared equitably.</p>

      <div class="section" style="margin-bottom: 24px;">

        <div class="row" style="margin-top: 80px;">

          <div class="col-xs-3">
            <a href="<%= product_path('helpful') %>" class="card card-sm card-colored product-helpful">
              <div class="card-hero" style="background-image: url('http://cl.ly/image/173v2r04391P/Screen%20Shot%202014-05-10%20at%209.47.51%20AM.png');"></div>
              <div class="card-body">
                <div class="summary">
                  <div class="summary-target">
                    Support comes from people, not software
                  </div>
                  <p class="summary-name omega">
                    Helpful
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-3">
            <a href="<%= product_path('family-table') %>" class="card card-sm card-colored product-family-table">
              <div class="card-hero" style="background-image: url('http://f.cl.ly/items/3c3E0P371c2f3D1z3z3n/familytable.jpg');"></div>
              <div class="card-body">
                <div class="summary">
                  <div class="summary-target">
                    One place to organize the whole family
                  </div>
                  <p class="summary-name omega">
                    Family Table
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-3">
            <a href="<%= product_path('buckets') %>" class="card card-sm card-colored product-buckets">
              <div class="card-hero" style="background-image: url('http://f.cl.ly/items/3f402s282b3N201g3p3H/Logo.png');"></div>
              <div class="card-body">
                <div class="summary">
                  <div class="summary-target">
                    Manage content better
                  </div>
                  <p class="summary-name omega">
                    Buckets
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="col-xs-3">
            <a href="<%= product_path('really-good-emails') %>" class="card card-sm card-colored product-really-good-emails">
              <div class="card-hero" style="background-image: url('http://cl.ly/image/1Z1a1N450G43/Screen%20Shot%202014-05-09%20at%201.02.18%20PM.png');"></div>
              <div class="card-body">
                <div class="summary">
                  <div class="summary-target">
                    The best Showcase of Product Emails
                  </div>
                  <p class="summary-name omega">
                    Really Good Emails
                  </p>
                </div>
              </div>
            </a>
          </div>

        </div><!-- .row -->

        <figure class="text-center figure-inverted" style="margin-top: 30px;">Four of many products currently being built collaboratively on Assembly. <a href="<%= discover_path %>">Explore more products &rarr;</a></figure>
      </div><!-- .section -->
    </div><!-- .container -->
  </div><!-- .block -->

  <div class="block block-colored block-bordered" style="margin-bottom: 48px;">
    <div class="container">
      <div class="row">
        <h3 class="col-xs-8 alpha omega text-muted" style="margin-top: 4px;"><strong>Join Assembly.</strong> It takes less than a minute.</h3>
        <div class="col-xs-4">
          <a class="btn btn-success btn-block" href="<%= new_user_registration_path %>">Sign up</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <div class="section" style="margin-bottom: 36px;">
          <h2 class="text-center">Zigging where others Zag</h2>

          <div class="row" style="margin-bottom: 24px;">
            <div class="col-xs-4 text-right text-muted" style="margin-top: 20px;">
              <h6>Traditional companies</h6>
              <ul class="list-unstyled list-ruled text-sans">
                <li>Investors and founders have ownership</li>
                <li style="line-height: 50px;">Complex organizational structure</li>
                <li>Most work happens in the office,<br>during the day</li>
                <li>Employment contracts</li>
              </ul>
            </div>

            <div class="col-xs-4">
              <div class="card card-lg text-center" style="box-shadow: inset 0 0 0 2px rgba(123, 171, 94, 0.48), 0 1px 0 0 rgba(0, 0, 0, 0.04);">
                <div class="card-body">
                  <h6 class="text-serif">Assembly startups</h6>
                  <ul class="list-unstyled list-ruled omega text-success">
                    <li>Everyone has ownership</li>
                    <li>Everyone contributes where they are most effective</li>
                    <li>Products are built around-the-clock by distributed teams</li>
                    <li>Revenue is split equitably between contributors</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-xs-4 text-muted" style="margin-top: 20px;">
              <h6>Side projects</h6>
              <ul class="list-unstyled list-ruled text-sans">
                <li>Creator has ownership</li>
                <li style="line-height: 50px;">One-person team</li>
                <li>Work happens at home, on nights<br>and weekends</li>
                <li>Revenue is rare</li>
              </ul>
            </div>
          </div>

          <p class="lead text-center omega"><a class="text-success" href="#">View our Field Guide to learn more about how Assembly works &rarr;</a></p>
        </div>

      </div><!-- .col-* -->
    </div><!-- .row -->

  </div><!-- .container -->

</div><!-- .page -->

<%= render 'shared/footer' %>
