<% title 'Assembly is a new way for people around the world to collectively build, launch, and grow startups.' %>
<%= track 'home.viewed' %>

<div class="masthead" style="background-image:url(<%= image_url 'pretty-people-working.jpg' %>)">
  <div class="masthead-gradient"></div>

  <div class="navbar navbar-static-top masthead-navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>">
          Assembly
        </a>
      </div>

      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a href="<%= new_user_session_path %>">
              Log in
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- .navbar -->

  <div class="container text-center">
    <h1 class="masthead-title" style="font-size:48px">Build, launch, and grow a product<br>with talented people around the world.</h1>
    <a class="play-button" href="#" data-toggle="modal" data-target="#video-modal">
      <%= image_tag 'play.png' %>
    </a>
  </div>
</div><!-- .masthead -->

<div class="modal fade" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/102253176?api=1" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<script src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>

<% content_for :javascript do %>
  <script>
    modal = $('#video-modal');
    player = $f(modal.find('iframe')[0]);

    modal.on('shown.bs.modal', function() {
      player.addEvent('ready', function() {
        player.api('play');
      });
    });
    modal.on('hide.bs.modal', function() {
      player.addEvent('ready', function() {
        player.api('pause');
      });
    });
  </script>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <p class="large">
        <strong>Work together.</strong>
        Products on Assembly aren't like traditional companies. They don't have investors, shareholders, or even employees. Instead, a global community creates and owns them, together.
      </p>

      <p class="large">
        <strong>Focus on what you like.</strong>
        The entire process is a collaborative effort, including vision, development, design and marketing. Anyone can make a contribution, and all contributions are rewarded with an ownership stake.
      </p>

      <p class="large">
        <strong>Keep your share.</strong>
        Everyone participates in the success of the products they help create. Each product has App Coins, which you earn by contributing work. When that product earns money, you get your share of the profits.
      </p>

      <br>

      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <a class="btn btn-primary btn-block btn-lg" href="<%= new_user_registration_path %>">
            Get started
          </a>
        </div>
      </div>

      <br>
      <hr>
      <br>

      <p class="text-center text-muted text-large" style="margin-bottom:48px">
        Just have a question? <a href="mailto:assembly@helpful.io" data-helpful="assembly">Ask away!</a>
        <script src="https://assets.helpful.io/assets/widget.js"></script>
      </p>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom:60px">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <ul class="list-inline well text-center" style="border:none">
        <li><a class="text-muted" href="<%= about_path %>">About</a></li>
        <li><a class="text-muted" href="http://blog.assembly.com">Blog</a></li>
        <li><a class="text-muted" href="<%= faq_path %>">FAQs</a></li>
        <li><a class="text-muted" href="<%= tos_path %>">Terms</a></li>
        <li><a class="text-muted" href="mailto:assembly@helpful.io">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
