<% title 'Build your idea into a product with our community' %>
<%= track 'learn.viewed' %>

<div class="masthead" style="background-image:url(<%= image_url 'pretty-people-working.jpg' %>)">
  <div class="navbar navbar-static-top masthead-navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>">
          Assembly
        </a>
      </div>

      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a href="<%= new_user_session_path %>">
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- .navbar -->

  <div class="container text-center">
    <div class="masthead-title">
      <h1>Build your idea into a product with our community.</h1>
      <p class="lead">World-class product designers, engineers, writers, others building product &dash; together.</p>
    </div>
    <a class="btn btn-success btn-lg" href="#">
      Start Your Product
    </a>
  </div>
</div><!-- .masthead -->

<div class="container">
  <h3>How to launch a product on Assembly</h3>
  <hr>

  <ul>
    <li>
      <strong>Submit an Idea</strong>
      <span class="text-muted">for a product</span>
    </li>
    <li>
      <strong>Rally Your Idea</strong>
      <span class="text-muted">Gather others to build with you</span>
    </li>
    <li>
      <strong>Build the Product</strong>
      <span class="text-muted">with the Assembly community</span>
    </li>
    <li>
      <strong>Ship the Product!</strong>
      <span class="text-muted">We take care of the business stuff</span>
    </li>
    <li>
      <strong>Profits paid to Contributors</strong>
      <span class="text-muted">When a product is profitable</span>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h1>3MM</h1>
      <p class="lead">Customers</p>
      <p>Over 3 million people have used the products that are being built on Assembly.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h1>$160K</h1>
      <p class="lead">In Profits Paid Out</p>
      <p>Over $160,000 has been paid out to Assembly App Coin holders in 2014.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h1><%= Product.count %></h1>
      <p class="lead">Products</p>
      <p><%= Product.count %> products started on Assembly. <%= Product.greenlit.count %> products launched in 2014.</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 text-center">
      <div>
        <div><%= avatar_tag(User.find_by(username: 'peizoelectric'), 50) %></div>
        <i>Build on Assembly I have a built-in team &dash; no more solo projects. I can't wait to launch Octobox.</i>
        <br>
        <span class="small">
          <strong>Philip Carter - Web Application Developer</strong>
          <br>
          <span class="text-muted">@peizoelectric</span>
        </span>
      </div>
      <div>
        <div><%= avatar_tag(User.find_by(username: 'chexee'), 50) %></div>
        <i>I choose what to work on and when I work on it. For each product, the idea, direction, and vision are all driven by the people who make it. That's a really powerful idea.</i>
        <br>
        <span class="small">
          <strong>Chelsea Otakan - Interface Designer</strong>
          <br>
          <span class="text-muted">@chexee</span>
        </span>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h2>Why Assembly?</h2>
      <h4>Collaborative Ownership</h4>
      <p>Collaborate on a common product vision with others as a community team. Earn ownership of the product by completing bounties.</p>

      <hr>

      <h4>Make a Difference</h4>
      <p>Notifications and near-realtime access to finacials, ownership and strategic team decisions so you can guide the direction of the business.</p>

      <hr>

      <h4>Learn While you Build</h4>
      <p>With with others on product and get exposed to new ideas and skills. Participate in the ideation process, web development, visual design or imagining creative revenue opportunity. Grow your existing experience with product.</p>
    </div>
  </div>
</div>

<hr>

<div class="container">
  <div class="text-center">
    <h2>What Assembly Does For You</h4>
    <hr>
    <h4>Do what you're best at, let us do the rest.</h4>
    <p>Leave the hassles to us. We take care of the nauseating business setup, legal docs, hosting and accounting so that great product ideas can be free form the obstacles that too often kill them before they get off the ground.</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <span class="glyphicon glyphicon-ok text-success"></span>
      <h5>We buy and manage domains</h5>
      <p>This is dummy copy. It is not meant to be read. It has been placed here solely to determine the look and feel of the finished product, typeset text.</p>

      <br>

      <span class="glyphicon glyphicon-ok text-success"></span>
      <h5>We buy and manage domains</h5>
      <p>This is dummy copy. It is not meant to be read. It has been placed here solely to determine the look and feel of the finished product, typeset text.</p>

      <br>

      <span class="glyphicon glyphicon-ok text-success"></span>
      <h5>We buy and manage domains</h5>
      <p>This is dummy copy. It is not meant to be read. It has been placed here solely to determine the look and feel of the finished product, typeset text.</p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <span class="glyphicon glyphicon-ok text-success"></span>
      <h5>We buy and manage domains</h5>
      <p>This is dummy copy. It is not meant to be read. It has been placed here solely to determine the look and feel of the finished product, typeset text.</p>

      <br>

      <span class="glyphicon glyphicon-ok text-success"></span>
      <h5>We buy and manage domains</h5>
      <p>This is dummy copy. It is not meant to be read. It has been placed here solely to determine the look and feel of the finished product, typeset text.</p>

      <br>

      <span class="glyphicon glyphicon-ok text-success"></span>
      <h5>We buy and manage domains</h5>
      <p>This is dummy copy. It is not meant to be read. It has been placed here solely to determine the look and feel of the finished product, typeset text.</p>
    </div>
  </div>

  <div class="text-center">
    <h3>Assembly is a collaborator on your product.</h3>
    <p class="lead">For this high level of collaboration, we own 10% of your product.</p>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Smart Questions</h2>

  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          <a href="#">
            How is ownership represented legally on Assembly?
          </a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          <a href="#">
            How is ownership represented legally on Assembly?
          </a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          <a href="#">
            How is ownership represented legally on Assembly?
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          <a href="#">
            How is ownership represented legally on Assembly?
          </a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          <a href="#">
            How is ownership represented legally on Assembly?
          </a>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <span class="glyphicon glyphicon-chevron-down pull-right"></span>
          <a href="#">
            How is ownership represented legally on Assembly?
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="callout text-large">
    <div class="container">
      <a href="<%= start_idea_path %>" class="btn btn-success pull-right">Learn More</a>
      Already have a product and want to migrate it to Assembly?
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
