<% title 'Build your idea into a product with our community' %>
<%= track 'learn.viewed' %>

<div class="masthead" style="background-image:url(<%= image_url 'pretty-people-working.jpg' %>)">
  <div class="navbar navbar-static-top masthead-navbar">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="<%= root_path %>">
          Assembly
        </a>
      </div>

      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a href="<%= new_user_session_path %>">
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div><!-- .navbar -->

  <div class="container text-center">
    <div class="masthead-title">
      <h1>Build your idea into a product with our community.</h1>
      <p class="lead">World-class product designers, engineers, writers, others building product &dash; together.</p>
    </div>
    <a class="btn btn-success btn-lg" href="#">
      Start Your Product
    </a>
  </div>
</div><!-- .masthead -->

<div class="container">
  <h3>How to launch a product on Assembly</h3>
  <hr>

  <ul>
    <li>
      <strong>Submit an Idea</strong>
      <span class="text-muted">for a product</span>
    </li>
    <li>
      <strong>Rally Your Idea</strong>
      <span class="text-muted">Gather others to build with you</span>
    </li>
    <li>
      <strong>Build the Product</strong>
      <span class="text-muted">with the Assembly community</span>
    </li>
    <li>
      <strong>Ship the Product!</strong>
      <span class="text-muted">We take care of the business stuff</span>
    </li>
    <li>
      <strong>Profits paid to Contributors</strong>
      <span class="text-muted">When a product is profitable</span>
    </li>
  </ul>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h1>3MM</h1>
      <p class="lead">Customers</p>
      <p>Over 3 million people have used the products that are being built on Assembly.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h1>$160K</h1>
      <p class="lead">In Profits Paid Out</p>
      <p>Over $160,000 has been paid out to Assembly App Coin holders in 2014.</p>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h1><%= Product.count %></h1>
      <p class="lead">Products</p>
      <p><%= Product.count %> products started on Assembly. <%= Product.greenlit.count %> products launched in 2014.</p>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
