<% title 'Tell us about yourself' %>
<%= track 'interests' %>

<%= render 'shared/onboarding_navbar' %>

<div class="container mb4">
  <div class="center py4">
    <h1 class="h1 mt0 mb0">Ok, just finished looking through <%= pluralize(Wip.count, 'bounty') %>.</h1>
    <p class="h3 mt0 mb0 gray-darker">These are bounties that could really use your help. Check 'em out.</p>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% @task_groups.each do |task_group| %>
        <h4><%= task_group.title %></h4>
        <% task_group.tasks.each do |task| %>
          <%= render 'bounties/chip', bounty: task %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
