<div class="mt0 mb4 border-bottom sheet-header">

  <h2 class="mt0 mb4 border-bottom-title">
    <%= project.wip.title %>
  </h2>

  <div class="mt0 mb4 border-bottom-meta">
    <% if partner?(@product) %>
      <ul class="list-piped pull-right">
        <li class="list-item">
          <a class="red-hover" data-toggle="tooltip" data-placement="top" title="Edit Project" href="<%= edit_product_project_path(project.product, project) %>">
            <i class="icon-pencil" style="margin-right: 2px;"></i>
            Edit
          </a>
        </li>
      </ul>
    <% end %>

    <ul class="list-piped">
      <li>
        Started by
        <a href="<%= user_path(project.user) %>">
          @<%= project.user.username %>
        </a>
      </li>
      <li>
        <%= pluralize project.tasks.open.count, 'task' %> remaining
      </li>
    </ul>
  </div>

</div>
