<% cache [milestone, milestone.wip] do %>
  <a class="deprecated-card" href="<%= product_project_path(milestone.product, milestone) %>">

    <% if milestone.milestone_images.any? %>
      <% url = File.join(firesize_url, "263x175", "g_north", URI.escape(milestone.feature_image.attachment.url)) %>
      <div class="deprecated-card-hero" style="background-image:url(<%= url %>)">
      </div>
    <% end %>

    <div class="deprecated-card-body">

      <div class="progress progress-sm">
        <div class="progress-bar progress-bar-success" style="width:<%= number_to_percentage(milestone.progress * 100, precision: 0) %>"></div>
      </div>

      <div class="summary">
        <div class="summary-target" style="min-height:56px">
          <%= milestone.wip.title %>
        </div>

        <p class="mb0">
          <% if milestone.tasks.count.zero? %>
            No tasks added
          <% else %>
            <%= pluralize(milestone.tasks.open.count, 'open task') %>
          <% end %>
        </p>
      </div>
    </div><!-- .deprecated-card-body -->
  </a>
<% end %>
