<% milestone = Milestone.find_by!(number: project.number) %>

<div class="deprecated-card">
  <div class="deprecated-card-body">
    <h2 class="mt0 mb0"><%= project.title %></h2>
  </div>
  <div class="bg-gray-5 py2 px1">
    <ul class="list-piped mb0 pull-left">
      <li>
        Started by
        <a href="<%= user_path(project.user) %>">@<%= project.user.username %></a>
      </li>
    </ul>

    <ul class="list-piped mb0 pull-right">
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-xs-8">

    <% if milestone.feature_image.present? %>
      <img class="img-thumbnail" src="<%= firesize_url %>/630x300/<%= URI.escape milestone.feature_image.attachment.url %>">
    <% end %>

    <div class="markdown-normalized">
      <%== product_markdown(milestone.product, milestone.description) %>
    </div>

    <br>
    <hr>

    <h6>Task list</h6>
    <%= render 'projects/tasks', milestone: milestone %>
  </div>

  <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">

    <div class="panel panel-default">
      <div class="panel-body">

        <div class="progress progress-sm mb0" style="margin-bottom: 10px;">
          <div class="progress-bar progress-bar-success" style="width:<%= number_to_percentage milestone.progress * 100, precision: 0 %>;">

          </div>
        </div>

        <h6 class="gray-2 mb0">
          <span class="pull-right"><%= number_to_percentage milestone.progress * 100, precision: 0 %></span>
          Progress
        </h6>
      </div>

      <ul class="list-group list-group-breakout small mb0">
        <li class="list-group-item">
          <span class="badge"><%= milestone.tasks.open.count %></span>
          Bounties remaining
        </li>
        <li class="list-group-item">
          <span class="badge"><%= milestone.tasks.closed.count %></span>
          Completed
        </li>
      </ul>

    </div><!-- .panel -->

    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title">Contributors</h6>
      </div>
      <div class="panel-body">
        <ul class="list-grid mb0">
          <% milestone.wip.contributors.each do |contributor| %>
            <li>
              <%= avatar_tag(contributor, 24) %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title">Cover Image</h6>
      </div>
      <%# render 'milestones/feature_image' %>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title">Assets</h6>
      </div>
      <div class="panel-body">
        <ul class="list-grid">
          <% Deliverable.where(wip_id: milestone.task_ids).includes(:attachment, :wip).each do |asset| %>
            <li>
              <a href="<%= product_wip_path(asset.wip.product, asset.wip) %>">
                <img src="<%= File.join(firesize_url, "48x48", "g_center", URI.encode(asset.attachment.url)) %>">
              </a>
            </li>
          <% end %>
        </ul>

        <p class="small gray-2 mb0">Designs added to tasks in this project will be displayed here</p>
      </div>
    </div>
  </div>
</div>
