<% title 'Projects', @product.name %>
<% activate_nav! :projects %>

<% if @milestones.empty? %>
  <div class="row">
    <div class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3">
      <div class="well well-lg mb0">
        <h3 class="mt0"><strong>Organize your work into Projects</strong></h3>
        <p class="gray-2 mb0">
          Projects give you a great way to organize tasks. For example, you could make projects for the main screens
          in <%= @product.name %>. This helps people quickly grasp the vision.
        </p>
      </div>
    </div>
  </div>
<% else %>
  <table class="table table-hover">
    <!-- <thead>
      <tr>
        <th>Project Name</th>
        <th class="right-align" style="padding-right: 30px;">Bounties</th>
        <th>Completion</th>
      </tr>
    </thead> -->
    <% @milestones.each do |milestone| %>
      <% cache [milestone, milestone.wip] do %>
        <tr>
          <td>
            <a href="<%= product_project_path(milestone.product, milestone.wip) %>"><strong><%= milestone.wip.title %></strong></a>
          </td>
          <td class="right-align" style="padding-right: 30px;">
            <strong class="green"><%= milestone.tasks.closed.count %></strong>
            <span class="gray-2">
              /
              <%= milestone.tasks.count %>
            </span>
          </td>
          <td>
            <div class="progress mb0" style="min-width:200px">
              <div class="progress-bar progress-bar-success" style="width:<%= number_to_percentage(milestone.progress * 100, precision: 0) %>">
                <% if milestone.progress > 0 %>
                  <%= number_to_percentage(milestone.progress * 100, precision: 0) %>
                <% end %>
              </div>

            </div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
