<!-- <div id="entry-<%= event.number %>"> -->

  <!-- <div class="pull-left">
    <% if can?(:award, event) %>
      <%= link_to 'Award', award_product_wip_path(@product, @wip, event_id: event.id), remote: true, method: 'patch', class: 'btn btn-default btn-small', data: { confirm: "Are you sure you want to award #{event.user.username}?" } %>
    <% end %>
    <% if can?(:update, event) %>
      <%= link_to 'Edit', edit_product_wip_comment_path(@product, @wip, event), class: 'btn btn-default btn-small' %>
    <% end %>
  </div> -->

  <%== html %>

  <!-- <% if event.tippable? %>
    <div class="timeline-entry-meta">
      <%= render 'wips/tip_box', event: event %>
    </div>
  <% end %> -->
<!-- </div> -->
