<div class="page-header">

  <div class="pull-right">
    <a class="btn btn-default btn-sm" href="<%= new_product_wip_path(@wip.product) %>">
      Create a bounty
    </a>
  </div>

  <h2 class="page-header-title">
    <%= @wip.title %>
    <small>#<%= @wip.number %></small>
  </h2>

  <div class="page-header-meta">
    <ul class="list-piped pull-right">
      <li>
        <%= render partial: 'add_to_milestone' %>
      </li>
      <% if can?(:update, @wip) %>
        <li>
          <a class="link-action-warning" href="<%= edit_product_wip_path(@wip.product, @wip) %>" data-toggle="tooltip" data-placement="top" title="Edit Topic">
            <i class="icon-pencil" style="margin-right: 2px;"></i> Edit
          </a>
        </li>
        <li>
          <a class="link-action-warning" href="<%= product_task_to_discussion_path(@wip.product, @wip) %>" data-method="patch" data-confirm="Are you sure?" data-toggle="tooltip" data-placement="top" title="Move to Discussions">
            <i class="icon-arrow-right-circled" style="margin-right: 2px;"></i> Move
          </a>
        </li>
      <% end %>
    </ul>

    <div class="js-coin-vote"
         data-view="coin-vote"
         data-vote-path="<%= product_wip_path(@wip.product, @wip) %>/votes"
         data-coins="<%= @wip.coins.to_i %>"
         data-coins-add="<%= @wip.coins_add.to_i %>"
    >
      <div class="pull-left" style="margin-right: 6px;">
        <% if signed_in? %>
          <a href="#" class="btn btn-default btn-xs js-coin-vote-btn <% if @wip.has_user_voted?(current_user) %>disabled<% end %>">
            <span class="icon icon-chevron-up"></span>
          </a>
        <% else %>
          <a href="<%= new_user_registration_path %>" class="btn btn-default btn-xs">
            <span class="icon icon-chevron-up"></span>
            <span class="sr-only">Upvote</span>
          </a>
        <% end %>
      </div>

      <ul class="list-piped omega">
        <li>
          <%= format_coins(@wip.product, @wip.contracts.earnable_cents) %>
        </li>
        <li>
          Created by
          <a href="<%= user_path(@wip.user) %>">@<%= @wip.user.username %></a>
        </li>
        <li>
          <%= pluralize(@wip.comments.count, 'comment') %>
        </li>
        <li>
          <%= render 'wips/urgency', task: @wip %>
        </li>
        <li>
          <span class="label label-outlined"><%= @wip.deliverable.titleize %></span>
        </li>
      </ul>
    </div>
  </div>
</div>
