<div class="item wip mint-gutter" data-number="<%= task.number %>" data-promoted="<%= task.promoted? %>">

  <div class="summary">
    <a class="summary-target" href="<%= product_wip_path(task.product, task) %>">
      <%= task.title %>
    </a>

    <ul class="list-piped omega pull-right">

      <% if task.promoted? || task.workers.any? %>
        <li>
          <% if task.workers.any? %>
            <span class="label label-default">In Progress</span>
          <% end %>
          <% if task.promoted? %>
            <span class="label label-promoted">Promoted</span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <!-- FIXME: This sucks -->
    <div data-view="coin-vote"
         data-vote-path="<%= product_wip_path(task.product, task) %>/votes"
         data-coins="<%= task.coins %>"
         data-coins-add="<%= task.coins_add %>"
    >

      <div class="pull-left" style="margin-right:6px">
        <% if signed_in? %>
          <a href="<%= product_wip_path(task.product, task) %>/votes" class="btn btn-default btn-xs js-coin-vote-btn <% if task.has_user_voted?(current_user) %>disabled<% end %>" data-remote="true" data-method="post">
            <% if task.promoted? %>
              <span class="icon icon-double-chevron-up text-promoted"></span>
            <% else %>
              <span class="icon icon-chevron-up"></span>
            <% end %>
          </a>
        <% else %>
          <a href="<%= new_user_registration_path %>" class="btn btn-default btn-xs">
            <% if task.promoted? %>
              <span class="icon icon-double-chevron-up text-promoted"></span>
            <% else %>
              <span class="icon icon-chevron-up"></span>
            <% end %>
            <span class="sr-only">Upvote</span>
          </a>
        <% end %>

      </div>

      <ul class="list-piped omega">
        <li>
          <%= format_coins(task.product, task.real_coin_value, :short) %>
        </li>
        <li>
          <a href="<%= user_path(task.user) %>">
            @<%= task.user.username %>
          </a>
        </li>
        <li>
          <%= pluralize(task.comments.count, 'comment') %>
        </li>
        <li>
          <%= pluralize(task.watchers.count, 'watcher') %>
        </li>
        <li>#<%= task.number %></li>
      </ul>
    </div>
  </div>
</div>
