<div class="item wip mint-gutter" data-number="<%= task.number %>" data-promoted="<%= task.promoted? %>">

  <div class="summary">
    <a class="summary-target" href="<%= product_wip_path(task.product, task) %>">
      <%= task.title %>
    </a>

    <ul class="list-piped omega pull-right">
      <% if task.workers.any? %>
        <li style="opacity: 0.4;">
          <span class="label label-default">In Progress</span>
        </li>
      <% end %>
      <li>
        <%= render 'wips/urgency', task: task %>
      </li>
    </ul>

    <!-- FIXME: This sucks -->
    <div class="js-coin-vote"
         data-view="coin-vote"
         data-vote-path="<%= product_wip_path(task.product, task) %>/votes"
         data-coins="<%= task.coins %>"
         data-coins-add="<%= task.coins_add %>"
    >

      <div class="pull-left" style="margin-right:6px">
        <% if signed_in? %>
          <a href="#" class="btn btn-default btn-xs js-coin-vote-btn <% if task.has_user_voted?(current_user) %>disabled<% end %>">
            <span class="icon icon-chevron-up"></span>
          </a>
        <% else %>
          <a href="<%= new_user_registration_path %>" class="btn btn-default btn-xs">
            <span class="icon icon-chevron-up"></span>
            <span class="sr-only">Upvote</span>
          </a>
        <% end %>
      </div>

      <ul class="list-piped omega">
        <li>
          <%= format_coins(task.product, task.real_coin_value, :short) %>
        </li>
        <li>
          <%= pluralize(task.comments.count, 'comment') %>
        </li>
        <li>
          <%= pluralize(task.watchers.count, 'watcher') %>
        </li>
        <li>#<%= task.number %></li>
      </ul>
    </div>
  </div>
</div>
