<div class="item wip mint-gutter" data-number="<%= task.number %>" data-promoted="<%= task.promoted? %>">

  <div class="summary">
    <a class="summary-target" href="<%= product_wip_path(task.product, task) %>">
      <%= task.title %>
    </a>

    <ul class="list-piped omega pull-right">

      <% if task.promoted? || task.workers.any? %>
        <li>
          <% if task.workers.any? %>
            <span class="label label-default">In Progress</span>
          <% end %>
          <% if task.promoted? %>
            <span class="label label-promoted">Promoted</span>
          <% end %>
        </li>
      <% end %>
    </ul>

    <div class="pull-left" style="margin-right:6px">
      <%= render 'shared/coin_vote', voteable: task %>
    </div>

    <ul class="list-piped omega">
      <li>
        <%= format_coins(task.product, task.real_coin_value, :short) %>
      </li>
      <li>
        <a href="<%= user_path(task.user) %>">
          @<%= task.user.username %>
        </a>
      </li>
      <li>
        <%= pluralize(task.comments.count, 'comment') %>
      </li>
      <li>
        <%= pluralize(task.watchers.count, 'watcher') %>
      </li>
      <li>#<%= task.number %></li>
    </ul>
  </div>
</div>
