<div class="timeline-entry-tipping"
  data-view="tips"
  data-balance="<%= @product_balance %>"
  data-tips-increment="100"
  data-tips-total="<%= event.total_tips %>"
  data-tips-url="<%= product_tips_path(@product, event.id) %>">

  <% if @product_balance > 0 && event.user != current_user %>
    <span class="pull-right text-muted js-no-tips">
      Be the first to tip <strong>@<%= event.user.username %></strong> for this contribution
    </span>
  <% end %>

  <div class="pull-right clearfix js-total-tip-view">
    <div class="pull-left">
      <span class="js-total-tips"><%= event.total_tips %></span>
      in tips from
    </div>

    <ul class="pull-right list-inline" style="margin-left:4px;margin-right:-5px">
      <% event.tippers.each do |tipper| %>
        <li>
          <a href="<%= user_path(tipper) %>">
            <img class="img-circle" src="<%= tipper.avatar.url(40) %>" title="<%= tipper.username %>" width="20" height="20" />
          </a>
        </li>
      <% end %>
    </ul>
  </div>

  <% if @product_balance > 0 && event.user != current_user %>
    <a href="#add-tip" class="btn btn-default btn-sm js-add-tip">
      Tip <span class="bounty">1</span>
    </a>
  <% elsif @product_balance == 0 %>
    <span class="btn btn-default btn-sm" disabled style="margin-right: 4px;">
      Tip <span class="bounty">1</span>
    </span>

    <span class="pull-right text-muted">
      You don't have any
      <strong><%= @product.name %></strong>
      coins to tip, yet.
    </span>
  <% end %>

</div>
