<% title "Tasks", @product.name %>

<%= render 'shared/deprecated_navbar' %>
<%= render 'products/deprecated_navbar' %>

<div class="l-wips"><%# TODO (whatupdave): remove this when mustache is gone %>
  <div class="page page-padded <%= 'non-profit' if !@product.for_profit?%>">
    <div class="container">
      <% if @wips.empty? %>
        <div class="page-content-wide">
          <div class="note">
            <div class="note-icon note-start-task"></div>

            <h3>
              Create the first task
            </h3>

            <p class="text-muted">
              Get started by breaking down a new idea into bite-sized chunks
              that can upvoted on and prioritized. Writing a great description will
              make it super easy for anyone to jump in and get to work.
            </p>

            <a class="btn btn-primary" href="<%= new_product_wip_path(@product) %>">
              Create a task
            </a>
          </div>
        </div>
      <% else %>
        <div class="page-heading">
          <div class="page-heading-title-no-width">
            <%= @product.reward %>
            <span class="division">—</span>
            <small>
              <span class="bounty"><%= number_with_delimiter @product.sum_bounties %></span>
              <%= @product.name %> <%= @product.currency %> to be earned from <strong><%= pluralize @product.tasks.open.count, 'task' %></strong>
            </small>
          </div>
        </div>

        <div class="page-content-wide">

          <div id="wips-view-el" class="list wip-list">
            <% @wips.each do |wip| %>
              <%= render partial: 'erb/wips/summary', object: wip %>
            <% end %>
          </div>

          <%= paginate @wips, theme: 'twitter-bootstrap-3' %>

        </div>
      <% end %>

      <div class="page-sidebar-thin page-sidebar-top-padding">
        <a class="btn btn-primary btn-block" href="<%= new_product_wip_path(@product) %>">Create a Task</a>

        <br>

        <%= render partial: 'tasks/filters' %>
      </div>
    </div>
  </div>

  <%= render 'shared/deprecated_footer' %>

  <% unless staff? %>
    <script>
      analytics.track('product.wips.viewed', <%== ProductAnalyticsSerializer.new(@product).to_json %>)
    </script>
  <% end %>
</div>
