<% title "Bounties", @product.name %>
<% activate_nav! :bounties %>

<div class="page-header">
  <div class="pull-right">
    <a class="btn btn-success" href="<%= new_product_wip_path(@product) %>">Create a Bounty</a>
  </div>


  <h2 class="page-header-title">
    <i class="icon-trophy text-muted" style="vertical-align: text-bottom; margin-right: 4px;"></i>
    <%= @product.reward %>
    <small>
      &mdash;
      <%= format_coins(@product, @product.real_bounty_value) %>
      to be earned from
      <strong><%= pluralize @product.tasks.open.count, 'bounty' %></strong>
    </small>
  </h2>
</div>

<div class="row">
  <% if @product.wips.any? %>
    <div class="col-md-9 col-xs-9">

      <ol class="list-group list-group-breakout list-group-padded" id="wips-view-el">
        <% @wips.each do |task| %>
          <li class="list-group-item">
            <%= render 'summary', task: task %>
          </li>
        <% end %>
      </ol>

      <hr>

      <%= paginate @wips, theme: 'twitter-bootstrap-3' %>
    </div>

    <div class="col-md-3 col-xs-3">
      <%= render partial: 'tasks/sidebar' %>
    </div>

  <% else %>
    <div class="col-md-6 col-xs-6 col-md-offset-3">
      <div class="well well-lg omega">
        <h3 class="alpha"><strong>Create the first task</strong></h3>
        <p class="text-muted omega">
          Get started by breaking down a new idea into bite-sized chunks
          that can upvoted on and prioritized. Writing a great description will
          make it super easy for anyone to jump in and get to work.
        </p>
      </div>
    </div>
  <% end %>
</div><!-- .row -->

<% unless staff? %>
  <script>
    analytics.track('product.wips.viewed', <%== ProductAnalyticsSerializer.new(@product).to_json %>)
  </script>
<% end %>
