<% title @wip.title, "##{@wip.number}", @wip.product.name %>

<%= render 'shared/navbar' %>
<%= render 'products/navbar' %>

<div class="page <%= 'non-profit' if !@product.for_profit?%>">
  <div class="container">

    <%= render 'header' %>
    <div class="row">
      <div class="col-md-8 col-xs-8">
        <div id="discussion-view-el">
          <%= render 'wips/discussion', events: @events %>

          <div class="well js-upvote-reminder" style="display:none">
            You've commented on this Bounty but you haven't upvoted. Your upvotes reward people with more coins for completing Tasks which helps make <%= @product.name %> a better product.
          </div>

          <%= render 'new_event_form' %>
        </div>
      </div>


      <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">

        <div class="panel panel-default">

          <div class="panel-body text-small">
            <% case @wip.state %>
            <% when 'open' %>
              <div class="progress progress-small omega">
                <!-- <div class="progress-bar" style="width: 0%;"></div> -->
              </div>
              <h6 class="text-muted">
                Ready for work
              </h6>

              <p><strong>Think you'd be a great fit for this bounty?</strong> Jump in and help out.</p>
              <%= button_to 'Work on this bounty', product_wip_start_work_path(@wip.product, @wip), method: :patch, disable_with: 'Starting work…', class: %w(btn btn-default btn-sm btn-block) %>

            <% when 'allocated' %>
              <div class="progress progress-small omega">
                <div class="progress-bar progress-bar-success" style="width: 33%;"></div>
              </div>
              <h6 class="text-muted">
                In Progress
              </h6>

              <% if signed_in? && @wip.workers.include?(current_user) %>
                <% worker = @wip.wip_workers.find_by(user: current_user) %>
                <p class="omega">You began working on this task <strong><time class="timestamp" datetime="<%= worker.created_at.iso8601 %>"></time></strong>. How's it shaping up?</p>
                <%= button_to 'Stop working on this bounty', product_wip_stop_work_path(@wip.product, @wip), method: :patch, disable_with: 'Cancelling…', class: %w(btn btn-text btn-sm btn-block) %>
              <% else %>
                <% worker = @wip.wip_workers.first %>
                <p class="omega"><strong><%= worker.user.username %></strong> began working on this bounty <strong><time class="timestamp" datetime="<%= worker.created_at.iso8601 %>"></time>.</strong></p>
              <% end %>

            <% when 'reviewing' %>
              <div class="progress progress-small omega">
                <div class="progress-bar progress-bar-success" style="width: 66%;"></div>
              </div>
              <h6 class="text-muted">
                Reviewing
              </h6>

              <!--
                This isn't perfect, there's no concept of the work that's up for
                review.
              -->
              <p class="omega">A submission is currently being reviewed by the Core Team.</p>

            <% when 'resolved' %>
              <div class="progress progress-small omega">
                <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
              </div>
              <h6 class="text-muted">
                Complete
              </h6>
              <% if @wip.winner %>
                <% if signed_in? && @wip.winner == current_user %>
                  <p>
                    You were awarded
                    <%= format_coins(@wip.product, @wip.real_coin_value) %>
                    for completing this bounty.
                  </p>
                  <p class="omega"><strong>Keep up the great work!</strong></p>
                <% else %>
                  <p class="omega">
                    <strong><%= @wip.winner.username %></strong>
                    was awarded
                    <%= format_coins(@wip.product, @wip.real_coin_value) %>
                    for completing this bounty.
                  </p>
                <% end %>
              <% end %>
            <% end %>

          </div>
        </div>


        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">
              <span class="pull-right"><%= @wip.watchers.count %></span>
              Watchers
            </h6>
          </div>
          <div class="panel-body">
            <ul class="list-grid omega">
              <% @wip.watchers.each do |user| %>
                <li>
                  <a href="<%= user_path(user) %>">
                    <%= avatar_tag(user, 21) %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div><!-- .panel -->

      </div>
    </div>
  </div>
</div>

<% if signed_in? %>
  <img class="hidden" src="<%= ReadraptorTracker.new(ReadRaptorSerializer.serialize_entities(@wip).first, current_user.id).url %>" />
<% end %>

<%= render 'shared/footer' %>

<script>
  app.wip = new Wip(<%== WipSerializer.new(@wip, scope: current_user).to_json %>);
  app.wipEvents = new WipEvents(<%== @wip.events.map {|e| EventSerializer.for(e, current_user)}.to_json %>, {
    url: '<%= product_wip_comments_path(@wip.product, @wip) %>'
  });

  $(document).ready(function() {
    app.discussionView = new DiscussionView({
      el: $('#discussion-view-el'),
      model: app.wip
    });
  })

  analytics.track('product.wip.viewed', <%== WipAnalyticsSerializer.new(@wip, scope: current_user).to_json %>)
</script>
