<% title @wip.title, "##{@wip.number}", @wip.product.name %>
<% activate_nav! :bounties %>
<% breadcrumb product_wips_path(@wip.product), 'Bounties' %>

<%= render 'header' %>

<div class="sheet-body">
  <div class="row">
    <div class="col-md-9">
      <div id="discussion-view-el">
        <%= render 'wips/discussion', events: @events %>

        <div class="well js-upvote-reminder" style="display:none">
          You've commented on this Bounty but you haven't upvoted. Your upvotes reward people with more coins for completing Bounties which helps make <%= @product.name %> a better product.
        </div>

        <%= render 'new_event_form' %>
      </div>
    </div>


    <div class="col-md-3">
      <hr class="visible-xs-block visible-sm-block">
      <%= render partial: 'tasks/task_sidebar' %>
    </div>
  </div>
</div>

<% if signed_in? %>
  <img class="hidden" src="<%= ReadraptorTracker.new(ReadRaptorSerializer.serialize_entities(@wip).first, current_user.id).url %>" />
<% end %>

<script>
  app.product = new Product(<%= json @product, scope: current_user %>);
  app.wip = new Wip(<%== WipSerializer.new(@wip, scope: current_user).to_json %>);
  app.wipEvents = new WipEvents(<%== @wip.events.map {|e| EventSerializer.for(e, current_user)}.to_json %>, {
    url: '<%= product_wip_comments_path(@wip.product, @wip) %>'
  });

  <% if signed_in? %>
    app.wip.readRaptorUrl = '<%== ReadraptorTracker.new(Story.associated_with(@wip).first.id, current_user.id).url %>';
  <% end %>

  $(document).ready(function() {
    <%= render 'wips/add_tips_to_wip_events' %>

    app.discussionView = new DiscussionView({
      el: $('#discussion-view-el'),
      tipsPath: '<%= product_tips_path(@wip.product) %>',
      model: app.wip
    });
  })

  analytics.track('product.wip.viewed', <%== WipAnalyticsSerializer.new(@wip, scope: current_user).to_json %>)
</script>
