<% title @wip.title, "##{@wip.number}", @wip.product.name %>

<%= render 'shared/deprecated_navbar' %>
<%= render 'products/deprecated_navbar' %>

<div class="page page-padded page-ruled <%= 'non-profit' if !@product.for_profit?%>">
  <div class="container">

    <%= render 'heading' %>

    <div class="page-content">
      <div id="discussion-view-el">
        <div class="timeline" id="discussion-view-el">
          <% @events.each do |event, html| %>
            <div id="entry-<%= event.number %>" class="timeline-entry timeline-entry-<%= 'avatar' if event.is_a? Event::Comment %>">
              <div class="timeline-entry-actions">
                <% if signed_in? && event.awardable? && current_user.can?(:award, event) && @wip.open? %>
                  <%= link_to 'Award', award_product_wip_path(@product, @wip, event_id: event.id), remote: true, method: 'patch', class: 'btn btn-default btn-small', data: { confirm: "Are you sure you want to award #{event.user.username}?" } %>
                <% end %>
                <% if signed_in? && event.editable? && current_user.can?(:update, event) %>
                  <%= link_to 'Edit', edit_product_wip_comment_path(@product, @wip, event), class: 'btn btn-default btn-small' %>
                <% end %>
              </div>
              <%== html %>

              <% if event.tippable? %>
                <div class="timeline-entry-meta">
                  <%= render 'wips/tip_box', event: event %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <%= render 'new_event_form' %>
      </div>
    </div>


    <div class="page-sidebar">
      <div class="sidebar-module">
        <% case @wip.state %>
        <% when 'open' %>
          <div class="progressbar">
            <div class="progressbar-step"></div>
            <div class="progressbar-step"></div>
            <div class="progressbar-step"></div>
          </div>
          <div class="sidebar-module-heading">
            Ready for work
          </div>

          <p><strong>Think you'd be a great fit for this task?</strong> Jump in and help out.</p>
          <%= button_to 'Work on this task', product_wip_start_work_path(@wip.product, @wip), method: :patch, disable_with: 'Starting work…', class: %w(btn btn-default) %>

        <% when 'allocated' %>
          <div class="progressbar">
            <div class="progressbar-step progressbar-step-completed"></div>
            <div class="progressbar-step"></div>
            <div class="progressbar-step"></div>
          </div>
          <div class="sidebar-module-heading">
            In Progress
          </div>

          <% if signed_in? && @wip.workers.include?(current_user) %>
            <% worker = @wip.wip_workers.find_by(user: current_user) %>
            <p>You began working on this task <strong><time class="timestamp" datetime="<%= worker.created_at.iso8601 %>"></time></strong>. How's it shaping up?</p>

            <%= button_to 'Stop working on this task', product_wip_stop_work_path(@wip.product, @wip), method: :patch, disable_with: 'Cancelling…', class: %w(btn btn-text) %>
          <% else %>
            <% worker = @wip.wip_workers.first %>
            <p><strong><%= worker.user.username %></strong> began working on this task <strong><time class="timestamp" datetime="<%= worker.created_at.iso8601 %>"></time>.</strong></p>
          <% end %>

        <% when 'reviewing' %>
          <div class="progressbar">
            <div class="progressbar-step progressbar-step-completed"></div>
            <div class="progressbar-step progressbar-step-completed"></div>
            <div class="progressbar-step"></div>
          </div>
          <div class="sidebar-module-heading">
            Reviewing
          </div>

          <!--
            This isn't perfect, there's no concept of the work that's up for
            review.
          -->
          <p>A submission is currently being reviewed by the Core Team.</p>

        <% when 'resolved' %>
          <div class="progressbar">
            <div class="progressbar-step progressbar-step-completed"></div>
            <div class="progressbar-step progressbar-step-completed"></div>
            <div class="progressbar-step progressbar-step-completed"></div>
          </div>
          <div class="sidebar-module-heading sidebar-module-heading-green">
            Complete
          </div>
          <% if @wip.winner %>
            <% if signed_in? && @wip.winner == current_user %>
              <p>
                You were awarded
                <strong><%= pluralize(@wip.score, 'point') %></strong> for completing this task.</p>
              <p><strong>Keep up the great work!</strong></p>
            <% else %>
              <p><strong><%= @wip.winner.username %></strong> was awarded <strong><%= pluralize(@wip.score, 'point') %></strong> for completing this task.</p>
            <% end %>
          <% end %>
        <% end %>

      </div>


      <div class="sidebar-module">
        <div class="sidebar-module-heading">
          Watchers
        </div>
        <div class="avatar-grid">
          <% @wip.watchers.each do |user| %>
            <a class="avatar avatar-sm" href="<%= user_path(user) %>">
              <img src="<%= user.avatar.url(30) %>" title="<%= user.username %>" />
            </a>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

<% if signed_in? %>
  <img class="rawr" src="<%= ReadraptorTracker.new(@wip, current_user.id).url %>" />
<% end %>

<%= render 'shared/deprecated_footer' %>

<script>
  app.wip = new Wip(<%== WipSerializer.new(@wip).to_json %>);
  app.wipEvents = new WipEvents(<%== @wip.events.map {|e| EventSerializer.for(e, current_user)}.to_json %>, {
    url: '<%= product_wip_comments_path(@wip.product, @wip) %>'
  });

  $(document).ready(function() {
    new DiscussionView({
      el: $('#discussion-view-el'),
      model: app.wip
    });
  })

  window.pusher = new Pusher($('meta[name=pusher-key]').attr('content'));
  analytics.track('product.wip.viewed', <%== WipAnalyticsSerializer.new(@wip, scope: current_user).to_json %>)
</script>
