<% if box.votable? %>
  <div class="vote-box <%= "vote-box-promoted" if box.promoted? %>"
    data-vote-count="<%= box.score %>" <%= "data-vote-downvotable" if box.downvotable? %>
    data-vote-inc="<%= box.score_multiplier %>"
    <%= "data-vote-voted" if current_user && current_user.voted_for?(box) %>
    data-vote-path="<%= product_wip_votes_path(box.product, box) %>">

    <div class="vote-box-count"><%= box.score %></div>
  </div>
<% end %>
