<% product = showcase.product %>
<% user = product.user %>
<% wip = showcase.wip %>

<div class="featured-product">
  <div class="want-module"
       data-vote-count="<%=product.score%>"
       data-vote-inc="1"
       <% if signed_in? && product.voted_by?(current_user) %>
       data-vote-voted
       data-want-wanted
       <% end %>
       data-vote-path="<%=vote_idea_path(product.id)%>"
  >
    <div class="want-module-count">
      <span class="vote"><%=product.votes_count%></span>
      <div class="arrow"></div>
    </div>
    <div class="btn btn-default btn-small btn-want">Want</div>
  </div>


  <% cache product do %>
    <div class="product-details">
      <hgroup class="side-by-each-together">
        <h3 class="title"><%=link_to "#{product.name}", product_path(product)%></h3>
        <h4 class="pitch"><%="#{product.pitch}"%></h4>
      </hgroup>

      <div class="meta">
        <%= link_to user_path(user), :class => "user" do %>
          <div class="avatar avatar-xs">
            <img src="<%=image_url(user.avatar.url(40))%>" alt="<%= user.username %>">
          </div>
            <%= user.username %>
        <% end %>

        <% if product.social_proof.present? %>
          <span class="pipe-divider"></span>
          <%= product.social_proof %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="get-involved">
    <div class="dropdown align-right">
      <a class="btn btn-default btn-build dropdown-toggle" data-toggle="dropdown" href="#">Help build it
        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu">
        <li class='helper'>Help out with:</li>
        <% product.product_jobs.each do |job| %>
          <li>
            <a data-track="showcases.join-team.clicked" data-remote="true" href="<%= product_job_join_path(product, job) %>"><%= job.category %></a>
          </li>
        <% end %>
        <li class="divider"></li>
        <li><a href="<%= product_wips_path(product) %>">See all Tasks <span>&rarr;</span></a></li>
      </ul>
    </div><!-- .dropdown -->
  </div><!-- .get-involved -->

</div><!-- .featured product -->

