<%= render 'shared/deprecated_navbar' %>
<%# app/templates/products/_navbar.html.erb %>

<div class="jumbotron-inverse with-actions">
  <div class="container">
    <% if flash[:signed_up] %>
    <h1 class="thin"><strong>Welcome to Assembly</strong>&mdash;an open platform for founding software products with a global community.</h1>
    <!--     <p>
          Ready to jump in and contribute to a product? Find a task that resonates with your skill set and start working on it&mdash;permission isn't necessary. If you would rather help less mature products with their core features and strategy, check out the <a href="<%= explore_path %>">explore page</a>.
        </p> -->

        <p>You're now a part of a growing collective of like-minded folk who are coming together to breathe life into product ideas. Anyone can help out; just voting on a task you find interesting will help move a product forward. Ready to get involved? Find an idea that resonates with you, take a look at its progress, then start contributing. Permission isn't necessary.</p>

    <div>
      <a class="btn btn-accent" href="<%= new_product_path %>">Start your own product</a>
    </div>

    <% else %>
      <div class="pull-right">
        <a class="btn btn-accent" href="<%= new_product_path %>">Start your own product</a>
      </div>
      <h1>Discover Products</h1>
      <h2>Trending product ideas, featured daily.</h2>
    <% end %>
  </div>
</div>


<div class="page page-padded">
  <div class="container">

    <% cache ['featured-greenlit-products', @featured_products] do %>
      <div class="section-heading">
        <h2>Featured Greenlit Products</h2>
      </div>
      <div class="featured-greenlit-products">
        <%= render partial: 'products/product_highlight', collection: @featured_products, as: :product %>
      </div>
    <% end %>


    <div class="educational-modal dismissable-modal" data-dismissable="showcases">
      <div class='close-me js-dismiss'></div>
      <h2>What is this?</h2>
      <p>The Assembly Product Showcase is a daily leaderboard of up-and-coming products supported by the community; a group of builders and entrepreneurs ready to discover, share, and transform ideas into successful apps. Each weekday, five products are featured. Show interest in any of them by clicking 'Want'—this lets Assembly know to notify you when it ships. If you have skills to contribute, join the project's team and help out yourself!</p>
    </div>

    <div class="idea-hunt">
      <% @showcases.each do |date, showcases| %>
        <% if staff? || Showcase.next_date(date) < Time.current  %>
          <div class="day-group">
            <h5 class="featured-date">
              <span>
                <% if Showcase.next_date(date) < Time.current %>
                  <%= date.strftime("%B %d, %Y") %>
                <% else %>
                  <strong>In <%= distance_of_time_in_words(Time.current, Showcase.next_date(date)) %></strong>
                <% end %>
              </span>
            </h5>

          	<% showcases.each do |s| %>
          	  <%= render partial: 'showcases/showcase', object: s %>
          	<% end %>

          </div>
        <% end %>
      <% end %>

    </div>

  </div>
</div>

<%= render 'shared/deprecated_footer' %>

<script>
  analytics.track('showcases.viewed')
</script>
