<% title 'This is happening!' %>
<%= render 'shared/navbar' %>

<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <br>

      <div class="text-center">
        <h1 style="font-size:48px">This is happening!</h1>

        <p class="large text-muted">We currently have heaps of products being built in different stages from idea to launched product. There's a lot to sort through to find a product you're stoked to work on. If you take 3.14 seconds to answer a quick question below we'll be able to better fit you with the right products.</p>

      </div>

      <hr style="margin-bottom:4rem">

      <%= form_for current_user, url: '/welcome', html: {class: 'form'} do |f| %>
        <div class="form-group">
          <h2>
            What kinds of stuff do you like to do?
          </h2>

          <div class="checkbox">
            <label>
              <%= check_box_tag 'user[interested_tags][]', 'design',  current_user.interested_tags.include?('design') %>
              <strong>Design</strong>
              <span class="text-muted">Interfaces, Information/Architecture, Brand, Logos, Icons</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <%= check_box_tag 'user[interested_tags][]', 'strategy',  current_user.interested_tags.include?('strategy') %>
              <strong>Strategy</strong>
              <span class="text-muted">Planning, Metrics, Partnerships</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <%= check_box_tag 'user[interested_tags][]', 'frontend', current_user.interested_tags.include?('frontend') %>
              <strong>Frontend Dev</strong>
              <span class="text-muted">HTML, CSS, SCSS, Javascript</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <%= check_box_tag 'user[interested_tags][]', 'backend',  current_user.interested_tags.include?('backend') %>
              <strong>Backend Dev</strong>
              <span class="text-muted">Ruby on Rails, Python, PHP, Go</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <%= check_box_tag 'user[interested_tags][]', 'marketing',  current_user.interested_tags.include?('marketing') %>
              <strong>Marketing</strong>
              <span class="text-muted">Social, Growth, Emails</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <%= check_box_tag 'user[interested_tags][]', 'writing', current_user.interested_tags.include?('writing') %>
              <strong>Writing</strong>
              <span class="text-muted">Blogging, Copywriting, Content Strategy</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <%= check_box_tag 'user[interested_tags][]', 'airguitar',  current_user.interested_tags.include?('airguitar') %>
              <strong>Air Guitar</strong>
              <span class="text-muted">and other Air Instruments</span>
            </label>
          </div>
        </div><!-- 1. What kinds of stuff do you like to do? -->

        <div class="form-actions">
          <button class="btn btn-primary pull-left margin-bottom:4rem" type="submit">Let's do this!</button>
        </div>
      <% end %>

      <br>
      <hr style="">

      <p class="text-muted">or maybe you just want to <a class="bold" href="<%= start_idea_path %>" onclick="javascript:window.analytics.track('surveys.show.exit.clicked');" style="font-weight:bold;text-decoration:underline">start a product</a> or you're all <a href="<%= discover_path %>" style="font-weight:bold;text-decoration:underline" onclick="javascript:window.analytics.track('surveys.show.exit.clicked');">&ldquo;Geez man! Just let me dive in!!&rdquo;</a></p>


    </div>
  </div><!-- .row -->
</div><!-- .container -->

<%= render 'shared/footer' %>
