<% title 'This is happening!' %>
<%= track 'surveys.new.viewed' %>

<%= render 'shared/navbar' %>

<div class="container">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <br>

      <div class="text-center">
        <h1 style="font-size:48px">This is happening!</h1>

        <p class="large text-muted">We currently have 56 products being built in different stages from idea to launched product. There's a lot to sort through to find a product you're stoked to work on. Take 231 seconds to fill out some cool info below and <a href="<%= user_path('awwstn') %>">@awwstn</a> or <a href="<%= user_path('bshyong') %>">@bshyong</a> will be able to better connect you to products that are a good fit.</p>

        <br>

        <p class="text-muted">or maybe you want to <a class="bold" href="<%= new_product_path %>" style="font-weight:bold;text-decoration:underline">start a product</a> or you're all <a href="<%= discover_path %>" style="font-weight:bold;text-decoration:underline">&ldquo;Geez man! Just let me dive in!!&rdquo;</a></p>


        <h3 style="font-weight:normal;margin-bottom:4rem">There are 7 questions. None of them are required. The more you fill out, the more helpful we can be, yo.</h3>

      </div>

      <hr style="margin-bottom:4rem">

      <%= form_tag '/welcome', class: 'form', method: 'post' do %>

        <div class="form-group">
          <h2>
            1. What kinds of stuff do you like to do?
          </h2>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              <strong>Design</strong>
              <span class="text-muted">Interfaces, Information/Architecture, Brand, Logos, Icons</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              <strong>Strategy</strong>
              <span class="text-muted">Planning, Metrics, Partnerships</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              <strong>Frontend Dev</strong>
              <span class="text-muted">HTML, CSS, SCSS, Javascript</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              <strong>Backend Dev</strong>
              <span class="text-muted">Ruby on Rails, Python, PHP, Go</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              <strong>Marketing</strong>
              <span class="text-muted">Social, Growth, Emails</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              <strong>Writing</strong>
              <span class="text-muted">Blogging, Copywriting, Content Strategy</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              <strong>Air Guitar</strong>
              <span class="text-muted">and other Air Instruments</span>
            </label>
          </div>

          <div class="checkbox">
            <label>
              <strong>Other</strong>
              <input class="form-control input-sm" type="text">
            </label>
          </div>
        </div><!-- 1. What kinds of stuff do you like to do? -->

        <br style="line-height:60px">

        <div class="form-group">
          <h2>2. What's more important to you?</h2>
          <p>If you had to choose.</p>

          <div class="radio">
            <label>
              <input type="radio" name="most_important">
              Potential recurring income
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="most_important">
              Doing interesting work
            </label>
          </div>

        </div><!-- 2. What's more important to you? -->

        <br style="line-height:60px">

        <div class="form-group">
          <h2>3. How much time do you have to spend?</h2>
          <p>If you had to choose.</p>

          <div class="radio">
            <label>
              <input type="radio" name="time_to_spend">
              I'm looking for short burst work
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="time_to_spend">
              I like big challenging tasks
            </label>
          </div>
        </div><!-- 3. How much time do you have to spend? -->

        <br style="line-height:60px">

        <div class="form-group">
          <h2>4. What's your experience?</h2>
          <p>Everyone has an interesting background of work and experience. What's the simplest version of yours? Ever been a part of a start? Ever worked on other products? Ever been a MExican Lucha Libre wrestling champion?</p>

          <%= react_component 'LimitedCharacterTextarea', limit: 500 %>

        </div><!-- 4. What's your experience? -->

        <br style="line-height:60px">

        <div class="form-group">
          <h2>
            5. What tools do you currently prefer in the work you do?
          </h2>
          <p>Assembly doesn't replace your tools, but it helps to know what our community is using.</p>

          <h4>Design</h4>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              Photoshop
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              Sketch
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              Illustrator
            </label>
          </div>

          <div class="checkbox">
            <label>
              Other
              <input class="form-control input-sm" type="text">
            </label>
          </div>

          <h4>Development</h4>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              Photoshop
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              Sketch
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              Illustrator
            </label>
          </div>

          <div class="checkbox">
            <label>
              Other
              <input class="form-control input-sm" type="text">
            </label>
          </div>
        </div><!-- 5. What tools do you currently prefer in the work you do? -->

        <br style="line-height:60px">

        <div class="form-group">
          <h2>
            6. What platforms do you enjoy working on?
          </h2>
          <p>Assembly doesn't replace your tools, but it helps to know what our community is using.</p>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              Web
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              iOS
            </label>
          </div>

          <div class="checkbox">
            <label>
              <input type="checkbox">
              Android
            </label>
          </div>

          <div class="checkbox">
            <label>
              Other
              <input class="form-control input-sm" type="text">
            </label>
          </div>
        </div><!-- 6. What platforms do you enjoy working on? -->

        <br style="line-height:60px">

        <div class="form-actions">
          <button class="btn btn-primary" type="submit">Send me the goods</button>
        </div>

      <% end %>

    </div>
  </div><!-- .row -->
</div><!-- .container -->

<%= render 'shared/footer' %>
