<% title 'Thank you. Get ready!' %>
<%= render 'shared/navbar' %>
<%= track 'surveys.show.viewed' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="text-center" style="margin-top:60px;margin-bottom:60px">
        <h1>Thank you. Get ready!</h1>

        <p class="large text-muted">We're really stoked to have you here in the Assembly community. There are several options for next steps. Take your pick!</p>
      </div>

      <style>
        .list-group-item {
          padding: 20px;
        }
      </style>

      <div class="list-group">
        <a class="list-group-item" href="<%= faq_path %>" data-track="surveys.show.exit.clicked" data-props='{"link": "answers-smart-questions"}'>
          <h3 class="alpha omega text-primary">
            Answers to Smart Questions
            <span class="text-muted" style="font-weight:normal">Our version of a FAQ</span>
          </h3>
          <p class="omega">If you still have more questions about how Assembly works, we have <i>super</i> comprehensive guide to it all.</p>
        </a>

        <a class="list-group-item" href="<%= discover_path %>"data-track="surveys.show.exit.clicked" data-props='{"link": "see-the-products"}'>
          <h3 class="alpha omega text-primary">
            See The Products
            <span class="text-muted" style="font-weight:normal">View the <%= pluralize(Product.where(state: %w(team_building greenlit profitable)).count, 'ongoing product') %></span>
          </h3>
          <p class="omega">All the products on Assembly are eager for your help. Don't worry about jumping in!</p>
        </a>

        <a class="list-group-item" href="<%= product_path('meta') %>" data-track="surveys.show.exit.clicked" data-props='{"link": "meta"}'>
          <h3 class="alpha omega text-primary">Jump into Meta <span class="text-muted" style="font-weight:normal">See How Assembly is being built</span></h3>
          <p class="omega">We use Assembly to build Assembly. Check out how we work, suggest features, or just say &ldquo;hi&rdquo;.</p>
        </a>
      </div><!-- .list-group -->

    </div>
  </div>
</div>


<%= render 'shared/footer' %>
