<% title 'Thank you. Get ready!' %>
<%= render 'shared/navbar' %>
<%= track 'surveys.show.viewed' %>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="text-center" style="margin-top:60px;margin-bottom:60px">
        <h1>Thank you. Get ready!</h1>

        <p class="large text-muted">We're really stoked to have you here in the Assembly community. Whithin 24 hours you'll hear back from <a href="<%= user_path('awwstn') %>">@awwstn</a> or <a href="<%= user_path('bshyong') %>">@bshyong</a>, our community managers on the Assembly team. There are several options for next steps. Take your pick!</p>
      </div>

      <style>
        .list-group-item {
          padding: 20px;
        }
      </style>

      <div class="list-group">
        <a class="list-group-item" href="#" data-track="surveys.show.the-basics.clicked">
          <h3 class="alpha omega text-primary">The Basics <span class="text-muted" style="font-weight:normal">See how Assembly works</span></h3>
          <p class="omega">This is dummy copy. It is not meant to be read. It has been palced here solely to demonstrate the look and feel of finished.</p>
        </a>

        <a class="list-group-item" href="<%= faq_path %>" data-track="surveys.show.answers-smart-questions.clicked">
          <h3 class="alpha omega text-primary">Answers Smart Question <span class="text-muted" style="font-weight:normal">Our version of a FAQ</span></h3>
          <p class="omega">This is dummy copy. It is not meant to be read. It has been palced here solely to demonstrate the look and feel of finished.</p>
        </a>

        <a class="list-group-item" href="<%= discover_path %>" data-track="surveys.show.see-the-products.clicked">
          <h3 class="alpha omega text-primary">See The Products <span class="text-muted" style="font-weight:normal">View the <%= pluralize(43, 'ongoing product') %></span></h3>
          <p class="omega">This is dummy copy. It is not meant to be read. It has been palced here solely to demonstrate the look and feel of finished.</p>
        </a>

        <a class="list-group-item" href="<%= product_path('meta') %>" data-track="surveys.show.meta.clicked">
          <h3 class="alpha omega text-primary">Jump into Meta <span class="text-muted" style="font-weight:normal">See How Assembly is being built</span></h3>
          <p class="omega">This is dummy copy. It is not meant to be read. It has been palced here solely to demonstrate the look and feel of finished.</p>
        </a>
      </div><!-- .list-group -->

    </div>
  </div>
</div>


<%= render 'shared/footer' %>
