<% title 'Thank you. Get ready!' %>
<%= render 'shared/navbar' %>
<%= track 'surveys.show.viewed' %>

<style>
body {
  background-color: #F5f5f5;
}
</style>

<div class="container">


  <div class="center mt4 mb4">
    <h1>Thank you. Get ready!</h1>

    <p class="h3 gray-darker">We're really stoked to have you here in the Assembly community. Here are a few products that we think you'd enjoy. Take your pick!</p>
  </div>

  <div class="clearfix mxn2">
    <% @interesting_products.limit(4).each do |product| %>
      <div class="sm-col sm-col-3 mb3 px2">
        <a href="<%= product_path(product) %>">
          <%= render 'products/card', product: product %>
        </a>
      </div>
    <% end %>
  </div>

  <a class="center block h4 blue" href="<%= discover_path %>">Check out more products</a>

</div>


<%= render 'shared/footer' %>
