<% title 'Proposals' %>
<% activate_nav! :people %>
<% activate_nav! :people_governance %>

<%= render 'people/nav' %>
<h6>Proposal <%= "##{@proposal_n}" %></h6>
<div class="row">
  <div class="col-md-6">
    <h2><%= @proposal.name %></h2>
    <%= @proposal.description %>
  </div>

  <div class="col-md-6">
    <div class="row">
      <br><br>
      <div class="col-md-6 col-md-offset-3">
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= @proposal.status %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @proposal.vote_ratio*100.round(0) %>%;">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h4>Vote Status</h4>
        <%= "#{@proposal.status} #{@proposal.win_criteria_text}" %>
        <% if @proposal.won? %>
          <span class="green display-inline"><%= inline_react_component 'Icon', icon: 'check' %></span>
        <% end %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= @proposal.time_left_text %>
      </div>
    </div>

<br>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% if !@proposal.expired? %>
          <form id="vtr" method="post" action="/choices" >
            <input type="hidden" name="voter" value="<%= @current_user.id %>" />
            <input type="hidden" name="weight" value=1.0 />
            <input type="hidden" name="proposal" value= "<%= @proposal.id %>"  />

            <% if !@proposal.user_vote_status(@current_user) %>
            <%= form_for :choice do |f| %>
            <%= f.submit "Approve", class: "btn btn-success" %>
            <% end %>

            <% else %>
            <%= form_for :choice do |f| %>
            <%= f.submit "Unvote", class: "btn btn-danger" %>
            <% end %>
            <% end %>
          </form>
        <% elsif @proposal.won? %>
          <button type="button" class="btn btn-success" disabled="disabled">
            <span class="mr1"><%= inline_react_component 'Icon', icon: 'check' %></span>Passed
          </button>
        <% else %>
          <button type="button" class="btn btn-danger" disabled="disabled">
            <span class="mr1"><%= inline_react_component 'Icon', icon: 'close' %></span>Failed
          </button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">


    <% if @proposal.contracts.count > 0 %>
    <div class="row">
      <div class="col-md-8">
        <h3>Agreements</h3>
        <% if @proposal.contract_type == "vesting" %>
        <table class="table table-responsive table-hover">
          <thead>
            <tr>
              <th>Type</th>
              <th>Recipient</th>
              <th>Coins</th>
              <th>Pay Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @proposal.contracts.each do |c| %>
            <td>Vesting</td>
            <td><a href= "<%= user_path(c.user) %>" ><%= c.user.username %></a></td>
            <td><a href= "<%= product_partners_path(c.product) %>" ><%= c.coins %></a></td>
            <td><%= c.expiration_date.strftime("%B %d, %Y") %></td>
            <td>
              <% if c.expiration_date - Time.now < 0 %>
              <span class="display-inline"><%= inline_react_component 'Icon', icon: 'check' %></span>
              <% end %>
            </td>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
    <% end %>


  </div>
</div>
