<%# cache [stream_event, show_event_timestamp(stream_event)] do %>

  <% if show_event_timestamp(stream_event) %>
    <div class="timeline-insert">
      <time><%= show_event_timestamp(stream_event) %></time>
    </div>
  <% end %>

  <div class="timeline-item <%= stream_event.css_classes %>">

    <div class="media">
      <div class="pull-left">
        <div class="marker icon <%= stream_event.icon_class %>">
          <span class="icon icon-right-chevron"></span>
        </div>
      </div>

      <div class="media-body">
        <div class="media-heading omega">

          <% if stream_event.work? %>
            <%= render 'shared/coin_vote', voteable: stream_event.work %>
          <% end %>

          <a href="<%= user_path(stream_event.actor) %>" class="username">
            <%= avatar_tag(stream_event.actor, 20, style: 'margin-right:6px') %>
            <%= stream_event.actor.username %>
          </a>
          <%== stream_event.title_html %>
        </div>
      </div>

      <!-- <div class="activity-group-product">
        <a href="<%= product_path(stream_event.product) %>">
          <%= stream_event.product.name %>
        </a>
      </div> -->

    </div>
  </div>
<%# end %>
