<ol class="breadcrumb omega" style="margin-bottom:10px">
  <li>
    <%= link_to room.target.class.name.pluralize, [room.product, room.target.class] %>
  </li>
  <li class="active">#<%= room.number %></li>
</ol>

<%= render room.target %>

<div class="row">
  <div class="col-xs-8">

    <% case room.target %>
    <% when Task, Discussion %>
      <%= render 'rooms/events', room: room %>
    <% else %>
      YO! Weird event stream.
    <% end %>

    <%= render 'form', room: room %>

  </div>

  <div class="col-xs-3 col-xs-offset-1">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title">
          <span class="pull-right"><%= @room.watchers.count %></span>
          Watchers
        </h6>
      </div>
      <div class="panel-body">
        <ul class="list-grid omega">
          <% @room.watchers.each do |user| %>
            <li>
              <a href="<%= user_path(user) %>">
                <%= avatar_tag(user, 21) %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div><!-- .panel -->

  </div>
</div>
