<%= content_for(:title, "Activity · #{@product.name}") %>
<%= render 'shared/deprecated_navbar' %>
<%= render 'products/deprecated_navbar' %>

<div class="container product-container <%= 'non-profit' if !@product.for_profit?%>">
  <div class="activity-group">
    <div class="activity-group-gutter"></div>
    <div class="activity-group-header">
      <h2>Recent Activity</h2>
    </div>
  </div>
  <%= render partial: 'stream_events/stream_event', collection: @stream_events, as: :stream_event %>
  <%= render partial: 'more_button' %>

</div>
<%= render 'shared/deprecated_footer' %>
