<% title 'Activity', @product.name %>
<% activate_nav! :product_activity %>
<%= render 'shared/navbar' %>
<%= render 'products/navbar' %>

<div class="page">
  <div class="container">

    <div class="page-header">
      <h2>Recent Activity</h2>
    </div>

    <div class="timeline">
      <% @stream_events.each do |stream_event| %>
        <%= render 'stream_events/stream_event', stream_event: stream_event %>
      <% end %>
    </div>
    <%= render partial: 'more_button' %>

  </div>
</div>

<%= render 'shared/footer' %>
