<div class="col-sm-6 col-sm-offset-3">
  <div class="sheet">
    <div class="sheet-body">
      <h1>Change your password</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group input-group-control">
          <%= f.label :password, "New password" %>
          <%= f.password_field :password, autofocus: true, class: 'form-control', autocomplete: "off" %>
        </div>

        <div class="form-group input-group-control">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>

        <button class="btn btn-large btn-primary btn-block" data-disable-with="Updating...">
          Change my password
        </button>
      <% end %>
    </div>
  </div>
</div>
