<% title 'Reset your Assembly password' %>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">

      <div class="sheet">
        <div class="sheet-body">
          <div class="center">
            <h1 class="mb0">Reset your Assembly password</h1>
          </div>

          <br>

          <%= form_for(resource, as: resource_name, url: user_password_path) do |f| %>
            <% if flash[:alert].present? %>
              <div class="alert alert-danger" role="alert">
                <%= flash[:alert] %>
              </div>
            <% end %>

            <div class="form-group <%= 'has-error' if f.object.errors[:email].any? %>">
              <% if f.object.errors[:email].any? %>
                <p class="help-block pull-right mt0 mb0"><%= f.object.errors[:email].to_sentence %></p>
              <% end %>
              <%= f.label :email, 'Email', class: 'control-label' %>
              <%= f.email_field :email, autofocus: true, class: 'form-control input-lg', placeholder: 'jane@example.com' %>
            </div>

            <%= f.submit 'Send password reset email', class: 'btn btn-primary btn-block btn-lg' %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
