<% title 'Watchers', @product.name %>

<div class="page-header">
  <h2 class="page-header-title">
    <i class="icon-users text-muted" style="margin-right: 4px;"></i>
    Watchers
  </h2>
</div>

<div class="row">
  <div class="col-xs-9">
    <div class="list-group list-group-breakout list-group-padded">

      <% @watchers.each_slice(2) do |users| %>
        <div class="list-group-item">
          <div class="row">
            <% users.each do |user| %>
              <div class="col-sm-1 col-xs-1">
                <%= user_link(user) do %><%= avatar_tag(user, 30) %><% end %>
              </div>
              <div class="col-sm-5 col-xs-5">
                <p>
                  <strong><%= user_link(user) do %><%= user.username %><% end %></strong>
                  <span class="text-muted text-small"><%== markdown user.bio %></span>
                </p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-xs-3">
    <%= render 'products/sidebar' %>
  </div><!-- .col-3 -->
</div>
