<%= stylesheet_link_tag 'admin' %>

<div class="row">
  <div class="inline-block relative right"></div>
  <h5>Avg bounty lifespan: <%= @avg_bounty_age['avg_life'] %></h5>
  <p><i>Append weeks=N param to get more history</i></p>
</div>

<div class="mt1">
  <div class="left relative m1">
    <h5>Bounties Created</h5>
    <div class="inline-block" id="bounties-created"></div>
    <div id="slider"></div>
  </div>
  <div class="chart_container">
    <h5>Award Ratio</h5>
    <div class="inline-block" id="award-ratio"></div>
    <div id="slider"></div>
  </div>
  <div class="chart_container">
    <h5>Close Ratio</h5>
    <div class="inline-block" id="close-ratio"></div>
    <div id="close-ratio-x"></div>
  </div>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th>Global</th>
      <th>Core</th>
      <th>Non Core</th>
      <th>Staff</th>
    </tr>
    <tr>
      <th></th>
      <th>start week</th>
      <th>weekly</th>
      <th>weekly</th>
      <th>weekly</th>
      <th>weekly</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="<%= @history + 2 %>">Created (count)</td>
      <% @created_counts.shift.each do |c| %>
        <td><%= c.respond_to?(:strftime) ? c.strftime('%b %d, %y') : c %></td>
      <% end %>
    </tr>
    <% @created_counts.each do |cc| %>
      <tr>
        <% cc.each do |c| %>
          <td><%= c.respond_to?(:strftime) ? c.strftime('%b %d, %y') : c %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td rowspan="<%= @history + 2 %>">Awarded/Created (ratio)</td>
      <% @awarded_counts.shift.each do |c| %>
        <td><%= c.respond_to?(:strftime) ? c.strftime('%b %d, %y') : c %></td>
      <% end %>
    </tr>

    <% @awarded_counts.each_with_index do |cc| %>
      <tr>
        <% cc.each do |c| %>
          <td><%= c.respond_to?(:strftime) ? c.strftime('%b %d, %y') : c %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <td rowspan="<%= @history + 2 %>">Closed/Created (ratio)</td>
      <% @closed_counts.shift.each do |c| %>
        <td><%= c.respond_to?(:strftime) ? c.strftime('%b %d, %y') : c %></td>
      <% end %>
    </tr>

    <% @closed_counts.each do |cc| %>
      <tr>
        <% cc.each do |c| %>
          <td><%= c.respond_to?(:strftime) ? c.strftime('%b %d, %y') : c %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<%= javascript_include_tag('admin/d3.v2') %>
<%= javascript_include_tag('admin/rickshaw.min') %>

<script type="text/javascript">
  new Rickshaw.Graph.Ajax( {
    element: document.getElementById("bounties-created"),
    width: 300,
    height: 100,
    renderer: 'line',
    dataURL: '<%= admin_bounties_graph_data_url(format: :json, type: "bounty_creation", weeks: 4) %>',
    onComplete: function(transport) {
      var graph = transport.graph;
      var detail = new Rickshaw.Graph.HoverDetail({ graph: graph });
    },
    series: [
      {
        name: 'Global',
        color: '#c05020',
      }, {
        name: 'Core',
        color: '#30c020',
      }, {
        name: 'Noncore',
        color: '#6060c0'
      }, {
        name: 'Staff',
        color: "#d66a00"
      }
    ]
  });

  new Rickshaw.Graph.Ajax( {
    element: document.getElementById("award-ratio"),
    width: 300,
    height: 100,
    renderer: 'line',
    dataURL: '<%= admin_bounties_graph_data_url(format: :json, type: "award_ratio", weeks: 4) %>',
    onComplete: function(transport) {
      var graph = transport.graph;
      var detail = new Rickshaw.Graph.HoverDetail({ graph: graph });
    },
    series: [
      {
        name: 'Global',
        color: '#c05020',
      }, {
        name: 'Core',
        color: '#30c020',
      }, {
        name: 'Noncore',
        color: '#6060c0'
      }, {
        name: 'Staff',
        color: "#d66a00"
      }
    ]
  });

  new Rickshaw.Graph.Ajax({
    element: document.getElementById("close-ratio"),
    width: 300,
    height: 100,
    renderer: 'line',
    dataURL: '<%= admin_bounties_graph_data_url(format: :json, type: "close_ratio", weeks: 4) %>',
    onComplete: function(transport) {
      var graph = transport.graph;
      var detail = new Rickshaw.Graph.HoverDetail({ graph: graph });
      var legend = new Rickshaw.Graph.Legend( {
        graph: graph,
        element: document.getElementById('legend')
      });
    },
    series: [
      {
        name: 'Global',
        color: '#c05020',
      }, {
        name: 'Core',
        color: '#30c020',
      }, {
        name: 'Noncore',
        color: '#6060c0'
      }, {
        name: 'Staff',
        color: "#d66a00"
      }
    ]
  });
</script>
