<% title 'New Post', @post.product.name %>
<% activate_nav! :updates %>

<div class="mt0 mb4 border-bottom sheet-header">
  <% if current_user.staff? %>
    <% if @post.flagged? %>
      <button class="btn btn-muted disabled pull-right">Post already flagged</button>
    <% else %>
      <%= form_for [@post.product, @post] do |f| %>
        <%= f.hidden_field :flagged_at, value: Time.now %>
        <%= f.submit 'Flag this post', class: %w(btn btn-danger pull-right) %>
      <% end %>
    <% end %>
  <% end %>

  <h1 class="mt0 mb4 border-bottom-title">Editing <q><%= @post.title %></q></h1>
</div>

<div class="sheet-body">
  <div class="row">
    <div class="col-md-9 col-xs-9">
      <%= form_for [@post.product, @post] do |f| %>
        <div class="form-group">
          <%= f.label :title, 'Post title', class: 'form-label' %>
          <%= f.text_field :title, class: 'form-control' %>
          <p class="h6">
            <strong>URL:</strong>
            <%= product_post_url(@post.product, @post) %>
          </p>
        </div>
        <div class="form-group">
          <%= f.text_field :summary, class: 'form-control', placeholder: 'Tweet sized summary' %>
        </div>
        <div class="form-group">
          <%= f.text_area :body, class: 'form-control', rows: 8, placeholder: 'Post body' %>
        </div>

        <div class="form-actions">
          <%= f.submit 'Update', class: %w(btn btn-primary) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
