<% title 'New Post', @post.product.name %>
<% activate_nav! :updates %>

<h1 class="mt0">Publish a new post</h1>

<div class="clearfix mxn2">

  <div class="col col-9 px2">
    <%= form_for [@post.product, @post] do |f| %>

      <div class="form-group form-group-lg <%= 'has-error' if @post.errors[:title].any? %>">
        <%= f.label :title, 'Title', class: 'control-label' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :body, 'Body', class: 'control-label' %>
        <%= react_component 'MarkdownEditor', {
          name: 'post[body]',
          id: 'post_body'
        } %>
      </div>

      <%= render 'shared/error_messages', target: @post %>

      <div class="form-actions">
        <%= f.submit 'Publish post', class: %w(btn btn-primary) %>
      </div>
    <% end %>
  </div>

  <div class="col col-3 px2">
    <div class="h6 mt0 mb0 gray-dark">
      <p>
        Posts are a great way to keep new contributors up to date with progress and new ways to help out. You can include images and use Markdown to make it more awesome.
      </p>

      <% if signed_in? && @product.core_team.include?(current_user) %>
        <p>
          You're on the core team, so everyone following <%= @product.name %> will get an email with your post.
        </p>

        <a class="btn btn-default btn-block" id="preview-post-btn" href="<%= preview_product_posts_path(@product) %>">Preview email</a>
      <% end %>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script>
    $('#preview-post-btn').click(function(e) {
      e.preventDefault();
      var btn = $(this),
          msg = btn.text();
      $.post(btn.attr('href'), $('#new_post').serialize());
      btn.text('Sent!');
      delay(3000, function() { btn.text(msg); });
    });
  </script>
<% end %>
