<% title 'New Post', @post.product.name %>
<% activate_nav! :blog %>

<div class="page-header">
  <h1 class="page-header-title">Write a new post for <%= @post.product.name %>'s followers</h1>
</div>

<div class="row">
  <div class="col-md-4 col-xs-4 col-xs-push-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title">Everyone loves a blog post</h6>
      </div>
      <div class="panel-body">
        Blog posts are a great way keep new contributors up to date with progress and new ways to help out. When you are ready, we'll also email the post to everyone following <%= @product.name %>. You can include images and use Markdown to make your post awesome.
      </div>
    </div>
  </div>
  <div class="col-md-8 col-xs-8 col-xs-pull-4">
    <%= form_for [@post.product, @post] do |f| %>
      <div class="form-group <%= 'has-error' if @post.errors[:title].any? %>">
        <%= f.label :title, 'Post title', class: 'form-label' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      <div class="form-group <%= 'has-error' if @post.errors[:summary].any? %>">
        <%= f.text_field :summary, class: 'form-control', placeholder: 'Tweet sized summary' %>
      </div>
      <div class="form-group <%= 'has-error' if @post.errors[:title].any? %>">
        <%= f.text_area :body, class: 'form-control', rows: 8, placeholder: 'Post body' %>
      </div>

      <div class="form-actions">
        <div class="pull-left">
          <a class="btn btn-default" id="preview-post-btn" href="<%= preview_product_posts_path(@product) %>">Send Preview Email</a>
          <script>
            $('#preview-post-btn').click(function(e) {
              e.preventDefault();
              var btn = $(this),
                  msg = btn.text();
              $.post(btn.attr('href') + '?' + $('#new_post').serialize());
              btn.text('Sent!');
              delay(3000, function() { btn.text(msg); });
            });
          </script>
        </div>
        <%= f.submit 'Publish', class: %w(btn btn-primary) %>
      </div>
    <% end %>
  </div>
</div>
