<% title 'New Post', @post.product.name %>
<% activate_nav! :updates %>

<div class="page-header sheet-header">
  <h1 class="page-header-title">Write a new post for <%= @post.product.name %>'s followers</h1>
</div>

<div class="sheet-body">
  <div class="row">

    <div class="col-md-9 col-xs-9">
      <%= form_for [@post.product, @post] do |f| %>
        <div class="form-group <%= 'has-error' if @post.errors[:title].any? %>">
          <%= f.label :title, 'Post title', class: 'form-label' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group <%= 'has-error' if @post.errors[:summary].any? %>">
          <%= f.text_field :summary, class: 'form-control', placeholder: 'Tweet sized summary' %>
        </div>

        <div class="form-group" style="min-height: 176px; background-color: #fff;">
          <%= react_component 'MarkdownEditor', {
            name: 'post[body]',
            id: 'post_body'
          } %>
        </div>

        <%= render 'shared/error_messages', target: @post %>

        <div class="form-actions">
          <div class="pull-left">
            <a class="btn btn-default" id="preview-post-btn" href="<%= preview_product_posts_path(@product) %>">Send Preview Email</a>
          </div>

          <%= f.submit 'Publish', class: %w(btn btn-primary) %>
        </div>
      <% end %>
    </div>

    <div class="col-md-3 col-xs-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="panel-title">Everyone loves an update</h6>
        </div>
        <div class="panel-body">
          Updates are a great way to keep new contributors up to date with progress and new ways to help out. When you are ready, and if you're on the core team, we'll also email the entry to everyone following <%= @product.name %>. You can include images and use Markdown to make it more awesome.
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script>
    $('#preview-post-btn').click(function(e) {
      e.preventDefault();
      var btn = $(this),
          msg = btn.text();
      $.post(btn.attr('href'), $('#new_post').serialize());
      btn.text('Sent!');
      delay(3000, function() { btn.text(msg); });
    });
  </script>
<% end %>
