<% title @post.title, @post.product.name %>
<%= render 'shared/navbar' %>
<%= render 'products/navbar' %>

<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-7">
        <div class="page-header">
          <h2 class="page-header-title"><%= @post.title %></h2>

          <% if can?(:update, @post) %>
            <div class="pull-right small">
              <%= link_to 'Update', edit_product_post_path(@post.product, @post) %>
            </div>
          <% end %>

          <ul class="list-inline list-inline-piped small omega">
            <li>
              <a href="<%= user_path(@post.author) %>" title="@<%= @post.author.username %>">
                <%= image_tag @post.author.avatar.url(32), width: 16, height: 16, class: 'img-circle', style: 'margin-right:0.5em', alt: "@#{@post.author.username}" %><%= @post.author.username %>
              </a>
            </li>
            <li>
              <%= time_ago_in_words(@post.created_at) %> ago
            </li>
          </ul>
        </div>

        <div class="copy">
          <%= markdown(@post.body) %>
        </div>
      </div>

      <div class="col-md-4 col-xs-4 col-md-offset-1 col-xs-offset-1">
        <% if can?(:create, Post) %>
          <%= link_to 'Write a new post', new_product_post_path(@product), class: %w(btn btn-success btn-block) %>
          <hr>
        <% end %>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">Recent Posts</h6>
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <% @product.posts.order(created_at: :desc).limit(10).each do |post| %>
                <li>
                  <a href="<%= product_post_path(post.product, post) %>">
                    <h5 class="omega"><%= post.title %></h5>
                  </a>
                  <a class="small" href="<%= user_path(post.author) %>">
                    <%= image_tag post.author.avatar.url(32), width: 16, height: 16, class: 'img-circle', style: 'margin-right:0.5em' %><%= post.author.username %>
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
