<% title @post.title, @post.product.name %>
<% activate_nav! :posts %>

<script id="heartables" type="application/json">
  <%== @heartables.to_json %>
</script>

<% if @user_hearts %>
  <script id="user_hearts" type="application/json">
    <%== @user_hearts.map{|h| {
        id: h.id,
        heartable_id: h.heartable_id,
      }}.to_json
    %>
  </script>
<% end %>

<div class="page-header sheet-header mb0">
  <h2 class="page-header-title"><%= @post.title %></h2>

  <div class="page-header-meta">

    <% if can?(:update, @post) %>
      <ul class="list-piped pull-right">
        <li>
          <a class="link-hover-warning" href="<%= edit_product_post_path(@post.product, @post) %>" data-toggle="tooltip" data-placement="top" title="Edit Post">
            <i class="icon-pencil" style="margin-right: 2px;"></i> Edit
          </a>
        </li>
      </ul>
    <% end %>

    <ul class="list-piped omega">
      <li>
        <a href="<%= user_path(@post.author) %>" title="@<%= @post.author.username %>">
          <%= image_tag @post.author.avatar.url(40), width: 20, height: 20, class: 'img-circle', style: 'margin-right:0.5em', alt: "@#{@post.author.username}" %><%= @post.author.username %>
        </a>
      </li>
      <li>
        <%= time_ago_in_words(@post.created_at) %> ago
      </li>
      <li data-react-class="TagList" data-react-props="<%= {
        destination: false,
        tags: @post.marks.map(&:name),
        url: product_post_path(@product, @post)
      }.to_json %>">
      </li>
    </ul>
  </div>
</div>

<div class="sheet-body">
  <div class="row">
    <div class="col-md-9">

      <div class="markdown markdown-normalized bg-white px3 py3">
        <%= product_markdown(@post.product, @post.body) %>
      </div>

      <div class="py1 border-top" data-react-class="Love" data-react-props="<%= {
        heartable_id: @post.news_feed_item.id,
        heartable_type: 'NewsFeedItem'
      }.to_json %>"></div>

      <div data-react-class="NewsFeedItemComments" data-react-props="<%= {
        item: NewsFeedItemSerializer.new(@post.news_feed_item),
        rows: 2,
        showAllComments: true
      }.to_json %>">
      </div>
    </div>

    <div class="col-md-3">
      <div class="mb3">
        <% if can?(:create, @product.posts.new(author: current_user)) %>
          <%= link_to 'Write a new post', new_product_post_path(@product), class: %w(btn btn-success btn-block) %>
        <% end %>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="panel-title">Recent Posts</h6>
        </div>

        <div class="list-group">
          <% @product.posts.order(created_at: :desc).limit(10).each do |post| %>
            <a class="list-group-item small" href="<%= product_post_path(post.product, post) %>">
              <strong class="text-primary"><%= post.title %></strong>
            </a>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
