<% title 'Financials', @product.name %>
<% activate_nav! :financials %>
<% activate_nav! :financial_overview %>


<div class="stat-group">
  <div class="stat">
    <div class="stat-title">Total Royalties</div>
    <div class="stat-value"><%= short_currency @product.profit_reports.map(&:profit_post_annuity).reduce(:+) %></div>
  </div>

  <div class="stat">
    <div class="stat-title">Total Revenue</div>
    <div class="stat-value"><%= short_currency @product.profit_reports.map(&:revenue).reduce(:+) %></div>
  </div>

  <div class="stat">
    <div class="stat-title">Total Expenses</div>
    <div class="stat-value"><%= short_currency @product.profit_reports.map(&:all_expenses).reduce(:+) %></div>
  </div>
</div>

<hr>

<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th></th>
      <th class="text-left">Revenue</th>
      <th class="text-right">Expenses</th>
      <th class="text-right">Platform Cost</th>
      <th class="text-right">Net Royalty</th>
    </tr>
  </thead>
  <tbody>
    <% @product.profit_reports.order(end_at: :desc).each do |report| %>
      <tr style="cursor:pointer;">
        <td class="text-muted" id="financials-<%= report.end_at.strftime("%Y-%m-%d") %>"><%= l report.end_at, format: :month %></td>
        <td><%= currency report.revenue, precision: 2 %></td>
        <td class="text-right"><%= currency -(report.expenses + report.annuity), precision: 2 %></td>
        <td class="text-right"><%= currency -report.fee, precision: 2 %></td>
        <td class="text-right"><%= currency report.profit_post_annuity, precision: 2 %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<hr>

<% if partner?(@product) %>
  <div class="pull-right">
    <ul class="list-inline">
      <li>
        <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#new-expense-modal">
          Log expense
        </button>
      </li>
    </ul>

    <%= render 'expense_modal' %>
  </div>
<% end %>
<h4>Recent Expenses</h4>

<table class="table table-hover">
  <tbody>
    <% @product.expense_claims.each do |claim| %>
      <tr>
        <td><span class="text-muted"><%= l claim.created_at, format: :friendly %></span></td>
        <td>
          <%= user_link_username(claim.user) %>
        </td>
        <td>
          <%= claim.description %>
        </td>
        <td><span class="text-muted small">PENDING</span></td>
        <td class="text-right"><%= currency claim.total %></td>
      </tr>
    <% end %>
  </tbody>
</table>
