<% title 'Financials', @product.name %>
<% activate_nav! :financials %>
<% activate_nav! :financial_overview %>

<% if @reports.empty? %>
  <div style="position:relative;min-height:510px;">
    <%= image_tag 'financials-blankslate.png', class: 'img-responsive', style: 'position:absolute' %>

    <div class="row">
      <div class="col-md-8 col-xs-12 col-md-offset-2">
        <div class="well well-lg center">
          <h3 class="alpha">
            This product hasn't earned any revenue yet.
          </h3>
          <p class="gray-2">
            Once <%= @product.name %> starts charging customers and earning
            revenue, you'll be able to see the details on this page. You can
            track expenses, determine profits, and, most importantly, see your
            royalties as a partner.
          </p>
          <div class="center">
            <a class="btn btn-primary" href="<%= product_partners_path(@product) %>" style="margin-top:12px;">See who owns <%= @product.name %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="stat-group">
    <div class="stat">
      <div class="stat-title">Total Revenue</div>
      <div class="stat-value"><%= short_currency @product.profit_reports.map(&:revenue).reduce(:+) %></div>
    </div>

    <div class="stat">
      <div class="stat-title">Total Expenses</div>
      <div class="stat-value"><%= short_currency @product.profit_reports.map(&:expenses).reduce(:+) %></div>
    </div>

    <div class="stat">
      <div class="stat-title">Total Royalties</div>
      <div class="stat-value"><%= short_currency @product.profit_reports.map(&:profit).reduce(:+) %></div>
    </div>

  </div>

  <div id="chart_div" style="width: 800px; height: 150px;"></div>

  <hr>

  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th></th>
        <th class="left-align">Revenue</th>
        <th class="right-align">Expenses</th>
        <th class="right-align">
          <span data-toggle="tooltip" title="Assembly keeps 10% of the royalty to cover operating costs">Platform Cost <span class="icon icon-question"></span></span>
        </th>
        <th class="right-align">
          <span data-toggle="tooltip" title="Royalties paid out to <%= @product.name %> partners">Partners Royalty <span class="icon icon-question"></span></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @product.profit_reports.order(end_at: :desc).each do |report| %>
        <tr style="cursor:pointer;">
          <td class="gray-2" id="financials-<%= report.end_at.strftime("%Y-%m-%d") %>"><%= l report.end_at, format: :month %></td>
          <td><%= currency report.revenue, precision: 2 %></td>
          <td class="right-align"><%= currency -report.expenses, precision: 2 %></td>
          <td class="right-align"><%= currency -report.fee, precision: 2 %></td>
          <td class="right-align"><%= currency report.profit - report.fee, precision: 2 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <hr>

  <% if partner?(@product) %>
    <div class="pull-right">
      <ul class="list-inline">
        <li>
          <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#new-expense-modal">
            Log expense
          </button>
        </li>
      </ul>

      <%= render 'expense_modal' %>
    </div>
  <% end %>
  <h4>Recent Expenses</h4>

  <table class="table table-hover">
    <tbody>
      <% @product.expense_claims.each do |claim| %>
        <tr>
          <td><span class="gray-2"><%= l claim.created_at, format: :friendly %></span></td>
          <td>
            <%= user_link_username(claim.user) %>
          </td>
          <td>
            <%= claim.description %>
          </td>
          <td><span class="gray-2 small">PENDING</span></td>
          <td class="right-align"><%= currency claim.total %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% content_for :javascript do %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" type="text/javascript"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.js" type="text/javascript"></script>

  <script>
    $(document).ready(function() {
      var data = <%= @moneystream.to_json.html_safe %>;
      FinanceGraph(data, null, ['PlatformCosts', 'Profits', 'Expenses']);
    })
  </script>
<% end %>
