<h3><%= @product.name %> just became an Assembly Product</h3>
<h4 style="center">And you're now an owner!</h4>
<p>You were listed as a contributor on the idea: <a href="<%= idea_url(@idea) %>"><br><b><%= @idea.name %></b></a>.</p>
<p>This has become an Assembly Product called <a href="<%= product_url(@product) %>"><b><%= @product.name %></b></a></p>

<p>You've been given <a href="<%= product_partners_url(@product) %>">10 coins</a> of ownership in <%= @product.name %> by <a href="<%= user_url(@product.user) %>"><b><%= @product.user.username %></b></a> for your participation in the idea.</p>

<h4>Get more ownership by helping build <%= @product.name %> into a reality.</h4>

<button>Start Building</button>
