<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default">
                <h1>Your subscription is confirmed.</h1>

                <p>
                  Hey <%= @user.username %>,
                </p>

                <p>
                  Thank you for subscribing to <a href="<%= @product.homepage_url.present? ? @product.homepage_url : product_url(@product) %>"><%= @product.name %></a>. We'll let you know the next time we have something special to share. Oh and don't worry, that feeling of excitement is normal.
                </p>

                <hr/>

                <h3>You've earned <%= AssemblyAsset::PROMO_COINS %> ASM Coins.</h3>
                <p>
                  You're one of the first to follow Assembly Coins. This entitles you to <%= AssemblyAsset::PROMO_COINS %> ASM Coins, which represent ownership in Assembly Coins, for being an early beta tester. Your coins are on their way!
                </p>
                <br/>

                <p>
                  Thanks,
                  <br/>
                  The <%= @product.name %> team
                </p>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
