<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default">
                <h1>Your subscription is confirmed.</h1>

                <p>
                  Thank you for subscribing to <a href="<%= @product.homepage_url.present? ? @product.homepage_url : product_url(@product) %>"><%= @product.name %></a>. We'll let you know the next time we have something special to share. Oh and don't worry, that feeling of excitement is normal.
                </p>

                <hr/>

                <h3>Get involved and help build it.</h3>
                <p>
                  <%= @product.name %> is being openly built by a distributed community on <%= link_to 'Assembly', product_url(@product) %>. When you sign up you'll get access to other really cool products like <%= @product.name %>. You can even help contribute to products and share in their ownership.
                </p>
                <br/>

                <table class="button success radius">
                  <tr>
                    <td>
                      <a href="<%= new_user_registration_url(email: @email_address) %>">Sign up to Assembly</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
