<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default">
                <h1>Your subscription is confirmed.</h1>

                <p>
                  Thank you for subscribing to <a href="<%= @product.homepage_url.present? ? @product.homepage_url : product_url(@product) %>"><%= @product.name %></a>. We'll let you know the next time we have something special to share. Oh and don't worry, that feeling of excitement is normal.
                </p>

                <hr/>

                <h3>Finish creating an account to earn <%= AssemblyAsset::PROMO_COINS %> ASM Coins.</h3>
                <p>
                  You're one of the first to follow Assembly Coins. This entitles you the opportunity to earn <%= AssemblyAsset::PROMO_COINS %> ASM Coins, which represent ownership in Assembly Coins, for being an early beta tester. All you have to do is create an account on Assembly, which is where we are openly building Assembly Coins. With an account you'll get access to other really cool products and can even help contribute to products, sharing in their ownership.
                </p>
                <br/>

                <table class="container">
                  <tbody>
                    <tr>
                      <td>
                        <table class="row">
                          <tbody>
                            <tr>
                              <td class="wrapper">
                                <table class="twelve columns">
                                  <tbody>
                                    <tr>
                                      <td>
                                        <table class="medium-button radius">
                                          <tbody>
                                            <tr>
                                              <td style="border-color: #428bca !important; background-color: #428bca !important;">
                                                <a style="color: #fff !important;" href="<%= new_user_registration_url(email: @email_address, assembly_assets_promotion: true) %>">Create your account and claim your Coins</a>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <br/>

                <p>
                  Over and out,
                  <br/>
                  The <%= @product.name %> team
                </p>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
