<table class="row">
  <tbody>
    <tr>
      <td class="wrapper last">
        <table class="twelve columns">
          <tbody>
            <tr>
              <td class="panel panel-default">

                <h1 class="center">
                  Thanks for signing up for updates on <a href="<%= product_url(@product) %>"><%= @product.name %></a>!
                </h1>

                <p>
                  Hey <%= @user.username %>, want to help build <%= @product.name %>? <a href="<%= product_path(@product) %>">Dive right in</a>!
                </p>
                <p>
                  If you'd rather just get updates about <%= @product.name %>, you don't have to take any further action. But if you'd like to <span style="font-style: italic;">build</span> <%= @product.name %> or offer direct feedback to the team, you can sign up anytime.
                </p>
                <br/>

                <p>
                  Over and out,
                  <br/>
                  The <%= @product.name %> team
                </p>

              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
