<%= form_for [:admin, @newsletter], html: {class: 'form well'} do |f| %>
  <div class="form-group">
    <%= f.label :subject, class: 'form-label' %>
    <%= f.text_field :subject, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, class: 'form-label' %>
    <%= f.text_area :body, class: 'form-control', rows: 12 %>
  </div>
  <div class="form-actions">
    <p class="text-muted">
      The next newsletter will be sent in <%= time_ago_in_words(@newsletter.next_published_at) %>.
    </p>
    <%= f.submit 'Preview & queue newsletter', class: %w(btn btn-primary) %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Body</th>
      <th>Created</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @newsletters.each do |newsletter| %>
      <tr class="
          <%= 'text-muted' if newsletter.cancelled? %>
          <%= 'active' if newsletter.published? %>
        ">
        <td><strong><%= newsletter.subject %></strong></td>
        <td><%= truncate(newsletter.body, length: 180) %></td>
        <td><%= newsletter.created_at %></td>
        <td>
          <% if newsletter.published? %>
            <%= newsletter.published_at %>
          <% elsif newsletter.cancelled? %>
            <%= newsletter.cancelled_at %>
          <% else %>
            <%= link_to [:admin, newsletter], method: :delete, confirm: 'Are you sure you want to cancel this newsletter?', class: 'btn btn-danger' do %>
              <span class="glyphicon glyphicon-ban-circle"></span>
              Cancel
            <% end %>
          <% end %>
        </td>
        <td>
          <% if !newsletter.published? %>

          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
