<ul class="nav nav-pills">
  <li class="<%= nav_active_class(:discover_fresh) %>">
    <a href="<%= discover_path(:fresh) %>">Fresh Products</a>
  </li>
  <li class="<%= nav_active_class(:discover_trending) %>">
    <a href="<%= discover_path(:trending) %>">Trending Products</a>
  </li>
  <li class="<%= nav_active_class(:discover_live) %>">
    <a href="<%= discover_path(:live) %>">Live Products</a>
  </li>
</ul>

<hr>
