<ul class="nav nav-pills">
  <li class="<%= nav_active_class(:discover_fresh) %>">
    <a href="<%= discover_path(:fresh) %>">Fresh</a>
  </li>
  <li class="<%= nav_active_class(:discover_trending) %>">
    <a href="<%= discover_path(:trending) %>">Trending</a>
  </li>
  <li class="<%= nav_active_class(:discover_recently_launched) %>">
    <a href="<%= discover_path(:recently_launched) %>">New</a>
  </li>
</ul>

<hr>
