<div class="page-header">
  <ul class="nav nav-pills">
    <li class="<%= nav_active_class(:discover_profitable) %>">
      <a href="<%= discover_path(:profitable) %>">Profitable Products</a>
    </li>

    <li class="<%= nav_active_class(:discover_greenlit) %>">
      <a href="<%= discover_path(:greenlit) %>">Greenlit Products</a>
    </li>

    <li class="<%= nav_active_class(:discover_teambuilding) %>">
      <a href="<%= discover_path(:teambuilding) %>">Teambuilding Products</a>
    </li>
  </ul>
</div>
