<div class="panel panel-default">
  <div class="panel-heading"><h6 class="panel-title">Featured</h6></div>
  <ul class="nav nav-pills nav-stacked">
    <li class="<%= 'active' if controller.action_name == 'trending' %>">
      <a href="<%= discover_path(:trending) %>">Trending</a>
    </li>
    <li class="<%= 'active' if controller.action_name == 'recently_launched' %>">
      <a href="<%= discover_path(:recently_launched) %>">Recently Launched</a>
    </li>
  </ul>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h6 class="panel-title">Technology</h6></div>
  <ul class="nav nav-pills nav-stacked">
    <% Search::TechFilter.all.each do |tech| %>
      <li class="small <%= 'active' if params[:tech] == tech.slug %>">
        <a href="<%= discover_path("tech/#{tech.slug}") %>"><%= tech.name %></a>
      </li>
    <% end %>
  </ul>
</div>