<% cache product do %>
  <div class="row">

    <div class="col-sm-2 col-xs-4">
      <a href="<%= product_path(product) %>">
        <%= image_tag product.poster_image.url, class: 'img-rounded', width: '100%', alt: product.name %>
      </a>
    </div>

    <div class="col-sm-10 col-xs-8">
      <div class="row">
        <div class="col-sm-6">
          <strong><a href="<%= product_path(product) %>">
            <%= product.name %>
          </a></strong>

          <h4 style="margin-top: 5px;"><%= product.pitch %></h4>
          <% status_message = product.status_messages.order(created_at: :desc).first %>
          <% if status_message %>
            <div class="small neuter-paragraphs hidden-xs">
              <%== product_markdown(product, status_message.body) %>
            </div>
          <% end %>
        </div>

        <div class="col-sm-6">
          <h6>
            Latest Activity
            <span class="text-muted text-weight-normal"><%= product.stream_events.order(created_at: :desc).first.timestamp %></span>
          </h6>
          <ul class="list-unstyled hide-long-links">
            <% product.stream_events.limit(2).each do |event| %>
              <li class="small text-muted-links" style="margin-bottom:10px;">
                <a href="<%= user_path(event.actor) %>" title="@<%= event.actor.username %>">
                  <img class="img-circle" src="<%= event.actor.avatar.url(40) %>" width="20" height="20" style="margin-right: 4px;">
                  <strong><%= event.actor.username %></strong>
                </a>
                <%== event.title_html %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>
