<% title 'Bounties' %>
<% activate_nav! :platform_discover %>
<% activate_nav! :discover_bounties %>

<%= render 'shared/navbar' %>

<div class="page-header" style="padding-bottom:0">
  <div class="container">
    <h2>
      All open <span class=""><%= params[:filter_text] %></span> bounties
    </h2>
    <ul class="nav nav-tabs">
      <% @filters.select{|f| f[:count] > 0}.each do |f| %>
        <li class="<%= 'active' if params[:filter] == f[:slug] %>">
          <a href="<%= discover_path(:bounties, filter: f[:slug]) %>">
            <%= f[:label] %> <span class="badge badge-subtle"><%= f[:count] %></span>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

  <div class="container">
    <% @postings.each do |posting| %>
      <div class="row">
        <div class="col-md-8">
          <%= render 'bounty_postings/bounty_chip', bounty: posting.bounty %>
        </div>
        <div class="col-md-4">
          <%= render 'bounty_postings/product_chip', product: posting.bounty.product %>
        </div>
      </div>

      <hr/>
    <% end %>
    </div>
  </div>

<%= render 'shared/footer' %>
