<% title 'Bounties' %>
<% activate_nav! :platform_discover %>
<% activate_nav! :discover_bounties %>

<%= render 'shared/navbar' %>

<div class="mt0 mb3 bg-white">
  <div class="container">
    <h2 class="mt0 mb0 py4">
      <span class="gray mr2">
        <%= inline_react_component 'Icon', icon: 'coffee' %>
      </span>
      Hot <%= @filter.titleize %> Bounties
    </h2>

    <ul class="nav nav-tabs">
      <% filters.keys.each do |filter| %>
        <li class="<%= 'active' if @filter == filter %>">
          <a href="<%= discover_path(:bounties, filter: filter) %>">
            <%= filter.capitalize %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="container">
  <% @postings.each do |posting| %>
    <div class="clearfix bg-white rounded mb3 mxn3">
      <div class="sm-col sm-col-9 p3 border-right">
        <%= render 'bounty_postings/bounty_chip', bounty: posting %>
      </div>

      <div class="sm-col sm-col-3 p3">
        <%= render 'bounty_postings/product_chip', product: posting.product %>
      </div>
    </div>
  <% end %>

  <% if @postings.empty? %>
    <div class="well well-dotted well-lg">
      <p class="text-center">
        It looks like there aren't any bounties ready for work yet. Why not check out <a href="<%= discover_path %>">what's trending</a> to see how you can help?
      </p>
    </div>
  <% end %>

  <% if params[:filter] == 'suggested' %>
    <% @postings %>
  <% else %>
    <%= paginate @postings, theme: 'twitter-bootstrap-3' %>
  <% end %>

</div>

<%= render 'shared/footer' %>
