<% title 'Discover' %>
<% activate_nav! :discover %>

<%= render 'shared/navbar' %>

<ul class="nav nav-skills bg-white mb2">
  <% %w(Frontend Backend Design Marketing Writing Strategy).each do |skill| %>
    <li class="<%= 'active' if params[:tag] == skill.downcase %>"><a class="px2 py4" href="?tag=<%= skill.downcase %>"><%= skill %></a></li>
  <% end %>
</ul>


<div class="container mb4">

  <div class="center mt2">
    <ul class="nav nav-mini-pills">
      <li class="<%= 'active' if params[:sort] == 'active' || params[:sort].blank? %>">
        <a href="?sort=active">Most Active</a>
      </li>
      <li class="<%= 'active' if params[:sort] == 'popular' %>">
        <a href="?sort=popular">Most Popular</a>
      </li>
      <li class="<%= 'active' if params[:sort] == 'new' %>">
        <a href="?sort=new">New to Assembly</a>
      </li>
      <li class="<%= 'active' if params[:sort] == 'teambuilding' %>">
        <a href="?sort=teambuilding">Needs Teammates</a>
      </li>
    </ul>
  </div>

  <div class="center mt4 mb3">
    <% if params[:tag].present? %>
      <div class="h1 mt0 mb0">
        There are
        <strong><%= pluralize(@products.count, 'Product') %></strong>
        with a total of
        <strong>
          <%= pluralize(@products.map {|p| p.tasks.open.count }.sum, "#{params[:tag].titleize} Bounty") %>
        </strong>.
      </div>
    <% else %>
      <div class="h1 mt0 mb0">Find a product you'd like to work on,</div>
      <div class="h3 mt0 mb0 mid-gray">or <a class="green" href="<%= new_product_path %>">start your own</a> that others can work on with you.</div>
    <% end %>
  </div>

  <% page_cache_key = ['discover', 'products', params[:tag], params[:sort]].compact.join('_') %>
  <% cache(page_cache_key, expires_in: 6.hours) do %>

    <div class="clearfix mb2 mxn3">
      <% @products.each do |product| %>
        <div class="md-col md-col-4 lg-col-3 p3">
          <a data-track="discover.profitable.clicked" href="<%= product_path(product) %>">
            <%= render 'products/card', product: product %>
          </a>
        </div>
      <% end %>
    </div>

  <% end %>

  <div class="bg-white rounded clearfix">
    <div class="col col-6 py3">
      Didn't find a product that you're interested in?
    </div>
    <div class="col col-6 p3">
      <a href="<%= start_idea_path %>" class="btn btn-primary btn-block">Start your own product</a>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>
