<% title 'Discover' %>
<% activate_nav! :discover %>

<%= render 'shared/navbar' %>

<div class="container">

  <br>

  <div class="text-center">

    <% if signed_in? && flash[:notice] %>
      <p class="text-muted text-large omega">Hey @<%= current_user.username %>, <a class="text-muted" href="http://media1.giphy.com/media/JQNM4AgN7lFUA/giphy.gif" style="text-decoration: underline">high five</a> and welcome to Assembly.</p>
    <% end %>

    <h1 class="omega" style="font-size:48px">Find a product you'd like to work on,</h1>
    <p class="text-muted" style="font-size:36px">or <a class="text-success" href="<%= new_product_path %>">start your own</a> that others can work on with you.</p>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">

      <% cache(:discover_launched, expires_in: 6.hours) do %>
        <div class="text-center" style="margin-top:48px;margin-bottom:24px">
          <h2 class="omega">
            Work on Launched Products
          </h2>
          <p class="text-muted">
            These are products that have launched. Two are profitable, and the others are on their way!<br>
            When you work on a profitable product, <strong>you get paid monthly.</strong>
          </p>
        </div>

        <div class="row">
          <% @profitable.each do |product| %>
            <div class="col-sm-3">
              <a data-track="discover.profitable.clicked" href="<%= product_path(product) %>">
                <%= render 'products/card', product: product %>
              </a>
            </div>
          <% end %>
        </div>


        <div class="row">
          <div class="col-md-2 col-md-offset-5">
            <hr>
          </div>
        </div>
      <% end %>

      <div class="text-center" style="margin-bottom:24px">
        <h3 class="omega">
          Greenlit Products
        </h3>
        <p class="text-muted">Help popular products build out features and focus on launching.</p>
      </div>

      <div class="list-group list-group-breakout omega">
        <% @greenlit.each do |product| %>
          <a class="list-group-item" data-track="discover.greenlit.clicked" href="<%= product_path(product) %>">
            <%= render 'products/chips/greenlit', product: product %>
          </a>
        <% end %>
      </div>
      <p class="text-center">
        <a href="<%= discover_path(:greenlit) %>">More products</a>
      </p>

      <div class="row">
        <div class="col-md-2 col-md-offset-5">
          <hr>
        </div>
      </div>

      <div class="text-center" style="margin-bottom:24px">
        <h3 class="omega">
          Products Building Teams
        </h3>
        <p class="text-muted">Join products on the ground floor to help define the core idea and initial features.</p>
      </div>

      <div class="list-group list-group-breakout omega">
        <% @teambuilding.each do |product| %>
          <a class="list-group-item" data-track="discover.team-building.clicked" href="<%= product_path(product) %>">
            <%= render 'products/chips/team_building', product: product %>
          </a>
        <% end %>
      </div>
      <p class="text-center">
        <a href="<%= discover_path(:teambuilding) %>">More products</a>
      </p>

      <br>

      <div class="callout text-large">
        <a href="<%= start_idea_path %>" class="btn btn-success pull-right">Create a new product</a>
        Didn't find a product that you're interested in?
        Create your own!
      </div>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>
