<% title "Explore Products" %>
<% provide(:description, "Products actively being built by the community") %>
<% activate_nav! :discover %>

<style> body { background-color: #F4F4F5 } </style>

<%= render 'shared/navbar' %>

<div class="container mb4">

    <div class="center py4">
      <% if params[:tag].present? %>
        <div class="h1 mt0 mb0">
          There are
          <strong><%= pluralize(@products.count, 'product') %></strong>
          with a total of
          <strong>
            <% t = (params[:tag] == 'writing' ? 'copy' : params[:tag]) %>
            <%= pluralize(@products.map {|p| p.tasks.joins(taggings: :tag).open.where(wip_tags: {name: t}).count }.sum, "#{params[:tag].titleize} Bounty") %>
          </strong>.
        </div>
      <% else %>
        <div class="h1 mt0 mb0">Find a product you'd like to work on,</div>
        <div class="h3 mt0 mb0 mid-gray">or <a class="text-success" href="<%= start_idea_path %>">start your own</a> that others can work on with you.</div>
      <% end %>
    </div>

    <div class="center mt3 mb2">
      <ul class="nav nav-mini-pills">
        <li class="<%= 'active' if params[:sort] == 'popular' || params[:sort].blank? %>">
          <a href="?sort=popular&amp;tag=<%= params[:tag] %>">Popular</a>
        </li>
        <li class="<%= 'active' if params[:sort] == 'trending' %>">
          <a href="?sort=trending&amp;tag=<%= params[:tag] %>">Trending</a>
        </li>
        <li class="<%= 'active' if params[:sort] == 'new' %>">
          <a href="?sort=new&amp;tag=<%= params[:tag] %>">New to Assembly</a>
        </li>
        <li class="<%= 'active' if params[:sort] == 'teambuilding' %>">
          <a href="?sort=teambuilding&amp;tag=<%= params[:tag] %>">Needs Teammates</a>
        </li>
      </ul>
    </div>

    <div class="clearfix mb2 mxn3">
      <% @products.each do |product| %>
        <div class="md-col md-col-4 lg-col-3 p3">
          <a data-track="discover.profitable.clicked" href="<%= product_path(product) %>">
            <%= render 'products/card', product: product %>
          </a>
        </div>
      <% end %>
    </div>

  <div class="clearfix">
    <div class="col col-6 py3">
      Didn't find a product that you're interested in?
    </div>
    <div class="col col-6 p3">
      <a href="<%= start_idea_path %>" class="btn btn-primary btn-block">Start your own product</a>
    </div>
  </div>

</div>

<%= render 'shared/footer' %>
