<% title 'Live Products' %>
<% activate_nav! :platform_discover %>
<% activate_nav! :discover_live %>

<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <%= render 'header' %>

        <div class="row">
          <div class="col-md-9">
            <p class="lead">Products shipped on Assembly.<br/>
              Have an idea on how to make one of them better?
            </p>
          </div>
          <div class="col-md-3">
            <a href="<%= new_product_path %>" class="btn btn-default pull-right">Start New Product</a>
          </div>
        </div>

        <div class="list-group list-group-breakout">
          <% @products.each do |product| %>
            <div class="list-group-item">
              <%= render 'products/live_chip', product: product %>
            </div>
          <% end %>
        </div>

        <%= paginate @products, theme: 'twitter-bootstrap-3' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
