<% title 'Discover Products' %>
<% activate_nav! :platform_discover %>

<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="page-header">
          <h2 class="page-header-title">This week's most actively developed products</h2>
          <p>

            From the <%= Product.launched.count %> launched products on Assembly
            and <%= Product.stealth.count %> others in stealth.
          </p>
        </div>

        <div class="list-group list-group-breakout list-group-padded">
          <% @products.each do |product| %>
            <div class="list-group-item">
              <%= render 'product', product: product %>
            </div>
          <% end %>
        </div>
        
      </div>


    </div>
  </div>
</div>

<%= render 'shared/footer' %>
