<% title 'Trending Products' %>
<% activate_nav! :platform_discover %>

<%= render 'shared/navbar' %>

<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <% if @products.empty? %>
          <%= render 'empty_search' %>
        <% else %>
          <div class="page-header">
            <h2 class="page-header-title"><%= @tech.name %> Products</h2>
            <p>Products being developed in <%= @tech.name %>.</p>
          </div>

          <div class="list-group list-group-breakout list-group-padded">
            <% @products.each do |product| %>
              <div class="list-group-item">
                <%= render 'product', product: product %>
              </div>
            <% end %>
          </div>

          <div class="page">
            <div class="page-header">
              <p>
                Popular products that could be developed in <%= @tech.name %>.<br/>
                <strong>Go ahead and make the first commit</strong>
              </p>
            </div>


            <div class="list-group list-group-breakout list-group-padded">
              <% @needing_commit.each do |product| %>
                <div class="list-group-item">
                  <%= render 'product', product: product %>
                </div>
              <% end %>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <a href="<%= discover_path(:no_commits) %>"><strong>View more products needing code</strong></a>
              </div>
            </div>
            </div>
        <% end %>
      </div>

      <div class="col-sm-3">
        <%= render 'nav' %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
