<% title 'Trending Products' %>
<% activate_nav! :discover %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3 class="text-muted">
        <span class="text-success">Profitable</span> Products

        <small style="padding-left: 5px">Work on growing products that have generated revenue in the last 30 days.</small>
      </h3>

      <div class="row">
        <% @profitable.each do |product| %>
          <div class="col-sm-4">
            <a href="<%= product_path(product) %>">
              <!--
                Extra param to the partial because the data isn't on the
                product yet - @chrislloyd
              -->
              <%= render 'products/card', product: product %>
            </a>
          </div>
        <% end %>
      </div>

      <h3 class="text-muted">
        <span class="text-success">Greenlit</span> Products

        <small style="padding-left: 5px">Help popular products build out features and focus on launching.</small>
      </h3>

      <div class="list-group list-group-breakout omega">
        <% @greenlit.each do |product| %>
          <a class="list-group-item"  href="<%= product_path(product) %>">
            <%= render 'products/chips/greenlit', product: product %>
          </a>
        <% end %>
      </div>
      <p class="text-center">
        <a href="<%= discover_path(:greenlit) %>">More products</a>
      </p>


      <h3 class="text-muted">
        <span class="text-success">Team Building</span> Products

        <small style="padding-left: 5px">Join products on the ground floor to help define the core idea and initial features.</small>
      </h3>

      <div class="list-group list-group-breakout omega">
        <% @teambuilding.each do |product| %>
          <a class="list-group-item"  href="<%= product_path(product) %>">
            <%= render 'products/chips/team_building', product: product %>
          </a>
        <% end %>
      </div>
      <p class="text-center">
        <a href="<%= discover_path(:teambuilding) %>">More products</a>
      </p>

      <br>

      <div class="callout text-large">
        <a href="<%= new_product_path %>" class="btn btn-success pull-right">Create a new product</a>
        Didn't find a product that you're interested in?
        Create your own!
      </div>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>
