<% title 'Trending Products' %>
<% activate_nav! :discover %>

<%= render 'shared/navbar' %>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h3>Products that are making money</h3>
      <div class="row">
        <% @products.take(3).each do |product| %>
          <div class="col-sm-4">
            <a href="<%= product_path(product) %>">
              <!--
                Extra param to the partial because the data isn't on the
                product yet - @chrislloyd
              -->
              <%= render 'products/card', product: product, pitching: true %>
            </a>
          </div>
        <% end %>
      </div>

      <h3>Products that we're building but who don't have any money</h3>

      <div class="list-group list-group-breakout omega">
        <% @products.limit(5).offset(3).each do |product| %>
          <a class="list-group-item"  href="<%= product_path(product) %>">
            <%= render 'products/chip', product: product, pitching: true %>
          </a>
        <% end %>
      </div>
      <p class="text-center">
        <a href="#" class="small text-muted">See all</a>
      </p>


      <div class="list-group list-group-breakout omega">
        <% @products.limit(5).offset(3 + 5).each do |product| %>
          <a class="list-group-item"  href="<%= product_path(product) %>">
            <%= render 'products/chip', product: product %>
          </a>
        <% end %>
      </div>
      <p class="text-center">
        <a href="#" class="small text-muted">See all</a>
      </p>


      <div class="callout text-large">
        <a href="#" class="btn btn-success pull-right">Create a new product</a>
        Didn't find a product that you're interested in?
        Create your own!
      </div>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>
