<% title @article.name, @title %>
<% provide(:description, @description) %>
<% provide(:body_class, "bg-white") %>

<%= render "shared/navbar" %>

<div class="container mt3">
  <section class="mt4 p3 right well">
    <h4 class="caps gray-2 center mt0 mb2">More <%= @title %></h4>
    <ul class="list-reset mt2 mb0">
      <% @article_list.each do |article| %>
        <li class="mt1">
          <span class="icon icon-chevron-right gray-3"></span>
          <% @article_link = help_path(article) if @title == "FAQs" %>
          <% @article_link = guides_path(article) if @title == "Guides" %>
          <%= link_to article.name, @article_link.to_s, class: ("gray-1" + " bold blue" if @article.slug == article.slug) %>
        </li>
      <% end %>
    </ul>
  </section>

  <article class="sm-col-11 md-col-8 left">

    <h2 class="mtn1 py2 border-bottom"><%= @title %>: <span class="regular"><%= @article.name %></span></h2>

    <% if @show_toc == true %>
    <h5 class="m0 py2 caps gray-2">In this guide:</h5>
    <ul class="list-reset">
      <% @article.questions.each do |question| %>
        <li>
          <span class="icon icon-chevron-right gray-3"></span>
          <%= link_to question[:name], anchor: question[:anchor] %>
        </li>
      <% end %>
    </ul>
    <% end %>

    <%= @article.body.html_safe %>

  </article>
</div>

<%= render "shared/footer" %>
