<div class="card">
  <%= image_tag firesize(product.poster_image_url, '500x500', 'g_center'), width: '100%' %>

  <div class="card-body" style="min-height:109px">
    <h5 class="alpha omega" style="color:#333"><%= product.name %></h6>
    <p class="text-muted alpha omega"><%= product.pitch %></p>
  </div>


  <div class="card-footer clearfix">
    <ul class="list-grid list-grid-tight">
      <% followers_sorted_by_coins(product, 12).each do |username, email| %>
        <li>
          <img alt="@<%= username %>" class="avatar img-circle" height="19" src="<%= Avatar.url_from_email(email) %>" width="19">
        </li>
      <% end %>
      <li>
        <span class="badge">+ <%= product.followers.count %></span>
      </li>
    </ul>

    <p class="small text-muted omega">Started <%= product.created_at.strftime("%B %d, %Y") %></p>

  </div>
</div>
