<div class="card">
  <%= image_tag product.poster_image.url, width: '100%' %>
  <div class="card-body">
    <h6 class="text-muted alpha omega"><%= product.name %></h6>
    <h5 class="alpha omega"><%= product.pitch %></h5>
  </div>
  <div class="card-footer small clearfix">
    <div class="pull-right">
      <span class="label label-default"><%= product.stage.upcase %></span>
    </div>

    <span class="text-muted"><%= pluralize(product.partners_count, 'partner') %></span>
  </div>
</div>
