<div class="card">
  <% if product.poster? %>
    <%= image_tag firesize(product.poster_image.url, '500x500', 'g_center'), width: '100%' %>
  <% else %>
    <%= image_tag image_path('app_icon.png'), width: '100%' %>
  <% end %>

  <div class="card-body" style="min-height:109px">
    <h5 class="alpha omega" style="color:#333"><%= product.name %></h6>
    <p class="text-muted alpha omega"><%= product.pitch %></p>
  </div>


  <div class="card-footer small clearfix">
    <div class="pull-left">
      <span class="label label-default"><%= product.stage.upcase %></span>
    </div>

    <ul class="list-inline omega text-muted pull-right">
      <li>
        <span class="glyphicon glyphicon-user"></span>
        <%= product.partners_count %>
      </li>

      <li>
        <span class="glyphicon glyphicon-book"></span>
        <%= product.posts.count %>
      </li>

      <li>
        <span class="glyphicon glyphicon-flag"></span>
        <%= product.tasks.count %>
      </li>
    </span>


  </div>
</div>
