<div class="bg-white rounded clearfix overflow-hidden shadow">
  <div class="md-show border-bottom">
    <% case %>
    <% when product.profitable? || product.greenlit? %>
      <div class="md-show">
        <%= firesize_img product.poster_image_url, 340, 340, 'g_center' %>
      </div>
    <% when product.team_building? %>
      <div class="square bg-white">
        <div class="square-content p3">
          <div>
            <div class="h1 mt0 mb0 green"><%= product.team_building_days_left %></div>
            <div class="h4 mt0 green"><%= 'day'.pluralize(product.team_building_days_left) %> left</div>

            <div class="progress progress-sm mb2">
              <div class="progress-bar bg-green" style="width:<%= product.team_building_percentage %>%"></div>
            </div>
            <p class="mb0 small mid-gray">
              This product
              <% if product.bio_memberships_count >= 10 %>
                has
                <strong><%= pluralize(product.bio_memberships_count, 'partner') %></strong>
                and will be greenlit.
              <% else %>
                needs
                <strong><%= pluralize([10 - product.bio_memberships_count, 0].max, 'more partner') %></strong>
                to be greenlit.
              <% end %>
            </p>
          </div>
        </div>
      </div>
    <% else %>
      <div class="square">
        <div class="square-content bg-green">
        </div>
      </div>
    <% end %>
  </div>

  <div class="p3">
    <div class="mt0 mb0 blue"><%= product.name %></div>
    <p class="gray-darker h6 mt0 mb2 full-width" style="min-height:6.5rem">
      <%= product.pitch %>
    </p>

    <div class="clearfix">
      <ul class="list-reset mb0 mxn1 overflow-hidden full-width" style="height:1.5rem">
        <li class="left ml1">
          <div class="badge bg-light-gray block" style="padding-top:0;padding-bottom:0;line-height:1.5rem">
            <span class="icon icon-users"></span>
            <%= product.partners.count %>
          </div>
        </li>

        <% followers_sorted_by_coins(product, 10).each do |user| %>
          <li class="left ml1"><%= avatar_tag(user, 18) %></li>
        <% end %>

      </ul>

    </div>
  </div>

  <div class="clearfix border-top text-center py2">
    <a class="text-success bold" href="<%= product_wips_path(product) %>">Find Bounties</a>
  </div>

</div>
