<div class="chip">
  <div class="row">
    <div class="col-xs-1">
      <%= image_tag product.poster_image.url, class: 'img-rounded', height: 24, alt: product.name %>
    </div>

    <div class="col-xs-11">
      <ul class="list-inline omega hidden-xs pull-right">
        <% product.core_team.each do |user| %>
          <li>
            <a href="<%= user_path(user) %>" data-toggle="tooltip" title="@<%= user.username %>"><%= avatar_tag(user, 24) %></a>
          </li>
        <% end %>
      </ul>

      <a href="<%= product_path(product) %>"><strong><%= product.name %></strong></a>

      <div class="visible-xs-block visible-sm-block visible-md-inline visible-lg-inline">
        <%= product.pitch %>
        &nbsp;
        <span class="text-muted text-small">Updated <%= time_ago_in_words(product.updated_at) %> ago</span>
      </div>

    </div>
  </div>
</div>
