<div class="chip">
  <div class="pull-left" style="margin-right:30px;">
  <%= image_tag product.poster_image.url, class: 'img-rounded', width: 48, height: 48, alt: product.name %>
  </div>

  <ul class="list-inline omega hidden-xs pull-right">

    <% product.core_team.limit(3).each do |user| %>
      <li>
        <a href="<%= user_path(user) %>" data-toggle="tooltip" title="@<%= user.username %>"><%= avatar_tag(user, 24) %></a>
      </li>
    <% end %>

    <% other_people_size = [product.core_team.count - 3, 0].max + product.watchers.count %>

    <% if other_people_size > 0 %>
      <li>
        <span class="text-muted">+<%= other_people_size %></span>
      </li>
    <% end %>
  </ul>

  <a href="<%= product_path(product) %>"><strong><%= product.name %></strong></a>

  <div class="visible-xs-block visible-sm-block visible-md-inline visible-lg-inline">
    <%= product.pitch %>
  </div>
  <div class="text-muted text-small">Updated <%= time_ago_in_words(product.updated_at) %> ago</div>

</div>
