<div class="chip">
  
  <div class="chip-icon">
    <%= image_tag(product.poster_image.url, class: 'img-rounded', width: '100%', alt: product.name) %>
  </div>


  <% if !is_pitching %>
    <h4 class="alpha omega"><%= product.name %></h4>
    <p class="omega"><%= product.pitch %></p>

    <div class="text-muted text-small">
      <% if is_pitching %>
        Created by @<%= product.user.username %> <%= time_ago_in_words(product.updated_at) %> ago
      <% else %>
        Updated <%= time_ago_in_words(product.updated_at) %> ago
      <% end %>
    </div>
  <% else %>
    <h4 class="alpha omega"><%= product.name %></h4>
    <p class="omega"><%= product.pitch %></p>
  <% end %>

  <!-- <ul class="list-inline omega hidden-xs pull-right">



    <!-- <% other_people_size = [product.core_team.count - 3, 0].max + product.watchers.count %>

    <% if other_people_size > 0 %>
      <li>
        <span class="text-muted">+<%= other_people_size %></span>
      </li>
    <% end %> -->
  <!-- </ul> -->

</div>
