<div class="navbar navbar-tabbed">
  <div class="container">
    <div class="pull-left">

      <ul class="nav nav-horizontal navbar-nav">
        <li class="nav-item <%= "navbar-tabbed-tab-active" if products_controller? %>">
          <div class="navbar-title">
            <a href="<%= product_path(@product) %>">
              <%= @product.name %>
            </a>
          </div>
        </li>

        <li class="nav-item nav-item-sibling">
          <div class="badge"><%= @product.presentable_stage %></div>
        </li>
      </ul>
    </div>

    <div class="pull-right">

      <ul class="nav nav-horizontal nav-with-badges navbar-nav">

        <% if @product.current_mission %>
          <li class="nav-item">
            <%= render 'products/mission_progress' %>
          </li>
        <% end %>

        <li class="nav-item <%= "navbar-tabbed-tab-active" if dashboard_controller? %>">
          <a href="<%= product_dashboard_path(@product) %>">Activity</a>
        </li>

        <li class="nav-item <%= "navbar-tabbed-tab-active" if milestones_controller? %>">
          <a href="<%= product_milestones_path(@product) %>">
            Projects
            <% if (count = @product.milestones.open.count) > 0 %>
              <span class="badge"><%= count %></span>
            <% end %>
          </a>
        </li>

        <li class="nav-item <%= "navbar-tabbed-tab-active" if discussions_controller? %>">
          <a href="<%= product_discussions_path(@product) %>">
            Discussions
            <% if @product.open_discussions? %>
              <span class="badge"><%= @product.open_discussions_count %></span>
            <% end %>
          </a>
        </li>

        <li class="nav-item <%= "navbar-tabbed-tab-active" if tasks_controller? %>">
          <a href="<%= product_wips_path(@product) %>">
            Tasks
            <% if @product.open_tasks? %>
              <span class="badge"><%= @product.open_tasks_count %></span>
            <% end %>
          </a>
        </li>

        <li class="nav-item <%= "navbar-tabbed-tab-active" if (jobs_controller? || partners_controller?) %>">
          <a href="<%= product_jobs_path(@product) %>">
            People
          </a>
        </li>

        <% if @product.posts.any? %>
          <li class="nav-item <%= 'navbar-tabbed-tab-active' if posts_controller? %>">
            <a href="<%= product_posts_path(@product) %>">
              Blog
            </a>
          </li>
        <% end %>

      </ul>
    </div>
  </div>
</div>

<%= render partial: 'products/deprecated_status_message' %>
