<% if @product.greenlit? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        This product is live!
      </h6>
    </div>
    <div class="panel-body small">

      <p>To sign up, visit <a href="<%= @product.homepage_url %>" target='product'><%= @product.name %></a> now or you can get started using <%= @product.name %> here with your Assembly account.</p>
    </div>
  </div>

<% else %>

  <% if @product.has_preorders? %>
    <!-- Pre-orders Panel -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h6 class="panel-title">Pre-Orders</h6>
      </div>

      <div class="list-group small">
        <div class="list-group-item">
          <div class="pull-right">$0.00</div>
          Free
          <p class="text-muted">
            <%= @product.free_perk %>
          </p>
        </div>


        <% @perks.each do |perk| %>
          <div class="list-group-item">
            <div class="pull-right">
              <%= amount_to_currency(perk.amount) %>
            </div>
            <%= perk.name %>
            <p class="text-muted">
              <%= perk.description %>
            </p>
            <a href="<%= new_perk_preorder_path(perk) %>" class="btn btn-default btn-block btn-sm <%= "disabled" if current_user && current_user.preordered_perk?(perk) %>">
              <%= perk.formatted_amount(current_user) %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>