<div class="col-xs-1">
  <%= image_tag product.poster_image.url, class: 'img-rounded', height: 24, alt: product.name %>
</div>

<div class="col-xs-11">
  <%= render 'products/faces', product: product %>

  <a href="<%= product_path(product) %>"><strong><%= product.name %></strong></a>
  &nbsp;
  <%= product.pitch %>
</div>
