<% mission = ProductMissionDecorator.new(@product.current_mission) %>
<% prev_mission = ProductMissionDecorator.new(mission.previous) if mission.previous? %>
<% @missionAutoOpen = true if @missionAutoOpen.nil? %>
<div class="mission-progress js-mission-progress" data-container="body" data-toggle="popover" data-placement="bottom" data-html-container="mission-popover-el" data-html="true" data-animation="false">
  <div class="pull-right">
    <span class="text-muted">
      <span class="js-mission-progress"><%= mission.progress %></span>/<%= mission.steps %>
    </span>
  </div>
  <div class="js-mission-name"><%= mission.translate :name %></div>
  <% if prev_mission %>
    <div class="js-prev-mission-name"><%= prev_mission.translate :name %></div>
  <% end %>

  <div class="progress">
    <div class="progress-bar js-progress-bar" style="width:<%= mission.progress_percentage %>"></div>
  </div>
</div>

<div id="mission-popover-el" style="display:none">
  <div class="flyout js-mission-flyout">
    <%= render partial: 'products/missions/intro', locals: { mission: mission } %>
    <%= render partial: 'products/missions/description', locals: { mission: mission } %>
    <% if prev_mission %>
      <%= render partial: 'products/missions/reward', locals: { mission: prev_mission } %>
    <% end %>
  </div>
</div>

<script>
  $(function(){
    new MissionStepsView({
      el: $('.js-mission-progress'),
      autoOpen: <%= @missionAutoOpen %>,
      productId: <%= @product.id.to_json.html_safe %>,
      mission: <%= { progress: mission.progress, steps: mission.steps }.to_json.html_safe %>,
      showMissionCompleted: <%= mission.just_completed? %>,
      missionAnalytics: <%= mission.mission_analytics.to_json.html_safe %>
    });
  });
</script>
