<div class="navbar navbar-default navbar-static-top navbar-lifted" style="z-index: 1">
  <div class="container">
    <ul class="nav nav-tabs navbar-nav navbar-left">
      <li class="<%= "active" if products_controller? || nav_active?(:product) %>">
        <a class="navbar-brand" href="<%= product_path(@product) %>">
          <%= @product.name %>
        </a>
      </li>
    </ul>

    <ul class="nav nav-tabs navbar-nav navbar-right">
      <li class="<%= "active" if discussions_controller? || nav_active?(:product_discussions) %>">
        <a href="<%= product_discuss_path(@product) %>">
          Discuss
        </a>
      </li>

      <li class="<%= "active" if nav_active?(:product_activity) %>">
        <a href="<%= product_dashboard_path(@product) %>">
          Activity
        </a>
      </li>

      <li class="<%= "active" if tasks_controller? %>">
        <a href="<%= product_wips_path(@product) %>">
          Tasks
        </a>
      </li>

      <li class="<%= "active" if milestones_controller? %>">
        <a href="<%= product_milestones_path(@product) %>">
          Projects
        </a>
      </li>

    </ul>
  </div>
</div>

<%# render 'products/status_message' %>
