<ul class="nav nav-tabs no-border">

  <% unless @product.meta? %>
  <li class="<%= nav_active_class(:idea) %>">
    <a href="<%= product_path(product) %>">
      <span class="icon icon-compass icon-left"></span>
      Idea
    </a>
  </li>
  <% end %>

  <li class="<%= nav_active_class(:updates) %>">
    <a href="<%= product_posts_path(product) %>">
      <span class="icon icon-pin icon-left"></span>
      Posts
    </a>
  </li>

  <li class="<%= nav_active_class(:activity) %>">
    <a href="<%= product_news_feed_items_path(product) %>">
      <span class="icon icon-graph icon-left"></span>
      Activity
    </a>
  </li>

  <li class="<%= nav_active_class(:bounties) %>">
    <a href="<%= product_wips_path(product) %>">
      <span class="icon icon-trophy icon-left"></span>
      Bounties
    </a>
  </li>

  <% unless @product.meta? %>
  <li class="<%= nav_active_class(:people) %>">
    <a href="<%= product_people_path(product) %>">
      <span class="icon icon-users icon-left"></span>
      Team
    </a>
  </li>
  <% end %>
  
</ul>
