<div class="navbar navbar-default navbar-static-top navbar-lifted" style="z-index: 1">
  <div class="container">
    <ul class="nav nav-tabs navbar-nav navbar-left">
      <li class="<%= "active" if products_controller? || nav_active?(:product) %>">
        <a class="navbar-brand" href="<%= product_path(@product) %>">
          <%= @product.name %>
        </a>
      </li>

      <li class="<%= "active" if discussions_controller? || nav_active?(:product_discussions) %>">
        <a href="<%= product_discuss_path(@product) %>">
          Chat
        </a>
      </li>

      <li class="<%= "active" if discussions_controller? %>">
        <a href="<%= product_discussions_path(@product) %>">
          Discussions
        </a>
      </li>

      <li class="<%= "active" if tasks_controller? %>">
        <a href="<%= product_wips_path(@product) %>">
          Bounties
        </a>
      </li>

      <li class="<%= "active" if milestones_controller? %>">
        <a href="<%= product_milestones_path(@product) %>">
          Projects
        </a>
      </li>

      <li class="<%= "active" if assets_controller? %>">
        <a href="<%= product_assets_path(@product) %>">
          Assets
        </a>
      </li>
    </ul>

    <ul class="nav nav-pills navbar-nav navbar-right">
      <li>
        <% if signed_in? && @product.watching?(current_user) %>
          <a href="<%= unsubscribe_product_path(@product) %>" data-method="post" >
            <div class="btn-group" style="width: 100%;">
              <button class="btn btn-primary">
                <span class="glyphicon glyphicon-volume-off"></span>
                Unwatch
              </button>
              <button class="btn btn-info">
                <%= @product.watchers.count %>
              </button>
            </div>
          </a>
        <% else %>
          <a href="<%= subscribe_product_path(@product) %>" data-method="post">
            <div class="btn-group" style="width: 100%;">
              <button class="btn btn-primary">
                <span class="glyphicon glyphicon-eye-open"></span>
                Watch
              </button>
              <button class="btn btn-info">
                <%= @product.watchers.count %>
              </button>
            </div>
          </a>
        <% end %>
      </li>
    </ul>
  </div>
</div>

<%# render 'products/status_message' %>
