<div class="navbar navbar-default navbar-static-top navbar-lifted" style="z-index: 1">
  <div class="container">
    <ul class="nav nav-tabs navbar-nav navbar-left">
      <li class="<%= "active" if products_controller? || nav_active?(:product) %>">
        <a class="navbar-brand" href="<%= product_path(@product) %>">
          <%= @product.name %>
        </a>
      </li>
      <li class="<%= "active" if chat_controller? %>">
        <a href="<%= product_discuss_path(@product) %>">
          Chat
        </a>
      </li>

      <li class="<%= "active" if discussions_controller? %>">
        <a href="<%= product_discussions_path(@product) %>">
          Discussions
        </a>
      </li>

      <li class="<%= "active" if tasks_controller? %>">
        <a href="<%= product_wips_path(@product) %>">
          Bounties
        </a>
      </li>

      <li class="<%= "active" if milestones_controller? %>">
        <a href="<%= product_milestones_path(@product) %>">
          Projects
        </a>
      </li>

      <li class="<%= "active" if assets_controller? %>">
        <a href="<%= product_assets_path(@product) %>">
          Assets
        </a>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-text">
        <div class="toggler">
          <% if signed_in? && @product.watching?(current_user) %>
            <a class="toggler-btn btn btn-default inactive" href="<%= unsubscribe_product_path(@product) %>" data-method="post" >

              <span class="glyphicon glyphicon-eye-open"></span>
              Unwatch
            </a>
          <% else %>
            <a class="toggler-btn btn btn-primary" href="<%= subscribe_product_path(@product) %>" data-method="post">
              <span class="glyphicon glyphicon-eye-open"></span>
              Watch
            </a>
          <% end %>
          <div class="badge toggler-badge">
            <%= @product.watchers.count %>
          </div>
        </div>
      </li>
      <li class="navbar-text">
        <div class="toggler">
          <div style="display:inline; margin-left: 5px; margin-top: 13px;"
               data-react-class="JoinTeam"
               data-react-props="<%= {
                 count: @product.team_memberships.active.count,
                 join_path: product_people_path(@product),
                 leave_path: (current_user && product_person_path(@product, current_user)),
                 is_member: @product.member?(current_user),
                 membership:  TeamMembershipSerializer.new(@product.team_memberships.find_by(user: current_user)).as_json
               }.to_json %>">
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- TODO: use a form helper -->
<script type="text/template" id="join-team-template">
  <form role="form" style="width: 250px" method="post" action="<%= product_people_path(@product) %>">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input name="introduction" value="true" type="hidden">
    <div class="form-group" style="margin-bottom: 15px">
      <label class="control-label omega" for="join-bio-editor">
        Introduce yourself
      </label>
      <small class="help-block alpha">
        What skills can you contribute, how much time do you have have and what are you looking to get out of the experience?
      </small>
      <textarea name="bio" id="join-bio-editor" class="form-control bio-editor" style="height: 100px" maxlength="200"></textarea>
    </div>
    <div class="form-group" style="margin-bottom: 15px">
      <label for="join-interests">What are you interested in?</label>
      <% interest_filters = product_membership_interests(@product, true) %>
      <%= select_tag 'membership[interest_ids][]',
        options_for_select(interest_filters.map { |interest| ['@' + interest, interest]}),
        'data-placeholder' => ' ',
        :class => 'form-control chosen-select',
        :id => 'join-interests',
        :multiple => true %>
    </div>
    <button type="submit" class="btn btn-primary btn-sm btn-block" id="join-intro">Introduce yourself</button>
  </form>
</script>
