<!-- People Panel -->
<h6>Core Team</h6>

<% cache([@product.slug, 'core-team'], expires_in: 1.day) do %>
  <% if @product.core_team.empty? %>
    <p class="omega">No core team members yet.</p>
  <% else %>
    <ul class="list-unstyled">
      <% @product.core_team.each do |user| %>
        <li class="clearfix" style="margin-bottom:12px">
          <div class="media" style="margin-bottom:0">
            <div class="pull-left" style="margin-right:15px">
              <div class="media-object">
                <%= avatar_tag(user, 36) %>
              </div>
            </div>
            <div class="media-body">
              <a href="<%= user_path(user) %>" title="<%= user.username %>">
                <strong>@<%= user.username %></strong>
              </a>
              <% if user.bio.present? %>
                <p class="text-small text-muted omega"><%= user.bio %></p>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<hr>

<h6 class="panel-title">Followers</h6>

<% if @product.watchers.empty? %>
  <p class="omega">No contributors yet.</p>
<% else %>
  <% cache([@product.slug, 'contributors'], expires_in: 1.day) do %>
    <ul class="list-grid omega">
      <% @product.important_contributors.each do |user| %>
        <li>
          <a href="<%= user_path(user) %>" title="<%= user.username %>">
            <%= avatar_tag(user, 21) %>
          </a>
        </li>
      <% end %>
    </ul>

    <!-- FIXME: Most of these should be in another decorator -->
    <% if @product.uninmportant_contributors_count > 0 %>
      <p class="text-center omega" style="margin-top:15px">
        <a class="text-strong text-success" href="<%= product_people_path(@product) %>">
          + <%= @product.uninmportant_contributors_count %> more
        </a>
      </p>
    <% end %>
  <% end %>
<% end %>
