<div class="bulletin">
  <div class="bulletin-header">
    <!-- <div class="open-tasks pull-right">
      <ul>
        <li class="open-task <%= "open-task-muted" if product.number_of_code_tasks == 0 %>">
          <a href="<%=  product_code_wips_path(product) %>" data-track="product.tasks.clicked" data-track-props='{"link_type": "featured"}'>
            <div class="open-task-detail">
              <span class="open-task-type-icon code-icon"></span>
              <span class="open-task-count"><%= product.number_of_code_tasks %></span>
            </div>
            <span class="open-task-type">Code</label>
          </a>
        </li>
        <li class="open-task <%= "open-task-muted" if product.number_of_design_tasks == 0 %>">
          <a href="<%= product_design_wips_path(product) %>" data-track="product.tasks.clicked" data-track-props='{"link_type": "featured"}'>
            <div class="open-task-detail">
              <span class="open-task-type-icon design-icon"></span>
              <span class="open-task-count"><%= product.number_of_design_tasks %></span>
            </div>
            <span class="open-task-type">Design</label>
          </a>
        </li>
        <li class="open-task <%= "open-task-muted" if product.number_of_copy_tasks == 0 %>">
          <a href="<%= product_copy_wips_path(product) %>" data-track="product.tasks.clicked" data-track-props='{"link_type": "featured"}'>
            <div class="open-task-detail">
              <span class="open-task-type-icon copy-icon"></span>
              <span class="open-task-count"><%= product.number_of_copy_tasks %></span>
            </div>
            <span class="open-task-type">Copy</label>
          </a>
        </li>
      </ul>
      
    </div> -->
    
    <div class="meta pull-right">
      <%= product.social_proof %>
    </div>
    
    <a href="<%= product_path(product) %>" data-track="product.clicked" data-track-props='{"link_type": "featured"}'>
      <div class="bulletin-hero">
        <img src="<%= image_path(product.poster_image.url) %>" alt="<%= product.name %>">
      </div>
      <div class="bulletin-title">
        <h4><%= product.name %></h4>
        <%= product.pitch %>
      </div>
    </a>

    <div class="clearfix"></div>
  </div>

  <!-- <ul class="bulletin-items">
    <% product.promoted_tasks.each do |task| %>
      <li class="bulletin-item">
        <a href="<%= product_wip_path(product, task) %>" data-track="product.task.clicked" data-track-props='{"link_type": "featured"}'>
          <div class="bulletin-item-hint">
            Help out with this task
            <div class="bulletin-item-hint-icon chevron-icon"></div>
          </div>
          <div class="bulletin-item-label">
            Open Task
          </div>
          <div class="bulletin-item-type <%= task.deliverable_icon_class %>"></div>
          <div class="bulletin-item-detail">
            <%= task.title %>
          </div>
        </a>
      </li>
    <% end %>
  </ul> -->
</div>
