<% cache ['v1', product ] do %>
  <div class="grid-item">
    <div class="card">
      <a href="<%= product_path(product) %>" data-track="product.clicked" data-track-props='{"link_type": "full"}'>
        <div class="card-hero">
          <div class="label"><%= product.presentable_stage %></div>
          <img src="<%= image_path(product.poster_image.url) %>" alt="<%= product.name %>">
        </div>

        <div class="card-content">
          <div class="card-title"><%= product.name %></div>
          <%= product.pitch %>
        </div>
      </a>

      <div class="open-tasks">
        <div class="open-tasks-title">
          Open Tasks
        </div>

        <ul>

          <li class="open-task <%= "open-task-muted" if product.number_of_code_tasks == 0 %>">
            <a href="<%=  product_code_wips_path(product) %>" data-track="product.deliverable.clicked">
              <div class="open-task-detail">
                <span class="open-task-type-icon code-icon"></span>
                <span class="open-task-count"><%= product.number_of_code_tasks %></span>
              </div>
              <span class="open-task-type">Code</label>
            </a>
          </li>

          <li class="open-task <%= "open-task-muted" if product.number_of_design_tasks == 0 %>">
            <a href="<%= product_design_wips_path(product) %>" data-track="product.deliverable.clicked">
              <div class="open-task-detail">
                <span class="open-task-type-icon design-icon"></span>
                <span class="open-task-count"><%= product.number_of_design_tasks %></span>
              </div>
              <span class="open-task-type">Design</label>
            </a>
          </li>

          <li class="open-task <%= "open-task-muted" if product.number_of_copy_tasks == 0 %>">
            <a href="<%= product_copy_wips_path(product) %>" data-track="product.deliverable.clicked">
              <div class="open-task-detail">
                <span class="open-task-type-icon copy-icon"></span>
                <span class="open-task-count"><%= product.number_of_copy_tasks %></span>
              </div>
              <span class="open-task-type">Text</label>
            </a>
          </li>

        </ul>
      </div>

    </div>

    <%= render 'tags', tags: product.tags %>
  </div>
<% end %>
