<%= render 'products/launch' unless product.launched? %>

<% if current_user && product.core_team?(current_user) %>
  <%= form_for :asset, url: product_logos_path(product), html: {id: 'product-logo-form'} do |f| %>
    <%= f.hidden_field :attachment_id %>
    <%= f.hidden_field :name %>
  <% end %>
  <div class="js-dropzone"
      data-target-form="#product-logo-form"
      data-react-class="DragAndDrop"
      data-react-props="<%= {
        url: product.poster_image.url,
        alt: product.name
      }.to_json %>">
  </div>
<% else %>
  <span class="img-shadow">
    <%= image_tag product.poster_image.url, class: 'img-rounded', width: '100%', alt: product.name %>
  </span>
<% end %>

<% if @product.homepage_url.present? %>
  <a class="small truncate text-muted text-center" style="display:inline-block;width: 100%;margin-top:5px" href="<%= @product.homepage_url %>" data-track="product.site.clicked">
    <strong><%= @product.homepage_url %></strong>
  </a>
<% end %>

<ul class="nav nav-stacked nav-sidebar" style="margin-top: 35px;">
<li class="<%= nav_active_class(:about) %>">
  <a href="<%= product_path(product) %>">
    <span class="icon icon-compass dropdown-glyph"></span>
    Plan
  </a>
</li>

<li class="<%= nav_active_class(:chat) %>">
  <a href="<%= product_chat_path(product) %>">
    <span class="icon icon-bubbles dropdown-glyph"></span>
    Chat
  </a>
</li>

<% if can?(:update, product) || product.posts.any? %>
  <li class="<%= nav_active_class(:blog) %>">
    <a href="<%= product_posts_path(product) %>">
      <span class="icon-notebook dropdown-glyph"></span>
      Blog
    </a>
  </li>
<% end %>

<% if staff? %>
  <li class="<%= nav_active_class(:admin) %>">
    <a href="<%= product_admin_path(product) %>">
      <span class="icon-moustache dropdown-glyph"></span>
      Admin
    </a>
  </li>
<% end %>
</ul>

<h6 style="padding-left:10px">Work</h6>

<ul class="nav nav-stacked nav-sidebar">

<li class="<%= nav_active_class(:projects) %>">
  <a href="<%= product_milestones_path(product) %>">
    <span class="icon icon-folder dropdown-glyph"></span>
    Projects
  </a>
</li>

<li class="<%= nav_active_class(:bounties) %>">
  <a href="<%= product_wips_path(product) %>">
    <span class="icon icon-trophy dropdown-glyph"></span>
    Bounties
  </a>
</li>

<li class="<%= nav_active_class(:discussions) %>">
  <a href="<%= product_discussions_path(product) %>">
    <span class="icon icon-book-open dropdown-glyph"></span>
    Discussions
  </a>
</li>

<li class="<%= nav_active_class(:assets) %>">
  <a href="<%= product_assets_path(product) %>">
    <span class="icon icon-layers dropdown-glyph"></span>
    Assets
  </a>
</li>

<li class="<%= nav_active_class(:repositories) %>">
  <a href="<%= product_repos_path(product) %>">
    <span class="icon icon-repository dropdown-glyph"></span>
    Repositories
  </a>
</li>
</ul>

<h6 style="padding-left:10px">People</h6>

<ul class="nav nav-stacked nav-sidebar">

<li class="<%= nav_active_class(:people) %>">
  <a href="<%= product_people_path(product) %>">
    <span class="icon icon-users dropdown-glyph"></span>
    Teams
  </a>
</li>

<li class="<%= nav_active_class(:ownership) %>">
  <a href="<%= product_partners_path(product) %>">
    <span class="icon-pie-chart dropdown-glyph"></span>
    Ownership
  </a>
</li>
</ul>

<% if product.revenue? %>
  <h6 style="padding-left:10px">Financials</h6>

  <ul class="nav nav-stacked nav-sidebar">
    <li class="<%= nav_active_class(:financials) %>">
      <a href="<%= product_financials_path(product) %>">
        <i class="icon icon-wallet dropdown-glyph"></i>
        Money
      </a>
    </li>
  </ul>
<% end %>