<div class="hidden-xs hidden-sm">
  <%= render 'products/launch' unless product.launched? %>

  <% if current_user && product.core_team?(current_user) %>
    <%= form_for :asset, url: product_logos_path(product), html: {id: 'product-logo-form'} do |f| %>
      <%= f.hidden_field :attachment_id %>
      <%= f.hidden_field :name %>
    <% end %>
    <div class="js-dropzone"
        data-target-form="#product-logo-form"
        data-react-class="DragAndDrop"
        data-react-props="<%= {
          url: product.poster_image.url,
          alt: product.name
        }.to_json %>">
    </div>
  <% else %>
    <span class="img-shadow">
      <%= image_tag product.poster_image.url, class: 'img-rounded', width: '100%', alt: product.name %>
    </span>
  <% end %>

  <% if @product.homepage_url.present? %>
    <a class="small truncate text-muted text-center" style="display:inline-block;width: 100%;margin-top:5px" href="<%= @product.homepage_url %>" data-track="product.site.clicked">
      <strong><%= @product.homepage_url %></strong>
    </a>
  <% end %>
</div>

<br>

<ul class="nav nav-stacked nav-sidebar">
  <li class="<%= nav_active_class(:about) %>">
    <a href="<%= product_path(product) %>">
      <span class="icon icon-compass icon-left"></span>
      Idea
    </a>
  </li>

  <li class="<%= nav_active_class(:people) %>">
    <a href="<%= product_people_path(product) %>">
      <span class="icon icon-users icon-left"></span>
      People
    </a>
  </li>

  <% if product.revenue? %>
    <li class="<%= nav_active_class(:financials) %>">
      <a href="<%= product_financials_path(product) %>">
        <span class="icon icon-wallet icon-left"></span>
        Financials
      </a>
    </li>
  <% end %>

  <% if chat_room = product.chat_rooms.first %>
    <li class="<%= nav_active_class(:chat) %>">
      <a href="<%= chat_room_path(chat_room) %>">
        <span class="icon icon-bubbles icon-left"></span>
        Chat
      </a>
    </li>
  <% end %>

  <% if can?(:update, product) || product.posts.any? %>
    <li class="<%= nav_active_class(:blog) %>">
      <a href="<%= product_posts_path(product) %>">
        <span class="icon-notebook icon-left"></span>
        Blog
      </a>
    </li>
  <% end %>

  <% if partner?(product) %>
    <li class="<%= nav_active_class(:projects) %>">
      <a href="<%= product_projects_path(product) %>">
        <span class="icon icon-folder icon-left"></span>
        Projects
      </a>
    </li>

    <li class="<%= nav_active_class(:bounties) %>">
      <a href="<%= product_wips_path(product) %>">
        <span class="icon icon-trophy icon-left"></span>
        Bounties
      </a>
    </li>
  <% end %>

  <!-- <li class="<%= nav_active_class(:discussions) %>">
    <a href="<%= product_discussions_path(product) %>">
      <span class="icon icon-book-open icon-left"></span>
      Discussions
    </a>
  </li>

  <li class="<%= nav_active_class(:assets) %>">
    <a href="<%= product_assets_path(product) %>">
      <span class="icon icon-layers icon-left"></span>
      Assets
    </a>
  </li>

  <li class="<%= nav_active_class(:repositories) %>">
    <a href="<%= product_repos_path(product) %>">
      <span class="icon icon-repository icon-left"></span>
      Repositories
    </a>
  </li> -->

  <li><hr></li>

  <li>
    <h6>Getting started</h6>
    <small>
      <p>Become a partner and owner of <%= @product.name %> when you earn App Coins for completing bounties and contributing helpful comments in a discussion. If you want to see <%= @product.name %> succeed follow these 3 easy steps to become a partner:</p>
      <p>1. Let the team know you're interested in helping out and what you want to do to make it happen.</p>
      <p><a class="btn btn-sm btn-primary" href="<%= product_people_path(@product) %>">Introduce Yourself</a></p>
      <p>2. Have any ideas or questions for the team, jump into <%= @product.name %>'s discussions or start one of your own.</p>
      <p>3. Start working on any of the open bounties</p>

      <p><strong>More for developers</strong></p>
      <p>You can start contributing to the code <a href="<% @product.repos.first.url %>">here</a>
    </small>
  </li>

  <% if staff? %>
  <li><hr></li>
    <li class="<%= nav_active_class(:admin) %>">
      <a href="<%= product_admin_path(product) %>">
        <span class="icon-moustache icon-left"></span>
        Admin
      </a>
    </li>
  <% end %>
</ul>


