<% title 'Settings', @product.name %>
<% activate_nav! :settings %>

<div class="sub-thingy">
  <ul class="nav nav-pills" role="tablist">
    <li class="active">
      <a href="#basics" role="tab" data-toggle="tab">Basics</a>
    </li>
    <li>
      <a href="#vision" role="tab" data-toggle="tab">Vision</a>
    </li>
    <li>
      <a href="#core-team" role="tab" data-toggle="tab">Core Team</a>
    </li>
    <li>
      <a href="#integrations" role="tab" data-toggle="tab">Integrations</a>
    </li>
  </ul>
</div>

<div class="tab-content">
  <div class="tab-pane active" id="basics">
    <%= form_for :asset, url: product_logos_path(@product), html: { id: 'product-logo-form' } do |f| %>
      <%= f.hidden_field :attachment_id %>
      <%= f.hidden_field :name %>
    <% end %>

    <%= form_for @product do |f| %>

      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <%= f.label :name, 'Name', class: 'form-label' %>
            <%= f.text_field :name, class: 'form-control input-lg', maxlength: 255, autocomplete: 'off' %>
            <p class="help-block">
              A name is important, but it can always change. If you have a codename already, use that, otherwise don't get too hung up on making it perfect.
            </p>
          </div>

          <div class="form-group">
            <%= f.label :pitch, 'Five word pitch', class: 'form-label' %>
            <%= f.text_field :pitch, class: 'form-control' %>
            <p class="help-block">
              If you had 30 seconds to describe your business to a friend, what would you say? Use simple, direct words.
            </p>
          </div>

          <div class="form-group">
            <%= f.label :you_tube_video_url, 'Pitch video link', class: 'form-label' %>
            <%= f.url_field :you_tube_video_url, class: 'form-control', maxlength: 255 %>
            <p class="help-block">
              Add a link to a video that describes your product. It could be as simple as you talking into a webcam, or
              as awesome as an animated product video.
            </p>
          </div>

          <div class="form-group">
            <%= f.label :homepage_url, 'Product Display URL', class: 'form-label' %>
            <%= f.url_field :homepage_url, class: 'form-control', placeholder: "eg: https://#{@product.slug}.com", maxlength: 255 %>
          </div>

          <% if signed_in? && current_user.staff? %>
            <div class="form-group">
              <%= f.label :try_url, 'Product Try URL', class: 'form-label' %>
              <%= f.url_field :try_url, class: 'form-control', placeholder: "eg: https://#{@product.slug}.com?utm=assembly", maxlength: 255 %>
              <p class="help-block">
                Once you've added this link your product will show up as Live.
              </p>
            </div>
          <% end %>


        </div>

        <div class="col-sm-4">
          <div class="form-group">
            <label class="form-label">Logo image</label>
            <div class="js-dropzone"
                style="margin-bottom:6px"
                data-target-form="#product-logo-form"
                data-react-class="DragAndDrop"
                data-react-props="<%= {
                  url: @product.poster_image.url,
                  alt: @product.name
                }.to_json %>">
            </div>
            <p class="gray-2 center">Square (1:1) images only, please.</p>
          </div>
        </div>

      </div>

      <hr>

      <h6>The Story</h6>

      <div class="row">
        <div class="col-sm-12">

          <div class="form-group">
            <%= f.label :lead, 'Blurb', class: 'form-label' %>
            <div class="row">
              <div class="col-md-8">
                <%= f.text_area :lead, class: 'form-control input-lg', rows: 2 %>
              </div>
              <div class="col-md-4">
                <p class="help-block mt0">
                  Keep it short. How would you describe your product in a tweet?
                </p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :description, 'Description', class: 'form-label' %>
            <div class="row">
              <div class="col-md-8">
                <%= f.text_area :description, class: 'form-control', rows: 2, data: { autosize: '', 'validate-length' => 2 } %>
              </div>
              <div class="col-md-4">
                <p class="help-block mt0">
                  Dive into the details. How did you come up with the idea? What makes it great?
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>

    <% end %>
  </div>

  <div class="tab-pane" id="vision">

    <%= form_for @product do |f| %>
      <div class="form-group">
        <%= f.label :goals, 'Goals', class: 'form-label' %>
        <div class="row">
          <div class="col-md-8">
            <%= f.text_area :goals, class: 'form-control', data: { autosize: '' }, rows: 2 %>
          </div>
          <div class="col-md-4">
            <p class="help-block mt0">
              What problems are you trying to solve with the product? Setting goals early often helps align people's expectations later.
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :key_features, 'Key Features', class: 'form-label' %>
        <div class="row">
          <div class="col-md-8">
            <%= f.text_area :key_features, class: 'form-control', data: { autosize: '' }, rows: 2 %>
          </div>
          <div class="col-md-4">
            <p class="mt0 help-block">
              What do you expect the key features of the product to be? What sets it apart from others?
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :target_audience, 'Target Audience', class: 'form-label' %>
        <div class="row">
          <div class="col-md-8">
            <%= f.text_area :target_audience, class: 'form-control', data: { autosize: '' }, rows: 2 %>
          </div>
          <div class="col-md-4">
            <p class="mt0 help-block">
              Who are you solving problems for? What is unique about that market?
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :competing_products, 'Competing Products', class: 'form-label' %>
        <div class="row">
          <div class="col-md-8">
            <%= f.text_area :competing_products, class: 'form-control', data: { autosize: '' }, rows: 2 %>
          </div>
          <div class="col-md-4">
            <p class="mt0 help-block">
              What do you consider is your biggest competition? For example, Facebook may consider MySpace their biggest competitor.
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :competitive_advantage, 'Competitive Advantage', class: 'form-label' %>
        <div class="row">
          <div class="col-md-8">
            <%= f.text_area :competitive_advantage, class: 'form-control', data: { autosize: '' }, rows: 2 %>
          </div>
          <div class="col-md-4">
            <p class="mt0 help-block">
              What advantage do you have over these competitors that is uniquely yours?
            </p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :monetization_strategy, 'Monetization Strategy', class: 'form-label' %>
        <div class="row">
          <div class="col-md-8">
            <%= f.text_area :monetization_strategy, class: 'form-control', data: { autosize: '' }, rows: 2 %>
          </div>
          <div class="col-md-4">
            <p class="mt0 help-block">
              How should this product be monetized?
            </p>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit 'Save', class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>

  <div class="tab-pane" id="core-team">

    <table class="table table-responsive">
      <thead>
        <tr>
          <th colspan="2">User</th>
          <th class="right-align">Joined</th>
        </tr>
      </thead>
      <tbody>
        <% @product.core_team_memberships.each do |membership| %>
          <tr>
            <td><%= avatar_tag(membership.user, 24) %></td>
            <td><%= membership.user.username %></td>
            <td class="gray-2 right-align">
              <%= time_ago_in_words(membership.created_at) %> ago
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= form_tag(product_core_team_members_path(@product), class: 'form') do %>
      <div class="row">
        <div class="col-sm-8">
          <div class="input-group input-group-sm" style="margin-bottom: 10px;">
            <%= label_tag :core_team_member_username, '@', class: 'input-group-addon input-group-addon-sm' %>
            <%= text_field_tag 'core_team_member[username]', nil, class: 'form-control input-sm', placeholder: 'username' %>
          </div>
        </div>
        <div class="col-sm-4">
          <%= submit_tag 'Add to Core Team', class: 'btn btn-default btn-block btn-sm' %>
        </div>
      </div>
    <% end %>

  </div>

  <div class="tab-pane" id="integrations">
    We're working on automating integrations. If you just can't wait, or if you just want a taste of what's to come, you can set up a MailChimp webhook for
    <%= @product.name %>'s email signups by pointing MailChimp to the following URL:
    <div class="center well">
      https://mailchimp.assembly.com/products/<%= @product.slug %>/activities?token=<%= @product.authentication_token %>
    <div>
  </div>
</div>
