<% title 'Start a new product' %>
<% activate_nav! :platform_start %>
<%= render 'shared/navbar' %>

<div class="jumbotron omega">
  <h1>It's business time<a class="text-muted" href="https://www.youtube.com/watch?v=AqZcYPEszN8#t=63">.</a></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="sheet">
        <div class="sheet-body">


          <ul class="nav nav-pills nav-justified">
            <li>
              <a href="#story">
                <span class="text-muted">1.</span>
                &nbsp;&nbsp;&nbsp;
                <strong>Story</strong>
              </a>
            </li>
            <li>
              <a href="#core-team">
                <span class="text-muted">2.</span>
                &nbsp;&nbsp;&nbsp;
                <strong>Core Team</strong>
              </a>
            </li>
            <li>
              <a href="#ownership-and-coins">
                <span class="text-muted">3.</span>
                &nbsp;&nbsp;&nbsp;
                <strong>Ownership &amp; Coins</strong>
              </a>
            </li>
            <li>
              <a href="#financials">
                <span class="text-muted">4.</span>
                &nbsp;&nbsp;&nbsp;
                <strong>Financials</strong>
              </a>
            </li>
          </ul>

          <hr id="story">


          <h6 class="text-muted">Story</h6>

          <%= form_for @product, html: {class: 'form'} do |f| %>
            <div class="form-group">
              <%= f.label :name, class: 'control-label' %>
              <div class="row">
                <div class="col-md-8">
                  <%= f.text_field :name, class: 'form-control', autofocus: true %>
                </div>
                <div class="col-md-4">
                  <p class="help-block alpha">
                    A name is important, but it can always change. If you have a codename already, use that, otherwise don't get too hung up on making it perfect.
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :pitch, 'Elevator pitch', class: 'control-label' %>
              <div class="row">
                <div class="col-md-8">
                  <%= f.text_area :pitch, class: 'form-control', rows: 4 %>
                </div>
                <div class="col-md-4">
                  <p class="help-block alpha">If you had 30 seconds to describe your business to a friend in an elevator, what would you say? Use simple, direct words.</p>
                </div>
              </div>
            </div>
            <br>

            <hr id="core-team">
            <h6 class="text-muted">Core Team</h6>

            <div class="form-group">
              <div class="row">
                <div class="col-md-8">
                  <div data-react-class="CoreTeam" data-react-props='<%== {currentUser: serialize_hash(current_user)}.to_json %>'></div>
                </div>

                <div class="col-md-4">
                  <p class="help-block alpha">
                    The Core Team is like a board of directors. They determine the direction and culture of a business. They can award bounties, write journal entries and set priorities.
                  </p>
                </div>
              </div>
            </div>

            <hr id="ownership-and-coins">
            <h6 class="text-muted">Ownership &amp; Coins</h6>

            <div class="row">
              <div class="col-md-8">

                <div data-react-class="CoinOwnership" data-react-props='<%== { totalCoins: Product::INITIAL_COINS }.to_json %>'></div>
              </div>

              <div class="col-md-4">
                <p class="help-block">
                  Every business starts out with <%= number_with_delimiter Product::INITIAL_COINS %> app coins. App coins are how Assembly tracks ownership.
                </p>
                <p class="help-block">
                  Profits are paid out to partners monthly based upon their ownership.
                </p>
                <p class="help-block">
                  Share ownership with initial partners to recognize exisiting help or incentivize future work.
                </p>
              </div>
            </div>

            <hr id="financials">
            <h6 class="text-muted">Financials</h6>

            <div class="row">
              <div class="col-md-8">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td colspan="2" class="text-muted">
                        Businesses get a <strong>virtual bank account</strong>. Its balance is 0 initially, but deposits come from the app's revenue. Partners are paid monthly from this account.
                      </td>
                    </tr>
                    <tr class="active">
                      <td>Initial Account Balance:</td>
                      <td class="text-right"><strong>$0</strong></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-4">
                <p class="help-block alpha">
                  The core team decides how the business's money is spent.
                </p>
                <p class="help-block">
                  Assembly pays all bills until a business is profitable.
                </p>
              </div>
            </div>

            <div class="form-actions">
              <div class="row">
                <div class="col-md-4 col-md-offset-8">
                  <button class="btn btn-primary btn-block" data-disable-with="Start the adventure">
                    Found business
                  </button>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
