<% title 'Start a new product' %>
<% activate_nav! :platform_start %>
<%= render 'shared/navbar' %>

<div class="jumbotron">
  <h1>Say hello to your new business.</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="sheet">
        <div class="sheet-body">
          <%= form_for @product, html: {class: 'form'} do |f| %>
            <h6 class="text-muted">The Basics</h6>
            <div class="form-group">
              <%= f.label :name, class: 'control-label' %>
              <div class="row">
                <div class="col-md-8">
                  <%= f.text_field :name, class: 'form-control', autofocus: true %>
                </div>
                <div class="col-md-4">
                  <p class="help-block">
                    A name is important, but it can always change. If you have a codename already, use that, otherwise don't get too hung up on making it perfect.
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :pitch, 'Elavator pitch', class: 'control-label' %>
              <div class="row">
                <div class="col-md-8">
                  <%= f.text_area :pitch, class: 'form-control', rows: 4 %>
                </div>
                <div class="col-md-4">
                  <p class="help-block">If you had 30 seconds to describe your business to a friend in an elevator, what would you say? Use simple, direct words.</p>
                </div>
              </div>
            </div>

            <!-- <hr>
            <h6 class="text-muted">Yourself</h6>

            <div class="form-group">
              <%= f.label :introduce_yourself, class: 'form-label' %>
              <div class="row">
                <div class="col-md-8">
                  <%= f.text_area :lead, class: 'form-control', rows: 4 %>
                </div>
                <div class="col-md-4">
                  <p class="help-block">
                    Tell
                  </p>
                </div>
              </div>
            </div> -->

            <hr>
            <h6 class="text-muted">The Core Team</h6>

            <div class="form-group">
              <div class="row">
                <div class="col-md-8">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td><%= avatar_tag(User.find_by_username("chrislloyd"), 30) %></td>
                        <td>
                          @chrislloyd
                          <span class="text-muted">(you)</span>
                        </td>
                        <td class="text-right">
                          <div data-toggle="tooltip" title="You cannot remove yourself from the Core Team" data-placement="top">
                            <a href="#" class="btn btn-danger btn-xs disabled" >Remove</a>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td><%= avatar_tag(User.find_by_username("whatupdave"), 30) %></td>
                        <td>
                          dave@assembly.com
                          <span class="text-muted">(pending)</span>
                        </td>
                        <td class="text-right">
                          <a href="#" class="btn btn-danger btn-xs">Remove</a>
                        </td>
                      </tr>
                      <tr>
                        <td><%= avatar_tag(User.find_by_username("whatupdave"), 30) %></td>
                        <td><input type="email"></td>
                        <td><button type="submit" class="btn btn-default">Invite to Core</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-md-4">
                  <p class="help-block">
                    The Core Team is like a board of directors. They determine the direction and culture of a business. They can award bounties, write blog posts and set priorities.
                  </p>
                </div>
              </div>
            </div>

            <hr>
            <h6 class="text-muted">Ownership</h6>

            <div class="well">Ownership widget</div>


            <h2>Funding</h2>
            <p>There is $0 in the bank account</p>

            <div class="form-actions">
              <button class="btn btn-primary" data-disable-with="Start the adventure">
                Start your business
              </button>
            </div>

          <% end %>

      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
