<% title 'Start a new product' %>
<% activate_nav! :platform_start %>
<%= render 'shared/navbar' %>

<div class="page page-flat">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xs-10 col-lg-offset-1 col-xs-offset-1">
        <div class="page-header">
          <h2 class="page-header-title">Crowd-build the next great product</h2>
          <p>Keep 5% of the app's profit when it's built on Assembly.</p>
        </div>

        <div class="row">

          <div class="col-md-8 col-xs-8">
            <%= form_for @product, html: {class: 'form'} do |f| %>

              <div class="form-group">
                <%= f.label :pitch, class: 'form-label' do %>
                  What's the high level pitch?
                  <span class="text-muted">(In about 3&ndash;5 words)</span>
                <% end %>
                <%= f.text_field :pitch, class: 'form-control', data: { autosize: true, 'validate-length' => 2 }, rows: 3, autofocus: true, placeholder: @four_word_story_example %>

                <p class="help-block">
                  Start with a subject, an object, a verb. Then, add a descriptor or
                  refining notion. Here are
                  <a href="https://medium.com/design-story/23845834503b">some tips
                  on writing four word stories</a>.
                </p>
              </div>

              <div class="form-group">
                <%= f.label :lead, class: 'form-label' do %>
                  What will it do?
                <% end %>
                <%= f.text_area :lead, class: 'form-control', rows: 2, data: { 'validate-length' => 2, autosize: true } %>
                <p class="help-block">
                  Great products can be described in a single Tweet (140 characters).
                </p>
              </div>

              <div class="form-group">
                <a class="pull-right" href="https://daringfireball.net/projects/markdown/basics" target="_blank">
                    <img src="<%= image_path('markdown-mark.png') %>">
                  </a>
                <%= f.label :description, class: 'form-label' do %>
                  What's the plan?
                <% end %>

                <%= f.text_area :description, class: 'form-control', data: { autosize: true, 'validate-length' => 2 }, rows: 8 %>

                <div class="help-block">
                  <p>
                    You can enter anything you like in this section. Sell others on its merits by clearly addressing the following questions:
                  </p>
                  <div class="row">
                    <div class="col-sm-6">
                      <ul class="omega">
                        <li>How did you come up with it?</li>
                        <li>Why is it awesome?</li>
                        <li>Do similar products exist already?</li>
                      </ul>
                    </div>
                    <div class="col-sm-6">
                      <ul class="omega">
                        <li>How will it make money?</li>
                        <li>How will you be involved in building it?</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <%= f.label :name, class: 'form-label' do %>
                  Pick a codename
                <% end %>
                <div class="input-group js-codename-generator-view">
                  <%= f.text_field :name, autocomplete: 'off', data: { 'validate-length' => 2 }, class: 'form-control js-name-input' %>
                  <div class="input-group-btn">
                    <button class="btn btn-default js-refresh">
                      <i class="icon-shuffle" style="vertical-align: top;"></i>
                      <span class="sr-only">Random</span>
                    </button>
                  </div>
                </div>

                <p class="help-block">
                  Give your product a codename. It can always be changed later.
                </p>

                <!-- TODO Move to CodeNameGenerator -->
                <script>
                  $(function(){
                    new CodeNameGeneratorView({
                      el: $('.js-codename-generator-view')
                    })
                  });
                </script>
              </div>

              <div class="form-actions">
                <button class="btn btn-primary" data-disable-with="Start the adventure">
                  Start the adventure
                </button>
              </div>

            <% end %>
          </div>

          <div class="col-md-4 col-xs-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h6 class="panel-title">Great ideas</h6>
              </div>
              <div class="panel-body small">
                <p>
                  When your idea gets built on Assembly, you earn 5% of all future net proceeds generated by the app.
                  We send out payments  to all contributors monthly.
                </p>
                <p class="omega">
                  <a href="<%= faq_path %>">Find out more at our FAQ</a>
                </p>
              </div>
              <div class="panel-heading">
                <h6 class="panel-title">Change anything</h6>
              </div>
              <div class="panel-body small">
                <p class="omega">
                  Start collecting your thoughts now and flesh them out later when
                  <a href="http://www.ted.com/talks/elizabeth_gilbert_on_genius.html">
                  genius strikes</a>.
                </p>
              </div>
            </div>
          </div><!-- .col-md-3 -->

        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
