<% title 'Start a new product' %>
<% activate_nav! :platform_create %>
<%= render 'shared/navbar' %>

<div class="container">
  <div class="clearfix">
    <div class="col-8 mx-auto">
      <div class="bg-white rounded shadow mt4 mb4 p4">

        <h1 class="center yellow mb4">
          <%= react_component 'Icon', icon: 'building' %>
        </h1>


        <%= form_for @product, html: {class: 'form'} do |f| %>
          <% if params[:idea_id] %>
            <input name="product[idea_id]" type="hidden" value="<%= params[:idea_id] %>">
          <% end %>

          <%= form_group @product, :name, class: 'mb3' do %>
            <%= f.label :name, class: 'control-label' %>
            <p class="h6 gray-2">
              A name is important, but it can always change. If you have a codename already, use that, otherwise don't get too hung up on making it perfect.
            </p>
            <% if params[:name] %>
            <%= f.text_field :name, class: 'form-control', autofocus: true, value: params[:name] %>
            <% else %>
              <%= f.text_field :name, class: 'form-control', autofocus: true %>
            <% end %>
          <% end %>

          <%= form_group @product, :pitch, class: 'mb3' do %>
            <%= f.label :pitch, 'Five word pitch', class: 'control-label' %>
            <p class="h6 gray-2">If you had 30 seconds to describe your product to a friend, what would you say? Use simple, direct words.</p>
            <%= f.text_field :pitch, class: 'form-control', placeholder: @four_word_story_example, value: params[:pitch] || '' %>
          <% end %>

          <%= form_group @product, :description, class: 'mb3' do %>
            <%= f.label :description, 'Blurb', class: 'control-label' %>
            <p class="h6 gray-2">How did you come up with the idea? What makes it great? Describe your vision, the problem it's solving and your advantage over the competition.</p>
            <%= f.text_area :description, class: 'form-control',  value: params[:blurb] || '', rows: 8 %>
          <% end %>


          <h5>Coins &amp; Ownership</h5>

          <p class="h6 gray-2">
            Coins are how Assembly tracks ownership. Every product starts out with <%= number_with_delimiter(10_000_000) %> coins of which you can allocate 5% (<%= number_with_delimiter((10_000_000 * 0.05).to_i) %>) initially.
          </p>
          <p class="h6 gray-2">
            Profits are paid out to partners monthly based on their ownership.
          </p>
          <p class="h6 gray-2">
            Sharing ownership with other partners recognizes existing help and incentivizes future work.
          </p>

          <%= react_component 'CoinOwnership' %>


          <div class="left-align">

            <div class="right ml3">
              <button class="btn btn-primary btn-block" data-disable-with="Starting...">Create Your Product</button>
            </div>

            <p class="h6 gray-2 py1">By creating this product, you agree to Assembly's <a href="<%= tos_path %>">Terms of Service</a>.</p>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
