<% title @product.name %>
<% description @product.pitch %>
<% activate_nav! :product %>

<%= track 'product.viewed', ProductAnalyticsSerializer.new(@product, scope: current_user) %>

<script id="heartables" type="application/json">
  <%== @heartables.to_json %>
</script>

<% if signed_in? %>
  <script id="user_hearts" type="application/json">
    <%== @user_hearts.map{|h| {
        id: h.id,
        heartable_id: h.heartable_id,
      }}.to_json
    %>
  </script>
<% end %>


<div class="clearfix mxn2">

  <div class="sm-col sm-col-4 px2" style="float:right !important">

    <div class="bg-white shadow rounded mb3">

      <div class="p3">

        <div class="clearfix">
          <div class="h1 mt0 mb0 yellow left mr3">
            <%= inline_react_component 'Icon', icon: 'lightbulb-o' %>
          </div>
          <h4 class="mt0 mb2 py2">The Big Idea</h6>
        </div>

        <% if @product.lead.present? %>
          <div class="mb2">
            <%= react_component 'Markdown', content: product_markdown(@product, @product.lead), normalized: true %>
          </div>
          <a href="<%= product_plan_path(@product) %>">Read more</a>
        <% else %>
          <p class="gray-dark">Uh, there's nothing here yet. Grab a coffee, because this product is still percolating!</p>
          <% if can?(:update, @product) %>
            <a class="btn btn-primary btn-block" href="<%= edit_product_path(@product) %>">Brew your idea</a>
          <% end %>
        <% end %>

      </div>

      <hr class="border-bottom mt0 mb0">

      <div class="stat-group p3 mb0">
        <div class="stat">
          <a class="block" href="<%= product_people_path(@product) %>">
            <div class="h4 mt0 mb0"><%= @product.partners.count %></div>
            <div class="gray-2">Partners</div>
          </a>
        </div>
        <div class="stat">
          <a class="block" href="<%= product_repos_path(@product) %>">
            <div class="h4 mt0 mb0"><%= @product.repos.count %></div>
            <div class="gray-2">Repos</div>
          </a>
        </div>
        <% if @product.profit_reports.any? %>
          <div class="stat">
            <a class="block" href="<%= product_financials_path(@product) %>">
              <div class="h4 mt0 mb0"><%= short_currency(@product.profit_reports.map(&:profit).reduce(:+)) %></div>
              <div class="gray-2">Royalties</div>
            </a>
          </div>
        <% end %>
      </div>
    </div>

    <% if @product.team_building? %>
      <div class="bg-gray-5 p3 mb2 rounded">

        <div class="clearfix">
          <div class="h2 mt0 mb0 green left mr3">
            <%= inline_react_component 'Icon', icon: 'users' %>
          </div>
          <h4 class="gray-darker mt0 mb2 py1">Team Building</h6>
        </div>

        <p class="gray-dark mb3">
          This product is growing a team. It needs to reach <strong>10 team members</strong> in
          <strong>30 days</strong> before it is Greenlit. You can become a team member by
          <a href="<%= product_people_path(@product) %>">introducing yourself</a>.</p>

        <div class="progress progress-sm bg-white mb1">
          <div class="progress-bar progress-bar-success" style="width:<%= (((@product.bio_memberships_count || 0) / 10.0) * 100).round %>%"></div>
        </div>

        <div class="clearfix">
          <div class="left"><%= pluralize(@product.bio_memberships_count, 'team member') %></div>
          <div class="right"><%= pluralize(@product.team_building_days_left, 'day') %> left</div>
        </div>
      </div>
    <% end %>

    <div class="px3">
      <% if @product_marks.count > 0 %>
        <h6 class="mt0 py2 mb0 gray-dark">Product Tags</h6>
        <ul class="list-reset">
          <% @product_marks.each do |mark| %>
            <li>
              <%= mark %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <h6 class="mt0 py2 mb0 gray-dark">Bounty Tags</h6>
      <ul class="list-reset">
        <% @top_wip_tags.each do |tag, count| %>
          <li>
            <a href= "<%= product_wips_path(@product, mark: tag) %>"> <%= "#{tag} (#{count.to_s})" %> </a>
          </li>
        <% end %>
      </ul>
    </div>

  </div>


  <div class="sm-col sm-col-8 px2">

    <% if signed_in? %>
      <% product_membership = current_user.team_memberships.find_by(product: @product) %>

      <% if product_membership.nil? || product_membership.bio.nil? %>

        <div class="bg-white p3 rounded shadow mb3">
          <div class="clearfix">
            <h4 class="mt0 mb2">G'day <%= current_user.username %>!</h4>
            <div class="right"></div>
          </div>
          <p>Ready to pitch in on <%= @product.name %>? Introduce yourself.</p>

          <form role="form" method="post" action="<%= product_person_path(@product, current_user) %>">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
            <input name="_method" value="patch" type="hidden">

            <textarea class="form-control mb2" name="membership[bio]" rows="2" placeholder="What do you like to do? What is your favorite sandwich?"></textarea>

            <button type="submit" class="btn btn-primary btn-block">Introduce yourself!</button>
          </form>

        </div>
      <% end %>
    <% end %>


    <% if @mark_name %>
      <div class="btn btn-default btn-block sm-col-3">
        <%= @mark_name %>
      </div>
      <br>
    <% end %>

    <%= react_component 'NewsFeedList', items: @news_feed_items.as_json %>
  </div>

</div>
