<% title @product.name %>
<% activate_nav! :product %>

<div class="clearfix mxn2">
  <div class="sm-col sm-col-8 px2">

    <div class="bg-white p3 rounded shadow mb3">
      <div class="clearfix">
        <h6 class="mt0 mb2">Good afternoon <%= current_user.username %>!</h6>
        <div class="right"></div>
      </div>
      <p>Ready to pitch in on <%= @product.name %>? Introduce yourself.</p>

      <textarea class="form-control mb2" placeholder="What do you like to do? What is your favorite sandwich?"></textarea>
      <a class="btn btn-primary btn-block" href="#">Introduce yourself!</a>
    </div>

    <%= react_component 'NewsFeedList', news_feed_items: ActiveModel::ArraySerializer.new(
      @product.news_feed_items.order(updated_at: :desc)
    ).as_json %>
  </div>

  <div class="sm-col sm-col-4 px2">

    <div class="bg-gray-light p2 rounded">
      <h6 class="mt0 py2 mb0 black">The Big Idea</h6>
      <%= react_component 'Markdown', content: @product.lead, normalized: true %>
      <a class="block mb3" href="#">Read more</a>

      <div class="stat-group mb0">
        <div class="stat">
          <a class="block" href="<%= product_people_path(@product) %>">
            <div class="h4 mt0 mb0"><%= @product.partners.count %></div>
            <div class="gray-dark">Partners</div>
          </a>
        </div>
        <div class="stat">
          <a class="block" href="<%= product_repos_path(@product) %>">
            <div class="h4 mt0 mb0"><%= @product.repos.count %></div>
            <div class="gray-dark">Repos</div>
          </a>
        </div>
        <div class="stat">
          <a class="block" href="<%= product_financials_path(@product) %>">
            <div class="h4 mt0 mb0">$32,000</div>
            <div class="gray-dark">Royalties</div>
          </a>
        </div>
      </div>
    </div>

    <h6 class="mt0 py2 mb0 gray-dark">Skills</h6>

    <ul class="list-reset">
      <li><a href="#">Design</a></li>
      <li><a href="#">Development</a></li>
    </ul>

    <h6 class="mt0 py2 mb0 gray-dark">Tags</h6>

    <ul class="list-reset">
      <li><a href="#">TODO</a></li>
      <li><a href="#">Recent</a></li>
    </ul>

  </div>

</div>
