<% title @product.name, @product.pitch %>
<% activate_nav! :about %>

<div class="page-header">
  <h3 class="alpha omega" style="margin-bottom: 8px"><strong><%= @product.pitch %></strong></h3>

  <% unless @product.lead.blank? %>
    <div class="text-large neuter-paragraphs" style="margin-top: 8px;">
      <%== @product.lead_html %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-8 col-xs-8">

    <!-- Body -->
    <div class="markdown-normalized text-longform">
      <%== @product.description_html %>
    </div>
  </div>


  <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">

    <!-- Social links -->

    <%#= render 'products/social_buttons' %>

    <% cache [@product, 'links'] do %>
      <%= render 'products/links' %>
      <%= render 'products/people' %>
    <% end %>

    <%= render 'products/metrics' %>

    <% cache [@product, 'tags'] do %>
      <%= render 'products/tags_panel' %>
    <% end %>

    <% if staff? %>
      <br><br>
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h6 class="panel-title">DANGER</h6>
        </div>
        <div class="panel-body">
          <% if @product.flagged? %>
            <span class="btn btn-danger btn-sm btn-block btn-disabled" href="#" style="margin-bottom: 8px;">Product Flagged</span>
          <% else %>
            <a class="btn btn-danger btn-sm btn-block" style="margin-bottom: 8px;" href="<%= product_flag_path(@product)%>">Flag Product</a>
          <% end %>

          <%= form_for [:admin, @product.showcases.new], url: admin_staff_picks_path do |f| %>
            <%= f.hidden_field :product_id %>
            <%= f.submit "Schedule Staff Pick", class: %w(btn btn-default btn-sm btn-block) %>
          <% end %>
        </div>
      </div>
    <% end %>

  </div>
</div><!-- .row -->

<% if current_user.try(:staff?) != true %>
  <script>
    analytics.track('product.viewed', <%==
      ProductAnalyticsSerializer.new(@product, scope: current_user).to_json
    %>);
  </script>
<% end %>
