<% title @product.name, @product.pitch %>
<% @missionAutoOpen = false %>
<%= render 'shared/navbar' %>
<%= render 'products/navbar' %>

<!-- <% if flash[:new_product_callout] %>
  <br>
  <div class="callout container">
    <div class="callout-content">
      <div class="mission-creator-intro">
        <h1>Hit the ground running.</h1>
        <p>
          It looks like you’re off to a great start with the product. Great work! Until you get your bearings around here, you’ll be tasked with metric-driven missions to complete, leveling-up the product; giving it the best chance at becoming a shipping product.
        </p>
      </div>
    </div>
    <div class="callout-actions">
      <div class="pull-left">
        <span class="text-muted">Current Goal:</span>
        <%= ProductMissionDecorator.new(@product.current_mission).translate(:name) %>
      </div>

      <div class="pull-right">
        <button class="btn btn-primary" data-click-trigger="mission.flyout.open">
          Start reaching goals
        </a>
      </div>
    </div>
  </div>
<% elsif !signed_in? && !@product.meta? %>
  <br>
  <div class="callout container">
    <div class="callout-content">
      <div class="mission-creator-intro">
        <h1>Welcome to Assembly!</h1>
        <p>
          <%= @product.name %> is a mutual product on Assembly, built and owned by the people who use it. The Assembly open platform enables anyone around the world to openly develop products together. We reliably host them, keeping your data safe, and split the profit among the people that built it at the end of every month.
        </p>
      </div>
    </div>
  </div>
<% end %> -->

<div class="page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-8">

        <!-- Pitch -->

        <h2 class="alpha"><%= @product.pitch %></h2>

        <% unless @product.lead.blank? %>
          <div class="text-large">
            <%== @product.lead_html %>
          </div>
          <br>
        <% end %>

        <!-- Poster Image -->
        <% if @product.poster? %>
          <img class="img-rounded" src="<%= @product.hero_image_path %>" alt="<%= @product.name %>" style="max-width: 100%; margin-bottom: 24px;">
        <% elsif @product.you_tube_video_url? %>
          <%= you_tube_embed(@product.you_tube_video_embed_url) %>
        <% else %>
          <hr class="alpha">
        <% end %>

        <!-- <% if !@product.homepage_url.blank? || @product.repos.any? %>
          <div class="list-group small">
            <% unless @product.homepage_url.blank? %>
              <div class="panel-heading">
                <h6 class="panel-title">Product Homepage</h6>
              </div>
              <a class="list-group-item" href="<%= @product.homepage_url %>" data-track="product.site.clicked"><%= @product.homepage_url %></a>
            <% end %>

            <% if @product.for_profit? && @product.repos.any? %>
              <% @product.repos.each do |repo| %>
                <a class="list-group-item" href="<%= repo.url %>" data-track="product.repo.clicked"><%= repo.username %> / <%= repo.name %></a>
              <% end %>
            <% end %>
          </div>
        <% end %> -->

        <!-- Body -->
        <div class="markdown-normalizer">
          <%== @product.description_html %>
        </div>
      </div>


      <div class="col-md-3 col-xs-3 col-md-offset-1 col-xs-offset-1">


        <!-- Social links -->

        <%#= render 'products/social_buttons' %>




        <% if !@product.homepage_url.blank? || @product.repos.any? %>
          <div class="panel panel-default">

            <div class="panel-heading">
              <h6 class="panel-title">Product Links</h6>
            </div>
            <div class="panel-body small">
              <% unless @product.homepage_url.blank? %>
                <a href="<%= @product.homepage_url %>" data-track="product.site.clicked"><%= @product.homepage_url %></a>
              <% end %>
              <% unless @product.homepage_url.blank? && @product.repos.any? %>
                <hr>
              <% end %>
              <% if @product.for_profit? && @product.repos.any? %>
                <ul class="list-unstyled omega">
                  <% @product.repos.each do |repo| %>
                    <li>
                      <a href="<%= repo.url %>" data-track="product.repo.clicked">
                        <span class="icon icon-github"></span>
                        <%= repo.name %>
                      </a>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if !@product.for_profit? %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title">Assembly Meta</h6>
            </div>
            <div class="panel-body small">
              <p class="omega">Assembly Meta is a special product for providing feedback to Assembly and to join the discussion on upcoming features. This is not intended for revenue so there won't be any royalties paid. App Coins have been replaced with Karma to make this clear.</p>
            </div>
          </div>
        <% end %>

        <!-- People Panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="panel-title">Core Team</h6>
          </div>
          <div class="panel-body small">
            <% if @product.core_team.empty? %>
              <p class="omega">No core team members yet.</p>
            <% else %>
              <ul class="list-grid omega">
                <% @product.core_team.each do |user| %>
                  <li>
                    <a href="<%= user_path(user) %>" title="<%= user.username %>">
                      <%= avatar_tag(user, 24) %>
                    </a>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>

          <div class="panel-heading">
            <h6 class="panel-title">Contributors</h6>
          </div>

          <div class="panel-body small">
            <% if @product.contributors.empty? %>
              <p class="omega">No contributors yet.</p>
            <% else %>

              <ul class="list-grid omega">
                <% @product.important_contributors.each do |user| %>
                  <li>
                    <a href="<%= user_path(user) %>" title="<%= user.username %>">
                      <%= avatar_tag(user, 24) %>
                    </a>
                  </li>
                <% end %>
              </ul>

              <!-- FIXME: Most of these should be in another decorator -->
              <% if @product.uninmportant_contributors_count > 0 %>
                <p class="text-center omega" style="margin-top:15px">
                  <a href="<%= product_jobs_path(@product) %>">
                    Plus <%= @product.uninmportant_contributors_count %> more
                  </a>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>


        <% if @product.greenlit? %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title">
                This product is live!
              </h6>
            </div>
            <div class="panel-body small">

              <p>To sign up, visit <a href="<%= @product.homepage_url %>" target='product'><%= @product.name %></a> now or you can get started using <%= @product.name %> here with your Assembly account.</p>

              <form method="post" action="<%= vote_idea_path(@product) %>" data-require-user="<%= product_path(@product) %>">
                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <% if @product.voted_for_by?(current_user) %>
                  <input type="submit" value="Signed up" class="btn btn-default btn-sm btn-block" disabled="disabled">
                <% else %>
                  <input type="submit" value="Sign up" class="btn btn-default btn-sm btn-block">
                <% end %>
              </form>
            </div>
          </div>

          <% if @product.has_metrics? %>
            <% cache ['v1', @product], expires_in: 12.hours do %>
              <%= render 'products/panels/metrics' %>
            <% end %>
          <% end %>

        <% else %>

          <% if @product.has_metrics? %>
            <% cache ['v1', @product], expires_in: 12.hours do %>
              <%= render 'products/panels/metrics' %>
            <% end %>
          <% end %>

          <% if @product.has_preorders? %>
            <!-- Pre-orders Panel -->
            <div class="panel-group">
              <div class="panel">
                <div class="panel-title">Pre-Orders</div>
                <p>
                  <%= @product.name %> is <span class="text-highlight">100% refundable</span>
                  and will be <span class="text-highlight">100% open</span>
                  so pre-ordering now is <span class="text-highlight">100% risk free</span>.
                  The <span class="text-highlight">60% discount</span> lasts until
                  <%= @product.name %> is a shipping product.
                </p>
              </div>

              <div class="panel">
                <div class="panel-header">
                  Free
                  <div class="amount pull-right">
                    $0.00
                  </div>
                </div>
                <p class="text-muted">
                  <%= @product.free_perk %>
                </p>
                <form method="post" action="<%= vote_idea_path(@product) %>" data-require-user="<%= product_path(@product) %>">
                  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                  <input type="submit" value="<%= @product.signup_button_copy(current_user) %>" class="btn btn-default btn-block <%= "btn-disabled" if @product.voted_for_by?(current_user) %>">
                </form>
              </div>

              <% @perks.each do |perk| %>
                <div class="panel">
                  <div class="panel-header">
                    <%= perk.name %>
                    <div class="amount pull-right">
                      <span class="original-amount"><%= amount_to_currency(perk.amount) %></span>
                      <span class="discount badge badge-success">
                        <%= perk.formatted_discount_percent_off %>
                      </span>
                    </div>
                  </div>
                  <p class="text-muted">
                    <%= perk.description %>
                  </p>
                  <a href="<%= new_perk_preorder_path(perk) %>" class="btn btn-default btn-block <%= "btn-disabled" if current_user && current_user.preordered_perk?(perk) %>" data-authenticate="signup">
                    <%= perk.formatted_amount(current_user) %>
                  </a>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <!-- Tags Panel -->
        <% if @product.tags.present? %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h6 class="panel-title">Tags</h6>
            </div>
            <div class="panel-body">
              <ul class="list-grid omega">
                <% @product.tags.each do |tag| %>
                  <li><span class="label label-default"><%= tag %></span></li>
                <% end %>
              <ul>
            </div>
          </div>
        <% end %>

        <% if can?(:update, @product) %>
          <div class="panel panel-alert">
            <div class="panel-title">Panel o&rsquo; Power</div>
            <a class="btn btn-block btn-alert" href="<%= edit_product_path(@product) %>">Edit Product</a>
            <br>
            <a class="btn btn-default btn-block" href="<%=  new_product_post_path(@product) %>">Write Post</a>
          </div>
        <% end %>

        <% if staff? %>
          <div class="panel panel-alert">
            <% if @product.flagged? %>
              <span class="btn btn-alert btn-small btn-block btn-disabled" href="#>">Product Flagged</span>
            <% else %>
              <a class="btn btn-default" href="<%= product_flag_path(@product)%>">Flag Product</a>
            <% end %>

            <br>

            <%= form_for [:admin, @product.showcases.new], url: admin_staff_picks_path do |f| %>
              <%= f.hidden_field :product_id %>
              <%= f.submit "Schedule Staff Pick", class: %w(btn btn-default) %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div><!-- .row -->
  </div><!-- .container -->
</div>

<%= render 'shared/footer' %>

<% if current_user.try(:staff?) != true %>
  <script>
    analytics.track('product.viewed', <%==
      ProductAnalyticsSerializer.new(@product, scope: current_user).to_json
    %>);
  </script>
<% end %>
