<% title @product.name, @product.pitch %>
<% provide(:description, @product.pitch) %>
<% activate_nav! :idea %>
<%= track 'product.viewed', ProductAnalyticsSerializer.new(@product, scope: current_user) %>

<div class="row">
  <div class="col-md-7">
    <% if @product.you_tube_video_url? %>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe
          class="embed-responsive-item"
          width="853"
          height="480"
          src="<%= @product.video_embed_url %>"
          frameborder="0"
          allowfullscreen
        ></iframe>
      </div>
      <hr>
    <% end %>

    <div class="markdown markdown-normalized text-large">
      <% if @product.lead.present? || @product.description.present? || (@product.info || {}).any? %>
        <% if @product.lead.present? %>
          <div class="lead">
            <%= product_markdown(@product, @product.lead) %>
          </div>
        <% end %>

        <%== @product.description_html %>

        <!-- FIXME: (pletcher) Why is @product.info a string and not a hash? -->
        <% (@product.info || {}).each do |field, value| %>
          <% if value.present? %>
            <h2><%= field.titlecase %></h2>
            <%== markdown(value) %>
          <% end %>
        <% end %>
      <% else %>
        <% if @product.user == current_user %>
          <p class="lead text-center">
            This space reserved for a kick ass description.
          </p>
          <p class="text-center">
            <a href="<%= edit_product_path(@product) %>">Update your idea</a>
          </p>
        <% else %>
          <p class="lead text-center">
            Looks like <%= @product.name %> is just getting started! Check back later and there should be some more details
          </p>
        <% end %>
      <% end %>
    </div>

  </div>

  <div class="col-md-4 col-md-offset-1">

    <% if signed_in? %>

      <% product_membership = current_user.team_memberships.find_by(product: @product) %>

      <div class="mb3 mid-gray">
        <strong>Welcome <%= current_user.username %>!</strong> If you like the idea of what's being built here, jump in! There are a lot of ways to get involved. When you do work on an Assembly product you become part owner in it.
      </div>

      <a class="btn btn-lg btn-success btn-block mb3" href="<%= product_people_path(@product) %>">Introduce yourself</a>

      <div class="modal fade" id="intro-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <form role="form" method="post" action="<%= product_person_path(@product, current_user) %>">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Want to be part of <%= @product.name %>? Introduce yourself!</h4>
              </div>
              <div class="modal-body">
                <p>
                  What skills can you contribute, how much time do you have, and what are you looking to get out of the experience?
                </p>

                <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                <input name="_method" value="patch" type="hidden">

                <div class="form-group">
                  <textarea name="membership[bio]" id="bio-editor" class="form-control bio-editor" rows="4" id="self-introduction" placeholder="Hi everyone, I'm Maeby! I love coding in VB6, and I develop apps for IE7 and Windows ME. When I'm not hacking, I like to dabble in design: gradients and 3D effects are my jam! I'm excited to dive in and get to know you all!"></textarea>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Introduce yourself</button>
              </div>

            </form>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->

    <% else %>
      <a class="btn btn-lg btn-success btn-block mb3" href="<%= product_tasks_path(@product) %>">Introduce yourself</a>
    <% end %>


    <% if @product.team_building? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h6 class="panel-title">Team Building</h6>
        </div>
        <div class="panel-body">
          <p>
            This product is growing a team. It needs to reach <strong>10 team members</strong> in
            <strong>30 days</strong> before it is Greenlit. You can become a team member by
            <a href="<%= product_people_path(@product) %>">introducing yourself</a>.</p>

          <div class="progress progress-sm" style="margin-bottom:6px">
            <div class="progress-bar progress-bar-success" style="width:<%= (((@product.bio_memberships_count || 0) / 10.0) * 100).round %>%"></div>
          </div>

          <div class="clearfix">
            <div class="pull-left"><%= pluralize(@product.bio_memberships_count, 'team member') %></div>
            <div class="pull-right"><%= pluralize(@product.team_building_days_left, 'day') %> left</div>
          </div>

        </div>
      </div>
    <% end %>

    <div class="border rounded-top rounded-bottom mb4">
      <a class="block p2 px3" href="<%= product_people_path(@product) %>">
        <span class="icon icon-users mr1"></span>
        Team
      </a>

      <a class="block p2 px3 border-bottom" href="<%= product_repos_path(@product) %>">
        <span class="icon icon-doc mr1"></span>
        Repositories
      </a>

      <a class="block p2 px3" href="<%= product_financials_path(@product) %>">
        <span class="icon icon-wallet mr1"></span>
        Financials
      </a>
    </div>

    <h6 class="gray caps">Core Team</h6>

    <div>
      <% @product.core_team.each do |user| %>
        <a class="block clearfix py2 <%= 'border-bottom' unless  user == @product.core_team.last %>" href="<%= user_path(user) %>">

            <div class="left mr2"><%= avatar_tag(user, size: 24) %></div>
            <div class="overflow-hidden">
              <div><%= user.username %></div>
              <% if user.bio.present? %>
                <div class="mid-gray"><%= user.bio %></div>
              <% end %>
            </div>
        </a>
      <% end %>
    </div>

    <h6 class="gray caps">Tags</h6>

    <div data-react-class="TagList" data-react-props="<%= {
      hideAddButton: !(current_user && @product.core_team?(current_user)),
      destination: true,
      tags: @product.tags,
      url: product_path(@product)
    }.to_json %>">
    </div>

    <% if current_user && @product.core_team?(current_user) %>
      <h6 class="text-muted">Product Authentication Token</h6>

      <div class="list-group list-group-breakout well">
        <p class="text-muted">
          Keep this token safe. Only the core team has access to it, and it's needed to set up payments. See <a href="<%= product_path('payments') %>">Assembly Payments</a> for more info.
        </p>
        <strong><%= @product.authentication_token %></strong>
      </div>

    <% end %>

  </div>
</div>
