<% title @product.name, @product.pitch %>
<% activate_nav! :about %>

<div class="page-header sheet-header">
  <% if can?(:update, @product) %>
    <a style="position: relative; top: 4px;" class="btn btn-default btn-sm pull-right" href="<%= edit_product_path(@product) %>">Edit Product</a>
  <% end %>
  <h3 class="alpha omega" style="margin-bottom: 8px"><strong><%= @product.pitch %></strong></h3>

  <% unless @product.lead.blank? %>
    <div class="text-large neuter-paragraphs" style="margin-top: 8px;">
      <%== @product.lead_html %>
    </div>
  <% end %>
</div>

<div class="sheet-body">
  <div class="row">
    <div class="col-md-8">

      <!-- Body -->
      <div class="markdown-normalized text-longform">
        <%= render 'products/description', product: @product %>
      </div>

      <br>
      <%= render 'products/links' %>
    </div>


    <div class="col-md-3 col-md-offset-1">
      <%= render 'products/people' %>
    </div>
  </div><!-- .row -->

  <% if current_user.try(:staff?) != true %>
    <script>
      analytics.track('product.viewed', <%==
        ProductAnalyticsSerializer.new(@product, scope: current_user).to_json
      %>);
    </script>
  <% end %>
</div>
