<% title "Create a new idea" %>
<% provide(:description, "It starts with ideas. Ideas become products. Products come to life and success is shared. Start your idea here.") %>

<!-- TODO Deprecate. Pages now use gray bg. (chrislloyd) -->
<style>body { background-color: white !important; }</style>

<% if staff? %>
  <%= render 'shared/navbar' %>
  <%= react_component('StartPage', productsStarted: Product.count, mastheadUrl: image_url("faces.jpg"), productsWorked: Product.where(state: [:team_building, :greenlit, :profitable]).count) %>
<% else %>
  <div class="masthead" style="background: linear-gradient(160deg, rgba(255, 232, 80, .8), rgba(26, 88, 131, .85) 70%), url(<%= image_url 'faces.jpg' %>); min-height: 787px; padding-top: 0">
    <%= render 'shared/navbar' %>

    <div class="container center" style="margin-top: 100px">
      <div class="masthead-title">
        <h1 style="font-size: 64px; line-height: 1.1">What do you wish existed?</h1>
        <p style="font-size: 32px; line-height: 1.1; padding: 30px 0">
          Bring ideas to life with the Assembly community of <br>
          creatives, designers, and developers.
        </p>
        <a class="btn btn-success btn-xl" href="<%= new_product_path %>" style="margin: 30px 0; box-shadow: 0 0 0 3px rgba(0, 0, 0, .1)">
          Start Your Product
        </a>
      </div>
    </div>
  </div><!-- .masthead -->

  <div class="container">
    <h1 class="center">Go from an idea to iterating, almost instantly</h1>

    <div class="row">
      <div class="col-xs-2 col-xs-offset-5">
        <hr>
      </div>
    </div>

    <ul class="list list-steps hidden-xs hidden-sm">
      <li class="overlay"></li>
      <li>
        <div class="step active">1</div>
        <div class="body">
          <a href="<%= new_product_path %>"><strong>Share your idea</strong></a>
          <div class="gray-2">Any really good web or mobile app idea works.</div>
        </div>
      </li>
      <li>
        <div class="step">2</div>
        <div class="body">
          <strong>Build a team</strong>
          <div class="gray-2">Work together here in your own online space.</div>
        </div>
      </li>
      <li>
        <div class="step">3</div>
        <div class="body">
          <strong>Ship it</strong>
          <div class="gray-2">Don’t worry about the costs. We’ve got your back.</div>
        </div>
      </li>
      <li>
        <div class="step">4</div>
        <div class="body">
          <strong>Share its success</strong>
          <div class="gray-2">We make sure everyone who helped gets paid.</div>
        </div>
      </li>
      <li>
        <div class="step">5</div>
        <div class="body">
          <strong>Grow it</strong>
          <div class="gray-2">Let’s scale it to the moon together.</div>
        </div>
      </li>
      <li class="overlay"></li>
    </ul>

    <div class="row visible-sm">
      <div class="col-xs-8 col-xs-offset-2">
        <ul class="list-reset text-large center">
          <li class="p2">
            <a href="<%= new_product_path %>"><strong>Share your idea</strong></a>
            <div class="gray-2">Any really good web or mobile app idea works.</div>
          </li>
          <li class="p2">
            <strong>Build a team</strong>
            <div class="gray-2">Work together here in your own online space.</div>
          </li>
          <li class="p2">
            <strong>Ship it</strong>
            <div class="gray-2">Don’t worry about the costs; We’ve got your back.</div>
          </li>
          <li class="p2">
            <strong>Share its success</strong>
            <div class="gray-2">We make sure everyone who helped gets paid.</div>
          </li>
          <li class="p2">
            <strong>Grow it</strong>
            <div class="gray-2">Let’s scale it to the moon together.</div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row visible-xs">
      <div class="col-xs-12">
        <ol class="list text-large">
          <li class="p2">
            <a href="<%= new_product_path %>"><strong>Share your idea</strong></a>
            <div class="gray-2">Any really good web or mobile app idea works.</div>
          </li>
          <li class="p2">
            <strong>Build a team</strong>
            <div class="gray-2">Work together here in your own online space.</div>
          </li>
          <li class="p2">
            <strong>Ship it</strong>
            <div class="gray-2">Don’t worry about the costs; We’ve got your back.</div>
          </li>
          <li class="p2">
            <strong>Share its success</strong>
            <div class="gray-2">We make sure everyone who helped gets paid.</div>
          </li>
          <li class="p2">
            <strong>Grow it</strong>
            <div class="gray-2">Let’s scale it to the moon together.</div>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <hr style="margin-bottom: 0">

  <div class="container center">
    <div class="row">
      <div class="col-xs-6 col-sm-2"></div>
      <div class="col-xs-12 col-sm-4" style="padding: 50px 40px; border-right: 1px solid #eee;">
        <h1 style="font-size: 80px; line-height: 1; margin: 0">4MM</h1>
        <h2 class="mt0">People</h1>
        <p class="gray-2">4+ million people this year have used the products being built on Assembly.</p>
      </div>
      <!-- <div class="col-xs-12 col-sm-4" style="padding: 50px 40px; border-left: 1px solid #eee; border-right: 1px solid #eee">
        <h1 style="font-size: 80px; line-height: 1; margin: 0"><%= short_currency @profit %></h1>
        <h2 style="font-weight: lighter; margin-top: 0">In Profits Paid Out</h1>
        <p class="gray-2">Over <%= amount_to_currency @profit, precision: 0 %> has been paid out to Assembly App Coin holders.</p>
      </div> -->
      <div class="col-xs-12 col-sm-4" style="padding: 50px 40px">
        <h1 style="font-size: 80px; line-height: 1; margin: 0"><%= Product.where(state: [:team_building, :greenlit, :profitable]).count %></h1>
        <h2 class="mt0">Products</h1>
        <p class="gray-2"><%= Product.count %> products started on Assembly. <br> <%= Product.where(state: [:team_building, :greenlit, :profitable]).count %> products currently being built.</p>
      </div>
      <div class="col-xs-6 col-sm-2"></div>
    </div>
  </div>

  <hr style="margin-top: 0">

  <div class="container-fluid" style="background: #fff url(<%= image_url 'section-gradient.png' %>) no-repeat center bottom">
    <div class="container" style="padding-bottom: 80px">


      <!--Why start a product on Assembly? -->
      <!-- <div class="row">
        <div class="col-xs-12 center">
          <h1 style="font-size: 48px">Think big and go far, together on Assembly</h1>
        </div>
      </div> -->

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <!-- <hr> -->

          <h2 style="font-size: 32px">Never build alone again</h2>
          <p class="large gray-2">
            You just found a global community of nice people who love what they do. We’re product designers, engineers,
            writers, and others building product, together. We believe 1 + 1 is greater then 2 and enjoy bringing each other’s
            ideas to life.
          </p>

          <hr style="margin-top: 30px; margin-bottom: 40px">

          <h2 style="font-size: 32px">Skip the boring stuff</h2>
          <p class="large gray-2">
            If thinking about LLCs and C-Corps don’t get you out of bed, rest assured you found like minded friends.
            All the finances, legal, and accounting are handled so you can focus on your product. There’s no need to incorporate,
            setup bank accounts, find accountants, hire lawyers or think about HR &dash; phew! It’s simple. For every month where there is revenue, we’ll pay the bills and split the proceeds with all those involved.
          </p>

          <hr style="margin-top: 30px; margin-bottom: 40px">

          <h2 style="font-size: 32px">Learn something new</h2>
          <p class="large gray-2">
            Each product is developed completely in the open, from vision to execution.
            Jump in and tackle a/b testing  new copy, work on pricing for a SaaS product, track down bugs,
            contact press or whatever adventure you choose. Even if you’re just looking to write code,
            you’ll be exposed to new people and ideas along the way.
          </p>

        </div>

        <div class="col-xs-12 col-sm-6 col-sm-pull-6 center">
          <!-- <hr> -->

          <!-- <h2 style="font-size: 32px; font-weight: lighter">And you wondered what the community thinks?</h2> -->

          <div class="row">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
              <div>
                <div style="margin: 35px 0 20px 0">
                  <div class="avatar-comment" style="background: linear-gradient(160deg, rgba(254, 234, 115, .5), rgba(30, 89, 129, .5)), url('<%= Avatar.url_from_email(User.find_by(username: 'davidkaneda').email.downcase, 170) %>')"></div>
                </div>
                <em class="gray-2" style="font-size: 18px; line-height: 1.2">Assembly has been fantastic for providing a new venue to collaborate on <a href="<%= product_path(Product.find_by(slug: 'buckets')) %>">Buckets</a>. I love the variety of contributions we receive and overall being able to share our product’s development so openly!</em>
                <br>
                <div style="margin-top: 10px">
                  <strong>David Kaneda - UX Designer</strong>
                  <br>
                  <span class="gray-2">@davidkaneda</span>
                </div>
              </div>

              <div>
                <div style="margin: 35px 0 20px 0">
                  <div class="avatar-comment" style="background: linear-gradient(160deg, rgba(254, 234, 115, .5), rgba(30, 89, 129, .5)), url('<%= Avatar.url_from_email(User.find_by(username: 'chexee').email.downcase, 170) %>')"></div>
                </div>
                <em class="gray-2" style="font-size: 18px; line-height: 1.2">I choose what to work on and when I work on it. For each product, the idea, direction, and vision are all driven by the people who make it. That’s a really powerful idea.</em>
                <br>
                <div style="margin-top: 10px">
                  <strong>Chelsea Otakan - Interface Designer</strong>
                  <br>
                  <span class="gray-2">@chexee</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="mt0">

  <div class="container-fluid" style="background: #fff url(<%= image_url 'section-gradient.png' %>) no-repeat center bottom">
    <div class="container">
      <div class="center">
        <h1 style="font-size: 48px">An entirely new way to create the next great software product</h1>
      </div>

      <div class="row">
        <div class="col-xs-2 col-xs-offset-5">
          <hr>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 center">
          <h2 style="font-size: 32px">Smart Questions Answered</h2>
          <p class="lead gray-2">An outside-the-box platform for launching your product deserves some thoughtful questions &dash; these are our thoughtful answers.</p>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <div class="panel-group">
            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#why-not-just-do-open-source" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    Why not just do open source?
                  </a>
                </p>
              </div>
              <div id="why-not-just-do-open-source" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Open source is great. Assembly products are built with OSS. What’s unique about Assembly is that it allows you to collaborate on real products your colleagues (and mom) can use with people all around the world and then monetize them. Thanks internets!</p>
                </div>
              </div>
            </div>

            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#what-is-assemblys-fee" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    How does Assembly make money?
                  </a>
                </p>
              </div>
              <div id="what-is-assemblys-fee" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>
                    Assembly collects a 10% platform fee of the revenue after expenses. This is initially used to cover basic operating costs until a product’s revenue exceeds costs. Any proceeds after expenses are distributed to coin holders based on their app coins percentages. You can see <a href='https://assembly.com/coderwall/financials'>Coderwall</a> as an example of a mature product paying out in this model.
                  </p>
                  <p>
                    We care deeply that we’re creating more value for the community than the 10% collected as a platform fee. Building on Assembly not only connects you with others around the world, but you also can build products with the freedom of not having to hand initial capital to run the product, managing the finances, paying accounting and legal costs and all the other burdens of operating a traditional company. We’re also investing in continuing to find ways to create new value for the community as well as exploring ways to reduce fees if feasible.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#who-pays-for-hosting-the-product" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    Who pays for hosting the product?
                  </a>
                </p>
              </div>
              <div id="who-pays-for-hosting-the-product" class="panel-collapse collapse collapse">
                <div class="panel-body">
                  <p>Assembly will cover these basic costs before a product launches. At times members of the community will pay for them too. In any case, these expenditures will be tracked and reimbursed when the product earns profits.</p>
                  <p>Once a product is live and earning revenue, monthly costs are paid before community earnings are distributed.</p>
                </div>
              </div>
            </div>

            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#who-owns-the-intellectual-property" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    Who owns the intellectual property?
                  </a>
                </p>
              </div>
              <div id="who-owns-the-intellectual-property" class="panel-collapse collapse collapse">
                <div class="panel-body">
                  <p>You do. However, all products on Assembly are licensed under AGPL, and by agreeing to our terms of service you also are granting non-exclusive rights to Assembly to monetize this IP on behalf of the community (and you).</p>
                </div>
              </div>
            </div>

            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#can-an-existing-product-be-moved-to-assembly" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    Can an existing product be moved to Assembly?
                  </a>
                </p>
              </div>
              <div id="can-an-existing-product-be-moved-to-assembly" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Yes. Usually in this case, we’ll work with you to "pre-allocate" a fair number of app coins representing  your ownership (and anyone else who built the product with you). Like all products, you’ll start with 100% ownership but additional development you accept by the community will dilute ownership. If you have more questions about this, reach out to <a href="mailto:support@assembly.com">support@assembly.com</a></p>
                </div>
              </div>
            </div>

            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#can-a-product-leave-assembly" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    Can a product leave Assembly?
                  </a>
                </p>
              </div>
              <div id="can-a-product-leave-assembly" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Generally no. Assembly is not an incubator. We’re focused on enabling the distributed Assembly community to both build and continue to grow successful products. An important part of this is that anyone can come help build any product, with full trust that their work (if accepted) will be rewarded with an ownership stake in that product that will translate to a portion of any future revenue.</p>
                  <p>In order for Assembly to ensure that the community’s work is rewarded in perpetuity, products being built on Assembly need to stay on Assembly. An exception to this is if the partners agreed to sell the product to an acquiring company.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="panel-group">
            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#no-interest-generated" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    What if I start an idea here and no one is interested?
                  </a>
                </p>
              </div>
              <div id="no-interest-generated" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>You are always free to keep building and keep trying on Assembly – so there’s no point at which you could no longer keep trying. If nobody earns App Coins in your product, you are free to take it elsewhere, but once people have earned ownership in your product, it has to live on in the Assembly community.</p>
                  <p>In some cases, products sat for months with little interest before suddenly picking up momentum in the community. Your product could follow that trajectory.</p>
                </div>
              </div>
            </div>

            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#can-a-product-be-sold" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    Can a product be sold?
                  </a>
                </p>
              </div>
              <div id="can-a-product-be-sold" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Yes. If a third-party offers to acquire an Assembly product and the partners (everyone with ownership stake) decide it is the right decision for the community, the customers and the product, then a product can be sold.</p>
                  <p>When a product is sold, earnings are treated like any other revenue and are paid out to the community.</p>
                </div>
              </div>
            </div>

            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#will-product-make-money" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    In what ways can a product make money?
                  </a>
                </p>
              </div>
              <!-- TODO: (pletcher) This response doesn't address the question -->
              <div id="will-product-make-money" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>We deliberately leave the roadmap up to each product’s Core Team. We urge and help products to outline clear ways to monetizing the product. You’ll find most products have these roadmaps in their discussions or plainly stated on their product pages.
                  </p>
                  <p>
                    Sometimes a product solves a problem but it is unclear how it would make revenue today. These products can also be built on Assembly.
                  </p>
                </div>
              </div>
            </div>

            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#hiring-employees" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    How do I hire employees down the road?
                  </a>
                </p>
              </div>
              <div id="hiring-employees" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>In lots of cases, people are using bounties on Assembly for things that you might think you need to hire an employee for. For example, someone might put in 4 hours per week responding to support emails, and earn a flat number of App Coins for that work.</p>
                  <p>Additionally, once your product is earning money you can spend it as you please – which might mean hiring contract employees.</p>
                </div>
              </div>
            </div>

            <div class="panel panel-subtle">
              <div class="panel-heading">
                <p class="panel-title">
                  <a href="#how-much-of-my-product-do-I-own" data-toggle="collapse" style="display: block">
                    <span class="glyphicon glyphicon-chevron-down small pull-right" style="margin-top: 5px"></span>
                    Why do I only start with 5% of the App Coins of my product?
                  </a>
                </p>
              </div>
              <div id="how-much-of-my-product-do-I-own" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>You actually get 100% at the start. The 500,000 App Coins we start you off with are 100% of the allocated coins at that point, but 5% of the available coins. As new ones are awarded, each coin will be worth a smaller percentage of the product.</p>
                  <p>But, typically the person who submits the idea is highly active in planning and building it, so you will continue to earn App Coins throughout the process.</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="text-large" style="padding: 60px 30px; font-size: 20px">
        <a href="<%= new_product_path %>" class="btn btn-success btn-lg">Start your product</a>

        <div class="visible-xs mt3"></div>

        <div class="pull-right mb3">
          Already have a product and want to migrate it to Assembly?
          <a href="<%= help_path(:migrating) %>">Learn more</a>.
        </div>
      </div>
    </div>
  </div>

  <hr style="margin-top: 0; margin-bottom: 0">

  <div class="container">
    <div class="footer" style="border-top: none; margin-top: 0">
      <%= render 'shared/footer_nav' %>
    </div>
  </div>
<% end %>
