<style> body { background-color: white !important; } </style>

<br>

<h6 class="omega gray-2">Nice work!</h6>
<h1 class="alpha green">You're almost there</h1>
<p class="lead gray-2">
  <strong><%= @product.name %></strong> is currently <strong>stealth</strong>, meaning it is only visible to people you share it with. Before you can start publicly building a team, you need to fill in some more details and submit your product for approval.
</p>


<br>
<hr class="border-bottom">
<br>

<div class="row">
  <div class="col-md-4">
    <h6 class="gray-2 omega">Step 1</h6>
    <h2 class="alpha">Define some work</h2>
    <p>
      Bounties are how other people can get involved in your product. A great bounty clearly defines a goal and gives someone all the information they need to reach it.
    </p>
    <p style="margin-bottom:36px">
      Here are some examples of great bounties: <a href="https://cove.assembly.com/octobox/bounties/19">1</a>, <a href="https://cove.assembly.com/firesize/bounties/32">2</a>, <a href="https://cove.assembly.com/coderwall/bounties/363">3</a>. We've already created a bounty for you to help you get started.
    </p>

    <% if @product.tasks.count < 3 %>
      <div data-react-class="CreateBountyButton" data-react-props="<%= {
        classes: 'btn btn-success btn-block',
        product: { name: @product.name },
        url: product_wips_path(@product),
        maxOffer: (6 * @product.average_bounty).round(-4),
        averageBounty: @product.average_bounty,
        coinsMinted: @product.coins_minted,
        profitLastMonth: @product.profit_last_month,
        steps: BountyGuidance::Valuations.suggestions(@product),
        label: 'Create ' + pluralize(3 - @product.tasks.count, 'more bounty', 'more bounties')
      }.to_json %>"></div>
    <% else %>
      <div class="btn btn-default btn-block disabled">
        <span class="green">
          <span class="glyphicon glyphicon-ok-sign"></span>
          Done!
        </span>
      </div>
    <% end %>

    <hr class="border-bottom">

    <p class="small gray-2">
      <i>Tip:</i> You can feature up to 3 bounties. This highlights it as the most important thing that somebody can tackle.
    </p>
  </div>

  <div class="col-md-4">
    <h6 class="gray-2 omega">Step 2</h6>
    <h2 class="alpha">Share your progress</h2>
    <p>Everybody is curious to see the progress of your product. Write updates to keep them in the loop with the product's progress. People love updates that are fun, short and have engaging visuals.</p>
    <p>Stuck for ideas? Introduce your product up to this point in a more personal way. Tell everybody <em>your</em> story.</p>

    <% if @product.posts.empty? %>
      <a class="btn btn-success btn-block" href="<%= new_product_post_path(@product) %>">Write an update</a>
    <% else %>
      <div class="btn btn-default btn-block disabled">
        <span class="green">
          <span class="glyphicon glyphicon-ok-sign"></span>
          Done!
        </span>
      </div>
    <% end %>

    <hr class="border-bottom">

    <p class="small gray-2">
      <i>Tip:</i> Updates are emailed to everybody who follows your product. Derble chack ur smelling!
    </p>
  </div>

  <div class="col-md-4">
    <h6 class="gray-2 omega">Step 3</h6>
    <h2 class="alpha">Start building</h2>
    <p>
      People are much more likely to be excited about your product when they can see some evidence of progress. Create a repository so the design and development of your product can start.
    </p>

    <p>
      If you already have a repository checkout our guide to <a href="<%= help_path(group: :migrating) %>">migrating existing products to Assembly</a>.
    </p>

    <% if @product.repos.empty? %>
      <a class="btn btn-success btn-block" href="<%= product_repos_path(@product) %>">
        Create a repository
      </a>
    <% else %>
      <a class="btn btn-default btn-block disabled" href="#">
        <span class="green">
          <span class="glyphicon glyphicon-ok-sign"></span>
          Done!
        </span>
      </a>
    <% end %>

    <hr class="border-bottom">

    <p class="small gray-2">
      <i>Tip:</i> Repositories store all the source code and design of a product and are the lifeblood of a software product.
    </p>
  </div>

</div>

<hr class="border-bottom">

<br>

<h6 class="gray-2 omega">Final Step</h6>
<h2 class="alpha">Submitting for approval</h2>

<div class="row">
  <div class="col-md-6">
    <p class="lead">
      We value the time of our community so we like to do a quick check through of your product before we show it to the Assembly community. This process typically takes a few days and we aim to be in constant communication throughout.
    </p>
    <p>
      After your product is approved, it'll enter the <strong>Team Building</strong> phase. This means it has <strong>30 days</strong> to get <strong>10 new partners</strong> onboard (a partner is someone that owns a bit of your product). When it reaches that goal, your product will be become a Greenlit Assembly product. Don't worry if it doesn't reach that goal the first time around: you can try building a team as many times as you want.
    </p>
  </div>

  <div class="col-md-5 col-md-offset-1">

    <div class="row">
      <div class="col-md-4">
        <a href="<%= user_path('awwstn') %>">
          <%= avatar_tag(User.find_by_username!('awwstn'), 120) %>
        </a>
      </div>

      <div class="col-md-8">
        <p class="text-large">
          <a href="<%= user_path('awwstn') %>">awwstn</a> will be reviewing your product.
        </p>
        <p class="gray-2">
          Please, feel free to <%= mail_to 'austin.smith@assembly.com', 'email @awwstn', subject: @product.name, body: product_url(@product) %> if you have any questions about your product or the submission process.
        </p>
      </div>
    </div>

    <hr class="border-bottom">

    <div class="row">
      <div class="col-md-6">
        <h6 class="alpha omega">We <span class="green">like</span></h6>
        <ul class="list-reset gray-2 small">
          <li>Interesting new ideas</li>
          <li>Spelling &amp; grammar</li>
          <li>Engaged founders</li>
          <li>Achieveable products</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h6 class="alpha omega">We <span class="red">dislike</span></h6>
        <ul class="list-reset gray-2 small">
          <li>People looking for free work</li>
          <li>Jerks</li>
        </ul>
      </div>
    </div>


  </div>
</div>

<br>

<% if !@product.finished_first_steps? %>
  <a class="btn btn-lg btn-default disabled" href="#">Submit for approval</a>
  <br>
  <br>
  <p class="yellow">(You need to complete the 3 steps above before you can submit your product for approval)</a>
<% else %>
  <%= button_to 'Submit for approval', product_launch_path(@product), class: 'btn btn-lg btn-success', method: 'patch' %>
<% end %>
