<div class="sheet-body text-center">
  <h1><strong>Say hello to your business.</strong></h1>
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <p class="lead text-muted" style="margin-bottom: 36px;"><strong><%= @product.name %></strong> is currently in stealth, and is only visible to you and those you share it with. Use this time to flesh out your vision. Once launched, your product can be featured on the Discover page, showcased in the Assembly weekly newsletter, and the whole community can join you in bringing it to life.
      </p>
    </div>
  </div>
</div>

<hr>

<div class="sheet-body">

  <h2 style="margin-bottom: 36px; font-weight: 300;">It's dangerous to go alone! Take these:</h2>

  <div class="row" style="margin-top: 24px; margin-bottom: 24px;">

    <!-- Plan -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="text-large text-primary icon icon-eyeglasses"></span>
        </div>
        <div class="col-xs-10">
          <h4 class="alpha">
            <a href="<%= product_path(@product) %>">Plan</a>
          </h4>
          <p class="text-muted text-small">
            From marketing to monetization, the Plan is your chance to answer any questions people may have about <%= @product.name %>.
          </p>
        </div>
      </div>
    </div>

    <!-- Bounties -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="icon icon-trophy text-large text-primary"></span>
        </div>
        <div class="col-xs-10">
          <h4 class="alpha">
            <a href="<%= product_wips_path(@product) %>">Bounties</a>
          </h4>
          <p class="text-muted text-small">
            Bounties are things you want done. Anybody can work on Bounties, the Core Team awards them and the winner receives its App Coins.
          </p>
        </div>
      </div>
    </div>

    <!-- Discussions -->
    <div class="col-md-4">
      <div class="row">
        <div class="col-xs-2">
          <span class="icon icon-book-open text-large text-primary"></span>
        </div>
        <div class="col-xs-10">
          <h4 class="alpha">
            <a href="<%= product_discussions_path(@product) %>">Discussions</a>
          </h4>
          <p class="text-muted text-small">
            Discussions let you write about topics that would be too long for chat. You can file them away for later reference.
          </p>
        </div>
      </div>
    </div>

  </div><!-- .row -->
</div>
