<% title @product.name, @product.pitch %>
<style>
  .avatar-grid-inline {
    text-align: center;
  }

  .avatar-grid-inline .avatar-grid-item {
    display: inline-block;
    float: none;
  }
</style>

<div class="page page-padded container">
  <center>
  <h1>
    Become a partner in <%= @product.name %>
  </h1>

  <div class="avatar-grid avatar-grid-inline">
    <% @product.important_contributors.each do |user| %>
      <div class="avatar-grid-item">
        <%= render 'users/avatars/sm', user: user %>
      </div>
    <% end %>
  </div>

  <br>
  <div class="divider divider-dotted"></div>
  <br>

  <p>
    <%= @product.name %> is a mutual product, built and owned by the people who use it. It uses Assembly to<br> share its profit between the partners and ensure openess and transparency.
  </p>

  <br>

  <a class="btn btn-primary" href="<%= new_user_registration_path %>">Join Assembly</a>
  <br>
  or
  <br>
  <a href="<%= login_path %>">
    Sign in
  </a>
</center>
</div>

<%= render 'shared/deprecated_footer' %>

<script>
  analytics.track('product.welcome.viewed', <%==
    ProductAnalyticsSerializer.new(@product, scope: current_user).to_json
  %>);
</script>
