<div class="sheet-body text-center">
  <h1><strong>Say hello to the start of your business on Assembly.</strong></h1>
  <div class="row">
    <div class="col-md-10 col-md-push-1">
      <p class="lead text-muted" style="margin-bottom: 36px;"><strong><%= @product.name %></strong> is in stealth and only visible to those you share it with. Finish getting <%= @product.name %> ready to build it with the Assembly community.
      </p>
    </div>
  </div>
</div>

<hr>

<div class="sheet-body">

  <h2 style="margin-bottom: 36px;">Step 1: Prepare product for development</h2>
  <p>
    Create a repo so development and design can begin. <a class='btn btn-success btn-xs'>Create Initial Repo</a>
    <br>
    <br>
    Is this product already partially built? <a href='<%= help_path(group: :migrating) %>'>Migrate it to Assembly</a>
  </p>
  <p class='tip'>
    Tip: Repos are for source code and design, the lifeblood of a software product. 
  </p>
    
  <hr>
  <h2 style="margin-bottom: 36px;">Step 2: Add 3 bounties</h2>
  <p>
    Bounties are how others on Assembly get involved in building the product and earning ownership in its success. Those new to your product will see up to 3 bounties you've featured. Featured bounties should be the most important things that could be done next on the product to move it forward. 
  </p>
  <p>
    We've already helped by creating a bounty for you. Since this is a new product this bounty helps you recruit new people to the team. You can keep it or close it and create another one.
  </p>  
  <ol>
    <li>
      
    </li>
    <li>
      <a class="btn btn-success btn-xs" href="<%= new_product_wip_path(@product) %>">Create Featured Bounty</a>
    </li>
    <li>
      <a class="btn btn-success btn-xs" href="<%= new_product_wip_path(@product) %>">Create Featured Bounty</a>
    </li>
  </ol>
  
  <p class='tip'>
    Tip: A good bounty clearly communicates what is needed as well as conclusive steps to be completed. Here are a few good bounties completed on other products you can use as examples (1,2,3). (should this be on bounty modal)
  </p>
  
  
  <hr>
  <h2 style="margin-bottom: 36px;">Step 3: Build your team</h2>
  <p>Every new product has to build a team before the product is greenlit for further development on Assembly. You'll have 30 days to get 10 other people involved in your product and becoming partners. A partner is someone that owns 1 or more of a product's App Coins. If your product doesn't get 10 partners, it will go back in stealth so you can work on improving it.</p>
  <a class="btn btn-success btn-xs" href="<%= new_product_wip_path(@product) %>">Launch & Build Team</a>

  <p class='tip'>
    Tip: You can already start building while in stealth and through team building. Products that make continued progress get the brightest people involved in the team.
  </p>
  

  <div class="row" style="margin-top: 24px; margin-bottom: 24px;">

  </div><!-- .row -->
</div>
