<% title 'Governance', @product.name %>
<% activate_nav! :people %>
<% activate_nav! :people_governance %>

<%= render 'people/nav' %>

<h1>Proposals</h1>

<br>
<h3>Open</h3>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th class="text-left">Name</th>
      <th class="text-right">Type</th>
      <th class="text-right">Description</th>
      <th class="text-right">Vote Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @open_proposals.each do |op| %>
    <tr>
      <td class="text-left"><a href= <%= product_proposal_path(@product, op) %> ><%= op.name %></a></td>
      <td class="text-right"></td>
      <td class="text-right"><%= op.description %></td>
      <td class="text-right"><%= op.status %></td>
      <td>
        <% if op.won? %>
          <span class="green"><%= react_component 'Icon', icon: 'check' %></span>
        <% else %>
          <span class="gray"><%= react_component 'Icon', icon: 'gavel' %></span>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if @active_proposals.count > 0 %>
  <h3>Active</h3>
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th class="text-left">Name</th>
        <th class="text-right">Type</th>
        <th class="text-right">Description</th>
        <th class="text-right">Vote Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @active_proposals.each do |ap| %>
      <tr>
        <td class="text-left"><a href= <%= product_proposal_path(@product, ap) %> ><%= ap.name %></a></td>
        <td class="text-right"></td>
        <td class="text-right"><%= ap.description %></td>
        <td class="text-right"><%= ap.status %></td>
        <td>
          <% if ap.won? %>
          <span class="green"><%= react_component 'Icon', icon: 'check' %></span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<br>
<% if @closed_proposals.count > 0 %>
  <h3>Closed/Failed</h3>
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th class="text-left">Name</th>
        <th class="text-right">Type</th>
        <th class="text-right">Description</th>
        <th class="text-right">Vote Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @closed_proposals.each do |cp| %>
      <tr>
      <td class="text-left"><a href= <%= product_proposal_path(@product, cp) %> ><%= cp.name %></a></td>
      <td class="text-right"></td>
      <td class="text-right"><%= cp.description %></td>
      <td class="text-right"><%= cp.status %></td>
      <td>
        <% if cp.won? %>
        <span class="green"><%= react_component 'Icon', icon: 'check' %></span>
        <% else %>
        <span class="red"><%= react_component 'Icon', icon: 'close' %></span>
        <% end %>
      </td>
    </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
