<% title 'Governance', @product.name %>
<% activate_nav! :people %>
<% activate_nav! :people_governance %>

<%= render 'people/nav' %>

<h1>Proposals</h1>
<br>
<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th class="text-left">Name</th>
      <th class="text-right">Creation</th>
      <th class="text-right">Expiration</th>
      <th class="text-right">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @proposals.each do |p| %>
    <tr>
      <td class="text-left"><a href= <%= product_proposal_path(@product, p) %> ><%= p.name %></a></td>

      <% creation_diff= ((Time.now - p.created_at)/86400).to_i %>
      <% if creation_diff<0 %>
        <td class="text-right"><%= "#{creation_diff} days ago" %></td>
      <% elsif creation_diff > 0 %>
        <td class="text-right"><%= "#{creation_diff} days left" %></td>
      <% else %>
        <td class="text-right">Today</td>
      <% end %>

      <% expiration_diff = ((p.expiration - Time.now ) / 86400).to_i %>
      <% if expiration_diff < 0 %>
        <td class="text-right"><%= "#{-expiration_diff} days ago" %>
      <% elsif expiration_diff > 0 %>
        <td class="text-right"><%= "#{expiration_diff} days left" %>
      <% else %>
        <td class="text-right">Today</td>
      <% end %>

      <td class="text-right"><%= "#{p.status}#{p.win_criteria_text}"  %></td>

      <td>
        <% if !p.expired? %>
        <form id="vtr" method="post" action="/choices" >
          <% if !p.user_vote_status(@current_user) %>
            <input type="hidden" name="voter" value="<%= @current_user.id %>" />
            <input type="hidden" name="weight" value=1.0 />
            <input type="hidden" name="proposal" value= "<%= p.id %>"  />
            <button type="submit" class="btn btn-success">
              <span class="mr1"><%= inline_react_component 'Icon', icon: 'gavel' %></span>
              Approve
            </button>
          <% else %>
            <input type="hidden" name="voter" value="<%= @current_user.id %>" />
            <input type="hidden" name="weight" value=1.0 />
            <input type="hidden" name="proposal" value= "<%= p.id %>"  />
            <input type="submit" value="Unvote" class="btn btn-danger">
          <% end %>
        </form>
        <% else %>
          <% if p.won? %>
          <button type="button" class="btn btn-success" disabled="disabled">
            <span class="mr1"><%= inline_react_component 'Icon', icon: 'check' %></span>Passed
          </button>
          <% else %>
          <button type="button" class="btn btn-danger" disabled="disabled">
            <span class="mr1"><%= inline_react_component 'Icon', icon: 'close' %></span>Failed
          </button>
          <% end %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
