<% if @user_metrics.enabled? %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a href="<%= product_metrics_path(@product) %>">Metrics</a>
      </h6>
    </div>
    <div class="panel-body">
      <table class="table small omega">
        <tr>
          <th></th>
          <th class="text-right">Last <%= @user_metrics.dates[0].strftime('%a') %></th>
          <th class="text-right"><%= @user_metrics.dates[1].strftime('%a') %></th>
        </tr>
        <tr>
          <td>Users</td>

          <% @user_metrics.user_weeks.each do |val| %>
            <td class="text-right">
              <%= number_with_delimiter val %>
            </td>
          <% end %>
        </tr>

        <% @user_metrics.rows.each do |row| %>
          <tr>
            <td><%= row[:label] %></td>

            <% row[:values].each.with_index do |val, i| %>
              <td class="text-right">
                <%= number_to_percentage(val[:ratio] * 100, precision: 0) %>
                (<%= val[:raw] %>)
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>

<% else %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h6 class="panel-title">Metrics</h6>
    </div>

    <div class="panel-body">
      <table class="table small omega">
        <thead>
          <tr>
            <td>Pre-Signups</td>
            <td class="text-right">
              <span class="badge">
                <%= @product.count_presignups %>
              </span>
            </td>
          </tr>
          <tr>
            <td>Pre-Orders</td>
            <td class="text-right">
              <span class="badge">
                <%= amount_to_currency @product.total_banked %>
              </span>
            </td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
<% end %>
