<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'admin' %>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  </head>
  <body>
    <%= render 'admin/navbar' %>

    <div class="py3">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <%= javascript_include_tag 'admin' %>
    <%= yield :javascript %>
  </body>
</html>
