<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'shared/google_fonts' %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:title) %></title>

    <%= csrf_meta_tags %>
    <meta name="pusher-key" content="<%= Pusher.key %>" >
    <meta name="attachment-upload-url" content="<%= ATTACHMENT_UPLOAD_URL %>" >
    <meta name="read-raptor-url" content='<%= ENV["READRAPTOR_URL"] %>'>
    <% if signed_in? %>
      <meta name="user-username" content="<%= current_user.username %>" >
    <% end %>

    <%= stylesheet_link_tag 'application' %>

    <%= javascript_include_tag 'https://d3dy5gmtp8yhk7.cloudfront.net/2.2/pusher.min.js' %>
    <%= javascript_include_tag 'application' %>

    <%= render 'shared/social_media_meta_tags' %>
    <%= render 'shared/bugs' %>
    <%= render 'shared/analytics' %>
    <%= render 'shared/twitter' %>

    <%= favicon_link_tag %>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= yield(:body_class) %>">

    <%= render 'shared/welcome' %>

    <%= yield %>

    <%= render 'shared/facebook' %>
    <%= render 'shared/live_chat' %>

    <% analytics_track_events %>

    <% if signed_in? && flash[:signed_up] %>
      <%= render 'users/signed_up' %>
    <% end %>

    <% if signed_in? %>
      <script>
        window.app.setCurrentUser(<%= UserWithBalanceSerializer.new(current_user, scope:  current_user).to_json.html_safe %>);
        window.app.setSuggestedTags(<%== Wip::Tag.suggested_tags %>);
        window.pusher = new Pusher($('meta[name=pusher-key]').attr('content'), {
                  authEndpoint: <%= webhooks_pusher_path.to_json.html_safe %>
                });
      </script>
      <%= render 'analytics/identify' %>
      <%= track_readraptor(@stories_to_mark_as_read) if @stories_to_mark_as_read %>
    <% end %>

    <% unless Rails.env.development? %>
      <%= render 'shared/perfect_audience' %>
    <% end %>
    <%= render 'shared/inspectlet' %>
  </body>
</html>
