<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= yield(:title) %></title>
    <meta name="description" content="<%= yield(:description) %>">
    <%= yield(:head) %>

    <%= csrf_meta_tags %>
    <meta name="assets-url" content='<%= image_path('/') %>'>
    <meta name="asm-api-url" content='<%= ENV['ASM_API_URL'] %>'>
    <meta name="attachment-upload-url" content="<%= ATTACHMENT_UPLOAD_URL %>" >
    <meta name="es-url" content='<%= File.join(root_url, '_es') %>'>
    <meta name="firesize-url" content='<%= ENV["FIRESIZE_URL"] %>'>
    <meta name="pusher-key" content="<%= Pusher.key %>" >
    <meta name="read-raptor-url" content='<%= ENV["READRAPTOR_URL"] %>'>

    <% if signed_in? %>
      <meta name="user-username" content="<%= current_user.username %>" >
    <% end %>

    <%= stylesheet_link_tag 'application' %>
    <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.4.9/c3.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <%= render 'shared/social_media_meta_tags' %>
    <%= render 'shared/fancy_icons'%>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= yield(:body_class) %> bg-gray-6">
    <%= yield %>

    <% hydrate_stores %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'https://d3dy5gmtp8yhk7.cloudfront.net/2.2/pusher.min.js' %>

    <%= render 'shared/facebook' %>
    <%= render 'shared/analytics' %>

    <%= render 'analytics/identify' %>

    <% analytics_track_events %>

    <%= render 'shared/twitter' %>

    <%= yield :javascript %>

    <%= render 'shared/track_page_viewed' %>

    <script>
      if (window.app && window.app.setSuggestedTags) {
        window.app.setSuggestedTags(<%== Wip::Tag.suggested_tags(current_user) %>);
      }
    </script>

    <% if signed_in? %>
      <script>
        // window.pusher needs to be defined before
        // the content_for block executes
        window.app.setCurrentUser(<%= UserWithBalanceSerializer.new(current_user, scope:  current_user).to_json.html_safe %>);
        if (typeof Pusher !== 'undefined') {
          window.pusher = new Pusher($('meta[name=pusher-key]').attr('content'), {
            authEndpoint: <%= webhooks_pusher_path.to_json.html_safe %>
          });
          pusher.
            subscribe(<%== current_user.pusher_channel.to_json %>).
            bind_all(function(message, data) {
              Dispatcher.dispatch({
                type: message,
                data: data
              })
            });
        }
      </script>
      <%= track_readraptor(@stories_to_mark_as_read) if @stories_to_mark_as_read %>
    <% end %>

    <% if ENV['SIGNUP_SUMO_TOKEN'] && signed_in? %>
      <script src="https://assets.signupsumo.com/signups.js" data-token="<%= ENV['SIGNUP_SUMO_TOKEN'] %>" data-auto="false"></script>
      <script>SignupSumo.send(<%= current_user.email.to_json.html_safe %>)</script>
    <% end %>

    <div id="create-modal-placeholder"></div>
    <%= react_component 'SignupModal' %>
  </body>
</html>
