<script>
  window.app.setCurrentAnalyticsProduct(<%= ProductAnalyticsSerializer.new(@product, scope: (current_user || {})).to_json.html_safe %>);
</script>

<%= render 'shared/navbar' %>

<div class="page">
  <div class="container">

    <div class="row">

      <div class="col-md-2 fixed-enabler">
        <%= render 'products/sidenav', product: @product %>
      </div>

      <div class="col-md-10">

        <ul class="list list-inline pull-right">
          <li>
            <div data-react-class="Share"
                 data-react-props="<%= {
                   url: product_url(@product),
                   title: "Share #{@product.name} with the world",
                   shareText: "Check out #{@product.name} – #{ @product.pitch} on Assembly",
                 }.to_json %>" />
          </li>
          <li>
            <div class="btn-group">
              <!-- FIXME: There shouldn't be any need for a magic number margin-bottom here -->
              <a class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" style="margin-bottom: 15px">
                Follow
                <span class="icon icon-chevron-down"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-right" role="menu" style="width: auto; position: absolute; padding-top: 0; padding-bottom: 0;">
                <li role="presentation" class="dropdown-header" style="color: #a6a6a6; background-color: #f2f2f2;">
                  <strong>Notifications</strong><span class="pull-right"><a href="/settings">Settings</a></span>
                </li>
                <li role="presentation" class="textcomplete-item">
                  <a role="menuitem" tabindex="-1" href="#">
                    <p style="margin-bottom: 0; font-size: 14px;">
                      <strong>Not following</strong>
                    </p>
                    <span class="text-muted" style="font-size: 14px;">
                      Only notified when participating or @mentioned
                    </span>
                  </a>
                </li>

                <li role="presentation" class="textcomplete-item">
                  <a role="menuitem" tabindex="-1" href="#">
                    <p style="margin-bottom: 0; font-size: 14px;">
                      <strong>Follow updates</strong>
                    </p>
                    <span class="text-muted" style="font-size: 14px;">
                      Be notified of business updates, and when partcipating or @mentioned
                    </span>
                  </a>
                </li>

                <li role="presentation" class="textcomplete-item">
                  <a role="menuitem" tabindex="-1" href="#">
                    <p style="margin-bottom: 0; font-size: 14px;">
                      <strong>Follow everything</strong>
                    </p>
                    <span class="text-muted" style="font-size: 14px;">
                      Be notified of all discussions, business updates, and when participating or @mentioned
                    </span>
                  </a>
                </li>
              </ul>
              <!-- <a class="badge" href="<%= product_watchers_path(@product) %>">
                <%= @product.watchings_count %>
              </a> -->
            </div>
            <!-- <div id="dropdown-follow" class="toggler toggler-sm">
              <% if signed_in? && @product.watching?(current_user) %>
                <a class="toggler-btn btn btn-default inactive" href="<%= unsubscribe_product_path(@product) %>" data-method="post">
                  Following
                  <span class="icon icon-chevron-down"></span>
                </a>
              <% else %>
                <a class="toggler-btn btn btn-primary dropdown-toggle" style="cursor: pointer;" data-toggle="dropdown">
                  Follow
                  <span class="icon icon-chevron-down"></span>
                </a>
              <% end %>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-follow">
                <li role="presentation" class="dropdown-header">Notifications</li>
                <li role="presentation">
                  <strong>Not following</strong>
                  <br>
                  Only notified when participating or @mentioned
                </li>
              </ul>
              <a class="toggler-badge" href="<%= product_watchers_path(@product) %>">
                <%= @product.watchings_count %>
              </a>
            </div> -->
          </li>
          <!-- <li style="padding-right: 0;">
            <div class="toggler toggler-sm">
              <div data-react-class="JoinTeam"
                   data-react-props="<%= {
                     count: @product.team_memberships_count,
                     join_path: product_people_path(@product),
                     leave_path: (current_user && product_person_path(@product, current_user)),
                     is_member: @product.member?(current_user),
                     membership: TeamMembershipSerializer.new(@product.team_memberships.find_by(user: current_user) || TeamMembership.new(product: @product, user: current_user)).as_json
                   }.to_json %>">
              </div>
            </div>
          </li> -->
        </ul>

        <h3 class="alpha text-muted" style="font-weight: 400; line-height: 1;">
          <%= @product.name %> <% if @product.stealth? %><span class="label label-outlined" style="position: relative; top: -2px; font-size: 13px;">Stealth</span><% end %>
          <% if @breadcrumb.present? %>
            <i class="icon icon-chevron-right" style="color: #c6ccd2; font-size: 16px; vertical-align: middle;"></i>
            <a style="color: #c6ccd2;" href="<%= @breadcrumb[:url]%>"><%= @breadcrumb[:text] %></a>
          <% end %>
        </h3>

        <div class="sheet" style="<%= @sheet_style %>">
          <div class="sheet-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' unless @disable_footer %>

<% parent_layout 'application' %>
