<%
  # Disincentivises people creating spam products to abuse our Google
  # juice. (@chrislloyd)
%>
<% if @product.stealth? || @product.flagged? %>
  <% content_for :head do %>
    <meta name="robots" content="noindex, nofollow">
  <% end %>
<% end %>

<%= render 'shared/navbar' %>

<!-- Flashes! -->

<% if current_user && @product.core_team?(current_user) && @product.stealth? %>
  <%= render 'products/stealth_reminder' %>
<% end %>

<% if flash[:first_assets_granted] %>
  <%= render 'products/assets_granted' %>
<% end %>

<% if flash[:assets_error] %>
  <%= render 'products/assets_error' %>
<% end %>

<% if flash[:applied_for_pitch_week] %>
  <%= render 'products/applied_for_pitch_week' %>
<% end %>

<% if flash[:no_bounty_description] %>
  <%= render 'products/no_bounty_description' %>
<% end %>

<% if client_side_route? %>
  <%= yield %>
<% else %>
  <div class="bg-white shadow-light" style="min-height: 120px;">
    <%= react_component 'ProductHeader' %>
  </div>

  <div class="container mt3">
    <%= yield %>
  </div>
<% end %>

<!-- Back to our scheduled programming -->

<% unless current_user.nil? %>
  <div class="modal fade" id="edit-membership-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form role="form" method="post" action="<%= product_person_path(@product, current_user) %>">
      <div class="modal-dialog">
        <div class="modal-content" style="overflow: visible;">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="_method" value="patch" type="hidden">
          <div class="modal-header">
            <button type="button" class="close btn btn-sm" data-dismiss="modal">&times;</button>
            <div class="form-group" style="margin-bottom: 15px">
              <label class="control-label" for="modal-bio-editor">
                Introduce yourself, earn some <%= @product.name %> coins
              </label>
              <small class="h6" style="margin-top: 0px">
                What skills can you contribute, how much time do you have and what are you looking to get out of the experience?
              </small>
              <textarea name="membership[bio]" id="modal-bio-editor" class="form-control bio-editor" style="min-height: 130px;"></textarea>
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="join-interests">What are you interested in?</label>
              <% interest_filters = product_membership_interests(@product, true) %>
              <div data-react-class="InterestPicker"
                  data-react-props="<%= {
                    userInterests: @current_user_interests,
                    interests: interest_filters,
                    name: 'membership[interests][]'
                  }.to_json %>">
              </div>
            </div>
          </div>
          <div class="modal-footer py2 px3">
            <button type="submit" class="btn btn-primary btn-block" id="join-intro-button">Update</button>
          </div>

        </div>
      </div>
    </form>
  </div>
<% end %>

<div id="public-address-prompt"></div>

<% content_for :javascript do %>
  <script>
    window.app.product = new Product(<%= json @product, scope: current_user %>)
    window.app.setCurrentAnalyticsProduct(<%= ProductAnalyticsSerializer.new(@product, scope: (current_user || {})).to_json.html_safe %>);

    window.showCreatePost = function() {
      try {
        $('#new-post-modal').modal('show');
      } catch (e) { console.log(e);}
      React.render(
        NewPostModal({ key: 'new-post-modal' }),
        document.getElementById('create-modal-placeholder')
      );

      $('#new-post-modal').modal({ show: true });
    };

    $('#edit-membership-modal').on('shown.bs.modal', function() {
      $('#modal-bio-editor').attr('placeholder', app.defaultBio());
    });
  </script>
<% end %>

<%= render 'shared/footer' %>

<% parent_layout 'application' %>
