<%= initial_store_data('ProductFollowersStore',
        products: [{ id: @product.id, followers_count: @product.watchings_count }],
        userFollowings: (@product.watching?(current_user) ? [@product.id] : [])
) %>

<% content_for :javascript do %>
  <script>
    window.app.setCurrentAnalyticsProduct(<%= ProductAnalyticsSerializer.new(@product, scope: (current_user || {})).to_json.html_safe %>);
  </script>
<% end %>

<%= initial_store_data('ProductStore', { slug: @product.slug, name: @product.name }) %>

<%= render 'shared/navbar' %>

<!-- Flashes! -->

<% if current_user && @product.core_team?(current_user) && @product.stealth? %>
  <%= render 'products/stealth_reminder' %>
<% end %>

<% if flash[:first_assets_granted] %>
  <%= render 'products/assets_granted' %>
<% end %>

<% if flash[:assets_error] %>
  <%= render 'products/assets_error' %>
<% end %>

<% if flash[:applied_for_pitch_week] %>
  <%= render 'products/applied_for_pitch_week' %>
<% end %>

<% if flash[:no_bounty_description] %>
  <%= render 'products/no_bounty_description' %>
<% end %>

<!-- Back to our scheduled programming -->

<div class="bg-white">
  <div class="container mb3">

    <div class="clearfix mxn2 py3">
      <div class="sm-col sm-col-2 px2">
        <a href="<%= product_path(@product) %>">
          <%= react_component 'AppIcon', app: ProductSerializer.new(@product), size: 135 %>
        </a>
      </div>

      <div class="sm-col sm-col-7 px2">

        <h1 class="mt1 mb0">
          <a class="black" href="<%= product_path(@product) %>"><%= @product.name %></a>
        </h1>

        <div class="h3 mt0 mb1 gray-1"><%= truncate(@product.pitch, length: 60, separator: ' ') %></div>

        <ul class="list-reset clearfix mxn1 mb0">
          <% if @product.homepage_url? %>
            <li class="left px1">
              <a href="<%= @product.homepage_url %>">
                <%= inline_react_component 'Icon', icon: 'globe' %>
                <%= URI(@product.homepage_url.downcase).host %>
              </a>
            </li>
          <% end %>

          <li class="left px1">
            <a href="<%= product_repos_path(@product) %>">
              <%= inline_react_component 'Icon', icon: 'github' %>
              Code
            </a>
          </li>

          <% if can?(:edit, @product) %>
            <li class="left px1">
              <a href="<%= edit_product_path(@product) %>">
                <%= inline_react_component 'Icon', icon: 'gear' %>
                Edit product
              </a>
            </li>
          <% end %>
        </ul>

      </div>

      <div class="sm-col sm-col-3 p1">
        <%= react_component('ProductFollowers', product_id: @product.id) %>
      </div>

    </div>

    <div class="clearfix">

      <ul class="nav nav-tabs left">
        <li class="<%= nav_active_class(:product) %>">
          <a class="px2 py2" href="<%= product_path(@product) %>">
            Activity
          </a>
        </li>

        <li class="<%= nav_active_class(:bounties) %>">
          <a class="px2 py2" href="<%= product_tasks_path(@product) %>">
            Bounties
          </a>
        </li>

        <li class="<%= nav_active_class(:posts) %>">
          <a class="px2 py2" href="<%= product_posts_path(@product) %>">
            Posts
          </a>
        </li>

        <li class="<%= nav_active_class(:assets) %> sm-show">
          <a class="px2 py2" href="<%= product_assets_path(@product) %>">
            Assets
          </a>
        </li>

        <% if @product.chat_rooms.any? %>
          <% chat_room = @product.chat_rooms.first %>
          <li class="<%= nav_active_class(:chat) %>">
            <a class="px2 py2" href="<%= chat_room_path(chat_room) %>">
              Chat
            </a>
          </li>
        <% end %>
      </ul>

      <script>
        var showCreateBounty = function() {
          window.analytics.track('product.wip.showed_bounty_modal', { product: "<%= @product.slug %>" });

          try {
            $('#create-bounty-modal').modal('show');
          } catch (e) {
          }

          React.render(
            CreateBounty({
              id: 'create-bounty-modal',
              product: { name: "<%= @product.name %>" },
              url: "<%= product_wips_path(@product) %>",
              maxOffer: "<%= (6 * @product.average_bounty).round(-4) %>",
              averageBounty: "<%= @product.average_bounty %>",
              coinsMinted: "<%= @product.coins_minted %>",
              profitLastMonth: "<%= @product.profit_last_month %>",
              steps: "<%= BountyGuidance::Valuations.suggestions(@product) %>",
            }),
            document.getElementById('create-bounty')
          );
        }
      </script>

      <div class="right py1 dropdown">
        <a class="btn btn-primary bg-blue dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" id="product-actions">
          <span class="mr1">New</span>
          <%= inline_react_component 'Icon', icon: 'chevron-down' %>
        </a>

        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="product-actions">
          <li role="presentation">
            <a href="javascript:void(0);" onclick="javascript:showCreateBounty();">
              <span class="mr1">
                <%= inline_react_component 'Icon', icon: 'trophy' %>
              </span>
              Bounty
            </a>
          </li>

          <li role="presentation">
            <a href="<%= new_product_post_path(@product) %>">
              <span class="mr1">
                <%= inline_react_component 'Icon', icon: 'newspaper-o' %>
              </span>
              Post
            </a>
          </li>

          <% if signed_in? && current_user.staff? %>
            <li role="presentation">
              <a href="<%= new_product_asset_path(@product) %>">
                <span class="mr1">
                  <%= inline_react_component 'Icon', icon: 'picture-o' %>
                </span>
                Asset
              </a>
            </li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div id='create-bounty'></div>
  <%= yield %>
</div>


<% unless current_user.nil? %>
  <div class="modal fade" id="edit-membership-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form role="form" method="post" action="<%= product_person_path(@product, current_user) %>">
      <div class="modal-dialog">
        <div class="modal-content" style="overflow: visible;">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="_method" value="patch" type="hidden">
          <div class="modal-header">
            <button type="button" class="close btn btn-sm" data-dismiss="modal">&times;</button>
            <div class="form-group" style="margin-bottom: 15px">
              <label class="control-label" for="modal-bio-editor">
                Introduce yourself, earn some <%= @product.name %> coins
              </label>
              <small class="help-block" style="margin-top: 0px">
                What skills can you contribute, how much time do you have and what are you looking to get out of the experience?
              </small>
              <textarea name="membership[bio]" id="modal-bio-editor" class="form-control bio-editor" style="min-height: 130px;"></textarea>
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="join-interests">What are you interested in?</label>
              <% interest_filters = product_membership_interests(@product, true) %>
              <div data-react-class="InterestPicker"
                  data-react-props="<%= {
                    userInterests: @current_user_interests,
                    interests: interest_filters,
                    name: 'membership[interests][]'
                  }.to_json %>">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-block" id="join-intro-button">Update</button>
          </div>

        </div>
      </div>
    </form>
  </div>

  <div id="public-address-prompt"></div>
<% end %>
<%= render 'shared/footer' %>
<% parent_layout 'application' %>

<% content_for :javascript do %>
  <script>
    $('#edit-membership-modal').on('shown.bs.modal', function() {
      $('#modal-bio-editor').attr('placeholder', app.defaultBio());
    });
  </script>
<% end %>

<script>
  $(document).ready(function() {
    var queryKey = window.parseUri(window.location).queryKey;

    if (queryKey && queryKey.modal) {
      showCreateBounty();
    }
  });
</script>
