<script>
  window.app.setCurrentAnalyticsProduct(<%= ProductAnalyticsSerializer.new(@product, scope: (current_user || {})).to_json.html_safe %>);
</script>

<%= render 'shared/navbar' %>
<%= render 'shared/welcome' %>


  <%= render 'products/assets_granted' %>

<div class="navbar navbar-product">
  <div class="container">
    <div class="pull-right">
      <div
          data-react-class="NotificationPreferencesDropdown"
          data-react-props="<%= {
            productWatchersPath: product_people_path(@product),
            productWatchersCount: @product.watchings_count,
            productFollowPath: product_follow_path(@product),
            productAnnouncementsPath: product_announcements_path(@product),
            productUnfollowPath: product_unfollow_path(@product),
            watchingState: @product.watching_state(current_user),
            afterFollowPath: product_people_path(@product)
          }.to_json %>">
      </div>
    </div>

    <h3 class="alpha omega">
      <a class="text-muted" href="<%= product_path(@product) %>">
        <%= @product.name %>
      </a>

      <% if false %>
        <span class="label label-outlined" style="position: relative; top: -2px; font-size: 13px;"><%= @product.stage %></span>
      <% end %>
    </h3>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-push-2">
      <%= yield %>
    </div>

    <div class="col-md-2 col-md-pull-10">
      <%= render 'products/sidenav', product: @product %>
    </div>
  </div>
</div>

<% unless current_user.nil? %>
  <div class="modal fade" id="edit-membership-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form role="form" method="post" action="<%= product_person_path(@product, current_user) %>">
      <div class="modal-dialog">
        <div class="modal-content">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="_method" value="patch" type="hidden">
          <div class="modal-header">
            <button type="button" class="close btn btn-sm" data-dismiss="modal">&times;</button>
            <div class="form-group" style="margin-bottom: 15px">
              <label class="control-label" for="modal-bio-editor">
                Introduce yourself, earn some <%= @product.name %> coins
              </label>
              <small class="help-block" style="margin-top: 0px">
                What skills can you contribute, how much time do you have and what are you looking to get out of the experience?
              </small>
              <textarea name="membership[bio]" id="modal-bio-editor" class="form-control bio-editor" style="min-height: 130px;"></textarea>
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="join-interests">What are you interested in?</label>
              <% interest_filters = product_membership_interests(@product, true) %>
              <div data-react-class="InterestPicker"
                  data-react-props="<%= {
                    userInterests: @current_user_interests,
                    interests: interest_filters,
                    name: 'membership[interests][]'
                  }.to_json %>">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-block" id="join-intro-button">Update</button>
          </div>

        </div>
      </div>
    </form>
  </div>

  <div id="public-address-prompt"></div>
<% end %>

<%= render 'shared/footer' unless @disable_footer %>

<% parent_layout 'application' %>

<script>
  $('#edit-membership-modal').on('shown.bs.modal', function() {
    $('#modal-bio-editor').attr('placeholder', app.defaultBio());
  });
</script>
