<script>
  window.app.setCurrentAnalyticsProduct(<%= ProductAnalyticsSerializer.new(@product, scope: (current_user || {})).to_json.html_safe %>);
</script>

<%= render 'shared/navbar' %>

<div class="page">
  <div class="container">

    <div class="row">

      <div class="col-md-10 col-md-push-2">
        <ul class="list list-inline pull-right hidden-xs">

          <li>
            <div data-react-class="Share"
                 data-react-props="<%= {
                   url: product_url(@product),
                   title: "Share #{@product.name} with the world",
                   shareText: "Check out #{@product.name} – #{ @product.pitch} on Assembly",
                 }.to_json %>" />
          </li>

          <li style="padding-right: 0;">
            <div class="toggler toggler-sm">
              <div data-react-class="JoinTeam"
                   data-react-props="<%= {
                     count: @product.team_memberships_count,
                     join_path: product_people_path(@product),
                     leave_path: (current_user && product_person_path(@product, current_user)),
                     is_member: @product.member?(current_user),
                     membership: TeamMembershipSerializer.new(@product.team_memberships.find_by(user: current_user) || TeamMembership.new(product: @product, user: current_user)).as_json
                   }.to_json %>">
              </div>
            </div>
          </li>
          <li>
            <div
                data-react-class="NotificationPreferencesDropdown"
                data-react-props="<%= {
                  productWatchersPath: product_watchers_path(@product),
                  productWatchersCount: @product.watchings_count,
                  productUnfollowPath: product_unfollow_path(@product),
                  productFollowPath: product_follow_path(@product),
                  productSubscribePath: subscribe_product_path(@product),
                  watchingState: @product.watching_state(current_user)
                }.to_json %>">
            </div>
          </li>

        </ul>

        <ol class="breadcrumb">
          <li><a href="#"><%= @product.name %></a></li>
          <li><a href="#">Bounties</a></li>
          <li class="active"><a href="#">#17</a></li>
        </ol>

        <!--
        <h3 class="alpha text-muted" style="font-weight: 400; line-height: 1;">
          <%= @product.name %>
          <% if @product.stealth? %>
            <span class="label label-outlined" style="position: relative; top: -2px; font-size: 13px;">Stealth</span>
          <% end %>
          <span class="icon icon-chevron-right" style="color: #c6ccd2; font-size: 16px; vertical-align: middle;"></span>
          Bounties
          <% if @breadcrumb.present? %>
            <span class="icon icon-chevron-right" style="color: #c6ccd2; font-size: 16px; vertical-align: middle;"></span>
            <a style="color: #c6ccd2;" href="<%= @breadcrumb[:url]%>">
              <%= @breadcrumb[:text] %>
            </a>
          <% end %>
        </h3>
        -->

        <div class="sheet">
          <%= yield %>
        </div>
      </div>


      <div class="col-md-2 col-md-pull-10 fixed-enabler">
        <%= render 'products/sidenav', product: @product %>
      </div>
    </div>
  </div>
</div>

<% unless current_user.nil? %>
  <div class="modal fade" id="edit-membership-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <form role="form" method="post" action="<%= product_person_path(@product, current_user) %>">
      <div class="modal-dialog">
        <div class="modal-content">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="_method" value="patch" type="hidden">
          <div class="modal-header">
            <button type="button" class="close btn btn-sm" data-dismiss="modal">&times;</button>
            <div class="form-group" style="margin-bottom: 15px">
              <label class="control-label" for="modal-bio-editor">
                Introduce yourself, earn some <%= @product.name %> coins
              </label>
              <small class="help-block" style="margin-top: 0px">
                What skills can you contribute, how much time do you have and what are you looking to get out of the experience?
              </small>
              <textarea name="membership[bio]" id="modal-bio-editor" class="form-control bio-editor" style="min-height: 130px;"></textarea>
            </div>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="join-interests">What are you interested in?</label>
              <% interest_filters = product_membership_interests(@product, true) %>
              <div data-react-class="InterestPicker"
                  data-react-props="<%= {
                    userInterests: @current_user_interests,
                    interests: interest_filters,
                    name: 'membership[interests][]'
                  }.to_json %>">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-block" id="join-intro-button">Update</button>
          </div>

        </div>
      </div>
    </form>
  </div>
<% end %>

<%= render 'shared/footer' unless @disable_footer %>

<% parent_layout 'application' %>

<script>
  $('#edit-membership-modal').on('shown.bs.modal', function() {
    $('#modal-bio-editor').attr('placeholder', app.defaultBio());
  });
</script>
