<script>
  window.app.setCurrentAnalyticsProduct(<%= ProductAnalyticsSerializer.new(@product, scope: (current_user || {})).to_json.html_safe %>);
</script>

<%= render 'shared/navbar' %>

<div class="page">
  <div class="container">

    <div class="row">

      <div class="col-md-2 fixed-enabler">

        <%= render 'products/launch' unless @product.launched? %>

        <% if @product.poster? %>
          <% if current_user && @product.core_team?(current_user) %>
            <%= form_for :asset, url: product_logos_path(@product), html: {id: 'product-logo-form'} do |f| %>
              <%= f.hidden_field :attachment_id %>
              <%= f.hidden_field :name %>
            <% end %>
            <div class="js-dropzone"
                data-target-form="#product-logo-form"
                data-react-class="DragAndDrop"
                data-react-props="<%= {
                  url: @product.poster_image.url,
                  alt: @product.name
                }.to_json %>">
            </div>
          <% else %>
            <span class="img-shadow" style="margin-bottom: 36px;">
              <%= image_tag @product.poster_image.url, class: 'img-rounded', width: '100%', alt: @product.name %>
            </span>
          <% end %>
        <% end %>

        <ul class="nav nav-stacked nav-sidebar">
          <li class="<%= nav_active_class(:about) %>">
            <a href="<%= product_path(@product) %>">
              <div class="pull-right" style="white-space:nowrap">
                <span class="icon icon-info text-light link-hover-primary" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="From elevator pitch to monetization strategies, the Plan should answer questions about your business."></span>
                <span class="sr-only">More info</span>
              </div>

              <i class="icon-eyeglasses dropdown-glyph"></i>
              Plan
            </a>
          </li>

          <li class="<%= nav_active_class(:chat) %>">
            <a href="<%= product_chat_path(@product) %>">
              <div class="pull-right" style="white-space:nowrap">
                <span class="icon icon-info text-light link-hover-primary" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="From elevator pitch to monetization strategies, the Plan should answer questions about your business."></span>
                <span class="sr-only">More info</span>
              </div>

              <i class="icon-bubbles dropdown-glyph"></i>
              Chat
            </a>
          </li>

          <% if can?(:update, @product) || @product.posts.any? %>
            <li class="<%= nav_active_class(:blog) %>">
              <a href="<%= product_posts_path(@product) %>">
                <div class="pull-right" style="white-space:nowrap">
                  <span class="icon icon-info text-light link-hover-primary" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="From elevator pitch to monetization strategies, the Plan should answer questions about your business."></span>
                  <span class="sr-only">More info</span>
                </div>

                <i class="icon-notebook dropdown-glyph"></i>
                Journal
              </a>
            </li>
          <% end %>
        </ul>

        <h6 style="padding-left:10px">Work</h6>

        <ul class="nav nav-stacked nav-sidebar">

          <li class="<%= nav_active_class(:projects) %>">
            <a href="<%= product_milestones_path(@product) %>">
              <div class="pull-right" style="white-space:nowrap">
                <span class="icon icon-info text-light link-hover-primary" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="From elevator pitch to monetization strategies, the Plan should answer questions about your business."></span>
                <span class="sr-only">More info</span>
              </div>

              <i class="icon-folder dropdown-glyph"></i>
              Projects
            </a>
          </li>

          <li class="<%= nav_active_class(:bounties) %>">
            <a href="<%= product_wips_path(@product) %>">
              <div class="pull-right" style="white-space:nowrap">
                <span class="icon icon-info text-light link-hover-primary" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="From elevator pitch to monetization strategies, the Plan should answer questions about your business."></span>
                <span class="sr-only">More info</span>
              </div>

              <i class="icon-trophy dropdown-glyph"></i>
              Bounties
            </a>
          </li>

          <li class="<%= nav_active_class(:discussions) %>">
            <a href="<%= product_discussions_path(@product) %>">
              <div class="pull-right" style="white-space:nowrap">
                <span class="icon icon-info text-light link-hover-primary" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="From elevator pitch to monetization strategies, the Plan should answer questions about your business."></span>
                <span class="sr-only">More info</span>
              </div>

              <i class="icon-book-open dropdown-glyph"></i>
              Discussions
            </a>
          </li>

          <li class="<%= nav_active_class(:assets) %>">
            <a href="<%= product_assets_path(@product) %>">
              <div class="pull-right" style="white-space:nowrap">
                <span class="icon icon-info text-light link-hover-primary" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="From elevator pitch to monetization strategies, the Plan should answer questions about your business."></span>
                <span class="sr-only">More info</span>
              </div>

              <i class="icon-layers dropdown-glyph"></i>
              Assets
            </a>
          </li>
        </ul>

        <h6 style="padding-left:10px">People</h6>

        <ul class="nav nav-stacked nav-sidebar">

          <li class="<%= nav_active_class(:core_team) %>">
            <a href="<%= product_core_path(@product) %>">
              <div class="pull-right" style="white-space:nowrap">
                <span class="icon icon-info text-light link-hover-primary" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="From elevator pitch to monetization strategies, the Plan should answer questions about your business."></span>
                <span class="sr-only">More info</span>
              </div>

              <span class="icon-user-following dropdown-glyph"></span>
              Core Team
            </a>
          </li>

          <li class="<%= nav_active_class(:people) %>">
            <a href="<%= product_people_path(@product) %>">
              <div class="pull-right" style="white-space:nowrap">
                <span class="icon icon-info text-light link-hover-primary" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="From elevator pitch to monetization strategies, the Plan should answer questions about your business."></span>
                <span class="sr-only">More info</span>
              </div>

              <span class="icon icon-users dropdown-glyph"></span>
              Teams
            </a>

          </li>

          <li class="<%= nav_active_class(:ownership) %>">
            <a href="<%= product_partners_path(@product) %>">
              <div class="pull-right" style="white-space:nowrap">
                <span class="icon icon-info text-light link-hover-primary" data-container="body" data-toggle="popover" data-placement="right" data-trigger="hover" data-content="From elevator pitch to monetization strategies, the Plan should answer questions about your business."></span>
                <span class="sr-only">More info</span>
              </div>

              <i class="icon-pie-chart dropdown-glyph"></i>
              Ownership
            </a>
          </li>
        </ul>

        <% if @product.revenue? %>
          <h6 style="padding-left:10px">Financials</h6>

          <ul class="nav nav-stacked nav-sidebar">

            <li class="<%= nav_active_class(:financials) %>">
              <a href="<%= product_financials_path(@product) %>">
                <i class="icon-wallet dropdown-glyph"></i>
                Money
              </a>
            </li>

            <!-- <li class="<%= nav_active_class(:contracts) %>">
              <a href="<%= product_contracts_path(@product) %>">
                <i class="icon-docs dropdown-glyph"></i>
                Contracts
              </a>
            </li> -->
          </ul>
        <% end %>

      </div>

      <div class="col-md-10">

        <ul class="list list-inline pull-right">
          <li>
            <a
              href="#"
              class="btn btn-primary btn-sm"
              style="vertical-align: bottom;"
              data-toggle="popover"
              data-placement="bottom"
              data-html="true"
              data-content="
                <ul class='list list-unstyled'>
                  <li style='margin-bottom: 10px;'>
                    <div class='row'>
                      <div class='col-md-6'>
                        <a class='btn btn-twitter btn-block' href='#'>
                          <i class='icon icon-twitter' style='margin-right: 2px;'></i>
                          Twitter
                        </a>
                      </div>
                      <div class='col-md-6'>
                        <a class='btn btn-facebook btn-block' href='#'>
                          <i class='icon icon-facebook' style='margin-right: 2px;'></i>
                          Facebook
                        </a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class='input-group'>
                      <input type='text' class='form-control' id='share-url' value='http://assembly.com/d84k3gz'>
                      <span class='input-group-btn'>
                        <button class='btn btn-default' type='button'>Copy</button>
                      </span>
                    </div>
                  </li>
                </ul>"
              title="Share <%= @product.name %> with the world"
              >
              <i class="icon icon-share-alt" style="margin-right: 2px;"></i>
              Share
            </a>
          </li>
          <li>
            <a
              href="#"
              class="btn btn-primary btn-sm"
              style="vertical-align: bottom;"
              data-toggle="popover"
              data-placement="bottom"
              data-html="true"
              data-content="
                <div class='form-group' style='margin-bottom: 4px'>
                  <label for='share-url'>Private URL</label>
                  <div class='input-group input-group'>
                    <input type='text' class='form-control' id='share-url' value='http://assembly.com/d84k3gz'>
                    <span class='input-group-btn'>
                      <button class='btn btn-default' type='button'>Copy</button>
                    </span>
                  </div>
                </div>"
              title="Share <%= @product.name %> with your friends and get their feedback"
              >
              <i class="icon icon-share-alt" style="margin-right: 2px;"></i>
              Share
            </a>
          </li>
          <li>
            <div class="toggler toggler-sm">
              <% if signed_in? && @product.watching?(current_user) %>
                <a class="toggler-btn btn btn-default inactive" href="<%= unsubscribe_product_path(@product) %>" data-method="post">
                  <i class="icon icon-eye" style="margin-right: 2px;"></i>
                  Unwatch
                </a>
              <% else %>
                <a class="toggler-btn btn btn-primary" href="<%= subscribe_product_path(@product) %>" data-method="post">
                  <i class="icon icon-eye" style="margin-right: 2px;"></i>
                  Watch
                </a>
              <% end %>
                <a class="toggler-badge" href="<%= product_watchers_path(@product) %>">
                  <%= @product.watchers.count %>
                </a>
            </div>
          </li>
          <li style="padding-right: 0;">
            <div class="toggler toggler-sm">
              <div
                   data-react-class="JoinTeam"
                   data-react-props="<%= {
                     count: @product.team_memberships.active.count,
                     join_path: product_people_path(@product),
                     leave_path: (current_user && product_person_path(@product, current_user)),
                     is_member: @product.member?(current_user),
                     membership:  TeamMembershipSerializer.new(@product.team_memberships.find_by(user: current_user)).as_json
                   }.to_json %>">
              </div>
            </div>
          </li>
        </ul>

        <h3 class="alpha text-muted" style="font-weight: 400; line-height: 1;">
          <%= @product.name %> <% if @product.stealth? %><span class="label label-outlined" style="position: relative; top: -2px; font-size: 13px;">Stealth</span><% end %>
          <% if @breadcrumb.present? %>
            <i class="icon icon-chevron-right" style="color: #c6ccd2; font-size: 16px; vertical-align: middle;"></i>
            <a style="color: #c6ccd2;" href="<%= @breadcrumb[:url]%>"><%= @breadcrumb[:text] %></a>
          <% end %>
        </h3>

        <div class="sheet" <%if @sheet_style%> style="<%= @sheet_style%>" <%end%>>
          <div class="sheet-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' unless @disable_footer %>

<% parent_layout 'application' %>
