<% title 'Create an account', 'It takes less than a minute' %>

<div class="bg-white" style="top:0;right:0;bottom:0;left:0;margin:auto;position:absolute">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="shee">
          <div class="sheet-body">
            <div class="center">
              <img class="py4" src="<%= image_path('logo.min.png') %>" />
              <p class="gray-2">
                Sign in to Assembly or create an account below.
              </p>
            </div>

          <%= form_for(resource, as: resource_name, url: new_user_registration_path) do |f| %>

            <%= f.hidden_field :avatar_url %>
            <%= f.hidden_field :facebook_uid %>
            <%= f.hidden_field :name %>
            <%= f.hidden_field :extra_data %>
            <%= f.hidden_field :location %>
            <%= hidden_field_tag 'user[follow_product]' %>

            <% if f.object.facebook_uid.blank? %>
              <div class="center py2">
                <a class="button btn-facebook block" href="<%= user_omniauth_authorize_path(:facebook) %>">
                  <span class="fa fa-facebook mr1"></span> Use Facebook
                </a>
              </div>

              <div class="center py2">
                <button id="show-email-form" class="button button--default button--block">
                  <span class="fa fa-envelope-o mr1"></span> Use email
                </button>
              </div>

            <% else %>
              <div class="well">
                <div class="row">
                  <div class="col-xs-2">
                    <%= image_tag f.object.avatar_url, class: 'img-rounded', width: '100%' %>
                  </div>

                  <div class="col-xs-10">
                    <span class="gray-2">Using Facebook account:</span>
                    <h4 class="alpha omega"><%= f.object.name %></h4>
                  </div>
                </div>
              </div>
            <% end %>

            <div id="email-form" class="<%= 'display-none' if f.object.facebook_uid.blank? && f.object.errors.blank? %>">
              <div class="form-group <%= 'has-error' if f.object.errors[:username].any? %>">
                <% if f.object.errors[:username].any? %>
                  <p class="help-block pull-right">
                    <%= f.object.errors[:username].to_sentence %>
                  </p>
                <% end %>

                <%= f.label :username, 'Username', class: 'control-label' %>
                <%= f.text_field :username, class: 'form-control input-lg', placeholder: 'jane' %>
              </div>

              <div class="form-group <%= 'has-error' if f.object.errors[:email].any? %>">
                <% if f.object.errors[:email].any? %>
                  <p class="help-block pull-right">
                    <%= f.object.errors[:email].to_sentence %>
                  </p>
                <% end %>

                <%= f.label :email, class: 'control-label' %>
                <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'jane@example.com' %>
              </div>

              <div class="form-group <%= 'has-error' if f.object.errors[:password].any? %>">
                <% if f.object.errors[:password].any? %>
                  <p class="help-block pull-right">
                    <%= f.object.errors[:password].to_sentence %>
                  </p>
                <% end %>

                <%= f.label :password, class: 'control-label' %>
                <%= f.password_field :password, autocomplete: false, class: 'form-control input-lg' %>
                <p class="help-block">
                  8 characters minimum. You're smart, choose a good one.
                </p>
              </div>

              <div class="center">
                <button class="button button--primary button--block" type="submit">Join Assembly</button>
              </div>
            </div>

          <% end %>

          <p class="center small gray-2">
            <br>
            By signing up, you agree to Assembly's <a href="<%= tos_path %>">Terms of Service</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('show-email-form').addEventListener('click', function(e) {
    e.preventDefault();
    e.stopPropagation();

    document.getElementById('email-form').className = "";
  });
</script>
